[2021-05-05 18:01] albertzeap commented on #944
Hello @kaustubhgupta I was wondering if there was any more work that needed to be done on my part? Or do I just wait now that I submitted my pull request?

[2021-05-05 20:41] undetectablevirus opened #1015 "Counting Number of faces in an image"
# Aim

- Counting Number of faces in an Image

# Details

- The script provided will count number of faces in the image using Python and OpenCV

[2021-05-05 20:59] Yuvraj-kadale opened #1016 "GUI based QR_code_scanning"
# Aim

- To take the Attendance of the students based on QR_codes.

# Details

- This project will be done in two steps.

1. QR Generation
2. QR Scanning

### QR Generation

Database of students will be provided in "Name - Roll number" format.
The QR code will store the values of "Name-Roll number" as UID
This script on run will generate the QR codes of all the students and save that as per their

[2021-05-05 21:04] undetectablevirus opened #1017 "Cropping Face from Image"
# Aim

Cropping faces from image

# Details

- The script added will crop the face from the image using OpenCV and Python

[2021-05-06 04:19] Arnab11917676 commented on #1014
I will be building this calculator using an API that will do the calculation for me...

[2021-05-06 07:53] Ayushjain2205 commented on #1013
@kaustubhgupta I would like to work on this

[2021-05-06 11:12] kaustubhgupta commented on #132
Final Update:

The website will be launched soon! All necessary tasks done

[2021-05-06 11:12] #132 closed

[2021-05-06 11:13] kaustubhgupta commented on #809
@Trisanu-007 updates?

[2021-05-06 11:14] kaustubhgupta commented on #933
@subhangi2731?

[2021-05-06 11:15] kaustubhgupta commented on #1013
@Ayushjain2205 I want to know that the JSON file is sufficient for this searching?

[2021-05-06 11:18] kaustubhgupta commented on #1014
@Arnab11917676 GUI is not needed for this, you can make it command line

[2021-05-06 11:19] kaustubhgupta commented on #1015
We already have this script
https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Face-Detection/v3

[2021-05-06 11:19] #1015 closed

[2021-05-06 11:21] Ayushjain2205 commented on #1013
@kaustubhgupta we want to search based on name of script right? searching can be implemented based on anything contained in the JSON file. So yes this JSON file is sufficient for searching

[2021-05-06 11:22] kaustubhgupta commented on #1013
Okay cool, assigned to you!

[2021-05-06 12:22] soumik2012 opened #1018 "Blood alcohol content"
# Aim

-  this script to know how much drunk you are!!

# Details

-  it tell you how amount of alcohol you drink and what is percentage of alcohol content in the blood

[2021-05-06 12:22] soumik2012 commented on #1018
@kaustubhgupta please check this issue

[2021-05-06 12:29] kaustubhgupta commented on #831
These issues will be fixed in another PR where I will assign someone to check all the scripts. You can ignore this for now

[2021-05-06 12:30] kaustubhgupta commented on #831
Just catch them as an exception and print the errors

[2021-05-06 12:30] kaustubhgupta commented on #831
Okay go ahead with this

[2021-05-06 12:31] kaustubhgupta commented on #1018
@soumik2012 how will you implement this? Is it an ML model? if yes then which dataset?

[2021-05-06 12:44] soumik2012 commented on #1018
@kaustubhgupta  No ML modules I am capitulating  using BMC formula

[2021-05-06 13:06] devRawnie commented on #831
@kaustubhgupta I had a doubt about implementing the argument taking part in this script. As you proposed a solution for this, by displaying the description. Where would that particular description exist in the codebase? And how would I extract that from the script?

[2021-05-06 13:10] devRawnie commented on #831
Also, I would like to work on adding/modifying the requirements.txt file for all the scripts.

[2021-05-06 13:33] XZANATOL commented on #831
@kaustubhgupta The GitHub action is ready. I tested it on a demo-repo where I could safely follow the logs.
* Here is the [PR template](https://github.com/XZANATOL/Github-actions-test/pull/18).
* The run of the action can be reviewed from [here](https://github.com/XZANATOL/Github-actions-test/pull/18/checks?check_run_id=2518522389).
* Updated Datastore file can be found [here](https://github.com/X

[2021-05-06 18:07] Aparna-Sakshi opened #1020 "Predicting next K words"
**Description**
Given a sequence of words, next k words will be predicted using

- character-based LSTM models
- word-based LSTM models
- Transformer-based language model (i.e)BERT

I am a GSSOC-21 participant, kindly assign this issue to me @kaustubhgupta.

[2021-05-07 06:51] Trisanu-007 commented on #809
Can I have a few more days? Due to some unexpected crisis I was  it able to work.

[2021-05-08 03:21] kaustubhgupta commented on #831
1. As mentioned by @XZANATOL, the description is part of the database.
![image](https://user-images.githubusercontent.com/43691873/117524315-855b0c00-afda-11eb-85da-f38213be3dc4.png)

2. As I mentioned earlier also, the requirements path should be used for installing requirements.txt

[2021-05-08 03:21] kaustubhgupta commented on #831
You can work on that later on but for now, push the final changes to your draft PR

[2021-05-08 03:56] kaustubhgupta commented on #831
@XZANATOL Good job!

I am concerned that the datastore.json in the master script pushed in the main branch has double quotes in all the keys and values: https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/Master%20Script/datastore.json

But in the updated JSON in your testing repo, it has a single-quoted key-value that has broken the JSON structure and it is not able to load the d

[2021-05-08 03:59] kaustubhgupta commented on #933
@tanvi355 can you make the PR for this within 3-4 days?

[2021-05-08 04:00] kaustubhgupta commented on #956
@ayush-raj8 updated PR?

[2021-05-08 04:03] kaustubhgupta commented on #1020
@Aparna-Sakshi how will you make the script for this? these models are themselves way too large in size

[2021-05-08 04:19] Mrinal81 commented on #1005
@kaustubhgupta yaa working

[2021-05-08 04:20] Mrinal81 commented on #1005
@kaustubhgupta i will made PR tommorow for sure.....

[2021-05-08 05:15] tanvi355 commented on #933
okay I will try

[2021-05-08 07:28] Aparna-Sakshi commented on #1020
@kaustubhgupta I do agree that these models are very compute-intensive. LSTM models can be trained in google collab with GPU on.  It took me around an hour to completely run these models. Since Bert is a pre-trained model, hence this part was not very time-consuming.

[2021-05-08 09:09] XZANATOL commented on #831
fortunately the work around worked from the first test. xD
* Workflow [log](https://github.com/XZANATOL/Github-actions-test/pull/18/checks?check_run_id=2533764450).
* Updated [database](https://github.com/XZANATOL/Github-actions-test/blob/main/Master%20Script/datastore.json).

[2021-05-08 09:11] kaustubhgupta commented on #831
oh great, let's make the PR and test it on this repo!

[2021-05-08 09:11] kaustubhgupta commented on #831
the json needs to be pushed in the root directory only

[2021-05-08 09:16] kaustubhgupta commented on #831
okay the double quotes problem is solved,

[2021-05-08 10:24] XZANATOL commented on #831
ah one last thing, any updates about the personal access token in this repo? and if yes, what's its name ``secrets.*``? so that I put it in the workflow

[2021-05-08 10:30] kaustubhgupta commented on #831
${{ secrets.GITHUB_TOKEN }}

[2021-05-08 12:20] XZANATOL commented on #831
@kaustubhgupta ok the PR is ready, double check my changes and update me if I'm missing something.

For the added projects.. These are the projects that haven't been added till now, becuase of the issues mention in this [comment](https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/831#issuecomment-826026657)
* AWS Management Scripts
* Convert2jpg
* Data-Visualization
* Internet-Speed-T

[2021-05-08 12:27] XZANATOL commented on #831
BTW, We need to make another PR for ``gh-pages`` branch. The ``update_file`` method doesn't work as ``create_file`` method in PyGithub library.. ``update_file`` retreives the file first then appends the changes into it. Running the action this way will throw an error. check [this](https://stackoverflow.com/questions/63435987/python-pygithub-if-file-exists-then-update-else-create).

so we need to p

[2021-05-08 12:36] kaustubhgupta commented on #831
Haha, nope, that's where I will assign @devRawnie the task of checking the scripts for adding/modifying the requirements.txt file for all the scripts. I will add copy-paste this comment in that issue.

Hmm, let me research a bit about this, I think I saw a workaround for this in one of the projects. What I am expecting is that the updated JSON file needs to be pushed to both branches via the same

[2021-05-08 12:41] XZANATOL commented on #831
Oh that's not what I meant. the action will update the file on both branches but the thing is on the first run of the action. currently on the PR merge the DB will exist on the main branch only not ``gh-pages``. So on the first run of the action exactly on line 45
``repo.update_file("./datastore.json", "Updated datastore.json", data_store, datastore_file.sha, branch="gh-pages")``
The update_file m

[2021-05-08 12:45] kaustubhgupta commented on #831
Oh, my bad. Let me add the database manually on that branch,

[2021-05-08 12:58] kaustubhgupta commented on #831
I have added the file

[2021-05-08 13:28] kaustubhgupta commented on #831
Correct, this is the flow for this script

[2021-05-08 15:46] devRawnie commented on #831
@kaustubhgupta I have completed the PR for the main.py script. It is throwing errors for some scripts because of the issue we discussed regarding the requirements.txt file. Kindly check

[2021-05-08 19:38] ayush-raj8 commented on #956
@kaustubhgupta I'll make pr soon.

[2021-05-09 07:49] #1016 closed

[2021-05-09 08:16] kaustubhgupta commented on #1020
@Aparna-Sakshi got it. But we cannot continue with this idea

[2021-05-09 08:16] #1020 closed

[2021-05-09 08:38] kaustubhgupta commented on #831
okay I will check

[2021-05-09 08:39] kaustubhgupta commented on #809
@Trisanu-007 Last 2 days

[2021-05-09 08:43] kaustubhgupta commented on #1003
@Himanshi2997 updates on this?

[2021-05-09 13:20] Himanshi2997 commented on #1003
Just completed the code, currently working on the README.md file.

[2021-05-09 13:23] Himanshi2997 commented on #1001
Sir I will need two more days to complete this. I am working on adding more intents in my training data.

[2021-05-10 04:26] subhangi2731 commented on #171
@kaustubhgupta can you please assign me this issue and tell me the deadline when I have to make a pr so that I will work accordingly

[2021-05-10 04:28] subhangi2731 commented on #686
@santushtisharma10 please assign me this I will send a pr in 2 days

[2021-05-10 04:32] kaustubhgupta commented on #686
@subhangi2731 you didn't make the PR for the Linear search visualizer. Wil you make the PR for this?

[2021-05-10 04:33] kaustubhgupta commented on #171
@subhangi2731 You have 7 days from the day of assignment and I will ask for the updates on 5th day from now.

[2021-05-10 04:44] subhangi2731 commented on #686
@kaustubhgupta I had exams in my college so couldn't send the pr. U need to tell me the deadline for till when I should send the pr and I am sorry for that

[2021-05-10 04:49] kaustubhgupta commented on #686
As told earlier, max of 7 days. On 5th day, you need to tell the share the status of the work done.

[2021-05-10 07:59] Manasi2001 opened #1028 "Amazon Alexa Reviews Analysis"
**Is your feature request related to a problem? Please describe.**
It's difficult and tedious for a company to analyze the huge amount of feedback that they get from their customer in terms of words (as reviews).

**Describe the solution you'd like**
In order to solve this issue for Amazon Alexa, I would like to add my project. Using NLP, the program can classify any feedback given to Alexa as a p

[2021-05-10 08:12] Manasi2001 opened #1029 "Laptop Price Predictor"
**Is your feature request related to a problem? Please describe.**
The task of buying a new laptop can be very hectic. Comparing the companies, prices, model features, etc. is very time taking.

**Describe the solution you'd like**
My project can ease this process by using ML. A nice catchy GUI will make the process even more fun!

**Additional context**
My project folder will be complete with the

[2021-05-11 04:16] kaustubhgupta commented on #956
@ayush-raj8?

[2021-05-11 04:41] Trisanu-007 commented on #809
Due to some issue, I can't contribute to this right now. Please reassign this.

[2021-05-11 04:41] #957 closed

[2021-05-11 05:15] #929 closed

[2021-05-11 06:49] kaustubhgupta commented on #1028
We are not looking for notebooks but script-based files. Can you configure your project in this manner: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor?

[2021-05-11 06:50] kaustubhgupta commented on #1029
The GUI script is fine. For other files, can you structure your files in this format? https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor

[2021-05-11 10:00] noobkid2411 opened #1033 "Fake News detector"
# Aim
The aim of the project would be to predict if the news is real or fake.

# Details

- I'd be using passive aggressive classifier for the model and the dataset that I will be using for training is: https://drive.google.com/file/d/1er9NJTLUA3qnRuyhfzuN0XUsoIC4a-_q/view

[2021-05-11 12:16] undetectablevirus opened #1034 "Collage Maker using Python"
# Aim

- We can make collage of two images using Python

# Details

- The script will take two images as input and will give a collage of both images.

[2021-05-11 13:14] XZANATOL commented on #831
@kaustubhgupta I think there is something wrong with Personal Access Token -PAT- in the repo.. is it updated? There are 2 logs in the action tab where the script ran successfully till the part when it logins using the PAT.

![image](https://user-images.githubusercontent.com/64689436/117820174-902bd000-b26a-11eb-9005-cec0aee050e3.png)

![image](https://user-images.githubusercontent.com/64689436/117

[2021-05-11 13:18] kaustubhgupta commented on #831
The PR token thing is conveyed to the PA and we will create a new token for this. Regarding the PR body thing, well it was a mistake from your side and mine too. The spelling of requirements was wrong and the same was updated in the PR. I had to fix that in the template and the code. Also, as the action failed for 3 PRs, I had to add that data manually. 🤣🤣

[2021-05-11 13:20] kaustubhgupta commented on #831
@XZANATOL Also, try to run this PR locally: https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/1030

How the database is useful for website too! Great work done by @Ayushjain2205

[2021-05-11 13:22] XZANATOL commented on #831
can't believe that slipt down of our eyes :joy:
For the PR.. you mean to test it?

[2021-05-11 13:23] kaustubhgupta commented on #831
Yes, you can clone it locally and open the live server. The search for contributors and scripts is done using this json

[2021-05-11 13:29] kaustubhgupta commented on #1033
Can you structure your project in this manner? https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor

[2021-05-11 13:33] kaustubhgupta opened #1035 "Video to PDF (GUI)"
# Aim

Convert video to PDf format

# Details

The user will select the video file via the GUI, then extract the audio, convert it into text format and dump it as pdf. There should be a progress bar to show the progress of the process.

[2021-05-11 13:39] kaustubhgupta opened #1036 "PDF to Video (CLI)"
# Aim

Convert a PDF to Video

# Details

Take a PDF file, extract the text from it, convert it to audio format and attach that audio to the video provided by the user. Make sure to remove the existing audio of the video.

[2021-05-11 13:42] kaustubhgupta opened #1037 "Facebook video downloader (GUI)"
# Aim

Download videos from Facebook

# Details

The user will pass the link of the video in the text field and you need to implement the logic to download the video. If possible, implement the progress bar to show the progress of the download.

If progress bar, the level will be increased to 3 else 2.

[2021-05-11 13:45] kaustubhgupta opened #1038 "LinkedIn video downloader (GUI)"
# Aim
Download videos from LinkedIn

# Details
The user will pass the link of the video in the text field and you need to implement the logic to download the video. If possible, implement the progress bar to show the progress of the download.

If progress bar, the level will be increased to 3 else 2.

[2021-05-11 13:46] kaustubhgupta opened #1039 "Twitter video downloader (GUI)"
# Aim
Download videos from Twitter

# Details
The user will pass the link of the video in the text field and you need to implement the logic to download the video. If possible, implement the progress bar to show the progress of the download.

If progress bar, the level will be increased to 3 else 2.

[2021-05-11 13:51] kaustubhgupta opened #1040 "Medium Articles Scrapper"
# Aim

Scrap articles from Medium

# Details

Come up with a script that scraps `n` number of articles from `any category` such as Python, JS, Android provided by the user and stores all the `n` articles separately in PDFs. The PDF file should contain the title, article content, and author-name

User Input: `n` and `category`
Expected Output: n PDF files

[2021-05-11 13:52] undetectablevirus commented on #1034
I can increase the number of images and about random templates query, user will input the path of images that they want to be a part of the collage. So random placing of images won't be an issue. I hope I got it right about template thing.

[2021-05-11 13:56] Amit366 commented on #1038
@kaustubhgupta can I work?

[2021-05-11 20:10] RohiniRG opened #1044 "Pomodoro clock GUI"
**Is your feature request related to a problem? Please describe.**
We often find it difficult for us to stay productive and manage time to complete our tasks without getting distracted.

**Describe the solution you'd like**
The Pomodoro technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by 5 -15 min breaks. I will be implementing this in a GUI b

[2021-05-11 22:58] XZANATOL opened #1045 "GUI Vector Calculator"
# Aim

A GUI that accepts a 2 3D vector inputs and shows relations between each of them, along with the properties of each.

# Details

By properties I mean:
* Unit Direction of each vector.
* Cosine Direction of each vector.
* Cosine Angles of each vector.
* Absolute Value of each vector. |A|

By relations I mean:
* Dot product.
* Cross product.
* Angle between both vectors.
* Component of each v

[2021-05-12 03:41] kaustubhgupta commented on #831
It should load the scripts. Maybe do a hard refresh (pressing cntrl while pressing refresh button)

[2021-05-12 03:41] #922 closed

[2021-05-12 03:42] #956 closed

[2021-05-12 03:43] kaustubhgupta commented on #1001
updates?

[2021-05-12 03:43] kaustubhgupta commented on #1033
Okay cool!

[2021-05-12 03:45] kaustubhgupta commented on #1034
Yes, I am thinking about this only. Let's give it a try!

[2021-05-12 03:46] kaustubhgupta commented on #1035
@noobkid2411 No issues, you can work on 2-3  issues at the same time.I have assigned this issue to you!

[2021-05-12 03:47] kaustubhgupta commented on #1037
Sure!

[2021-05-12 03:47] kaustubhgupta commented on #1038
sure!

[2021-05-12 03:48] kaustubhgupta commented on #1039
Sure!

[2021-05-12 03:51] XZANATOL commented on #831
Tried it, and no results

[2021-05-12 03:51] XZANATOL commented on #1039
Good, will update you if I managed to add the progressbar

[2021-05-12 08:54] Ayushjain2205 commented on #1040
@kaustubhgupta I would like to work on this

[2021-05-12 11:11] kaustubhgupta commented on #1040
sure!

[2021-05-12 13:34] noobkid2411 commented on #1035
Hey one doubt, the structure needs to be like this  link(https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor)mentioned previously right or some other structure?

[2021-05-12 22:31] Sukriti-sood commented on #1036
I would like to work on this.

[2021-05-13 04:18] santushtisharma10 commented on #1036
@Sukriti-sood go ahead, assigned to you

[2021-05-13 05:53] Arnab11917676 opened #1047 "Encrypting Text using SHA256"
# Aim

Encrypting Text using SHA256

# Details

In this code module, I will be building a GUI based application that will be encoding the text using an SHA-256 algorithm, and also be generating the hash which will be used for the decryption of the text.

[2021-05-13 06:05] kaustubhgupta commented on #1001
@Himanshi2997?

[2021-05-13 06:07] kaustubhgupta commented on #1047
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Cryptography

[2021-05-13 06:07] #1047 closed

[2021-05-13 06:11] #817 closed

[2021-05-13 17:47] Ayush7614 opened #1051 "Color Detection on images using python"
# Aim

- Color Detection on images using python

# Details

- We have use opencv and pandas for color detection and dataset csv in the script

[2021-05-13 17:47] Ayush7614 commented on #1051
Plss assign me this issue under gssoc21

[2021-05-13 18:05] dhanrajdc7 opened #1052 "Automation Script to Send Bday Emails"
`GSSOC21`

# Aim

- Python script to send automated emails on BDays

# Details

- The script will send Bday Emails on Specific Date

[2021-05-14 03:56] kaustubhgupta commented on #1051
@Ayush7614 we already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Color_detection

[2021-05-14 03:56] #1051 closed

[2021-05-14 03:57] kaustubhgupta commented on #1052
@dhanrajdc7 we already have two iterations of the same: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Custom-Bulk-Email-Sender and https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/HTML-Email-Sender

[2021-05-14 03:57] #1052 closed

[2021-05-14 03:59] kaustubhgupta commented on #1001
Issue closed due to no response from the participant

[2021-05-14 03:59] #1001 closed

[2021-05-14 03:59] dhanrajdc7 commented on #1052
This script will run automatically every day. This is not the same as you given links

[2021-05-14 04:01] kaustubhgupta commented on #1052
Any type of script can be made to run every day, every hour but that doesn't make it unique

[2021-05-14 11:06] noviicee commented on #809
@kaustubhgupta can I take this up if it's till open..?

[2021-05-14 11:12] noviicee opened #1055 "Facebook Profile Picture Downloader"
# Aim

<h3>It will download the profile pictures (one/many users) from the person's facebook account and store it in a file locally.</h3>

[2021-05-14 17:17] sandipswain commented on #1036
I would love to work on this issue

[2021-05-14 17:27] sandipswain commented on #809
@kaustubhgupta Can I take up this issue?

[2021-05-15 05:06] kaustubhgupta commented on #809
@noviicee Assigned to you!

@sandipswain issues are assigned on first come first basis

[2021-05-15 05:09] kaustubhgupta commented on #1036
@sandipswain Issue is already assigned. Look for `up-for-grab` label where someone else has not commented to claim the issue

[2021-05-15 05:10] kaustubhgupta commented on #1055
@noviicee assigned to you

[2021-05-15 06:42] noviicee opened #1056 "Python Script to download large files from the internet."
# Aim

This python script will help users to download any kind of files, irrespective of their size from the internet.

# Details

This script can be used to download any kind of files (files of any format), irrespective of their size from the internet.
You just need to have the url and you are good to go!

[2021-05-15 07:24] kaustubhgupta commented on #1056
@noviicee you already have two active issues, kindly make PR for them and then I will assign this issue to you

[2021-05-15 07:31] noviicee commented on #1056
Okay 👍

[2021-05-15 09:21] #171 closed

[2021-05-15 09:21] #686 closed

[2021-05-15 11:52] noobkid2411 commented on #1033
Hey,unfortunately I have a health emergency in my family to deal with.I would still like to contribute but I might not be able to make a pr before the 20th.If this is an urgent work,you can unassign me,sorry for the inconvenience from my side.

[2021-05-15 12:40] kaustubhgupta commented on #1033
Hey, It's not urgent work, you should look after your family first. If you feel like contributing, try to contribute max by 27-28 May so that your PR is well-reviewed and merged before the program ends. Hope your family member recovers soon!

[2021-05-15 12:55] #904 closed

[2021-05-15 17:32] PranavChauhan22 opened #1058 "Audio extractor from video using GUI"
# Aim

To extract audio file from video

# Details

The user will give input and in return, the audio will be displayed in the output.

[2021-05-16 04:38] #1005 closed

[2021-05-16 04:45] kaustubhgupta commented on #1058
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Video-Audio-Converter-GUI

[2021-05-16 04:45] #1058 closed

[2021-05-16 10:52] sameeksharl opened #1061 "Python script to track the typing speed and improve it with regular practice."
# Aim
-The main aim is to track the typing speed and improve it with regular practice.

# Details
- The user will be given a single line of sentence . After completion of the sentence , it would show time ,Accuracy , Wpm(words per minute) with good looking UI
- I would try giving options for the user , how many words that they want to practice and list of paragraphs , which they could select any t

[2021-05-16 11:18] kaustubhgupta commented on #1061
Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Typing-Speed-Test

[2021-05-16 11:18] #1061 closed

[2021-05-16 14:46] sameeksharl opened #1062 "Handwritten Digit Recognition"
# Aim

This project will be able to recognize the digits written instantly with its  accuracy .

# Details
- I will be using  deep learning with Keras library and the Tkinter library for building GUI.
- Apart from recognizing the digits , will be including accuracy as well.
- @kaustubhgupta please assign this to me

[2021-05-17 03:42] kaustubhgupta commented on #1034
@undetectablevirus updates on this?

[2021-05-17 03:42] kaustubhgupta commented on #1038
@Amit366 updates on this?

[2021-05-17 03:42] kaustubhgupta commented on #1040
@Ayushjain2205 updates on this?

[2021-05-17 03:43] kaustubhgupta commented on #1044
@rmoyano updates on this?

[2021-05-17 03:43] Amit366 commented on #1038
I will complete in 2 days

[2021-05-17 03:43] kaustubhgupta commented on #1044
@RohiniRG updates on this?

[2021-05-17 03:43] kaustubhgupta commented on #1045
@XZANATOL updates on this?

[2021-05-17 03:50] kaustubhgupta commented on #1062
@sameeksharl This is a very popular project and the dataset is fairly old. Also, the description you have provided is indicating that it should be made as a standalone project and not a script to be contributed here.

[2021-05-17 03:50] #1062 closed

[2021-05-17 08:46] XZANATOL commented on #1045
Already fimished the first windows.. 2 left. Sorry for the delay, I'm under some pressure considering exams timings because of the COVID.

[2021-05-17 09:13] RohiniRG commented on #1044
Yes, I am working on it, I'll put up the PR within a day.

[2021-05-17 09:14] Muskan0 opened #1063 "Script for Auto Search Tool for Stack Overflow"
# Aim

- Automating the process of searching errors on stackoverflow.

# Details

- Script will track errors and use the stackexchange api for getting a json response about the questions related on the Stack Overflow website.
- Parse it and open some links of stackoverflow threads on the web browser.

[2021-05-17 12:50] Arnab11917676 commented on #1014
@kaustubhgupta will this voice calculator be merged with the mainchain

[2021-05-17 15:31] sameeksharl commented on #829
@kaustubhgupta  This is Sameeksha !! I wanted to work on this issue . I said earlier in discord  that the SQlite is new to me but i found that its similar to SQL database commands so i would like to take up this issue .
Details (that i will be able to build)
-It has all CRUD operation . create, view, update and delete .
- i will be using TK (as PyQt is new to me so preferred TK)
Please instruct me

[2021-05-17 18:34] #970 closed

[2021-05-17 19:41] #933 closed

[2021-05-17 20:24] Ayushjain2205 commented on #1040
almost done PR by today EOD

[2021-05-18 02:45] soumik2012 opened #1069 "Maze Generation"
# Aim

-To create the mazes, I used the backtracker algorithm, this algorithm utilizes a stack data structure and is a depth-first search algorithm.

# Details

- with the help of pygame and random module I will make maze generation
- Visualiser for backtracking algorithm to solve the maze.

[2021-05-18 02:45] soumik2012 commented on #1069
@kaustubhgupta please check my issue

[2021-05-18 04:05] #931 closed

[2021-05-18 05:44] #1013 closed

[2021-05-18 05:50] kaustubhgupta commented on #831
It works, check out the deployed website: https://avinashkranjan.github.io/Amazing-Python-Scripts/

[2021-05-18 05:51] kaustubhgupta commented on #829
@sameeksharl you can start working on this issue

[2021-05-18 05:53] sameeksharl commented on #829
Okay thank you!!!

On Tue, 18 May 2021, 11:21 am Kaustubh Gupta, ***@***.***>
wrote:

[2021-05-18 05:57] kaustubhgupta commented on #1045
no issues

[2021-05-18 11:10] devRawnie opened #1071 "Continuing issue #831 for making the entire repository menu driven"
I pulled the latest changes, and these are the issues that are there while running my script:
Some of the scripts do not have any requirements.txt file, but they do use an external package. For example the Age Calculator script.
![missing requirements tty](https://user-images.githubusercontent.com/43227329/118638511-8e2ab980-b7f4-11eb-9868-99b96948101c.png)
![missing requirements file in age calcu

[2021-05-18 12:34] bose07 opened #1072 "Adding Reddit BOT"
# Aim
- Building a Reddit Bot using python

# Details

- Automatic Reddit bot, Reddit post information

   @avinashkranjan I am a GSSoC'21 participant and I think this is an interesting python script. Kindly allow me to work on this issue and contribute to this project!

[2021-05-18 17:09] robin025 opened #1073 "Addition of website blocker"
# Aim

- To add a python script to block website

# Details

- A simple Python website blocker project that can be used to block specific websites during working hours to minimize distraction and thereby improve productivity.

[2021-05-18 17:17] robin025 opened #1074 "Addition of clear the clutter"
# Aim

- Clear the clutter

# Details

- This app can be used to separate files based on their extensions.
- Example
   - Suppose a folder has many file like word,pdf,ppt,md,rst,exe,jpg,png,gif,mp3,mp4 etc many more
   - so this application will separate all the files

[2021-05-19 08:15] #1017 closed

[2021-05-19 08:45] #1034 closed

[2021-05-19 08:47] kaustubhgupta commented on #1071
@devRawnie Got it, will run your PR locally and suggest the changes.

[2021-05-19 08:47] kaustubhgupta commented on #1072
@bose07 assigned to you

[2021-05-19 08:48] kaustubhgupta commented on #1072
@bose07 Can you mention all the features you will include in this bot?

[2021-05-19 08:50] kaustubhgupta commented on #1073
@robin025 Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Site-blocker

[2021-05-19 08:50] #1073 closed

[2021-05-19 08:51] kaustubhgupta commented on #1074
@robin025 Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/File-Mover

[2021-05-19 08:51] #1074 closed

[2021-05-19 09:47] devRawnie commented on #1071
@kaustubhgupta Sure. For the purpose of this issue, I could write a python script and extract all the packages from a python file using Regex based on the Import statements used in the .py scripts, and create a requirements.txt file accordingly for that particular script? This would take care of the first issue, programmatically?? How does that sound

[2021-05-19 13:07] bose07 commented on #1072
Pick a subreddit to scan
Designate a specific comment to search for
Set your bot's reply
automatic responce

[2021-05-19 14:24] #1069 closed

[2021-05-19 15:01] #1028 closed

[2021-05-19 15:02] #1029 closed

[2021-05-19 17:44] #1018 closed

[2021-05-20 11:01] sur16-cse opened #1079 "DNS verifier"
# Aim

- it checks the DNS returns IP and its availability.

# Details

- DNS verifier is a script in python which uses dnspython.

@avinashkranjan I am a GSSoC'21 participant. Kindly allow me to work on this issue and contribute to this project!

[2021-05-20 14:50] Ayushjain2205 opened #1080 "Mardown editor and previewer"
# Aim

To enable a user to see live preview of markdown while making the markdown file

# Details

The user can play around with markdown in the editor and once they are satisfied with the preview the file can be exported as a .md file

[2021-05-20 15:15] Ayushjain2205 commented on #1080
@kaustubhgupta can i work on this?

[2021-05-21 06:11] dhanrajdc7 opened #1085 "Automatically Send Custom Named Certificates via Mail"
`GSSOC21`

# Aim

- Send custom-named certificates via Mail

# Details
- Adding names of participants to the certificate programmatically from CSV file
- Using SMTP to send mails
- Optimized process for creating & sending certificate

[2021-05-21 07:09] #910 closed

[2021-05-21 08:09] anumshka opened #1086 "Turtle Module"
**Is your feature request related to a problem? Please describe.**
A bunch of small projects that helps to understand the implementation of turtle module.

**Describe the solution you'd like**
Making designs and beautiful patterns using turtle module, and at last making a final painting.

[2021-05-21 08:14] kaustubhgupta commented on #1086
@anumshka let me know what else can be added to this folder: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Codes%20on%20Turtle%20Graphics

[2021-05-21 08:21] anumshka commented on #1086
I would like to add the following:
1. A random walk generator
2. A beautiful pattern using regular polygons
3. A model of Hirst spot painting (https://www.damienhirst.com/texts1/series/spots)
4. Basic designs for beginners

[2021-05-21 08:54] #944 closed

[2021-05-21 17:12] anumshka opened #1089 "Line Sketcher"
# Aim
An application to draw with lines

# Details
Creating random figures using lines(with turtle module)

[2021-05-22 02:32] prakharshreyash15 commented on #1089
Can you please assign me this issue?

[2021-05-22 05:28] sameeksharl commented on #829
@avinashkranjan Could u pls review the pr??

[2021-05-22 10:37] anumshka opened #1093 "Pong game"
# Aim

A Pong game

# Details

A "tennis like" game features two paddles and a ball, the goal is to defeat your opponent by being the first one to gain 10 points, a player gets a point once the opponent misses a ball.

[2021-05-22 19:19] Ananya-Misra opened #1095 "Face Detection"
# Aim
I want to add face detection using OpenCV.

# Details

- What the features will your script have

[2021-05-22 22:33] anumshka opened #1096 "Road Safety Game"
# Aim

Make a road safety game

# Details

The player would be required to cross the road . She would lose a life if gets hit by any of the vehicles. Also, the difficulty level can be set accordingly.

[2021-05-23 04:46] eeshasrivastava opened #1097 "Adding Sentiment Analysis"
# Aim

- Train a neural network for sentiment analysis

# Details

- Sentiment Analysis is a field of Natural Language Processing (NLP) that builds models that try to identify and classify attributes of the expression.
@avinashkranjan I am a GSSoC'21 participant. Kindly allow me to work on this issue and contribute to this project!

[2021-05-23 07:17] anumshka opened #1098 "Turtle Racing Game"
# Aim

Hosting a race

# Details

The user will bet on a turtle to win and a race would be hosted to see who wins.

[2021-05-23 10:06] SharmaTanish opened #1099 "Guess a Number"
# Aim

- In this game a random number is generated in range 1 to 1000 (so to make game tough) and player has only 10 number of attempts to guess correct number. This algorithm automatically tells the player that if he/she is going in right direction or not.

# Details

- A random number is generated is generated by the random module using randint() function in range 1 to 1000.
- Player can input h

[2021-05-23 10:33] SharmaTanish commented on #1099
@kaustubhgupta sir please assign this issue to me and add relevant labels.
Thank you
Regards

[2021-05-23 11:59] kaustubhgupta commented on #1072
@bose07 updates?

[2021-05-23 12:03] kaustubhgupta commented on #1093
@anumshka will you make it GUI game?

[2021-05-23 12:04] kaustubhgupta commented on #1095
Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Face-Detection

[2021-05-23 12:04] #1095 closed

[2021-05-23 12:04] kaustubhgupta commented on #1096
GUi game?

[2021-05-23 12:05] kaustubhgupta commented on #1097
@eeshasrivastava already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Script%20to%20check%20Sentiment

[2021-05-23 12:05] #1097 closed

[2021-05-23 12:06] kaustubhgupta commented on #1098
GUI ?

[2021-05-23 12:07] kaustubhgupta commented on #1099
@SharmaTanish already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Guessing_Game_GUI

[2021-05-23 12:07] #1099 closed

[2021-05-23 12:17] anumshka commented on #1098
Yes

[2021-05-23 12:17] anumshka commented on #1096
Yes

[2021-05-23 12:18] anumshka commented on #1093
Yes

[2021-05-23 12:30] SharmaTanish commented on #1099
But @kaustubhgupta the program you are talking about is in GUI form , mine is directly in terminal.
As you can see that Stone-paper-scissor game also is in both forms in our repository , one via terminal and other via GUI.
So by looking to this,  have made this game.
I request you to please have a look on this and merge this.
Looking forward for your response
Thank you
Regards

[2021-05-23 12:34] kaustubhgupta commented on #1099
@SharmaTanish we not looking for CLI version of this game

[2021-05-23 12:36] kaustubhgupta commented on #1098
@anumshka are you trying to push this code? https://github.com/techwithtim/Turtle-Racing-V2

[2021-05-23 12:37] SharmaTanish commented on #1099
Okay , sorry for raising this issue 🙁
Thank you

[2021-05-23 13:56] anumshka commented on #1098
A little bit same, but , would also let the user to predict the winner and at the end show the result whether he lost or won.

[2021-05-23 15:04] tanvi355 commented on #1035
I have never worked on something like this before but I want to try. Can I take this up?

[2021-05-23 15:16] kaustubhgupta commented on #1035
sure!

[2021-05-23 16:17] A-kriti opened #1101 "Image Contrast Adjusting Filter"
**Is your feature request related to a problem? Please describe.**
Images captured in dim light mostly not have a much better contrast so an (Image Contrast Adjusting filter) filter helps accordingly to adjusts and increase its contrast and hence we are having a better version of the image.

**Describe the solution you'd like**
Using some of the python libraries to implement this "Image Contrast A

[2021-05-23 16:25] A-kriti opened #1102 "Mini Audacity using python"
**Is your feature request related to a problem? Please describe.**
Want to implement a feature that helps to filter an audio file by reducing the background noise similar to "Audacity".

**Describe the solution you'd like**
Using some of the python libraries to implement this "Mini Audacity" and the method used here is the spectral subtraction for speech processing.
* scipy.io.wavfile
* numpy
* ma

[2021-05-23 18:56] iamakkkhil opened #1103 "Job Scraper From Indeed"
Aim:
This python script will scrape jobs from indeed based on location and job title provided by the user and store it in a csv file.

@kaustubhgupta I am a GSSOC participant kindly assign me the same.

[2021-05-23 19:06] RohiniRG opened #1104 "Reddit Scraper without API"
<h1>DESCRIPTION:</h1>
With the help of beautiful soup any desired subreddit can be scraped and the result can be stored in a database.

@kaustubhgupta I would like to work on this issue

[2021-05-23 19:27] amonikag commented on #1035
If this issue has not been resolved. Can I give it a try? I'm a GSSoC participant. Can u assign it to me?

[2021-05-24 04:46] kaustubhgupta commented on #1101
@A-kriti assigned to you

[2021-05-24 04:59] kaustubhgupta commented on #1104
What kind of data you will scrap?

[2021-05-24 06:03] Sukriti-sood commented on #1038
I wanted to work on this.

[2021-05-24 06:05] Sukriti-sood commented on #1037
Can I work on this.....?

[2021-05-24 06:21] RohiniRG commented on #1104
Number of upvotes, comments, author, date of posting, post content titles based on the tags like hot, controversial, etc. for user-desired subreddit.

[2021-05-24 06:23] bose07 commented on #1072
yes  sir  I have uploaded the projects
kindly approve it , as the cyclone is going to hit in my area so i wont be able to access internet for net few days

[2021-05-24 13:33] kaustubhgupta commented on #1037
sure

[2021-05-24 13:36] kaustubhgupta commented on #1098
@anumshka will you be able to do it because you already have a lot of pending issues?

[2021-05-24 13:57] #1072 closed

[2021-05-24 14:00] #908 closed

[2021-05-24 14:01] #211 closed

[2021-05-24 14:03] #938 closed

[2021-05-24 16:29] anumshka commented on #1098
Yes, I will push it today

[2021-05-25 04:03] get-satyam opened #1114 "Get Wifi Passwords"
# Aim

- The aim of this script is to get Wifi passwords registered on the system via email.  Once the script is run it sends all the wifi passwords with their ssid to users email.

# Details

- Get Wifi passwords
- Email that password to the users email id.
- Language used : PYTHON

[2021-05-25 04:05] get-satyam commented on #1114
@kaustubhgupta I would like to work on this issue. Kindly assign me this issue. :)

[2021-05-25 17:42] A-kriti opened #1117 "Neon Effect Filter"
**Is your feature request related to a problem? Please describe.**
Want to apply a "Neon Effect Filter" on an image.

**Describe the solution you'd like**
Implementing a neon effect filter using OpenCV, Matplotlib, Os and NumPy.

**Final Output**
![Screenshot (396)](https://user-images.githubusercontent.com/73133055/119543719-99f71c80-bdae-11eb-848f-819523d8257d.png)

[2021-05-25 22:27] anumshka opened #1118 "Label Application"
# Aim

To label all the continents and oceans.

# Details

An empty blank world map would be displayed ,the user will enter the names of continents and oceans , and the names will point to a desired point(where they are supposed to be).The user may quit to know the answers and get the final labelled map.

[2021-05-26 04:33] RohiniRG opened #1119 "Scraping google play store"
**Is your feature request related to a problem? Please describe.**
The python script scrapes through a list of app results of a search query and obtaining data like number of installs, number of reviews, stars, email, etc.

**Describe the solution you'd like**
The script will be implemented using selenium library in python.

[2021-05-26 04:42] iamakkkhil opened #1120 "Manipulating google calendar with python"
**Is your feature request related to a problem? Please describe.**
To schedule, view, update, etc. calendar events in google calendar.

**Describe the solution you'd like**
The python script will make use of google calendar API to perform mentioned tasks.

**Additional context**
I am a GSSoC'21 participant and would like to work on this issue

[2021-05-26 08:59] kaustubhgupta commented on #809
@sandipswain are you still interested to work on this issue?

[2021-05-26 09:19] kaustubhgupta commented on #1071
@devRawnie Hello,
I wanted to let you know that the automation script was having some security issues and that's why to fix that, we have spent a lot of time on that and this master script was not given much time. Due to this, we are holding this issue for now. As the GSSCO period will be over in few days, it's not possible for us to work on this issue for now. Feel free to ping me after GSSOC and

[2021-05-26 09:21] kaustubhgupta commented on #1080
@Ayushjain2205 updates on this?

[2021-05-26 09:21] kaustubhgupta commented on #1085
@dhanrajdc7 updates on this?

[2021-05-26 09:33] kaustubhgupta commented on #1114
@get-satyam we already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Get-Wifi-Password

[2021-05-26 09:33] #1114 closed

[2021-05-26 09:34] kaustubhgupta commented on #1117
@A-kriti assigned. Make sure to save the new image as suggested in the latest PR too!

[2021-05-26 09:36] dhanrajdc7 commented on #1085
Working on it.... Almost done...

[2021-05-26 09:38] kaustubhgupta commented on #1118
This idea is very similar to this: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Guess%20the%20Countries

[2021-05-26 09:39] kaustubhgupta commented on #1119
@RohiniRG The search query should be the category of apps (ex: Games, utilities, books etc)

[2021-05-26 09:41] kaustubhgupta commented on #1120
@iamakkkhil Interesting idea, can you make it GUI ?

[2021-05-26 11:01] iamakkkhil commented on #1120
I want to work on command line based script

[2021-05-26 11:17] Ayushjain2205 opened #1122 "Hashnode blog scraper"
# Aim

To scrape blogs from hashnode.com based on user input and save them as pdf files

# Details
Take ```category``` input such as Python, JS, Android provided by the user and stores all the n articles separately in PDFs. The PDF file should contain the title, article content, and author-name

User Input: ```n``` and ```category```
Expected Output: n PDF files

[2021-05-26 11:17] Ayushjain2205 commented on #1122
@kaustubhgupta  I would like to work on this issue

[2021-05-26 11:19] Amit366 opened #1123 "Live PNR status"
# Aim

- By entering the train number and date the script will show the live running status os train.

# Details

- The live running status will be fetched via API

[2021-05-26 11:20] Amit366 commented on #1123
@kaustubhgupta please assign it to me.

[2021-05-26 11:34] devRawnie commented on #1071
Okay @kaustubhgupta. See you on the other side.

[2021-05-26 12:59] anumshka commented on #1118
Should I change the world map idea? or everything?

[2021-05-26 15:06] Ayushjain2205 opened #1124 "Cryptocurrency price checker GUI (web scraping)"
# Aim

To display live top cryptocurrency in a GUI

# Details

Web scrape this data from coinmarketcap.com or other such websites

[2021-05-26 19:58] Soundug commented on #809
@kaustubhgupta I would like to take up this one!

[2021-05-27 02:03] kaustubhgupta commented on #809
@Soundug assigned to you

[2021-05-27 02:06] kaustubhgupta commented on #1118
Let's drop this idea. The program will be very similar to already implemented solution and it doesn't make sense to have same game again.

[2021-05-27 02:06] #1118 closed

[2021-05-27 02:07] kaustubhgupta commented on #1120
Level may increase based on script contributed

[2021-05-27 02:12] kaustubhgupta commented on #1124
@Ayushjain2205 the word dashboard has different meaning. Kindly change it to Crypto Price Checker GUI

[2021-05-27 03:32] #976 closed

[2021-05-27 03:33] #1096 closed

[2021-05-27 03:36] #980 closed

[2021-05-27 03:38] #790 closed

[2021-05-27 03:40] #947 closed

[2021-05-27 03:42] #993 closed

[2021-05-27 04:08] aanshi18 opened #1129 "Website Blocker"
# Aim

- Block a website

# Details

- Used to block all websites given as a list in the python script

[2021-05-27 05:48] #1103 closed

[2021-05-27 05:50] #968 closed

[2021-05-27 05:51] #995 closed

[2021-05-27 05:52] #1014 closed

[2021-05-27 05:52] #992 closed

[2021-05-27 05:55] #1055 closed

[2021-05-27 05:56] #1056 closed

[2021-05-27 05:58] #1036 closed

[2021-05-27 05:59] #1044 closed

[2021-05-27 06:02] #1079 closed

[2021-05-27 06:03] #1045 closed

[2021-05-27 06:04] #1063 closed

[2021-05-27 06:05] #829 closed

[2021-05-27 06:05] #1040 closed

[2021-05-27 06:06] #1003 closed

[2021-05-27 06:06] #1039 closed

[2021-05-27 06:10] #1086 closed

[2021-05-27 06:40] Ayushjain2205 commented on #1124
@kaustubhgupta sure I have made the changes in the PR as well

[2021-05-27 08:20] anumshka opened #1132 "Scraping Spotify"
# Aim

Scraping and sending mails

# Details

Creating a list of popular songs of a particular artist from spotify and then mailing some interested users the list(links).

[2021-05-27 18:19] Ayushjain2205 opened #1133 "Image scraper - view and download"
# Aim

To let user search for any image and then display it and give option to download

# Details

The user will search for a image in the input field. The image will be scraped and displayed in the GUI with an option to download

[2021-05-28 03:19] kaustubhgupta commented on #1035
@tanvi355 updates on this?

[2021-05-28 03:20] kaustubhgupta commented on #1037
@Sukriti-sood updates on this?

[2021-05-28 03:20] kaustubhgupta commented on #1038
@Sukriti-sood updates on this?

[2021-05-28 03:22] Sukriti-sood commented on #1038
@kaustubhgupta Will make pr by today.

[2021-05-28 03:22] Sukriti-sood commented on #1037
@kaustubhgupta Will make pr by today.

[2021-05-28 03:26] tanvi355 commented on #1035
Working on it ....will make a PR soon.

[2021-05-28 03:35] zankrut20 opened #1135 "PDF Watermark Remover"
# Aim

- To remove the watermark from the PDF

# Details

- It will remove the watermark from the PDF

[2021-05-28 03:38] kaustubhgupta commented on #1123
@Amit366 I don't think there is an official API for this. You can try web scrapping IRCTC for this issue.

[2021-05-28 12:43] #1093 closed

[2021-05-28 17:52] #1104 closed

[2021-05-29 03:41] kaustubhgupta commented on #1033
Sorry but as the program is about to end, I have to close this issue.

[2021-05-29 03:41] #1033 closed

[2021-05-29 09:39] viraldevpb opened #1143 "Download Page as a Pdf"
# Aim

- This script's objective is to download the page as a pdf and store it on the Computer.

# Details

- This script converts the page that we are viewing as a pdf for further Understanding.
- Please assign me this issue under GSSOC.

[2021-05-31 01:41] kaustubhgupta commented on #809
@Soundug you need to make the PR today before 2 pm.

[2021-05-31 01:44] kaustubhgupta commented on #1035
@tanvi355 did you found the workaround for this? You need to make the PR before 2 pm.

[2021-05-31 01:45] kaustubhgupta commented on #1119
@RohiniRG updates on this? Make the PR before 2 pm so that we can review the code properly and merge it on time.

[2021-05-31 01:46] kaustubhgupta commented on #1120
@iamakkkhil updates on this? Make the PR before 2 pm so that we can review the code properly and merge it on time.

[2021-05-31 01:48] kaustubhgupta commented on #1143
@viraldevpb asssigned. Make the PR before 2 pm so that we can review the code properly and merge it on time.

[2021-05-31 08:42] tanvi355 commented on #1035
I've made a PR,  please check.

[2021-05-31 10:10] viraldevpb commented on #1143
@kaustubhgupta I have Send a Pull Request Please Check Now!!

[2021-05-31 17:27] kaustubhgupta commented on #1120
GSSOC ends

[2021-05-31 17:27] #1120 closed

[2021-06-05 06:36] #1101 closed

[2021-06-05 06:37] #1102 closed

[2021-06-05 16:03] #1143 closed

[2021-06-05 16:04] #1119 closed

[2021-06-05 16:05] #1035 closed

[2021-06-05 16:07] #1135 closed

[2021-06-05 16:09] #1123 closed

[2021-06-05 16:12] #1037 closed

[2021-06-05 16:17] #1038 closed

[2021-06-05 16:17] #1133 closed

[2021-06-05 16:18] #1124 closed

[2021-06-05 16:18] #1122 closed

[2021-06-05 16:19] #1117 closed

[2021-06-05 16:19] #1080 closed

[2021-06-05 16:19] #1098 closed

[2021-06-05 16:23] avinashkranjan commented on #443
Thank You all the Participants for Contributing towards this Project..Hope to see you again sometime..🔥🔥🔥

[2021-06-05 16:23] #443 closed

[2021-06-08 07:24] #1085 closed

[2021-06-12 06:33] #1132 closed

[2021-06-12 06:37] #809 closed

[2021-06-22 05:03] #1129 closed

[2021-08-19 07:52] varshith-Git opened #1158 "Chat_Bot"
# Aim :
ChatBot using python

# objective :
TO Provide a ChatBot which is user-friendly and fully documented in Python . Now a days chatbots are used in many websites for user interactive

# Details (Modules) :
Tkinter for GUI

[2021-08-20 05:05] avinashkranjan commented on #1158
Sure Go Ahead.. @varshith-Git

[2021-08-23 07:22] aryasoni98 opened #1160 "Added face similarity detection"
# Aim

The primary aim of face detection algorithms is to determine whether there is any face in an image or not. ... Face Detection is the first and essential step for face recognition, and it is used to detect faces in the images.
# Details

- What features will your script have

[2021-08-23 13:38] varshith-Git commented on #1158
Yup! completed my submission @avinashkranjan

[2021-08-25 08:52] #1158 closed

[2021-08-30 19:20] #1160 closed

[2021-08-31 06:35] Souhardya-Ganguly opened #1162 "Indian State Guessing game"
Middle school geography students usually have a tough time trying to learn the name of Indian states by heart.

This game helps students to test their knowledge of the same in a fun manner by entering the name of the states and seeing it entered on the blank map if it is correct. The states that they do not remember will be stored additionally so that they can refer to it and revise.

I have attac

[2021-08-31 07:05] Souhardya-Ganguly commented on #1162
Could you please assign this issue to me?

[2021-08-31 07:20] avinashkranjan commented on #1162
Sure @Souhardya-Ganguly Go Ahead.. Sounds Like a great addition to the repo.

[2021-09-12 09:45] #1162 closed

[2021-10-01 05:34] syamala27 opened #1168 "Cofffee Machine py game"
**Is your feature request related to a problem? Please describe.**
I have seen many games but how about a coffe machine game? Oh yes !!
I love to drink coffee. But, I wonder how coffee is being made by the cafe's. My project is similar to that. For more picture clear, i have added the ss below.

**Describe the solution you'd like**
Sir, this is a BasicPythonScripts to implement coffee machine game

[2021-10-04 12:01] kaustubhgupta commented on #1168
@syamala27 Sounds good, go ahead with the implementation. Let me know if have any doubts

[2021-12-14 10:30] Atif0604 opened #1171 "Colored Image to Black & White Image Converter"
- What the features will your script have
want to add Colored Image to Black & White Image Converter

[2021-12-20 14:46] Ale0x78 opened #1182 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-20 19:15] Atif0604 commented on #1171
hey @avinashkranjan
Please Assign me under SWOC'21

[2022-07-06 19:54] CarlosViniMSouza opened #1242 "scripts about 3 data structures: Linked List, Queue and Scripts"
# Aim

I would like to add a project with three python scripts about linked list, queue and stack (these are the structures that I have been trying to study)

# What is the objective of the Script

Show how simple it is to implement and use data structures

# Details

1 - well i would like to add something very simple (that a beginner would be able to look at and understand how the framework opera

[2022-10-02 04:22] techdobz opened #1287 "Convert Folder ( with all subfolder ) into .html file"
# Aim

- will convert any given folder into an HTML file, For better management and search for your files.

# Details

- search functionality based on title,
- subfolder will become a tag, so you can search it using the tag also.
- check this,
![search](https://user-images.githubusercontent.com/40512595/193437757-f72b2a4c-0881-4d9a-a1e5-e645dbdbdc8b.png)
![tags](https://user-images.githubuserconte

[2022-10-04 19:03] avinashkranjan commented on #1287
Go Ahead @techdobz Assigned it you.

[2022-10-05 15:31] techdobz commented on #1287
Added pull request

[2022-10-09 16:53] #1287 closed

[2022-10-15 15:14] codePerfectPlus opened #1300 "audiobook"
I want to contribute to a project for Reading/Saving audiobooks.  You can listen to your book and also can save it to listen to it later.

Supported Format:-

1. Pdf
2. txt
3. Epub

[2022-10-16 05:54] avinashkranjan commented on #1300
Sure Go Ahead @codePerfectPlus

[2022-10-20 06:51] #1182 closed