[2021-03-16 10:20] kaustubhgupta commented on #131
Yes. the word clouds are pretty good

[2021-03-16 10:22] kaustubhgupta commented on #586
@Amit366 updated description and level

[2021-03-16 10:24] kaustubhgupta commented on #290
@kagritu updates?

[2021-03-16 10:26] kagritu commented on #290
Still working on it. I will update you soon

On Tue, 16 Mar 2021, 15:55 Kaustubh Gupta, ***@***.***> wrote:

[2021-03-16 10:27] kaustubhgupta commented on #510
@sudipg4112001?

[2021-03-16 10:28] kaustubhgupta commented on #290
Okay!

[2021-03-16 10:30] kaustubhgupta commented on #617
@aaadddiii Please confirm if your script is different from this https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Get-Wifi-Password and this https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Save-Wifi-Password

[2021-03-16 10:32] sudipg4112001 commented on #510
Yeah, working on it. Will make the PR within 24 hrs.

[2021-03-16 10:35] #617 closed

[2021-03-16 10:39] aaadddiii opened #618 "Heart disease prediction"
# Aim

- Heart disease prediction using machine learning

# Details

- This script predicts whether a person has heart disease or not using machine learning

[2021-03-16 10:40] antrikshmisri commented on #131
@kaustubhgupta For sure , the font style needs some improvement. @manastole03 maybe refer the [site](https://avinashkranjan.github.io/Amazing-Python-Scripts/) for inspiration. Good job on the word cloud 🔥

[2021-03-16 11:14] manastole03 commented on #131
Thanks a lot for your comments 🙂 @antrikshmisri @kaustubhgupta

[2021-03-16 13:52] dhriti987 commented on #599
Should i make command line options?

[2021-03-16 14:24] kaustubhgupta commented on #599
@dhriti987 That's totally up to you, btw what type of options you suggest?

[2021-03-16 15:15] Ayushjain2205 opened #621 "Twitter Fetcher"
# Aim

To get tweets automatically from users feed

# Details

User can get top trending tweets by hashtag as per their choice

[2021-03-16 16:42] SpecTEviL opened #623 "Auto Birthday Wisher"
# Aim

One forgets to send birthday wishes to friends many times. At such times an automatic birthday wisher comes into handy. An automatic birthday wisher via email makes one's life easy. It will send wishes to friends based on the dataset we provide and until the years we tell them to wish to.

# Details

It will send the birthday wishes to friends via email automatically via a server and using

[2021-03-16 16:44] SpecTEviL commented on #623
Hey @avinashkranjan @antrikshmisri @santushtisharma10, Vishal here again. Can anyone of you review this and assign it to me?
I would like to contribute this project.
Thanks!

[2021-03-16 18:01] kshittijagrawal commented on #56
Hey @kaustubhgupta !
I wrote a script recently but it uses selenium to scrape data from the HTML tags and data received from the server end. Currently am trying to figure out a way using an API. Please give me a day or two to do so.

[2021-03-16 18:16] kaustubhgupta commented on #56
Okay take your time 💯

[2021-03-16 20:10] XZANATOL commented on #256
Any updates?

[2021-03-17 03:54] kaustubhgupta commented on #256
@XZANATOL Yes, I found the issues and I will update you once I found some solutions/alternatives

[2021-03-17 03:56] kaustubhgupta commented on #18
@dsg1320 updates?

[2021-03-17 03:58] kaustubhgupta commented on #279
@prathimacode-hub updates?

[2021-03-17 03:58] dsg1320 commented on #18
I have created the page and app . Still working on it.

On Wed, 17 Mar 2021, 09:27 Kaustubh Gupta, ***@***.***> wrote:

[2021-03-17 03:59] kaustubhgupta commented on #18
@dsg1320  Umm, created the page and app? This was supposed to be a python script right?

[2021-03-17 04:00] kaustubhgupta commented on #444
@ambivert-sam updates?

[2021-03-17 04:02] kaustubhgupta commented on #483
@saaalik did you found the workaround for this issue?

[2021-03-17 04:03] kaustubhgupta commented on #495
@honeybhardwaj DIdi you found the workaround? It's already 6 days since this issue was assigned to you

[2021-03-17 04:05] kaustubhgupta commented on #512
@vivek-2000 Issue unassigned due to no response from your side

[2021-03-17 04:07] kaustubhgupta commented on #539
@saaalik Updates on this?

[2021-03-17 04:07] dsg1320 commented on #18
According to the article you sent we have to 1st have an app ID and a
facebook page for it . I'm getting to the python script. Need some time.

On Wed, 17 Mar 2021, 09:30 Kaustubh Gupta, ***@***.***> wrote:

[2021-03-17 04:09] kaustubhgupta commented on #18
@dsg1320 Oh, okay, take your time, you have max of 2 days to complete this task

[2021-03-17 04:09] guptadiksha307 opened #625 "Life Expectancy Prediction"
# Aim

- Life Expectancy Prediction using Machine Learning

# Details

- A typical Regression Machine Learning project leverages historical data to predict insights into the future. This problem statement is aimed at predicting Life Expectancy rate of a country given various features. Life expectancy is a statistical measure of the average time a human being is expected to live, Life expectancy de

[2021-03-17 04:10] dsg1320 commented on #18
Ok

On Wed, 17 Mar 2021, 09:39 Kaustubh Gupta, ***@***.***> wrote:

[2021-03-17 04:10] guptadiksha307 commented on #625
Kindly assign me this issue as a part of gssoc'21 @avinashkranjan

[2021-03-17 04:12] kaustubhgupta commented on #546
@aishwaryachand updates?

[2021-03-17 04:13] kaustubhgupta commented on #552
@aishwaryachand updates?

[2021-03-17 04:16] kaustubhgupta commented on #618
Assigned to you, refer to this PR files on how to structure your files and creating the prediction script https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/556

[2021-03-17 04:18] kaustubhgupta commented on #621
@Ayushjain2205 can you store the tweets retrieved in the SQL database? Because fetching them via Twitter API an easy task

[2021-03-17 04:19] kaustubhgupta commented on #623
@SpecTEviL assigned to you

[2021-03-17 04:21] kaustubhgupta commented on #625
@guptadiksha307 Assigned to you, refer to this PR files on how to structure your files and creating the prediction script https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/556

[2021-03-17 04:25] Swetha126 opened #626 "Slithering Snake Game using GUI"
**Describe the solution you'd like**
I would like to create a slithering snake game using GUI in python

**Additional context**
It is a user friendly game with a clear score board. I would write the code with appropriate comments.

I'm a GSSOC'21 participant. Please assign me this issue

[2021-03-17 05:10] prathimacode-hub commented on #279
I'm working on it. I'll updatet by today evening. @kaustubhgupta

[2021-03-17 05:41] Ayushjain2205 commented on #621
@kaustubhgupta  Yes I can do that, will store the tweets in a SQL database after fetching them

[2021-03-17 05:44] kaustubhgupta commented on #621
@Ayushjain2205 Okay assigned to you. Create two scripts: One to get tweets and storing them in the database. Another script to fetch the data from this database and display on the terminal

[2021-03-17 05:52] kaustubhgupta commented on #626
@Swetha126 We already have a snake game in our repo: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Snake%20Game%20(GUI)

[2021-03-17 07:09] viraldevpb opened #627 "Desktop Drink Water Notification"
# Aim

- To get enough water for our body.

# Details

- The desktop water notification displays the notification on the desktop every one minute or 30 seconds to the user to drink water. Because water is an essential need of our body.

[2021-03-17 07:29] ambivert-sam commented on #444
So sorry for delay its in process @kaustubhgupta

[2021-03-17 08:41] aishwaryachand commented on #552
will make a pr by today @kaustubhgupta

[2021-03-17 08:42] aishwaryachand commented on #546
kindly review and do tell if any changes need to be made. @kaustubhgupta

[2021-03-17 09:19] dhriti987 commented on #599
@kaustubhgupta
-e  encode
-o encoded image file name
-d decode
-t output decoded data in text file

[2021-03-17 09:20] dhriti987 commented on #599
is there any deadline for submission.... Actually my exams are going on

[2021-03-17 10:11] saaalik commented on #539
Completed, will be making a PR in an hour

[2021-03-17 10:28] kaustubhgupta commented on #599
@dhriti987 options are fine, you can go ahead with coding. You have 1 week to implement it.

[2021-03-17 10:36] kaustubhgupta commented on #627
@viraldevpb Do you think spamming users every 30 seconds or minute will be useful? It will consume a lot of background resources. Any other workaround for this?

[2021-03-17 11:14] Avishake007 opened #629 "Eye detection"
I want to add a eye detection feature.
please assign me for this issue

[2021-03-17 13:08] lachenlama opened #632 "Tetris : The Game"
# Aim

- To build the evergreen game, Tetris!

# Details

- Going to be built with Pygame , simple yet effective OOP shall be featured, will try to build it as colorful as possible.

[2021-03-17 13:21] SamarpanCoder2002 commented on #604
Pull request already attached..... Please review @kaustubhgupta and merge it... Thanks

[2021-03-17 13:25] viraldevpb commented on #627
Mine Python Script just uses one process in the background. So It will not
run any another processes in the background.

On Wed, Mar 17, 2021, 4:07 PM Kaustubh Gupta ***@***.***>
wrote:

[2021-03-17 15:02] SpecTEviL commented on #623
Hey, @kaustubhgupta @antrikshmisri @santushtisharma10 I've made a PR please review it and do let me know your suggestions or improvements if any.
THANKS!

[2021-03-17 15:37] jeelnathani opened #636 "Censor word detection"
I am GSSOC 21 participant. And I would like to contribute here by making program that can detect censor word

[2021-03-17 19:52] vaishnavirshah opened #639 "Converting image to pencil sketch using python"
# Aim

Converting image to pencil sketch

# Details

- Capturing live images from webcam.
- Or Uploading image to the webpage.
- Implementation of script using flask

[2021-03-17 19:53] vaishnavirshah commented on #639
I am GSSOC'21 participant and would like to contribute this script.

[2021-03-18 03:24] kaustubhgupta commented on #627
@viraldevpb reduce the interval of notification to 30 minutes

[2021-03-18 03:26] kaustubhgupta commented on #629
@Avishake007 Eye detection in videos or images?

[2021-03-18 03:29] kaustubhgupta commented on #636
@jeelnathani I am not sure what your program is about?

[2021-03-18 03:32] kaustubhgupta commented on #639
@vaishnavirshah make it a script application where you take the path of the image as input, then convert the image into sketch form and then save that output image

[2021-03-18 03:48] Avishake007 commented on #629
Eye detection in video

[2021-03-18 03:54] kaustubhgupta commented on #629
Okay assigned to you, Currently, I am looking into your body detection PR. I will let you know any changes

[2021-03-18 04:55] Debashish-hub opened #642 "Face Recognition"
**Is your feature request related to a problem? Please describe.**
There is a script for face detection but that won't predict whose face is that for which face recognition will be helpful.

**Describe the solution you'd like**
Face Recognition system would show the name of the person in real time from the stored database.

It would be great if I would be assigned with this issue as a GSSOC'21 par

[2021-03-18 05:17] kaustubhgupta commented on #642
we already have a script for this: https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/Face-Detection/face-detect.py
And for known faces, we already have a PR under review: https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/585

[2021-03-18 05:17] #642 closed

[2021-03-18 05:18] #626 closed

[2021-03-18 05:28] AM1CODES opened #644 "Script Idea: Spotify Song data scrapper"
# Aim

- Let's user scrape Songs data from Spotify.

# Details

- This script will help anyone scrape songs data such as the artist name, song name, album name and so on.
- Can come in handy when a person wishes to build a song recommender using real songs from Spotify.

P.S -  I am a GSSOC'21 Participant.

[2021-03-18 05:37] vaishnavirshah commented on #639
@kaustubhgupta Hi, I did not quite understand your suggestion, I have implemented both taking images from webcam and converting to sketch as well as taking image path and converting to sketch on the webpage.

Should I not use flask? And implement both these things as a menu driven script?

[2021-03-18 05:40] kaustubhgupta commented on #639
@vaishnavirshah Yes, port those features to the menu-driven script as we are not looking for end-to-end applications

[2021-03-18 05:59] kaustubhgupta commented on #56
@kshittijagrawal updates? It's already 2 days. If you fail to make the PR today, then this issue will be up-for-grab

[2021-03-18 06:02] kaustubhgupta commented on #131
@manastole03 have you implemented the new font?

[2021-03-18 06:05] kaustubhgupta commented on #444
@ambivert-sam will you make the PR today?

[2021-03-18 06:07] kaustubhgupta commented on #465
@SurbhiRathi23 you can submit a PR for this and then after looking at it, we will suggest final changes if needed. Make sure to put your changes in the gh-pages branch

[2021-03-18 06:08] kaustubhgupta commented on #483
@saaalik are you working on this or shall I assign it to someone else?

[2021-03-18 06:10] kaustubhgupta commented on #508
@Pranjal-2001 Can you make the PR by today?

[2021-03-18 06:11] kaustubhgupta commented on #551
@undetectablevirus updates?

[2021-03-18 06:11] kaustubhgupta commented on #581
@vikashkumar2020 updates?

[2021-03-18 06:11] kaustubhgupta commented on #582
@vikashkumar2020 updates?

[2021-03-18 06:12] kaustubhgupta commented on #588
@sayantani11 Updates?

[2021-03-18 06:13] kaustubhgupta commented on #594
@aliya-rahmani updates?

[2021-03-18 06:14] kaustubhgupta commented on #644
@AM1CODES We already have an assigned issue for this #607

[2021-03-18 06:14] #644 closed

[2021-03-18 06:16] manastole03 commented on #131
Yes I will update you before 6 pm @kaustubhgupta

[2021-03-18 06:34] Pranjal-2001 commented on #508
yes sir

On Thu, Mar 18, 2021 at 11:40 AM Kaustubh Gupta ***@***.***>
wrote:

[2021-03-18 06:36] paulamib123 commented on #495
Hi!
I am interested to work on this issue.

But, I am not clear with what it exactly means by the line "Script will scrap the news details from times of india as per user".
Does it mean the user will enter some keywords and we have to search all articles in the Times Of India that are related to those keywords?

And also what exactly would be the output format in the csv file?
If you could give on

[2021-03-18 06:58] SurbhiRathi23 commented on #465
@kaustubhgupta okay, I will do it by end of day.

[2021-03-18 07:52] vikashkumar2020 commented on #582
I will complete it by today it is in progress

[2021-03-18 07:54] vikashkumar2020 commented on #581
I will complete it by tommorow it is in progress

[2021-03-18 08:10] sayantani11 commented on #588
Yes...I am almost done

[2021-03-18 08:13] sayantani11 commented on #588
Have to update the ReadMe.... I will be done by today ig

[2021-03-18 08:30] viraldevpb commented on #627
Is this time code is correct?
![dis](https://user-images.githubusercontent.com/66899360/111595604-4ab2cf80-87f2-11eb-9192-3bdfaf43a628.png)

[2021-03-18 08:50] osamamagdy commented on #211
hey @avinashkranjan
I am a participant in GSSoC 2021. Can you assign this issue to me?

[2021-03-18 08:52] amrzaki2000 commented on #321
@kaustubhgupta Hello, Can I work on this for my GSSoC participation ?

[2021-03-18 08:57] osamamagdy commented on #512
Hey @kaustubhgupta
I am a participant at GSSoC 2021. I would like to contribute to this issue. Can you assign it to me. Also, I need more details as it is not clear for me right now.

[2021-03-18 09:07] asmita20aggarwal opened #647 "Image Editor python script"
**# Aim**

I will be using python pillow library to edit images.
The program is going to be menu driven.

**# Details**

The user will be asked to enter the specified path of the image and save it at the desired location by providing the path.
The user will be able to flip the images,rotate the images, enhance their contrast or sharpness and apply different filters onto the image.(black and white

[2021-03-18 09:13] asmita20aggarwal commented on #647
I am a GSSOC'21 participant and would like to contribute to this script.
Please assign it to me.

[2021-03-18 09:20] manastole03 commented on #131
Do you want that 'Amazing' word there ? @kaustubhgupta

[2021-03-18 09:37] kaustubhgupta commented on #321
@amrzaki2000 okay, assigned to you!

[2021-03-18 09:41] kaustubhgupta commented on #539
This script was already present in the repository and was detected while reviewing the PR by @santushtisharma10. Therefore, this issue will be used

[2021-03-18 09:41] #539 closed

[2021-03-18 09:55] kaustubhgupta commented on #495
@paulamib123 let me break it down for you:
- You need to take user input for type of news: Entertainment, technology, political...
- Then scrap the top 10 results for the respective category chosen by the user and then save the following details in CSV:
    - date of publishing
    - link to the article
    - headline of the news

[2021-03-18 09:57] jeelnathani commented on #636
censor words are swear words/abusive words/curse words/bad words in any language
example: shit, fu*k

[2021-03-18 10:50] aishwaryachand opened #649 "Morse Code Translator In Python"
# Aim

- What is the objective of the Script
Create a Morse Code Translator In Python
# Details

- What features will your script have

Translate the given morse code to English

[2021-03-18 10:51] aishwaryachand commented on #649
I am GGSOC21' participant can I work on this issue.

[2021-03-18 11:46] aliya-rahmani commented on #594
@kaustubhgupta, it's in progress, will make a PR soon.

[2021-03-18 12:03] antrikshmisri commented on #647
@asmita20aggarwal Assigned to you

[2021-03-18 12:04] paulamib123 commented on #495
Okay, Thank you!
Is it possible that I can take the data from India Today instead of TOI?
Because it seems the TOI pages are not in sync and every category has a different page design.

[2021-03-18 12:07] antrikshmisri commented on #649
@aishwaryachand Sure , assigned to you

[2021-03-18 12:28] kaustubhgupta commented on #495
@paulamib123 Okay, no issues, I have updated the title of the issue.

[2021-03-18 12:44] lachenlama commented on #632
Gonna finish it up as soon as my exams over k, can I get some time like 3-4 days? @kaustubhgupta

[2021-03-18 13:17] Priya96-sketch opened #651 "Unzip a File"
# Aim

- To unzip a zipped file using Python
# Details

- Going to be built with zipfile module , simple yet effective.

[2021-03-18 13:18] Priya96-sketch commented on #651
I am GGSOC21' participant , Can I work on this issue?

[2021-03-18 15:54] Ayushjain2205 opened #653 "Notepad GUI"
# Aim

Create a notepad clone using python(Tkinter)

# Details

Users can make text files, edit , copy, paste and save these text files using this application

[2021-03-18 16:30] Anupreetadas opened #655 "Plagiarism checker in Python"
# Aim

- The objective of the script is to detect plagiarism in textual document using python.
# Details
This is a plagiarism checker made in python.It will compare the text files and tell if the document is copied or not.

# Features
 - Handling quotations
 - Automating the collection of training data.
 -  Comparing different submissions  to each other.
 -  Adapting this to work for plagiarized t

[2021-03-18 17:26] kaustubhgupta commented on #636
@jeelnathani Ohkay got it, you can start working on this issue

[2021-03-18 17:27] kaustubhgupta commented on #651
@Priya96-sketch Yes, assigned to you

[2021-03-18 17:29] XZANATOL commented on #256
@kaustubhgupta Found any solutions?

[2021-03-18 17:30] kaustubhgupta commented on #256
@XZANATOL unfortunately no, I think you should pick up another issue for a while, this will be assigned to you. I will come back with some inputs

[2021-03-18 17:31] kaustubhgupta commented on #653
@Ayushjain2205 It's already implemented in this repo: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Simple%20Notepad

[2021-03-18 17:32] #653 closed

[2021-03-18 17:33] kaustubhgupta commented on #655
Sounds interesting, @Anupreetadas assigned to you!

[2021-03-18 17:39] ambivert-sam commented on #444
Yes sir

[2021-03-18 18:00] Priya96-sketch commented on #651
Thank You! I will start working on it now.

[2021-03-18 18:50] ambivert-sam commented on #444
Sir I have solved the error but while committing changes their is some issue I'm not getting where the actual problem is

[2021-03-18 18:57] anubhav201241 commented on #456
Hi, Sir

**Problem in the code:**

The code is not fully optimized and have less feature in it.

**What I want to add in it**
So I want to add more feature and optimized python code in it
Feature I will be working upon is:
1) Detects the Mid part in face.
2) Detects the eyes and face both Putting them in rectangle frame.
3) Which Detects the Eye and Face both part and also Detects the mid part of

[2021-03-18 19:07] ambivert-sam commented on #444
Sir the calculation error is fixed  and solved but their is some issue regarding committing changes the changes I've made isn't showing
![Screenshot (155)](https://user-images.githubusercontent.com/74984661/111683256-41a21c80-884b-11eb-8938-9fba02da7a72.png)

[2021-03-18 19:19] anubhav201241 opened #657 "Modification in Face-Detection/face-detect.py"
**Problem**
The code is not fully optimized and have less feature in it.

**Solution I'd like to add**
So I want to add more feature and optimized python code using open-cv in it
Feature I will be working upon is:

1) Which Detects the Mid part in the face.
2) Detects the eyes and face part , by Putting them in rectangle frame as image.

**Additional context**
I will be highly Obliged if you assig

[2021-03-18 19:37] manastole03 commented on #131
![Turquoise Orbs General Twitch Banner (2)](https://user-images.githubusercontent.com/55608869/111686632-48329300-884f-11eb-9f47-f6d97523a875.png)

Please review it.
@kaustubhgupta @subhangi2731 @avinashkranjan

[2021-03-18 20:53] #458 closed

[2021-03-18 20:56] #500 closed

[2021-03-18 20:57] #541 closed

[2021-03-18 20:57] #544 closed

[2021-03-18 20:58] #519 closed

[2021-03-18 20:58] #549 closed

[2021-03-18 20:58] #503 closed

[2021-03-18 20:59] #554 closed

[2021-03-18 21:00] #559 closed

[2021-03-18 21:00] #488 closed

[2021-03-18 21:01] #528 closed

[2021-03-18 21:01] #482 closed

[2021-03-18 21:01] #614 closed

[2021-03-18 21:12] avinashkranjan commented on #256
Removed All-contributors bot from this repo..So, Closing this Issue..

[2021-03-18 21:12] #256 closed

[2021-03-19 02:42] Lakhankumawat commented on #211
I m ready to take it up 🙂

[2021-03-19 05:43] saaalik commented on #483
Yes, give me time till 19th EOD, after that you can assign it to someone else please

[2021-03-19 05:45] kaustubhgupta commented on #483
Okay

[2021-03-19 05:54] #451 closed

[2021-03-19 05:54] #550 closed

[2021-03-19 05:56] kaustubhgupta commented on #450
@vivek-2000 would you like this issue as @muthuannamalai12 failed to fix the bug in PR?

[2021-03-19 06:02] #456 closed

[2021-03-19 06:05] vivek-2000 commented on #450
@kaustubhgupta yes

[2021-03-19 06:09] kaustubhgupta commented on #450
@vivek-2000 okay then assigned to you!

[2021-03-19 06:30] kaustubhgupta commented on #18
@dsg1320 did you found any workaround? or you need any additional help?

[2021-03-19 06:34] kaustubhgupta commented on #131
noice! I have put a message on the discord server about final confirmation from PA

[2021-03-19 06:35] kaustubhgupta commented on #279
@prathimacode-hub Final update?

[2021-03-19 06:38] kaustubhgupta commented on #444
@ambivert-sam maybe you created a separate branch for this issue. Select that branch  in head compare

[2021-03-19 06:41] kaustubhgupta commented on #551
@undetectablevirus final updates? are you working on this issue?

[2021-03-19 06:43] kaustubhgupta commented on #657
@anubhav201241 we already have a script for this in our repo: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Face-Detection

[2021-03-19 07:23] dsg1320 commented on #18
https://github.com/dsg1320/Amazing-Python-Scripts/tree/feature/covidStats

This is the link to my repository where I've shown the progress.
I'm creating a generic script that can be leveraged by anyone to their app.
Will include the steps in REadme.md. Will this be fine?

On Fri, 19 Mar 2021, 12:00 Kaustubh Gupta, ***@***.***> wrote:

[2021-03-19 07:49] Amit366 commented on #512
@kaustubhgupta can I work on this??
And also please can you explain what exactly have to be done.

[2021-03-19 09:23] XZANATOL commented on #56
Hi, I'm interested in building this project. I did some research and turned out using LinkedIn Developers API is not the ideal approach as it limits what you can get access to. One of these limitations is actually getting "My Connections" list. So, the another approach is using selenium and regex for scraping webpages with the help of ChromeDriver.

### Advantages
* User doesn't have to bother him

[2021-03-19 09:35] kaustubhgupta commented on #56
@XZANATOL The previous contributor was given 11 days to complete the task but he failed to make it. You will be given the usual 1 week where I will ask about the progress on the 3rd day.

[2021-03-19 09:39] undetectablevirus commented on #551
yes, i will create pull request today. Apologies for the delay

[2021-03-19 09:42] ambivert-sam commented on #444
okay I'm doing again

[2021-03-19 11:01] prathimacode-hub commented on #279
Yes, It's in final stage. For sms automation, I've used FAST2SMS API and created a GUI to send messages promptly to any number of the user's choice. Currently, I've power issues at my place. Sorry for the delay. I'll send as early as possible. @kaustubhgupta

[2021-03-19 11:03] kaustubhgupta commented on #279
@prathimacode-hub Oh no issues, I only need to know that you are working on this and the progress of the script.

[2021-03-19 13:06] Avishake007 opened #668 "Modify Face Detection"
I want to add a few lines of code in face detection which will count the number of faces
please assign me for this issue
I am a gssoc'21 participant and wants to contribute on this issue

[2021-03-19 14:35] Ayushjain2205 opened #671 "Wikipedia Summary Generator (GUI)"
# Aim

To display summary of a topic entered by the user

# Details

When a user searches for a topic, a summary is displayed in the results box

[2021-03-19 14:35] Ayushjain2205 commented on #671
@kaustubhgupta Can you please assign this issue to me under GSSOC'21

[2021-03-19 16:00] sayantani11 opened #673 "Generation and accessing of QR code"
# Aim

- Generating a QR code and reading it

# Details

- QR code is basically quick response code. We will generate QR code for links for easy access

[2021-03-19 17:35] archana-9430 commented on #673
Hi @sayantani11 , please allow me to work on this issue. I know how to make QR code in python.
Thanks :)

[2021-03-19 17:50] mehabhalodiya opened #675 "Detect and Recognize Car License Plate"
# Aim

- The objective is to design an efficient automatic authorized vehicle identification system by using the vehicle number plate.

# Details

- Number plate detection searches the image taken in order to locate the specific features that contain the number plate. The system makes use of OpenCV—Open source Computer Vision—to convert data from images on a camera to useful information.

[2021-03-19 17:53] mehabhalodiya commented on #675
I would like to work on this under GSSOC'21.

[2021-03-20 01:07] Lakhankumawat opened #677 "Stone Paper Scissors with GUI"
I do checked the repo and  found that there is [`stone paper scissors `](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Stone-Paper-Scissors-Game)  pygame included but its implemented using Command Line .

[2021-03-20 01:07] Lakhankumawat commented on #677
I would like to work

[2021-03-20 04:03] chaitanyabisht opened #679 "Clicking the hyperlink in Temporary-Sign-Up-Tool"
Script folder: [https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Temporary-Sign-Up-Tool](url)

**Describe the bug**
Clicking the 10minutemail hyperlink in the webpage does not open the correct webpage

**To Reproduce**
Steps to reproduce the behavior:
1. Run the script
2. Click on '10minutemail.net' hyperlink
4. See error

**Expected behavior**
It should open the 10minutemail.n

[2021-03-20 07:13] santushtisharma10 commented on #668
@Avishake007 assigned to you

[2021-03-20 07:16] santushtisharma10 commented on #671
@Ayushjain2205 assigned to you

[2021-03-20 07:22] santushtisharma10 commented on #673
@archana-9430 we already have QR generator script. You may look other issues which are up-for-grabs

[2021-03-20 07:22] #673 closed

[2021-03-20 07:33] santushtisharma10 commented on #675
@mehabhalodiya assigned to you

[2021-03-20 08:00] kaustubhgupta commented on #677
@Lakhankumawat assigned to you

[2021-03-20 08:04] kaustubhgupta commented on #679
@chaitanyabisht you are a participant of GGSOC or doing this contribution casually?

[2021-03-20 08:05] kaustubhgupta commented on #279
@prathimacode-hub ?

[2021-03-20 08:15] kaustubhgupta commented on #581
@vikashkumar2020 ?

[2021-03-20 08:19] kaustubhgupta commented on #632
@lachenlama you got 3 days more to complete it

[2021-03-20 08:19] kaustubhgupta commented on #608
@muthuannamalai12 updates?

[2021-03-20 08:20] kaustubhgupta commented on #607
@muthuannamalai12 updates?

[2021-03-20 08:20] kaustubhgupta commented on #599
@dhriti987 did you made any progress in the script?

[2021-03-20 08:21] kaustubhgupta commented on #594
@aliya-rahmani Did you made any progress?

[2021-03-20 08:30] muthuannamalai12 commented on #608
Will complete within today

[2021-03-20 08:31] muthuannamalai12 commented on #607
Will complete within today

[2021-03-20 08:45] prathimacode-hub commented on #279
Yes, I am working on this. I'm done with the code. Got an issue on library which i'm looking through it. @kaustubhgupta

[2021-03-20 08:46] kaustubhgupta commented on #279
okay

[2021-03-20 08:48] dhriti987 commented on #599
Yes...... should I have to make readme file?
i will make a PR tomorrow.

[2021-03-20 08:49] kaustubhgupta commented on #599
Yes, a readme file is required.

[2021-03-20 09:04] chaitanyabisht commented on #679
I am a participant of GSSOC

[2021-03-20 10:19] vikashkumar2020 commented on #581
Actually my script runs well in ubuntu but does not in windows as it contains dbus module which is not there for windows. Please tell me should i make pull request with that script or try to find something else method.

[2021-03-20 11:40] XZANATOL commented on #56
@kaustubhgupta Hi there, :D
I've some good news, the script is 80% ready, I managed to get the connections list with their corresponding Names, & Headlines. I've added the option to get the Top-skills of each profile, I just need to append all in a 1 nice and tidy dataframe and save it into a CSV file. However I'm facing a small challenge which I can't figure out a solution to it.

LinkedIn Ajax c

[2021-03-20 11:52] Ayushjain2205 opened #685 "Paint Application"
# Aim

To make a mini version of MS paint using python GUI

# Details

User can draw on a canvas, change brush size and brush colour

[2021-03-20 11:52] Ayushjain2205 commented on #685
@kaustubhgupta Can you please assign this to me under GSSOC'21

[2021-03-20 11:55] aliya-rahmani commented on #594
@kaustubhgupta I have made a PR #684

[2021-03-20 12:02] aliya-rahmani opened #686 "GUI Chat application"
# Aim

This is a simple GUI (Graphical User Interface) chat application where multiple users can connect with each other in a client-server architecture i.e the clients will interact with the help of the server.

# Details

The Python Chatbox uses the concept of Socket Programming & Multi-threading. There are two sections for the chatbot i.e server-side program called socketserver.py & client-side

[2021-03-20 12:07] kaustubhgupta commented on #581
For windows desktop notifications, you can use plyer library

[2021-03-20 12:08] santushtisharma10 commented on #685
@Ayushjain2205 assigned to you

[2021-03-20 13:18] kaustubhgupta commented on #686
@aliya-rahmani Go ahead with the issue

[2021-03-20 16:16] #507 closed

[2021-03-20 21:08] undetectablevirus opened #690 "Cartoonify an image using OpenCV"
# Aim

- We will be able to get the cartoonified version of an image with the help of OpenCV

# Details

- We will be using filters for this purpose

[2021-03-21 03:10] kaustubhgupta commented on #690
We already merged PR for this issue 2 days ago: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Cartooning%20Image

[2021-03-21 03:10] #690 closed

[2021-03-21 03:16] kaustubhgupta commented on #56
@XZANATOL Hmm, I can't give the exact solution for this until I debug the code myself. For now, you can skip this part of extracting detailed instructions and make the PR. However, if you want me to debug it for you, then comment out that logic and put the reference of this GitHub comment in that comment. If I get some solution then I will discuss that with you and if not, then we will drop this i

[2021-03-21 03:17] kaustubhgupta commented on #131
@manastole03 Make the PR for the above banner. Make sure to put the banner in the gh-pages branch of the repo

[2021-03-21 03:19] kaustubhgupta commented on #647
@asmita20aggarwal Updates?

[2021-03-21 03:20] kaustubhgupta commented on #649
@aishwaryachand updates?

[2021-03-21 03:40] #509 closed

[2021-03-21 05:41] asmita20aggarwal commented on #647
@kaustubhgupta I am almost done with the script. Need to resolve some bugs, do some pep8 checks and make a read.me file.

![Screenshot (45)](https://user-images.githubusercontent.com/55752845/111895058-f7c95a00-8a35-11eb-8957-f51b2f18fc9e.png)
![pink](https://user-images.githubusercontent.com/55752845/111895070-09aafd00-8a36-11eb-80d4-8cee5b1b46dc.png)
![Edited](https://user-images.githubuserconte

[2021-03-21 05:43] XZANATOL commented on #56
@kaustubhgupta I did figure out the solution before I go to sleep yesterday. xd

Turned out Selenium doesn't only depend on code, but also low-level mouse integerations. Selenium uses grid to click buttons. The button was getting selected as the code printed out, but everytime my screen had the "show more" in the interested section showed, so using "driver.switch_to.active_element" will just skip

[2021-03-21 05:43] kaustubhgupta commented on #647
Okay, Good progress!

[2021-03-21 05:47] anandhu-eng commented on #171
@kaustubhgupta @avinashkranjan can you please explain what is this about... im gssoc 21 participant and looking forward to contribute to this issue:)

[2021-03-21 05:51] kaustubhgupta commented on #56
@XZANATOL You can complete the documentation and update the PR at your pace 😃. I will review your code in PR only as I have to review a lot of PRs at the moment. I really appreciate your efforts to upload the code on but it's easier for me to suggest the changes in GitHub than the actual code on the drive 😃.

P.S: It's currently 11:20 am here and I just woke up to review PRs 😁

[2021-03-21 05:54] XZANATOL commented on #56
Well, You can take a rest from me as I'm on my way college right now :joy:
Good luck with the reviewing :D

[2021-03-21 05:56] kaustubhgupta commented on #171
The current OCR script is not very effective for tabular formats. Suppose an image has a table, then the script needs to extract the table contents and save it to CSV. You can use any approach for this

[2021-03-21 13:00] dhriti987 commented on #599
@kaustubhgupta i have made a pull request... please review it

[2021-03-21 14:35] Amit366 opened #693 "Flappy bird game"
# Aim
-- Flappy bird game using python

I will try to make it as colourful as possible and also add background music

[2021-03-21 14:37] Amit366 commented on #693
Please assign this to me

[2021-03-21 15:23] anandhu-eng commented on #171
okay... can i work on this project.... i wish to learn more about it:)

[2021-03-21 15:44] kaustubhgupta commented on #171
@anandhu-eng sure, I am assigning this to you. If you are stuck anywhere just ping me here or in the discord channel

[2021-03-21 16:12] anandhu-eng commented on #171
okay thanks:)

[2021-03-21 16:24] anandhu-eng commented on #171
@kaustubhgupta i have installed tesseract using pip command in ubuntu but unable to find the path. I have surfed the web for the same, they say its in usr/bin/tesseract, but couldn't find it. Can you please assist me.

[2021-03-21 17:07] Ayushjain2205 opened #694 "Password manager GUI"
# Aim
To provide a password manager application which can help user store passwords safely

# Details
User can manage records of all the passwords. Details like URL of website / Application name of which the password needs to be stored , username and password will be stored in a SQL database

[2021-03-21 19:18] #510 closed

[2021-03-21 19:32] ssm0801 opened #696 "Hide in Image"
# Aim

To find steganographic image.

# Details

It will find meta data of image, location of click if image is place, and check for hidden text inside image.

[2021-03-21 19:36] ssm0801 opened #697 "Morse Code"
# Aim

To encrypt and decrypt morse code.

# Details

It will encrypt the given message in morse code as well as decrypt the morse code, It will also encrypt and decrypt audio form of morse code.

[2021-03-21 22:41] #636 closed

[2021-03-21 22:42] #495 closed

[2021-03-21 22:43] #621 closed

[2021-03-21 22:43] #551 closed

[2021-03-21 22:43] #582 closed

[2021-03-21 22:44] #611 closed

[2021-03-21 22:44] #627 closed

[2021-03-21 22:44] #639 closed

[2021-03-21 22:45] #552 closed

[2021-03-21 22:45] #618 closed

[2021-03-21 22:45] #545 closed

[2021-03-21 22:46] #590 closed

[2021-03-21 22:46] #589 closed

[2021-03-21 22:46] #485 closed

[2021-03-21 22:46] #533 closed

[2021-03-21 22:47] #586 closed

[2021-03-22 02:34] santushtisharma10 commented on #693
@Amit366 assigned to you

[2021-03-22 02:39] santushtisharma10 commented on #211
@amritakesh assigned to you

[2021-03-22 02:58] santushtisharma10 commented on #694
@Ayushjain2205 go ahead, assigned to you

[2021-03-22 03:10] santushtisharma10 commented on #696
@ssm0801 this issue has been taken up by a participant earlier, so you may contribute to other issues which are `up for grab`

[2021-03-22 03:10] #696 closed

[2021-03-22 04:26] kaustubhgupta commented on #697
@ssm0801 We already have this issue taken: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/649

[2021-03-22 04:26] #697 closed

[2021-03-22 05:47] anubhav201241 commented on #657
Sir, I have made the changes that you suggested, Please inform me if any other changes are needed?

[2021-03-22 05:53] Yuvraj-kadale opened #702 "Your meeting buddy"
# Aim

This script aims to join the google meetings at a **_scheduled_** time in our absence.

# Details

- Auto joining meets in our absence.
- joining at a scheduled time.
- Complete discussion is recorded in local machine.

[2021-03-22 05:54] Yuvraj-kadale commented on #702
I would like to work on this as a part of Gssoc 21 :)

[2021-03-22 05:58] santushtisharma10 commented on #702
@Yuvraj-kadale go ahead, assigned to you

[2021-03-22 06:01] ssm0801 commented on #697
We can add audio feature in previous one

[2021-03-22 06:03] kaustubhgupta commented on #697
@ssm0801 okay then, when the previous one get merged, you can raise the issue again to improve that code.

[2021-03-22 06:23] kaustubhgupta commented on #279
@prathimacode-hub You need to make the PR today only else this will be assigned to someone else

[2021-03-22 06:24] kaustubhgupta commented on #581
@vikashkumar2020 you need to make the PR for this today only

[2021-03-22 06:27] kaustubhgupta commented on #632
@lachenlama Updates?

[2021-03-22 06:27] kaustubhgupta commented on #651
@Priya96-sketch Updates?

[2021-03-22 06:28] lachenlama commented on #632
Gonna PR today working on the readme.md file atm @kaustubhgupta

[2021-03-22 08:29] Goheljay opened #703 "GUI QR code genrator system with python"
my name is Jay Gohel.  Participate in GSSOC'21.

**Aim***
- This is GUI(Graphical User interface) based QR code generator system using python.

**Description**
- in this app, I can make GUI using Tkinter. Genrate the qrcode usinf PyPi.
- can you assign me this feature?

[2021-03-22 08:34] kaustubhgupta commented on #703
QR code will be generated for what purpose?

[2021-03-22 09:30] prathimacode-hub commented on #279
Ok @kaustubhgupta

[2021-03-22 09:58] priyanka001tech opened #704 "BRICK BREAKER GAME GUI"
**Is your feature request related to a problem? Please describe.**
brick breaker game gui based

**Additional context**
I would like to do it as a gssoc particiapnt..

[2021-03-22 12:56] kaustubhgupta commented on #704
@priyanka001tech assigned to you

[2021-03-22 13:07] ANAMIKA1410 commented on #655
def check_plagiarism():
    plagiarism_results = set()
    global s_vectors
    for student_a, text_vector_a in s_vectors:
        new_vectors =s_vectors.copy()
        current_index = new_vectors.index((student_a, text_vector_a))
        del new_vectors[current_index]
        for student_b , text_vector_b in new_vectors:
            sim_score = similarity(text_vector_a, text_vector_b)[0][1]

[2021-03-22 13:20] Subhradeep10 opened #706 "Image to speech folder"
# Aim

- To add a programme which will convert Image to speech

[2021-03-22 14:36] prathimacode-hub commented on #279
I've completed the project. I'm getting difficulty in doing PR. Do we have to create a PR or merge a PR? Can I create a PR from here or through my profile? @kaustubhgupta

[2021-03-22 14:39] kaustubhgupta commented on #279
Check out the contribution guide to get a detailed instruction for this

[2021-03-22 15:43] kaustubhgupta commented on #706
@Subhradeep10 assigned to you

[2021-03-22 16:00] sayantani11 opened #709 "Desktop Voice Assistant"
# Aim

To be able to perform basic functions on our desktop using our voice

# Details

- What the features will your script have
Will be able to perform basic functions like:
1. Sending email
2. Opening google
3. opening some app
or any other

[2021-03-22 16:49] santushtisharma10 commented on #709
@sayantani11 go ahead, assigned to you

[2021-03-22 20:42] varshith-k opened #712 "Sorting Algorithms in Python"
# Aim

- What is the objective of the Script
  To add few basic py files that has the code to sort a list.
# Details

- What the features will your script have
  It has a function(def) that has the implementation for sorting algorithms in python.

[2021-03-23 03:00] Priya96-sketch commented on #651
Yes I have uploaded the code, and it's successfully working.
Should I upload some screenshots to make it more clear?

[2021-03-23 03:37] Lakhankumawat opened #713 "🌍GPS - Track The Route"
# Description
- I have been provided with a [`CSV`](https://www.bigcommerce.com/ecommerce-answers/what-csv-file-and-what-does-it-mean-my-ecommerce-business/#:~:text=A%20CSV%20is%20a%20comma,Microsoft%20Excel%20or%20Google%20Spreadsheets.)(comma separated value) file in which the **latitudes** and **longitudes** of a specific area are written
_So_ we can track the whole route of a person by reading

[2021-03-23 03:38] Lakhankumawat commented on #713
I am willing to do it 🙂

[2021-03-23 03:58] kaustubhgupta commented on #712
@varshith-k what extra value will it add to the repo? all the sorting algorithms are already implemented in the best way possible.

[2021-03-23 04:01] kaustubhgupta commented on #713
@Lakhankumawat the location coordinates are fetched from an API or this a fixed CSV file which will not change?

[2021-03-23 04:20] sandra9711 opened #714 "Degrees of seperation"
# Aim
- Implement a modified version of six degrees from Kevin Bacon game

# Details

- The Script will find degrees of separation between two actors
- It will find the shortest path between any two actors by choosing a sequence of movies that connects them.

[2021-03-23 04:23] sandra9711 commented on #714
Please assign this issue to me. I'm a GSSOC'21 participant

[2021-03-23 04:23] #714 closed

[2021-03-23 04:27] sandra9711 opened #715 "Degrees of seperation"
# Aim

- Implement a modified version of six degrees from Kevin Bacon game

# Details

- This script will find degrees of separation between any two actors by finding the shortest path by choosing a sequence of movies that connects them.

[2021-03-23 04:28] sandra9711 commented on #715
Kindly assign this to me. I'm a gssoc'21 participant

[2021-03-23 04:52] kaustubhgupta commented on #651
You need to make a PR in this repo for us to review your code

[2021-03-23 04:58] kaustubhgupta commented on #279
@prathimacode-hub?

[2021-03-23 05:00] kaustubhgupta commented on #647
@asmita20aggarwal?

[2021-03-23 05:11] prathimacode-hub commented on #279
You can assign it to someone else. I'll learn github first. Then i will get issues assigned to me. Sorry for the delay I'm causing. @kaustubhgupta

[2021-03-23 05:22] varshith-k commented on #712
@kaustubhgupta are all sorting algorithms added to the repo?

[2021-03-23 05:29] kaustubhgupta commented on #279
No, if you have completed the code and then facing issues to make PR then I can help you from the start. We are here to get you started with this only. Let me know your decision: you want to learn how to push your code to our repo or drop this assignment?

[2021-03-23 05:29] kaustubhgupta commented on #712
Is there a need to add sorting algorithms here?

[2021-03-23 05:37] asmita20aggarwal commented on #647
@kaustubhgupta Sir my script is all done. But I was stuck on how to make the readme.md file. Is it necessary to add readme.md file along with script or I can do that later too ? Shall I make the PR ?

[2021-03-23 06:10] Lakhankumawat commented on #713
- Location coordinates are imported from a fixed CSV file that doesn't change .
 - gmplot can be used to plot these coordinates on  Google map

[2021-03-23 06:28] Goheljay commented on #703
storing employee details like employee name, id, designation, department, etc...

[2021-03-23 07:28] varshith-k commented on #712
I thought they might be useful python scripts.

[2021-03-23 07:46] kaustubhgupta commented on #712
@antrikshmisri @santushtisharma10 @Kushal997-das thoughts?

[2021-03-23 07:47] varshith-k commented on #712
It's fine you can close this issue.

[2021-03-23 08:12] Goheljay commented on #703
kindly assign me. I am gssoc participant

[2021-03-23 09:55] antrikshmisri commented on #712
@varshith-k I think you should pick up something else as there are a lot of sorting algorithms already present in the codebase

[2021-03-23 09:56] #712 closed

[2021-03-23 14:18] kaustubhgupta commented on #713
@Lakhankumawat oh okay no issues, assigned to you

[2021-03-23 16:18] Lakhankumawat commented on #211
Guys what if i make a PR corresponding to this issue before @amritakesh , will it get merged ? `Just for asking purposes i ain't doing it `

[2021-03-23 16:23] anuragmukherjee2001 opened #719 "Image Viewing GUI"
My name is Anurag Mukherjee, a participant of GSSoC'21.

# Aim

The aim of this project is to view some given images from the image gallery using a python script in graphical based interface.

# Details
The project description is given below:-
After running the code snippet, an interface will open with two buttons:- i) previous, ii)next. The GUI will fetch images from the image folder and will be

[2021-03-23 16:41] santushtisharma10 commented on #211
@Lakhankumawat only the assigned person can send the PR. If the assignee fails to submit within given time, only then you can be assigned.

[2021-03-23 16:43] sudipg4112001 opened #720 "Typing speed test"
I would like to add a python script on typing speed test.
### Details:
We have to input sentences and it would show the time taken for typing, wpm and accuracy.

[2021-03-23 18:42] Priya96-sketch commented on #651
Okay.

[2021-03-23 22:45] Ayushjain2205 opened #722 "Dictionary GUI"
# Aim

To provide a dictionary GUI in which user can search for words and can find meanings and synonyms as the result

# Details

The user is required to enter the word in a searchbox and after fetching the result the meaning and synonym of the word will get displayed

[2021-03-24 04:31] prathimacode-hub commented on #279
I want to learn to push the code. Yes.

[2021-03-24 06:18] #693 closed

[2021-03-24 06:32] priyanka001tech commented on #704
I closed the previous pull request .After completing the project I'll make an another new pull request so that you can review that one.

[2021-03-24 06:45] kaustubhgupta commented on #171
updates @anandhu-eng?

[2021-03-24 06:57] kaustubhgupta commented on #703
Kindly explain your issue in detail. How will QR code generator store employee details?

[2021-03-24 07:07] kaustubhgupta commented on #279
## Overview of the process
Whenever you want to work on any issue in any repo, after forking the repo, make a clone of that forked repo into your local system. Then create a git branch on your local system so that if you're assigned multiple issues, then you can work on them separately. Then push your changes to your forked repo and then create the PR.

## Doing this practically
- I am assuming th

[2021-03-24 07:59] Tarun-Kamboj opened #724 "Script to schedule a google meet."
# Details

- Python Script to schedule a google meet, send invitation to the respective emails and set an event for the meet in the calendar too. The script will take email ids and time as input and create a google meet for these email ids at the specified time. These email ids will also receive an invite in the gmail inbox and an event will also be created in the calendar of these email ids for t

[2021-03-24 08:01] Tarun-Kamboj commented on #724
/assign

[2021-03-24 08:04] Tarun-Kamboj commented on #724
@kaustubhgupta please assign this issue to me.

[2021-03-24 09:10] Amit366 commented on #608
@kaustubhgupta I would like to work on this issue??

[2021-03-24 09:37] A-kriti opened #725 "Negative/ghost image"
# Aim

- To apply a ghost image filter.

# Details

-  Converting an image into a Ghost image using OpenCV, Numpy and Python. Kindly assign me this issue, @avinashkranjan Sir.

[2021-03-24 09:44] A-kriti opened #726 "Mini Google Assistant"
# Aim

- To build a mini google assistant.

# Details

- A mini google assistant using some python libraries. Kindly assign me this issue, @avinashkranjan Sir.

[2021-03-24 10:11] pankaj892 opened #727 "Battery percentage notification"
# Aim
This script aims to show the current battery left out

- What is the objective of the Script
- Objective of the Script is to show battery percentage after every 60 mins and notify the user about remaining battery

# Details

- The script will use some python libraries and python code to achieve this.

I would like to work on this please assign me @avinashkranjan

[2021-03-24 10:44] Amit366 commented on #581
@kaustubhgupta can I work on this issue??

[2021-03-24 10:47] kaustubhgupta commented on #608
@Amit366 assigned to you

[2021-03-24 10:48] kaustubhgupta commented on #581
@Amit366 assigned

[2021-03-24 10:52] Amit366 commented on #608
@kaustubhgupta I have a doubt. Like you said to display the text in different files so I tried the code which you suggested above but only one file is created.

[2021-03-24 10:52] Amit366 commented on #608
Could you please help me??

[2021-03-24 10:57] Amit366 commented on #608
![Screenshot (125)](https://user-images.githubusercontent.com/60662775/112299464-d4b0db80-8cbd-11eb-982f-0d66d72e5ccc.png)

[2021-03-24 12:19] zaverisanya opened #729 "Hindi Text POS tagging"
# Aim

To remove all the POS tags from hindi text file using python script and domain NLP.

# Details

To have a separate hindi text file without POS tags.

@avinashkranjan @kaustubhgupta   I am a GSSoC'21 participant and I think this is an interesting python script of NLP domain. Kindly allow me to work on this issue and contribute to this project!

[2021-03-24 13:01] santushtisharma10 commented on #725
@A-kriti assigned to you

[2021-03-24 13:06] santushtisharma10 commented on #726
@A-kriti go ahead, assigned to you

[2021-03-24 13:07] santushtisharma10 commented on #727
@pankaj892 assigned to you

[2021-03-24 15:09] rupal121 opened #730 "Want to add joke features to this project using pyjokes library"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

[2021-03-24 15:19] Ratnesh4193 opened #731 "Simple Music Player GUI"
# Aim

- Created a Simple Music Player using Tkinter and Pygame

Kindly assign me this issue, @avinashkranjan Sir
![Capture](https://user-images.githubusercontent.com/57043581/112335624-67637180-8ce2-11eb-97c6-1a88f6b9497f.JPG)
.

[2021-03-24 15:27] rupal121 opened #732 "Want to add wikipedia features to this project."
**Is your feature request related to a problem? Please describe.**
No it's not related to the problem, it is just the addition of the new feature.

**Describe the solution you'd like**
Wikipedia features will help the users to search about various things they want like google search.

**Describe alternatives you've considered**
I will use the Wikipedia library for this.

[2021-03-24 16:26] Goheljay commented on #703
- I make four fields where entering employee details like employee ID, name, Designation, Department. after you can click on the "QR Code generate" Button then generate the QR code. after converting those QR codes into IMG and store in another IMG folder.

- this project completely made using core python, Tkinter.

[2021-03-24 16:32] anandhu-eng commented on #171
Im working on it....just figured how to execute it... we are having sem exam next week that's y im going little bit slow @kaustubhgupta

[2021-03-24 18:04] dhriti987 commented on #720
i want to work on this

[2021-03-25 04:23] kaustubhgupta commented on #211
@amritakesh Updates?

[2021-03-25 04:24] kaustubhgupta commented on #651
@Priya96-sketch?

[2021-03-25 04:25] kaustubhgupta commented on #703
QR code will store information about what? What will happen when someone scans the QR code

[2021-03-25 04:27] kaustubhgupta commented on #729
@zaverisanya assigned to you

[2021-03-25 04:29] kaustubhgupta commented on #730
@rupal121 What exactly you want to implement?

[2021-03-25 04:32] kaustubhgupta commented on #731
@Ratnesh4193 We already have a Music Player GUI app: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Music-Player-App

[2021-03-25 04:32] #731 closed

[2021-03-25 04:34] kaustubhgupta commented on #732
@rupal121 We already have an approved PR for this: #683

[2021-03-25 04:34] #732 closed

[2021-03-25 04:42] #588 closed

[2021-03-25 05:24] #715 closed

[2021-03-25 05:36] Goheljay commented on #703
when someone does a scan QR code, then the detail of the employee who entered it will be displayed.

[2021-03-25 05:39] kaustubhgupta commented on #703
@Goheljay Okay, assigned to you

[2021-03-25 08:19] #657 closed

[2021-03-25 08:56] #594 closed

[2021-03-25 09:25] #722 closed

[2021-03-25 10:23] #679 closed

[2021-03-25 10:53] Ratnesh4193 opened #738 "Python Tkinter Minesweeper"
**Is your feature request related to a problem? Please describe.**

Minesweeper game written in Python using Tkinter GUI library.

@avinashkranjan @kaustubhgupta I am a GSSoC'21 participant .Kindly assign this issue to me.

   ![mine](https://user-images.githubusercontent.com/57043581/112461814-52d8b500-8d86-11eb-9b84-5dd7020de6c3.png)

[2021-03-25 11:11] kaustubhgupta commented on #738
@Ratnesh4193 If you are thinking of adding this script: https://github.com/ripexz/python-tkinter-minesweeper

Then kindly DO NOT.

@santushtisharma10 Early detection!  😄😄

[2021-03-25 11:19] PriyanshuChatterjee opened #739 "Color Game using Tkinter"
### Aim
To make a tricky and interesting Color game using Tkinter with a GUI.

### Details
In this game, the player has to enter the color of the word that appears on the screen. he game uses a variety of colors such as Red, Blue, Green, Pink, Black, Yellow, Orange, White, Purple, and Brown. These colors are interchangeably displayed to trick the player’s mind. The graphical user interface (GUI) w

[2021-03-25 11:23] santushtisharma10 commented on #739
@PriyanshuChatterjee assigned to you

[2021-03-25 11:47] dhriti987 commented on #720
@kaustubhgupta is this issue closed?

[2021-03-25 11:48] kaustubhgupta commented on #720
Nope, you can start working on this

[2021-03-25 13:50] Ratnesh4193 commented on #738
I have not made this application yet so i just took the preview image.
I will not copy and paste code.

[2021-03-25 15:43] dhriti987 commented on #720
@kaustubhgupta  ok I will start working on this tomorrow.... Deadline for this?

[2021-03-25 16:12] mehabhalodiya opened #740 "Weight Converter GUI"
# Aim

- Program to design a GUI based application using tkinter, to convert weights in kg to other units.

# Details

- I will create a GUI based weight converter that accepts a kilogram input value and converts that value to Carat, Gram, Ounce, Pound, Quintal and Tonne (in decreasing order) when the user clicks the Convert button.

[2021-03-25 16:13] mehabhalodiya commented on #740
I would like to work on this under GSSOC'21.

[2021-03-25 17:47] Ratnesh4193 commented on #738
@kaustubhgupta  can i work on it

[2021-03-25 20:18] #647 closed

[2021-03-25 20:20] #655 closed

[2021-03-25 20:21] #677 closed

[2021-03-25 20:21] #649 closed

[2021-03-25 20:21] #56 closed

[2021-03-25 20:22] #599 closed

[2021-03-25 20:22] #671 closed

[2021-03-25 20:22] #668 closed

[2021-03-25 20:23] #450 closed

[2021-03-25 20:24] #629 closed

[2021-03-25 20:24] #602 closed

[2021-03-25 20:25] #327 closed

[2021-03-25 20:25] #18 closed

[2021-03-25 21:46] aishwaryachand opened #741 "Stopwatch GUI"
# Aim
I would like to work create a  stopwatch GUI

# Details

I will create a stopwatch GUI  with tkinter , it will have a start /stop button

Pls assign me this issue

[2021-03-26 00:08] amrzaki2000 commented on #321
@kaustubhgupta @avinashkranjan
Hello,
I'm so sorry for late pull request.
My spring semester began last Sunday and I was so busy and distracted. I'm sorry again.
Thank you

[2021-03-26 05:01] kaustubhgupta commented on #171
@anandhu-eng updates?

[2021-03-26 05:03] kaustubhgupta commented on #279
@prathimacode-hub After this much effort, you didn't bother to try this and therefore, I have no choice but to unassign this issue

[2021-03-26 05:04] #465 closed

[2021-03-26 05:08] prathimacode-hub commented on #279
@kaustubhgupta I had power issues at my place. Due to which I wasn't available here.

[2021-03-26 05:37] #604 closed

[2021-03-26 05:38] kaustubhgupta commented on #651
@Priya96-sketch WIll you make the PR today?

[2021-03-26 05:42] kaustubhgupta commented on #709
@sayantani11 updates on this?

[2021-03-26 05:42] kaustubhgupta commented on #713
@Lakhankumawat updates on this?

[2021-03-26 05:43] kaustubhgupta commented on #719
@anuragmukherjee2001 updates on this?

[2021-03-26 05:43] kaustubhgupta commented on #720
total 7 days, I will ask for updates on 3rd day

[2021-03-26 05:50] kaustubhgupta commented on #741
@aishwaryachand We already have a similar issue for this (Alarm Clock #600). If that assigned person fails to make the correct PR, then I will assign that issue to you

[2021-03-26 06:11] #632 closed

[2021-03-26 06:19] ricsin23 opened #744 "Codes On Turtle Graphics"
Design several figures using Turtle Graphics in Python.

I am a participant at GSSOC'21, requesting admins to assign me this issue.

[2021-03-26 06:20] sayantani11 commented on #709
@kaustubhgupta I am stuck at a point where I am unable to install PyAudio..... I will fix it today with @santushtisharma10

[2021-03-26 07:10] kaustubhgupta commented on #744
@ricsin23 Please define thesefigures. How many figures you are going to implement in Turtle?

[2021-03-26 07:11] kaustubhgupta commented on #744
@ricsin23 Please define these several figures. How many figures you are going to contribute?

[2021-03-26 07:18] kaustubhgupta commented on #709
did you found any alternative for PyAudio?

[2021-03-26 07:24] kaustubhgupta commented on #738
@Ratnesh4193 if you can develop the code and logic of the game on your own without changing variable names and restructuring the code, then I can assign this issue

[2021-03-26 08:06] Sibasish-Padhy commented on #607
hi @kaustubhgupta i am a gssoc participant 2021 and I want to contribute to this issue can u assign me this task

[2021-03-26 11:05] ricsin23 commented on #744
Hello Sir, Basically I want to design two figures, one is a Kaleido spiral and another one is an animated robot.

[2021-03-26 13:38] Yuvraj-kadale opened #748 "Typo in contributions guidelines-Step 5"
**Describe the bug**
There is a command mistake in the step 5 to commit a message. The closing quotes are missing in the message command.
This must be corrected as few of them are newbies to open source. And some of them Copy pastes :)

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll down to step 5 in [contributions guidelines](https://github.com/avinashkranjan/Amazing-Python-Scripts/b

[2021-03-26 13:55] Sibasish-Padhy commented on #607
thank you @kaustubhgupta can u gimme the deadline to submit the pr??

[2021-03-26 14:08] soha28 opened #749 "Alarm Clock using python"
**AIM :**
To implement an alarm clock using python.

**DETAILS :**
Using  datetime and tkinter libraries the project will be created . It uses current date and time as well as provides a user interface to set the alarm according to the requirement in 24-hour format.

[2021-03-26 14:09] soha28 commented on #749
@avinashkranjan I want to work on this project under GSSOC'21. Please assign this to me.

[2021-03-26 14:53] aishwaryachand commented on #546
Hey is it possible that I can get reassigned to this issue? As mentioned earlier, I was stuck with the bugs, so I didn't update the code, but now I have solved them.
Here is the link to the updated image
[Centre-Text.png](https://postimg.cc/TKt0LLnZ)
[Top-Left.png](https://postimg.cc/G9ynrrvF)
If assigned I will make PR asap

[2021-03-26 15:24] santushtisharma10 commented on #749
@soha28 we already have an issue of alarm clock (#600)

[2021-03-26 15:24] #749 closed

[2021-03-26 16:05] anuragmukherjee2001 commented on #719
@kaustubhgupta I created a pull request on this script. Please check the PR.

[2021-03-26 17:01] sayantani11 commented on #709
Yes....I guess I will be able to push the code within a day or two
@kaustubhgupta

[2021-03-27 02:40] Ratnesh4193 commented on #738
okk sure .Should i create an issue for the same or send my code here when completed??@kaustubhgupta

[2021-03-27 04:28] kaustubhgupta commented on #171
@anandhu-eng you need to make the PR today only else this issue will be assigned to someone else

[2021-03-27 04:29] kaustubhgupta commented on #211
@amritakesh are you working on this issue?

[2021-03-27 04:30] kaustubhgupta commented on #546
@aishwaryachand okay, re-assigned this issue

[2021-03-27 04:31] kaustubhgupta commented on #607
@Sibasish-Padhy 7 days from the day of the assignment. I will ping you on 3rd day for updates

[2021-03-27 04:33] kaustubhgupta commented on #724
@Tarun-Kamboj updates?

[2021-03-27 05:04] kaustubhgupta commented on #738
@Ratnesh4193 I am assigning this issue to you. Now you can work on the code and make the PR within 7 days from now

[2021-03-27 05:15] kaustubhgupta commented on #744
@ricsin23 okay, assigned to you. Make sure to create separate files for patterns

[2021-03-27 05:47] Lakhankumawat commented on #713
A PR is created yesterday only .🙂

[2021-03-27 05:57] Tarun-Kamboj commented on #724
So the script and documentation is ready. Just need to add the folder in the repo and push the changes. Will do it today.

[2021-03-27 06:23] kaustubhgupta opened #752 "Scrap YouTube Trending Section"
# Details
Come up with a script that stores the title of the video, youtube channel name, number of likes, dislikes, views, no of comments, date of publishing, description of the video (if possible) in a suitable database.

Create another script to fetch that database. Refer to this script for database fetching and displaying:  [Tweet Fetcher](https://github.com/avinashkranjan/Amazing-Python-Scrip

[2021-03-27 06:29] kaustubhgupta opened #753 "LeetCode Scrapper"
# Details

Come up with a script that scraps `n` number of problems from `any category/difficulty` provided by the user and store all the `n` problems separately in PDFs. The PDF file should contain the problem title, statement, and test cases.

User Input: `n` and `category/difficulty` of problem
Expected Output: `n` PDF files

[2021-03-27 06:31] kaustubhgupta opened #754 "CodeChef Scrapper"
# Details

Come up with a script that scraps `n` number of problems from `any category/difficulty` provided by the user and stores all the `n` problems separately in PDFs. The PDF file should contain the problem title, statement, and test cases.

User Input: `n` and `category/difficulty` of the problem
Expected Output: `n` PDF files

[2021-03-27 06:42] kaustubhgupta opened #755 "Dev.to Scrapper"
# Details

Come up with a script that scraps `n` number of articles from `any category` such as Python, JS, Android provided by the user and stores all the `n` articles separately in PDFs. The PDF file should contain the title, article content, and author-name

User Input: `n` and `category`
Expected Output: n PDF files

[2021-03-27 07:09] Priyadarshan2000 opened #756 "Minecraft Game Using ursina Game engine"
# Aim

To make a Minecraft  Game Using ursina Game engine, Python Scripts & Blender.

# Details

In this game, Minecraft demo builds with help of ursina game engine, python  Scripts and blender. In this game the player can move around and can build four different kinds of block-like Minecraft and can also destroy them while the game is on the player can listen to music and as soon as a block is de

[2021-03-27 08:39] XZANATOL commented on #752
Should the database be like a real one? (using SQL or MongoDB) or using a CSV file will do the job?

[2021-03-27 08:46] kaustubhgupta commented on #752
Actually, I want to upscale the issue-level:
CSV: level2
SQL/Mongo: level3

let me know your preference if you're interested to contibute

[2021-03-27 08:52] XZANATOL commented on #752
Nice, I'm going to learn MongoDB right now. :joy: and yea, I would like to contribute to this one.

[2021-03-27 08:54] kaustubhgupta commented on #752
@XZANATOL Cool 😛, assigned to you

[2021-03-27 09:07] smriti26raina commented on #754
Can you please assign this issue to me? I'm a participant of GSSOC'21.

[2021-03-27 09:22] Tarun-Kamboj commented on #724
Created a PR @kaustubhgupta, please review.

[2021-03-27 10:08] kaustubhgupta commented on #754
@smriti26raina assigned to you

[2021-03-27 10:10] kaustubhgupta commented on #756
@Priyadarshan2000 this is a standalone project and beyond the scope of this repo

[2021-03-27 10:10] kaustubhgupta commented on #756
@antrikshmisri @santushtisharma10 thoughts?

[2021-03-27 10:11] kaustubhgupta commented on #730
@rupal121 ?

[2021-03-27 10:31] raks924 commented on #748
can i work on this?

[2021-03-27 10:47] mehabhalodiya commented on #753
I would like to work on this.

[2021-03-27 10:53] Goheljay commented on #703
@kaustubhgupta I have submitted my PR. Please check it out.

[2021-03-27 10:53] kaustubhgupta commented on #753
@mehabhalodiya assigned to you

[2021-03-27 11:20] antrikshmisri commented on #756
@kaustubhgupta I agree and I think a blender build is also needed for this to run.

[2021-03-27 13:23] #756 closed

[2021-03-27 14:29] Amit366 commented on #279
@kaustubhgupta can I work on this issue??

[2021-03-27 14:33] Amit366 commented on #651
@kaustubhgupta can I work??

[2021-03-27 15:08] Priyadarshan2000 opened #762 "Notepad using Tkinter"
# Aim

To make a Notepad Application using Tkinter with a GUI.

# Details

In this Project, I will deploy a Notepad Application with the help of the Tkinter module. In this application, we can save our work in any file format. many types of font available,  and increase your font size. All types of notepad functionality in this application. we can bold, italic, underline, strikethrough in this app

[2021-03-27 16:10] anuragmukherjee2001 opened #763 "Google browser Clone"
I am Anurag Mukherjee, a participant of GSSoC'21.
# Aim

The aim of the script is to make a google browser clone with the help of PyQt5 module in python.

# Details
The browser will contain all the basic functionalities that a browser should have. It has a home button which takes the browser directly to the home page, a back button, which takes to the previous URL, a forward button, and a reload b

[2021-03-27 16:54] #508 closed

[2021-03-27 16:55] #675 closed

[2021-03-27 16:55] #685 closed

[2021-03-27 16:56] #702 closed

[2021-03-27 20:35] Ayushjain2205 commented on #755
@kaustubhgupta  I would like to work on this, can you please assign it to me

[2021-03-28 03:01] kaustubhgupta commented on #600
@Anupreetadas issue closed

[2021-03-28 03:01] #600 closed

[2021-03-28 03:02] kaustubhgupta commented on #741
Are you interested in working on this issue now? The other person failed to make the right PR

[2021-03-28 03:03] kaustubhgupta commented on #651
Yes, assigned to you

[2021-03-28 03:07] #625 closed

[2021-03-28 03:08] kaustubhgupta commented on #704
@priyanka001tech updates on this?

[2021-03-28 03:10] kaustubhgupta commented on #726
@A-kriti updates on this?

[2021-03-28 03:10] #730 closed

[2021-03-28 03:11] kaustubhgupta commented on #755
@Ayushjain2205 sure!

[2021-03-28 03:12] kaustubhgupta commented on #762
@Priyadarshan2000 we already have an implementation here: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Simple%20Notepad

[2021-03-28 03:12] #762 closed

[2021-03-28 03:13] kaustubhgupta commented on #763
We already have an implementation for this: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Broswer

[2021-03-28 03:13] #763 closed

[2021-03-28 04:20] Sibasish-Padhy commented on #607
sir I have searched for the implementation of the project from some sources,one of them being a simple implementation of spotdl in google collab and nothing more,although I have to do it in pycharm can doing it in collab is allowable?if not,then I ain't able to understand how to put together the script as this is my first time i have forked my repo and cloned it to my local machine.now a bit of mo

[2021-03-28 04:24] kaustubhgupta commented on #607
@Sibasish-Padhy look at this closed PR, maybe you can fix this code: https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/688

[2021-03-28 04:29] Sibasish-Padhy commented on #607
okay sir thank you

[2021-03-28 06:28] Priyadarshan2000 opened #764 "Simple Python IDE using Tkinter"
# Aim

To make a Simple  Python IDE using Tkinter with a GUI.

# Details
In this project, I will deploy a simple  Python IDE application with the help of the Tkinter module. This application just like a python IDE. we can save our code and run this IDE. we can open our exciting Project in this IDE.

@avinashkranjan I am a GSSoC'21 participant and I think this is an interesting python script of the

[2021-03-28 08:10] santushtisharma10 commented on #764
@Priyadarshan2000 assigned to you

[2021-03-28 08:54] Priyadarshan2000 commented on #764
@santushtisharma10 you added a label:enhancement . I didn't get which particularly which enhancement you talked about

[2021-03-28 08:59] santushtisharma10 commented on #764
@Priyadarshan2000 it means it is a new feature to repository

[2021-03-28 09:17] Amit366 commented on #706
@kaustubhgupta can I work ??

[2021-03-28 09:33] mehabhalodiya commented on #753
Sorry, I don't feel to do this right now! You can assign it to the next person.

[2021-03-28 09:51] aishwaryachand commented on #741
Yes, sure I would like to work on this issue.

[2021-03-28 16:59] Srijan-dixit opened #767 "PDF To AudioBook"
# Aim
- To make a Simple Python script that can convert a pdf into a audiobook.

# Details

- In this project i will be using pyttsx3 which is a text-to-speech conversion library and PyPDF2 which is a library built as a PDF toolkit. With the help of both libraries I will convert a particular PDF into an Audiobook.

@avinashkranjan I am a GSSoC'21 participant and I think this is an interesting pyth

[2021-03-28 17:00] #767 closed

[2021-03-28 17:01] Srijan-dixit commented on #767
Sorry for the inconvenience I just saw it was already created.

[2021-03-28 17:19] Srijan-dixit opened #768 "Tic Tac Toe game with GUI using Pygame in Python"
# Aim

- To make Tic Tac Toe using pygame
-
# Details

- The game will be having a GUI with a single player and multiplayer feature.

@avinashkranjan I am a GSSoC'21 participant and I think this is an interesting python script. Kindly allow me to work on this issue and contribute to this project!

[2021-03-28 17:22] Yuvraj-kadale opened #769 "Smart Calcy"
# Aim

Came across [Calculator](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Calculator) and [Calculator GUI](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Calculator-GUI) thought to add a Smart calcy to it.
The aim is to have a python script that creates a Smart GUI calculator that can read English and perform the mathematical task given or simple wo

[2021-03-28 17:59] Arnab11917676 opened #770 "Personal Assistant Desktop Application"
# Aim

Personal Assistant using pyttsx3 in Python

# Details

In this project, I will add as much feature as possible which makes the application as much relatable as to a real PA.
In this application, the user can send email using only his voice, use scientific calculation search chrome, Wikipedia or youtube just by speaking to it. The application will be capable to open different desktop applica

[2021-03-28 19:11] Nikita0509 commented on #744
can i work on this issue
I'm a GSSO'21 participant @kaustubhgupta

[2021-03-28 19:12] Nikita0509 commented on #744
can i also work on this issue @kaustubhgupta  ?
I'm a GSSO'21 participant

[2021-03-29 02:54] kaustubhgupta commented on #770
@Arnab11917676 We already have some issues underway that will implement the same. One of them being https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/726

[2021-03-29 02:57] kaustubhgupta commented on #720
@dhriti987 updates?

[2021-03-29 02:59] kaustubhgupta commented on #744
@Nikita0509 issues are assigned on first come first basis. If @ricsin23 fails to make the PR on time, then it can be assigned to you

[2021-03-29 05:17] Arnab11917676 opened #771 "Cryptocurrency Wallet"
# Aim
Cryptocurrency Wallet using Python and Cryptography Concepts

# Details

In this program, I will be building a program that can perform the whole process of mining a  block, generating private and public keys along with keeping tracks of its peers, and is capable of dynamically stabilizing the difficulty of the block according to the time requirements and can also transact the transaction an

[2021-03-29 07:06] dhriti987 commented on #720
it will be finished by day after tomorrow ......  by the way what you suggest I should make UI with Tkinter or pygame or anything else?

[2021-03-29 07:47] kaustubhgupta commented on #720
Tkinter is a Good option. You can also checkout PyQt5 or if you want to explore completely different framework, then you can check kivy.

[2021-03-29 11:50] #770 closed

[2021-03-29 17:48] AdhilUsman commented on #444
is this still open ? can i work on it ?

[2021-03-29 20:13] AshuKV commented on #753
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-29 21:39] a7medayman6 commented on #321
Hello,
I'd like to work on this issue if it still open, I'm a GSSOC'21 participant.
Also can I start with a cmd script and push the code then work on the GUI if I could ?

[2021-03-30 04:22] kaustubhgupta commented on #321
Hi @a7medayman6,
This issue is already assigned, the particular PR was made and approved too. Unfortunately, the CLI version is also implemented a few weeks ago.

[2021-03-30 04:23] kaustubhgupta commented on #753
@AshuKV Assigned to you

[2021-03-30 04:24] kaustubhgupta commented on #444
yes, assigned to you @AdhilUsman

[2021-03-30 04:26] kaustubhgupta commented on #704
@priyanka001tech you need to make the PR today itself

[2021-03-30 04:28] kaustubhgupta commented on #738
@Ratnesh4193 updates?

[2021-03-30 04:29] kaustubhgupta commented on #752
@XZANATOL updates?

[2021-03-30 05:06] Shubhrima opened #778 "Create a Country Guessing Game"
# Aim

-Create a game with a blank world map, that allows players to add countries to it. With every correct guess, the player earns a point.

# Details

-
![image](https://user-images.githubusercontent.com/68013183/112933423-6fd20700-913d-11eb-8753-920827704d92.png)

[2021-03-30 06:06] XZANATOL commented on #752
Already finished the scraping part but figuring out a way to use MongoEngine

[2021-03-30 06:11] Ratnesh4193 commented on #738
I am taking help from some of youtube tuturials .
Have some logical bugs , will make pr within 2 days

[2021-03-30 06:28] noobkid2411 opened #779 "EXPENSE TRACKER USING Tkinter GUI"
Aim:
The project would aim to create an app to keep a record of daily expenses and stocks in a proper format so that the user can analyze all the expenditures efficiently ,correctly and manage the funds in a better manner.

Details:

- The app would prompt the user to enter date of the expenditure which will be stored .
-Again the app would prompt the user for a name and other expense details .
-O

[2021-03-30 07:23] Lakhankumawat commented on #211
## I m ready to grab it up

- I will be using [`Pandas library`](https://pandas.pydata.org/about/)
- I will be using [`NLTK`](https://www.nltk.org/)

If mentors are good to go with that than  please let me know asap

[2021-03-30 07:41] Lakhankumawat opened #780 "💬WhatsApp Chats Automation"
# Description
1. We can automate our whatsApp through python script i.e we can send message to anyone in our contact through py program .
2. We can spam any group or private chat with person easily by using whatsApp automation .
3. It gives the idea how the chating works in whatsApp .

# Details
1. It can be done using Selenium<details>Selenium is a powerful tool for controlling web browsers throu

[2021-03-30 07:42] Lakhankumawat commented on #780
If it seems good .<br>
Then i am ready to grab

[2021-03-30 08:01] anuragmukherjee2001 opened #781 "Creating an Alarm clock."
My name is Anurag Mukherjee, a participant of GSSoC'21.
# Aim

The aim of this script is to create an Alarm clock.

# Details

This is not a GUI script. My script will have the following features:-
Firstly, script will ask the date. Then the script will ask the time of the alarm. When the time will be matched with the time of the system, the alarm sound will be played.

## Modules will be used:-
1

[2021-03-30 08:03] santushtisharma10 commented on #778
@Shubhrima go ahead, assigned to you

[2021-03-30 08:08] santushtisharma10 commented on #779
@noobkid2411 assigned to you

[2021-03-30 08:10] priyanka001tech commented on #704
I'm working on this..
I need 2 more days to complete it

[2021-03-30 08:19] santushtisharma10 commented on #780
@Lakhankumawat we already have [project](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Whatsapp-Automation) related to whatsapp automation using selenium in the repository

[2021-03-30 08:19] #780 closed

[2021-03-30 14:14] a7medayman6 commented on #321
@kaustubhgupta  Okay thank you.

[2021-03-30 14:24] kaustubhgupta commented on #211
@Lakhankumawat Nope, this issue already states that you cannot use any external library

[2021-03-30 14:26] kaustubhgupta commented on #781
@anuragmukherjee2001 this issue is already in progress

[2021-03-30 14:26] #781 closed

[2021-03-30 16:04] anuragmukherjee2001 opened #783 "Space War Game"
My name is Anurag Mukherjee, a participant of GSSoC'21.

# Aim

A space war game made purely with python.

# Details

Rules and features of the game:

  1) There is a Spaceship, which is the main hero of the game.
  2) You can control the hero using the left and right arrow keys in your keyboard.
  3) Press space bar to shoot the enemies.
  4) Each time you shoot an enemy, your score will increase

[2021-03-30 18:13] #769 closed

[2021-03-30 18:14] #748 closed

[2021-03-30 18:15] #729 closed

[2021-03-30 18:15] #740 closed

[2021-03-30 18:16] #321 closed

[2021-03-30 18:17] #608 closed

[2021-03-30 18:49] dhriti987 commented on #720
I am going with Tkinter...  for sentences should i use text file or another python file?

[2021-03-30 21:39] XZANATOL commented on #752
Update: I'm mostly done with the script, but noticed a small error with the scrap algorithm causing the order disort of some cells. I'm trying another scrap approach right now, once I finish I'll make the PR.

[2021-03-31 03:53] #131 closed

[2021-03-31 03:58] #290 closed

[2021-03-31 04:01] kaustubhgupta commented on #607
@Sibasish-Padhy updates?

[2021-03-31 04:02] kaustubhgupta commented on #706
@Amit366 updates?

[2021-03-31 04:03] kaustubhgupta commented on #720
text file

[2021-03-31 04:03] Amit366 commented on #706
@kaustubhgupta by tomorrow I will send the PR

[2021-03-31 04:03] kaustubhgupta commented on #726
@A-kriti you need to make the PR today itself else it will be assigned to someone else

[2021-03-31 04:04] kaustubhgupta commented on #706
@Amit366 Cool

[2021-03-31 04:06] kaustubhgupta commented on #752
@XZANATOL Cool 😀

[2021-03-31 04:12] kaustubhgupta commented on #783
@anuragmukherjee2001 aaasigned to you

[2021-03-31 04:28] A-kriti commented on #726
@kaustubhgupta I am still working but I'll try to make a pr today!

[2021-03-31 07:27] mehabhalodiya opened #787 "Age Calculator GUI"
# Aim

- In this age calculator app, users can type in their date of birth, and the app will calculate and display their age.

# Details

- Modules required: tkinter, datetime

Steps to create:

1. We will ask the user to enter the name and date of birth.
2. Then we will get that information from the entry widgets and will calculate the user’s age.
3. At last, we will show the user’s age with the

[2021-03-31 07:28] mehabhalodiya commented on #787
I would like to work on this under GSSOC'21.

[2021-03-31 10:56] MayankkumarTank opened #790 "Audio Steganography"
# Aim

- In Audio Steganography,
-  Encoder: the user is requested to upload an audio file and also a secret message that he wants to hide in that audio file.
- Decoder: the user will provide the encoded audio file which has secret code inside that file and the output of the script will extract the secret message from that and provide that secret message to the user.

# Details

- I want to implem

[2021-03-31 12:16] Sibasish-Padhy commented on #607
sir working on it ....but the code's working absolutely fine on my laptop(the code you assigned me for fixing) so what shall i do now? can you please help!!!

[2021-03-31 14:39] dhriti987 commented on #720
it's finished
![Screenshot (18)](https://user-images.githubusercontent.com/70242680/113162393-e44f9780-925c-11eb-8d28-1d9cb6d7018f.png)
need any changes?

[2021-03-31 15:14] Amit366 commented on #512
@kaustubhgupta since I have no more pending issues can I start working???

[2021-03-31 16:29] AdhilUsman commented on #444
I have been working on solving the above stated issue but it seems like there is a logical error in the code. Correct me if i am wrong. 2+2 gives 4 but 4+2 gives 4 itself and 4+3 gives 6.
![error](https://user-images.githubusercontent.com/67159195/113178606-5f6c7a00-926c-11eb-9fa2-57caee8c5351.PNG)

[2021-03-31 18:10] Yuvraj-kadale opened #793 "Hangman on terminal"
# Aim

- This will be a python script that can be used to play hangman on terminal. Unlike the one present right now. This script will be completely made importing single module "random".

# Details

The Script will have following feature
- Terminal art
![image](https://user-images.githubusercontent.com/43489758/113190683-39e66d00-927a-11eb-85ea-5b84627abcff.png)
- Customizable words
- Complete ga

[2021-03-31 18:20] Yuvraj-kadale commented on #686
I would like to give this a try @kaustubhgupta

[2021-03-31 20:36] #581 closed

[2021-03-31 20:37] #764 closed

[2021-03-31 21:21] amrzaki2000 commented on #512
@kaustubhgupta Can I work on this ?

[2021-04-01 04:25] Lakhankumawat opened #794 "⭕❌ TicTacToe GUI"
# Aim
- TicTacToe implemented using GUI
- Two players game
- Interactive and more playful

# Details
- Libraries to be used **numpy** , **pygames** and **sys**

[2021-04-01 04:25] Lakhankumawat commented on #794
`I` m ready to grab it .

[2021-04-01 05:14] kaustubhgupta commented on #444
@AdhilUsman I think the code is not fixable plus we already got a smart calculator PR merged which handles more cases than this. I think if you can rebuild this whole code then only work on this else I will close this issue. Let me know your decision

[2021-04-01 05:14] kaustubhgupta commented on #512
@amrzaki2000 sure!

[2021-04-01 05:15] Amit366 commented on #512
@kaustubhgupta I asked for the issue first.

[2021-04-01 05:16] kaustubhgupta commented on #512
Apologies @Amit366 for seeing this message late! That's why I unassigned @amrzaki2000 as soon as I saw your message above

[2021-04-01 05:21] kaustubhgupta commented on #607
@Sibasish-Padhy That code has been copied from the documentation and that's why it was marked as plag. Your task is to implement it in your own way

[2021-04-01 05:21] kaustubhgupta commented on #686
@Yuvraj-kadale Sure!

[2021-04-01 05:25] kaustubhgupta commented on #704
@priyanka001tech Today is the last day for this

[2021-04-01 05:26] kaustubhgupta commented on #720
@dhriti987 Make the PR and then only I can review the cord and suggest changed (if needed)

[2021-04-01 05:27] kaustubhgupta commented on #726
@A-kriti today is last date for this

[2021-04-01 05:28] kaustubhgupta commented on #741
@aishwaryachand updates?

[2021-04-01 05:28] kaustubhgupta commented on #754
@smriti26raina updates?

[2021-04-01 05:28] kaustubhgupta commented on #755
@Ayushjain2205 updates?

[2021-04-01 05:31] kaustubhgupta commented on #794
https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/768

Issue already assigned

[2021-04-01 05:31] #794 closed

[2021-04-01 05:32] kaustubhgupta commented on #768
@Srijan-dixit updates?

[2021-04-01 05:34] kaustubhgupta commented on #771
@Arnab11917676 updates?

[2021-04-01 05:39] Arnab11917676 commented on #771
Yes sir, I will be uploading all the details within 6pm

[2021-04-01 05:53] smriti26raina commented on #754
@kaustubhgupta Almost done.

[2021-04-01 06:35] dhriti987 commented on #720
i have just included 10 sentences is it ok?

[2021-04-01 06:56] Lakhankumawat commented on #768
Please assign me  @kaustubhgupta  sir , whenever you thought like it to up for grab.

[2021-04-01 07:47] dhriti987 commented on #720
@kaustubhgupta  review it

[2021-04-01 08:19] Srijan-dixit commented on #768
I have completed the script i was going to make the PR today. I am having classes from 8 am to 4 pm. I'll  make it after that.

[2021-04-01 09:00] aishwaryachand commented on #741
I will surely make a PR by today .

[2021-04-01 09:58] Sibasish-Padhy commented on #607
okay sir will try to submit by sunday @kaustubhgupta thank you

[2021-04-01 10:17] Arnab11917676 commented on #755
Hello @Ayushjain2205 may I take over this project

[2021-04-01 10:22] Arnab11917676 commented on #726
@kaustubhgupta  sir can I take over this project...I have a working prototype ready for this project and I can make a PR today only...

[2021-04-01 11:23] kaustubhgupta commented on #607
You need to submit PR within 3 days(till sunday), after that  the issue will be assigned to someone else

[2021-04-01 11:27] kaustubhgupta commented on #726
As today is her last day, let her take the time.

[2021-04-01 11:30] Lakhankumawat commented on #279
- I can actively complete it within a week @kaustubhgupta sir without any delays ,you can assign me .

[2021-04-01 11:36] kaustubhgupta commented on #279
@Lakhankumawat As @Amit366 has commented earlier (which for some reason I didn't saw the message earlier), this issue will be assigned to @Amit366

[2021-04-01 11:37] Lakhankumawat commented on #279
O okay First Come First Serve 😅

[2021-04-01 11:40] Ayushjain2205 commented on #755
@kaustubhgupta  working on it will be done by tomorrow end of day

[2021-04-01 11:54] amrzaki2000 commented on #512
Sorry
I did not see it too

[2021-04-01 13:39] Arnab11917676 commented on #771
@kaustubhgupta sir please have a look...

[2021-04-01 13:59] AdhilUsman commented on #444
You may close this issue

[2021-04-01 14:02] #444 closed

[2021-04-01 14:52] #739 closed

[2021-04-02 00:33] Ayushjain2205 opened #803 "Job scraper (Monster Jobs)"
# Aim

Scrape job openings based on users input for job title and location

# Details

This script will scrape jobs from Monster Jobs as per user input and store them in a CSV file.

[2021-04-02 00:34] Ayushjain2205 commented on #803
@kaustubhgupta I would like to work on this, can you please assign it to me

[2021-04-02 04:21] kaustubhgupta commented on #753
@AshuKV updates?

[2021-04-02 04:22] kaustubhgupta commented on #779
@noobkid2411 updates?

[2021-04-02 04:24] kaustubhgupta commented on #803
@Ayushjain2205 Any other site other than LinkedIn? We already have 2 LinkedIn scraper for different purposes

[2021-04-02 05:20] noobkid2411 commented on #779
Would create a pr by today.

On Fri, 2 Apr, 2021, 09:52 Kaustubh Gupta, ***@***.***> wrote:

[2021-04-02 06:46] Sibasish-Padhy commented on #607
@kaustubhgupta sir have created a draft pr for you to review the code and give better suggestions on improving the code....please do review it and suggest me how to improve on my fallacies

[2021-04-02 09:48] Ayushjain2205 commented on #803
@kaustubhgupta  How about monster jobs?

[2021-04-02 10:00] syamala27 opened #806 "Bubble shooter game using python"
## I have created `Bubble shooter` game using `python`

## Here is the screenshot
![bubbleshoot](https://user-images.githubusercontent.com/58478495/113405555-a8851100-93c7-11eb-9798-1d088a240289.gif)

I would like to work on this project .Please assign this issue to me @kaustubhgupta @antrikshmisri @santushtisharma10 @tamanna-verma

[2021-04-02 14:22] antrikshmisri commented on #806
@syamala27 Sure, assigned to you

[2021-04-02 14:36] sayantani11 opened #809 "Pacman Game"
# Aim

- To create a basic pacman game using python

# Details

- The script will have basic things like any other pacman game, a maze which has some aliens or monsters and obstacles. The objective of pacman is to come out of the maze successfully.

[2021-04-02 16:44] #651 closed

[2021-04-02 16:46] #724 closed

[2021-04-02 16:46] #744 closed

[2021-04-03 03:22] kaustubhgupta commented on #803
@Ayushjain2205 cool, assigned to you

[2021-04-03 03:25] kaustubhgupta commented on #809
@sayantani11 I have assigned it as level3, make it as creative as you can!

[2021-04-03 03:34] #783 closed

[2021-04-03 05:05] #771 closed

[2021-04-03 05:52] kaustubhgupta commented on #483
Closed for now

[2021-04-03 05:52] #483 closed

[2021-04-03 06:27] kaustubhgupta opened #811 "Python script to Create Scripts.json (For website)"
## Idea

Currently the Scripts.md file requires manual addition of script names with other information.

## Details

The implementation goes like this:

- fetch the repository details about all the folders.
- add the folder name and link to the script
- add some exceptions like README.md, contribution guide, and other non-necessary files to this list.
- The script will be part of a workflow soon a

[2021-04-03 06:33] fatma-sia27 opened #812 "Adding contact us page"
Hey @avinashkranjan , if a contact us form will be there in the website then it would be great. Isn't it?
If you find this issue meaningful then please assign it to me so that I can make a contact us form for this website.
Thank you

[2021-04-03 06:43] kaustubhgupta commented on #812
Hi @fatma-sia27,
The idea of the contact form is nice. Can you let me know how the details entered by user will be managed? Stored somewhere or pushed to a database? Maybe firebase?

[2021-04-03 06:56] fatma-sia27 commented on #812
Actually at present , Iam learning Web-dev, I had learned HTML amd CSS(almost) but backend is still left . So I meant to sat that I will make only frontend part.

[2021-04-03 06:59] kaustubhgupta commented on #812
@fatma-sia27 okay no issues, will create a separate issue for that, You can start working on this. Refer to this directory for website files. All the website files are present in the gh-pages branch of this repo. Fork that branch and not the master branch.

https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/gh-pages

[2021-04-03 07:04] fatma-sia27 commented on #812
Ok thank you , I will do my best.

[2021-04-03 07:06] fatma-sia27 commented on #812
I should fork only gh page branck right?

[2021-04-03 07:07] kaustubhgupta commented on #812
yes

[2021-04-03 08:27] Sukriti-sood commented on #811
@kaustubhgupta  I would like to work on this.

[2021-04-03 10:58] kaustubhgupta commented on #811
@Sukriti-sood assigned to you. Make sure you read all the requirements and implementation of script carefully

[2021-04-03 11:36] tanvi355 opened #814 "Distance conversions"
# Aim

- What is the objective of the Script
Use it to convert the distances from one unit to other .
Ex. cm to km or m to mm
# Details

- What the features will your script have
A simple GUI with conversion options for different units of measurement

[2021-04-03 11:37] tanvi355 commented on #814
I would like to work on this under GSSoC'21

[2021-04-03 12:37] mehabhalodiya opened #815 "Speed typing test"
# Aim

- It will track your typing speed.
- It is useful as one can improve their typing speed with regular practice.

# Details

- For a graphical user interface, I am going to use the `pygame` library which is used for working with graphics, along with some built-in modules of Python like `sys`, `time` and `random` library.
- I will create some functions which would be responsible for starting t

[2021-04-03 12:38] mehabhalodiya commented on #815
I would like to work on this under GSSOC'21.

[2021-04-03 12:50] kaustubhgupta commented on #815
This already exists: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/720

[2021-04-03 12:50] #815 closed

[2021-04-03 13:59] mehabhalodiya opened #817 "Finger Counter using Hand Tracking"
# Aim

- One will get to know that how to count the fingers using a python script.

# Details

- Initially, I will go through hand tracking and then I will use the hand landmarks to count of the fingers.
- All of this will be happening in realtime and requires close to no installations and configurations.
- I will use OpenCV, along with some built-in modules of python like `time` and `os`.

[2021-04-03 14:11] santushtisharma10 commented on #814
@tanvi355 assigned to you, go ahead

[2021-04-03 19:02] sidmohanty11 opened #818 "Adding a script that can crack passwords"
# Aim
Cracking passwords from web browsers

- What is the objective of the Script
This script cracks all the saved passwords from the web browsers and shows them to you in terminal.

# Details
After installig the dependancies, users can check this script on their terminal or pycharm ide by simply running `python main.py`

#EVENT
GSSOC'21

[2021-04-03 19:40] Arnab11917676 opened #820 "Amazon Scraper"
# Aim

A script that can scrape and update stock of Amazon of a particular category

# Details
In this script, the program will be able to scrape details of a particular category of Amazon on a timely basis and update the stock list

@kaustubhgupta sir please look into this project I think this will be a nice project to be added in the open-source

[2021-04-03 20:18] Yuvraj-kadale commented on #704
@kaustubhgupta I am up !! Would like try .

[2021-04-04 05:12] sayantani11 commented on #809
@kaustubhgupta will try my best

[2021-04-04 05:55] TheFenrisLycaon commented on #811
Is this open ?

[2021-04-04 06:42] zaverisanya opened #822 "Bag of words model."
# Aim

- What is the objective of the Script
Domain- NLP

The objective of this script is to  1) tokenize the sentences taken from user. 2) transforming text to vectors where each word and its count is a feature. 3) Create dataframe  where dataframe is an analogy to excel-spreadsheet . The data will be also stored in excel sheet.

@kaustubhgupta @santushtisharma10   I am a GSSoC'21 participant and

[2021-04-04 07:01] Amit366 commented on #279
@santushtisharma10 for this can I use twilio?? But in twilio it says the number is invalid for sending messages.

[2021-04-04 07:35] anuragmukherjee2001 opened #823 "Health Log Book"
I am Anurag Mukherjee, I am a participant of GSSoC'21
# Aim

Keeping daily records of a person's food and workout

# Details
The script will contain the daily records of food and workouts of a person. The user will only enter the name of the foods, it will be stored in a text file with corresponding date and time. Similarly, the user will enter the types of workout at their workout time. The worko

[2021-04-04 07:51] mehabhalodiya commented on #817
I would like to work on this under GSSOC'21.

[2021-04-04 08:15] santushtisharma10 commented on #279
@Amit366 make sure that the number is in E164 format.

[2021-04-04 08:16] santushtisharma10 commented on #817
@mehabhalodiya assigned to you

[2021-04-04 08:38] Amit366 commented on #279
Ok

[2021-04-04 09:49] santushtisharma10 commented on #822
@zaverisanya assigned to you

[2021-04-04 09:51] santushtisharma10 commented on #820
@Arnab11917676 go ahead, assigned to you

[2021-04-04 09:54] santushtisharma10 commented on #823
@anuragmukherjee2001 go ahead, assigned to you

[2021-04-04 11:56] Avishake007 opened #825 "Modifying Salary prediction app"
**Is your feature request related to a problem? Please describe.**
I want to modify the salary prediction

**Describe the solution you'd like**
I want to add flask to the salary prediction app so that the app can be run through a web page

please assign me for this task.
I  am a gssoc'21 participant and want to work on this issue.

[2021-04-04 12:28] Ajay-Singh-Rana commented on #811
My solution for this takes a few minutes, is that okay..?

[2021-04-04 14:33] santushtisharma10 commented on #825
@Avishake007 we don't have to create a flask app. Only python script, gui and cli is accepted.

[2021-04-04 14:33] #825 closed

[2021-04-04 16:53] Yash9479 opened #826 "Dino Game"
I want to contribute as a GSSOC'21 Participant. Please assign this to me.
### Aim
-To create a Dino Game using python.

### Details
-The simple Python libraries and modules.

[2021-04-04 17:36] #752 closed

[2021-04-04 17:36] #713 closed

[2021-04-04 17:37] #694 closed

[2021-04-04 19:53] Ajay-Singh-Rana commented on #811
I too would like to contribute.

[2021-04-04 20:08] ayush-raj8 opened #828 "Time series forecasting covid 19 case Notebook"
# Aim
Predicting number of covid 19 cases for next 21 days

- What is the objective of the Script
It uses daily updated  data to forecast number of fresh, death and recovered covid 19 cases for next 21 days.

# Details
Domain- ML

- What the features will your script have
- The objective of this script is to 1)use daily updated covid 19 data from open source . 2) training the data on auto arima mo

[2021-04-05 04:24] Lakhankumawat opened #829 "Build a Contact Book With Python, PyQt, and SQLite"
![Build-a-Contact-Book_Watermarked](https://user-images.githubusercontent.com/55774240/113536912-dd29e000-95f4-11eb-994e-3c16ee245790.jpg)

### Demo: A Contact Book With Python
# Project Overview

- Step 1: Creating the Contact Book’s Skeleton App With PyQt
   Structuring the Contact Book Project
   Creating the Application’s Main Window
   Coding and Running the Application
- Step 2: Building the

[2021-04-05 05:39] Lakhankumawat commented on #829
I will be following some sort of tutorials or articles or blog .
There is a [repo](https://github.com/realpython/materials/tree/master/python-contact-book) which i will be following , although _my code won't be same_ .
If you are okay with that and don't add **plagiarism** labels then i m okay to do it otherwise it will be good for grab.

[2021-04-05 05:41] santushtisharma10 commented on #826
@Yash9479 assigned to you

[2021-04-05 05:46] #818 closed

[2021-04-05 05:50] santushtisharma10 commented on #828
@ayush-raj8 go ahead , assigned to you.

[2021-04-05 05:53] santushtisharma10 commented on #828
@ayush-raj8 make sure that it  is not a notebook but a python file. Also refer to #556 for structuring and creating your prediction script

[2021-04-05 06:01] santushtisharma10 commented on #829
@Lakhankumawat  go ahead , assigned to you

[2021-04-05 06:03] santushtisharma10 commented on #829
While creating a pr, mention the article or source you have referred to avoid any misunderstanding

[2021-04-05 11:31] santushtisharma10 commented on #704
@Yuvraj-kadale assigned to you

[2021-04-05 11:36] santushtisharma10 commented on #754
@smriti26raina when you will be making pr??

[2021-04-05 12:34] #720 closed

[2021-04-05 12:35] #755 closed

[2021-04-05 13:24] Sukriti-sood commented on #811
@Ajay-Singh-Rana  It is not the right way ,I was already assigned to is issue.

[2021-04-05 13:30] avinashkranjan opened #831 "Making the Whole Project/Repo Menu-Driven"
**Is your feature request related to a problem? Please describe.**
Changing directories looking for scripts  to use one by one will be quite a headache.

**Describe the solution you'd like**
Making it a menu-driven script, where a user can select the option and the specific script will run (can take arguments too if needed at runtime) in sort like `Lazy Script` if you are aware of.

## Let me brie

[2021-04-05 14:28] santushtisharma10 commented on #811
@Ajay-Singh-Rana only the assignee can send the PR.

[2021-04-05 16:16] sayantani11 commented on #809
@kaustubhgupta can you give me time with this one? I also have my exams going on....I will try to do as soon as possible

[2021-04-05 16:21] amrzaki2000 commented on #686
Hello,
I'd like to work on this.
@santushtisharma10

[2021-04-05 16:29] AshuKV commented on #831
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-04-05 16:46] XZANATOL commented on #831
I've a suggestion. We can start by categorizing each script into a dictionary.. something like:
`` {"Scrappers": ["Project1", "Project2"], "Automation":["Project3", "Project4"]} ``
Each list can contain records of scripts that are in another category. This will assure that effiency of sorting and tag searching, and put each script into its suitable place making it organized. This dictionary can be

[2021-04-05 16:50] santushtisharma10 commented on #686
@amrzaki2000 go ahead, assigned to you

[2021-04-05 17:28] Sukriti-sood commented on #811
@kaustubhgupta I have some confusion like script.json will contains object which contain folder name ,link and contributor name ,Is anything needed and also confused what to do with exceptions? Please help

[2021-04-05 21:39] smriti26raina commented on #754
@santushtisharma10 I'm really sorry for the delay. I was not well from a few days. It won't happen again.

[2021-04-06 04:01] Lakhankumawat commented on #829
Sir please make it **level 3**
1. as there are many concepts involved in it .
2. Also it is difficult to implement
3. It's kind of big project rather than only one .py file i.e modules we have to make and packages and database

[2021-04-06 04:35] Ajay-Singh-Rana commented on #811
Oh, sorry i didn't check the assignees...Best wishes...

[2021-04-06 04:59] santushtisharma10 commented on #829
@Lakhankumawat I will increase the level after reviewing your PR

[2021-04-06 05:09] Ajay-Singh-Rana commented on #831
Hey..! What if we create a script that takes folder names as arguments and lets the user decide which folder thier script is to be moved in to and also an option to add a newer category.
`script.py folder_name category`
or
`script.py -n new_category folder_name [folder_name [folder_name]`

[2021-04-06 06:12] kaustubhgupta commented on #790
@MayankkumarTank Updates on this?

[2021-04-06 06:13] kaustubhgupta commented on #803
@Ayushjain2205 updates on this?

[2021-04-06 06:14] kaustubhgupta commented on #809
@sayantani11 Don't worry you have 4 days more to complete it. I assigned this issue 3 days from today

[2021-04-06 06:14] Arnab11917676 commented on #820
Hello @santushtisharma10, Update--> I am very close to finishing this project.

[2021-04-06 06:21] kaustubhgupta commented on #811
@Sukriti-sood As mentioned in the description, the JSON file should look like this:

[code]

[2021-04-06 06:26] kaustubhgupta commented on #831
Hi, @Ajay-Singh-Rana @XZANATOL @AshuKV,

As I have just returned home, I need some time to plan out the overall structure of the script, how it will handle new scripts and how we can have a GUI for that.

I will update you on this day after tomorrow

[2021-04-06 06:50] kaustubhgupta commented on #768
@Lakhankumawat as @Srijan-dixit pushed plagiarised code, are in interested in pushing a "original" code for this PR?

[2021-04-06 06:54] MayankkumarTank commented on #790
Hello sir, i already made pr around 3 days ago. Named : Added Audio Steganography. Please review it sir. In future, how can i link the pr with issue. (Because it is disabled for me).

Thank you sir

[2021-04-06 07:02] Lakhankumawat commented on #768
Yeah Sure i'll do it.

[2021-04-06 07:11] kaustubhgupta commented on #790
For linking the issue to PR, add this line:

Fixes: #(issue_number_without_brackets)

See the implementation in the PR now

[2021-04-06 07:46] Lakhankumawat commented on #768
As we had conversation in #794 i had made a duplicate issue but @kaustubhgupta  sir i was using pygame and issue is about tkinter , will it be okay if i do it

[2021-04-06 07:59] kaustubhgupta commented on #768
Do you have experience with Tkinter? Can you port your pygame code to this as most probably, if you push that code, then one or the mentor will mark it plagiarism

[2021-04-06 08:10] Lakhankumawat commented on #768
Sir i think

![Screenshot (49)](https://user-images.githubusercontent.com/55774240/113679330-46851e00-96dd-11eb-9773-0537b3c88f35.png)

Here you did mentioned you can i mean i can add my code which was closed as plagiarism to add it back create a new PR

- I know this all sounds bit too complex but
- let me be clear
Please allow me to add Tic Tac Toe with GUI using pygame if it looks good merge it

[2021-04-06 08:11] Lakhankumawat commented on #768
Also i won't be able to switch whole base from pygame to tkinter , although i know tkinter but not that much

[2021-04-06 08:16] kaustubhgupta commented on #768
@Lakhankumawat that time we were lenient with code reviews but now we don't merge any previously available code. Also, as the code is reviewed by 4 mentors, if anyone raises any claim then I will have no choice but to reject the PR. That's why I am unassigning this issue so that you don't get any strike

[2021-04-06 08:22] Lakhankumawat commented on #768
Umm Okay sir but kindly reopen issue #794 cause you know this issue says about solving it with pygame .
It's different i guess but the idea is same

[2021-04-06 12:38] Ayushjain2205 commented on #803
@kaustubhgupta  working on it, will make a PR by tomorrow

[2021-04-07 02:47] Ayushjain2205 opened #840 "IPL statistics GUI"
# Aim

Let user choose what statistics of IPL they want to see and based on user choice web scrape it and display in a GUI

# Details

Statistics the user can choose include - Most runs, most wickets, most 4s, most 6s and about 10 more such statistics and can be chosen for every season (2008-2020)

[2021-04-07 02:47] Ayushjain2205 commented on #840
@kaustubhgupta  can I work on this?

[2021-04-07 04:08] kaustubhgupta commented on #840
@Ayushjain2205 sure!

P.S: I knew someone will be creating this issue very soon as IPL is near😂😄

[2021-04-07 05:38] kaustubhgupta commented on #812
@fatma-sia27 updates on this?

[2021-04-07 05:53] fatma-sia27 commented on #812
Yes @kaustubhgupta I had made contact us page but since I am new to open source so I had made some mistakes during my previous and first PR so I am learning properly how to make PR . After that I will make PR.
Thank you

[2021-04-07 05:58] kaustubhgupta commented on #812
Okay, if face any issues then refer to my this comment where I have explained the whole procedure:
https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/279#issuecomment-805558830

[2021-04-07 06:14] fatma-sia27 commented on #812
Okay @kaustubhgupta I will do it shortly. One more thing when I cloned this gh page branch then there are multiple files so I should push all the files or only "contact us" folder in which I had my code of "contact us" page?

[2021-04-07 06:16] kaustubhgupta commented on #812
When you will enter this command:
[code]
and you will be presented with a list of files that you changed/added.

[2021-04-07 06:36] fatma-sia27 commented on #812
hey @kaustubhgupta , I had created PR #841, I hope I made it correctly. Please review it and let me know if any changes required.
Thank you.

[2021-04-07 13:42] tanvi355 opened #842 "Random password generator GUI"
# Aim
To create a random password

# Details

A simple GUI based password generator.

[2021-04-07 13:43] tanvi355 commented on #842
I would like to would like to work on it under GSSoC'21

[2021-04-07 17:09] Akshu-on-github opened #843 "Tarot Card | Fortune Teller | CLI"
## Aim
A script that picks a random tarot card (from a deck of 78 cards)

## Details
- CLI with buffer content (initially a command-line game)
- The random.randint() function
- A list with each element having a card and a fortune

@avinashkranjan
I'm a GSSoC'21 participant. I hope that this would be an acceptable addition and that I can start working on it asap,
Cheers,
Akshu

[2021-04-07 17:31] Akshu-on-github commented on #843
Screenshots for a sample of the results (when run on repl.it)
<img width="460" alt="screenshot-introduction" src="https://user-images.githubusercontent.com/61582763/113908975-cbaf2680-97f4-11eb-804b-750bf9232ec2.PNG">
<img width="460" alt="screenshot-three-tarots-drawn" src="https://user-images.githubusercontent.com/61582763/113909006-d7025200-97f4-11eb-9784-cfc91fbb138c.PNG">
<img width="460" alt

[2021-04-07 17:35] RJ535315 commented on #843
Hi I can work on this issue. Please assign it to me.

[2021-04-07 18:04] hasanmdarif opened #844 "Instagram photo Downloader"
I want to write some python scripts which will help to download photos from instagram under gssoc 21.

[2021-04-07 19:54] saidrishya opened #845 "Paint GUI"
A paint application using tkinter. Kindly assign me this issue.

[2021-04-08 03:55] Ajay-Singh-Rana commented on #831
Any updates..?

[2021-04-08 04:09] kaustubhgupta commented on #831
Will update by EOD

[2021-04-08 04:10] kaustubhgupta commented on #845
@saidrishya This is already implemented https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Paint%20Application

[2021-04-08 04:10] #845 closed

[2021-04-08 04:15] kaustubhgupta commented on #844
@hasanmdarif Already implemented:

![image](https://user-images.githubusercontent.com/43691873/113967453-a222e900-984e-11eb-9f92-222e74a173d6.png)

https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Instagram%20downloader

https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Instagram-Profile-Pic-Downloader

[2021-04-08 04:15] #844 closed

[2021-04-08 04:23] kaustubhgupta commented on #843
@Akshu-on-github Assigned to you. @RJ535315 Issues are assigned in FCFS.

[2021-04-08 04:24] kaustubhgupta commented on #842
@tanvi355 assigned to you

[2021-04-08 04:49] hasanmdarif opened #846 "Audio Book"
I want to add python script which will help to read an entire pdf.

[2021-04-08 05:20] kaustubhgupta commented on #846
Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/PDF-To-Audio

[2021-04-08 05:20] #846 closed

[2021-04-08 05:21] kaustubhgupta commented on #686
@amrzaki2000 updates on this?

[2021-04-08 05:22] kaustubhgupta commented on #704
@Yuvraj-kadale updates on this?

[2021-04-08 05:27] kaustubhgupta commented on #817
@mehabhalodiya updates on this?

[2021-04-08 05:36] Avishake007 opened #847 "Photo_to_Ascii"
I want to work on this issue
Please assign me for this issue under gssoc'21

[2021-04-08 05:41] kaustubhgupta commented on #847
Will you make the GUI or is it CLI?

[2021-04-08 05:43] Avishake007 commented on #847
CLI

[2021-04-08 05:51] mehabhalodiya commented on #817
Yes, I am working.
I will create a PR by today or maybe tomorrow!

[2021-04-08 06:29] Yuvraj-kadale commented on #704
About to complete. Will make a PR by today EoD.

[2021-04-08 07:12] fatma-sia27 commented on #812
Hey @kaustubhgupta all the process will be as explained here only I should change branch when I compare and pull request.
Right?

[2021-04-08 07:18] kaustubhgupta commented on #812
yes

[2021-04-08 07:19] Amit366 commented on #719
@kaustubhgupta can I work??

[2021-04-08 08:07] fatma-sia27 commented on #812
![img](https://user-images.githubusercontent.com/77666526/113990786-72380d80-986f-11eb-976a-ac5da33af700.jpeg)
which branch should I choose?

[2021-04-08 08:07] fatma-sia27 commented on #812
@kaustubhgupta

@kaustubhgupta

[2021-04-08 08:14] fatma-sia27 commented on #812
![WhatsApp Image 2021-04-08 at 1 41 39 PM](https://user-images.githubusercontent.com/77666526/113991801-6e58bb00-9870-11eb-8f92-357f7b0e2d8f.jpeg)
I am doing in correct branch ??

[2021-04-08 08:14] fatma-sia27 commented on #812
@kaustubhgupta

[2021-04-08 08:14] kaustubhgupta commented on #812
yes, create the PR

[2021-04-08 08:19] fatma-sia27 commented on #812
@kaustubhgupta I had created PR #849 , Please review it.
 thank you

[2021-04-08 11:48] ankurg132 opened #850 "A simple Text editor using Tkinter"
**Describe the solution you'd like**
I would like to add a python script using tkinter containing a simple GUI text editor where you can open and save changes to a text file.
I would like to work on this issue under gssoc21.

[2021-04-08 14:57] kaustubhgupta commented on #850
Already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Simple%20Notepad

[2021-04-08 14:59] #850 closed

[2021-04-08 19:01] saidrishya opened #853 "Guessing game GUI"
A number guessing game made with tkinter. Can you kindly assign me this issue.

[2021-04-08 21:16] amrzaki2000 commented on #686
I'll make PR in three days I just have some quizzes at college for now

[2021-04-09 06:25] shantamsultania opened #856 "AWS Ec2 Management Scripts for Automations and testing"
# Aim

To create a Python Script for AWS Automation

# Details

to create a Python Script with the help of which one person can create an Ec2 Instance in his AWS Account, and perform various implementations on the same.
1. operations like delete all the useless EC2 which are 2 days older
2. create ec2 with one click and more
3. it will be able to create as many ec2 you want to create be it 100 - 2

[2021-04-09 06:27] shantamsultania opened #858 "Create AWS Script Template's for AWS End to end testing"
# Aim

Create AWS Script Template's for AWS End to end testing

# Details

1. it will be able to create as many ec2 you want to create be it 100 - 200 this will help a person in testing of its product on AWS platforms
2. will be able to make the required changes in one go
3. as it will be a testing Script it will not be having any relations to his main account so will save him money as well as tim

[2021-04-09 07:20] jhamadhav opened #859 "Link preview"
# Aim

- A script to provide the user with a preview of the link entered.

# Details

- When entered a link, the script will provide with title, description, and link of the website that the URL points to.
- The script will do so by fetching the Html file for the link and analyzing the data from there.
- The data will be saved in a `JSON` file for further reference
- Every entry will have a time l

[2021-04-09 08:46] santushtisharma10 commented on #853
@saidrishya assigned to you

[2021-04-09 12:53] kaustubhgupta commented on #856
@shantamsultania assigned to you. Make sure to add output screenshots hiding any personal/non-disclosable information.

[2021-04-09 12:55] kaustubhgupta commented on #858
@shantamsultania assigned to you. Make sure to add output screenshots hiding any personal/non-disclosable information.

[2021-04-09 12:56] kaustubhgupta commented on #859
@jhamadhav assigned to you. Make sure to add a GIF to demonstrate your code.

[2021-04-09 13:30] kaustubhgupta commented on #820
@Arnab11917676 updates?

[2021-04-09 13:31] kaustubhgupta commented on #826
@Yash9479 updates?

[2021-04-09 13:32] kaustubhgupta commented on #829
@Lakhankumawat updates?

[2021-04-09 13:34] Arnab11917676 commented on #820
Sir I will be uploading tomorrow... Sorry for the delay...

[2021-04-09 13:42] Yash9479 commented on #826
Working, need more two days for finishing and testing.

[2021-04-09 13:44] kaustubhgupta commented on #826
okay!

[2021-04-09 14:30] jhamadhav commented on #859
Sure!

[2021-04-10 03:45] Ayushjain2205 opened #862 "Udemy courses details scraper"
# Aim

To scrape details of Udemy courses.

# Details

Important details about courses like Course title, description, instructor, price, rating and number of lectures will be scrapped and stored in a db

[2021-04-10 03:46] Ayushjain2205 commented on #862
@kaustubhgupta I would like to work on this, Can you please assign this to me?

[2021-04-10 04:39] kaustubhgupta commented on #862
Instead of CSV, can you store it a database of your choice and then create a fetcher.py file to fetch the information stored?

[2021-04-10 04:41] Ayushjain2205 commented on #862
@kaustubhgupta sure will do that.... so 2 scripts - one to scrape data from udemy and store in database , and other one to fetch data from database and display?

[2021-04-10 04:42] kaustubhgupta commented on #862
Yes

[2021-04-10 04:44] kaustubhgupta commented on #809
@sayantani11 updates?

[2021-04-10 04:57] Ayushjain2205 commented on #862
@kaustubhgupta  Sure I can do it

[2021-04-10 05:00] RJ535315 opened #863 "sort and group images according to resolution"
# Aim

 To write a python script to sort the images in our pc folders according to the resolution and group them by the resolution, by creating separate folders

# Details

**Is your feature request related to a problem? Please describe.**:

Yes, We always have the problem of finding a desired resolution containing image in a bunch of images within a folder.

**Describe the solution you'd like**:

[2021-04-10 08:03] Lakhankumawat commented on #829
I've been working it seems tough though for me , exams are going on .

[2021-04-10 08:04] Lakhankumawat commented on #829
Actually unassigned  option was mis clicked i m sorry

[2021-04-10 08:24] kaustubhgupta commented on #829
@Lakhankumawat take 3-4 days to complete it

[2021-04-10 09:34] shantamsultania commented on #858
hey @kaustubhgupta i have send a pull request for review please look into this

[2021-04-10 10:06] nidhivanjare opened #866 "Rock Paper Scissors"
# Aim

- I want to add a rock paper scissor game in python.

I am a GSSOC'21 participant and I would like to work on this issue.

[2021-04-10 11:03] #607 closed

[2021-04-10 11:25] iamakkkhil opened #867 "Image Background Remover"
**Describe the solution you'd like**
Using the Grabcut Python cv2 algorithm user can subtract the background from the image and only the foreground remains in focus.

I am a GSSoC'21 participant, Kindly assign me the same.
@avinashkranjan @kaustubhgupta

[2021-04-10 11:26] iamakkkhil commented on #867
/assign

[2021-04-10 11:32] iamakkkhil opened #868 "Reorder any PDF Pages"
**Describe the solution you'd like**
By using python and PyPDF2 library it will let us reorder any PDF pages and save it into our local directory.

I am a GSSOC'21 participant kindly assign me the same
@kaustubhgupta @avinashkranjan

[2021-04-10 12:05] kaustubhgupta commented on #867
@iamakkkhil assigned to you

[2021-04-10 12:07] kaustubhgupta commented on #868
@iamakkkhil I would suggest you add this feature in the existing PDf-Tools script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/PDF-Tools

Can you do that?

[2021-04-10 12:10] kaustubhgupta commented on #863
@RJ535315 assigned to you

[2021-04-10 12:10] iamakkkhil commented on #868
Yes @kaustubhgupta

[2021-04-10 12:11] kaustubhgupta commented on #868
Okay, assigned to you

[2021-04-10 12:15] kaustubhgupta commented on #866
@nidhivanjare We already have two versions of this game:
- CLI: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Stone-Paper-Scissors-Game
- GUI: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/StonePaperScissor%20-%20GUI

[2021-04-10 12:15] #866 closed

[2021-04-10 12:24] RohiniRG opened #869 "Twitter hastag scrapper without API"
**Describe the solution you'd like**
This script allows user to enter hastag and scrape the no. of tweets specified by the user and save it in a csv file by using SNScrape library of python.
I am a GSSOC21 participant kindly assign me the same. @kaustubhgupta @avinashkranjan

[2021-04-10 12:28] RohiniRG opened #870 "Sentiment Analysis using Python"
**Describe the solution you'd like**
Using deepface lab we can examine all the emotions in a person's face through a live camera feed at any given instant.
I am a GSSOC'21 participant, Kindly assign me the same @kaustubhgupta @avinashkranjan

[2021-04-10 12:33] kaustubhgupta commented on #869
Hi @RohiniRG,
Can you save the tweets in a database of your choice and then create another script to display these results? Then you will have two scripts: one to fetch and store the tweets data and other one to display the stored data. Let me know your thoughts

[2021-04-10 12:35] kaustubhgupta commented on #870
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Facial-Expression-Recognition

[2021-04-10 12:35] #870 closed

[2021-04-10 12:36] sayantani11 commented on #809
@kaustubhgupta I am mostly done but still working on some features I guess I will able to push the code in a day or two

[2021-04-10 12:46] RohiniRG commented on #869
Yes. I can try this.

[2021-04-10 13:11] kaustubhgupta commented on #869
@RohiniRG okay then, assigned to you

[2021-04-10 14:24] Avishake007 opened #871 "Todo-list | File handling | CLI"
I want to create a Todo list feature which will work based on files-handling
please assign me for this issue under gssoc'21

[2021-04-10 15:23] nidhivanjare opened #872 "Expense Tracker"
# Aim

- I would like to create an Expense Tracker python project

I am a GSSOC'21 participant and would like to work on this issue.

[2021-04-10 15:30] avinashkranjan commented on #831
Hey @kaustubhgupta If  Need any help or any doubt kindly text me on discord..Participants are asking about this Issue..

[2021-04-10 16:39] #725 closed

[2021-04-10 16:40] #709 closed

[2021-04-10 16:40] #778 closed

[2021-04-10 16:41] #706 closed

[2021-04-10 16:41] #738 closed

[2021-04-10 16:42] #793 closed

[2021-04-10 16:42] #703 closed

[2021-04-10 16:43] #847 closed

[2021-04-10 16:43] #754 closed

[2021-04-10 16:45] #822 closed

[2021-04-10 16:45] #814 closed

[2021-04-10 16:45] #803 closed

[2021-04-10 16:46] #811 closed

[2021-04-10 16:46] #279 closed

[2021-04-10 16:47] #787 closed

[2021-04-10 16:47] #741 closed

[2021-04-10 16:47] #512 closed

[2021-04-10 20:20] ShubhamGupta577 opened #881 "Creating a pencil sketch using Python."
# Aim

- In this script, we are going to convert any image into its pencil sketch using a python script.

# Details

-In our script, the user has to just upload a picture and as an output, he/she will get a pencil sketch of that image. For this purpose, we are going to use `OpenCV`.
As a process, we will be going to reduce the noise in the image(if any), and then by performing the various operatio

[2021-04-11 03:29] kaustubhgupta commented on #831
Hi, @AshuKV @XZANATOL @avinashkranjan @Ajay-Singh-Rana (Apologies for updating late, was busy with important work),

I liked the @XZANATOL implementation to create the database of scripts based on categories. I think a big JSON would do the work. Why **JSON**? Because it **can be loaded into the dictionary in Python**. Creating this JSON would be a manual task initially as we can't trace back to e

[2021-04-11 03:39] kaustubhgupta commented on #871
@Avishake007 I didn't got your idea. Can you explain in detail what you want to achieve with this?

[2021-04-11 03:53] kaustubhgupta commented on #872
Hi @nidhivanjare, We already have this issue: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/779 and the assigned person has also made the PR but she hasn't updated it yet. Today is her last day for this. If she fails to do so, then I will assign that issue to you. For now, this issue will be closed.

[2021-04-11 03:53] #872 closed

[2021-04-11 03:54] kaustubhgupta commented on #881
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/ImageToSketch

[2021-04-11 03:54] #881 closed

[2021-04-11 05:04] Avishake007 commented on #871
Actually I am thinking of using the read, write and append operations of file handling to create a todolist.
The todolist will be saved on a file. If a user wants to view to todo list then read operation will be used, to add we can use the append operation and to make any change we can use the write operation

[2021-04-11 06:28] RJ535315 commented on #863
@kaustubhgupta please check and review the PR that i've submitted related to this issue. thank you.

[2021-04-11 09:54] Amit366 commented on #211
@kaustubhgupta can I work??

[2021-04-11 10:13] Amit366 commented on #211
@kaustubhgupta I would like to work

[2021-04-11 15:55] nidhivanjare opened #886 "Instagram ChatBot"
# Aim

- Create an Instagram chatbot.

I am a GSSOC'21 Participant and would like to work on this issue.

[2021-04-11 18:15] Ajay-Singh-Rana commented on #831
Hey...Why not make things easy by moving scripts to specific task categories in the repo itself...This would also make the repository much more accessible based on specificity.

[2021-04-11 19:06] XZANATOL commented on #831
@Ajay-Singh-Rana many scripts can belong to many different categories, not only one.. so doing this will make it even harder to keep track of the scripts when we try to display them according to specificity 🤔

[2021-04-11 20:31] ShubhamGupta577 opened #887 "Implementing Fast algorithm for cornor detection"
# Aim

- In this script, we are going to implement the `Fast (Features from Accelerated Segment Test) algorithm` of `OpenCV` to detect the corners from any image.

# Details

- By using this script we can easily detect the corners from any image in very little time. Like corners of any house or any object.

[2021-04-12 05:11] kaustubhgupta commented on #686
@amrzaki2000 updates?

[2021-04-12 05:12] kaustubhgupta commented on #809
@sayantani11 you need to make the PR today only

[2021-04-12 05:19] kaustubhgupta commented on #831
We are not aiming to restructure the repo but create a master script to initiate any script of this repo

[2021-04-12 05:20] kaustubhgupta commented on #842
@tanvi355 updates?

[2021-04-12 05:25] kaustubhgupta commented on #871
Okay then, assigned to you. Make sure to name it TODO (CLI-VER)

[2021-04-12 05:26] kaustubhgupta commented on #886
@nidhivanjare Please explain what features this bot will offer.

[2021-04-12 05:32] tanvi355 commented on #842
Working on it....will submit a PR by tomorrow evening.

[2021-04-12 06:22] #863 closed

[2021-04-12 07:01] Amit366 commented on #779
@kaustubhgupta can I work??

[2021-04-12 07:24] #826 closed

[2021-04-12 07:26] #858 closed

[2021-04-12 08:22] sayantani11 commented on #809
@kaustubhgupta I will by today.....No issues

[2021-04-12 09:26] nidhivanjare commented on #886
Create an Instagram chatbot to send 1 message to multiple people (used for marketing purpose for small business to grow on Instagram)

[2021-04-12 15:53] Arnab11917676 commented on #820
Sir please a look...

[2021-04-12 18:28] RohiniRG commented on #869
@kaustubhgupta the script is almost prepared, but I have used .csv as my database through which I extract tweets. Would this be considered a database or should I use sqlite only?

[2021-04-12 20:32] XZANATOL commented on #831
Finally got free from my commitments.. xd
@kaustubhgupta I would like to start with the base of the project of creating the JSON file. Gonna read the each project of the repo and collect the necessary information. I can also add the code snippet of the function which allows the developer to add his/her script to the repo as I will automate this part on my local machine. xd

[2021-04-13 04:25] Lakhankumawat commented on #829
Go for **Up - For - Grab**

## Problems i was facing implementing it .
- Connecting Sqlite DB with User Interface.
- Rendering the display , update and deleting contacts.

I Could Have copied [Source code](https://github.com/realpython/materials/tree/master/python-contact-book) and created a PR but i am here to learn and not to earn points , hope you got it .

[2021-04-13 04:32] kaustubhgupta commented on #686
@amrzaki2000?

[2021-04-13 04:40] kaustubhgupta commented on #829
No problem, thanks for the honesty, you can always create more issues for contribution.😀

[2021-04-13 04:42] kaustubhgupta commented on #831
@XZANATOL Cool, you can start working on this sub-task.

[2021-04-13 04:45] kaustubhgupta commented on #853
@saidrishya updates?

[2021-04-13 04:46] kaustubhgupta commented on #859
@jhamadhav updates?

[2021-04-13 04:46] kaustubhgupta commented on #869
Use SQLite

[2021-04-13 04:48] kaustubhgupta commented on #886
We already have this implementation. https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Insta-Bot-Follow-SendMsg

[2021-04-13 04:49] #886 closed

[2021-04-13 04:50] jhamadhav commented on #859
I'm almost done,  Just some testing for edge cases.
I will make the PR asap, probably tonight.

[2021-04-13 06:31] nidhivanjare commented on #886
Can I create an Instagram chat Bot to Display people who you follow but they don't follow you back?

[2021-04-13 06:36] kaustubhgupta commented on #886
@nidhivanjare Sure, raise the issue for the same!

[2021-04-13 08:37] ayush-raj8 opened #893 "Addition of Malaria detection from cell image"
### **Aim**
Develop a web app that predicts malaria based on input of cell image. It will be a web page with flask framework as backend which will work on deep learning model of malaria trained image.

I'll like to work , if assigned.

[2021-04-13 09:10] nidhivanjare opened #894 "Instagram Follow- NotFollow"
# Aim

- Create an Instagram chatbot to display people you follow and who do not follow you back.
I am a GSSOC'21 Participant and would like to work on this issue.

[2021-04-13 11:45] saidrishya commented on #853
Done. Making a PR

[2021-04-13 12:29] saidrishya commented on #853
PR done.

[2021-04-13 15:52] amrzaki2000 commented on #686
I'm sorry I'm having quizzes and I stopped working temporarily.
Can I get two more days only ?

[2021-04-13 16:52] Ajay-Singh-Rana commented on #831
@kaustubhgupta @XZANATOL do you guys mean that the repository would remain as it is and the JSON has to be manually created at first and lateron we can give an option to add the script under a particular section by passing the arguments..? Is it..?

[2021-04-13 19:34] ShubhamGupta577 opened #898 "Add implementation of ORB algorithm for feature detection."
# Aim

- In this script, we are going to implement **ORB(Oriented FAST and Rotated BRIEF)** algorithm of `Open CV` which is used to detect and matching the features of an image.

# Details
ORB is a fusion of **FAST keypoint detector** and **BRIEF descriptor** with some added features to improve the performance. FAST is Features from the Accelerated Segment Test used to detect features from the pro

[2021-04-13 19:35] ShubhamGupta577 commented on #898
@kaustubhgupta Please review this issue and assign this to me under GSSOC21.

[2021-04-14 03:08] kaustubhgupta commented on #686
@amrzaki2000 Okay, no issues!

[2021-04-14 03:14] kaustubhgupta commented on #893
@ayush-raj8 We don't need any end-to-end flask deployed application. If you can structure your code in the script format as done in the below implementations then let me know:

https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor

[2021-04-14 03:16] kaustubhgupta commented on #894
Name your script folder as "Instagram Follow- NotFollow"

[2021-04-14 03:18] kaustubhgupta commented on #898
@santushtisharma10 can you verify if this can be included in the repo or not? I am not sure about this

[2021-04-14 05:22] santushtisharma10 commented on #898
@kaustubhgupta it can be included, this algorithm is used to calculate features and then tell whether the input images matches or not

[2021-04-14 06:10] Ayushjain2205 opened #900 "NSE stock market data GUI"
# Aim

Web scrape stock market data (top 20 gainers/losers, most active equities etc )

# Details
display this scraped data in a GUI format where user can chose which market data analysis they want to see from a drop down menu

[2021-04-14 06:10] Ayushjain2205 commented on #900
@kaustubhgupta I would like to work on this

[2021-04-14 07:03] mehabhalodiya opened #901 "Pose Estimation Real-time"
# Aim

- The script will detect different landmarks within a human body and all of this will be done in real time .

# Details

- I will write it in three different files.
1. Firstly, will make a python file for the basic code which is required to run.
2. Secondly, we will define bunch of functions (i.e. for positions, angles, etc.) in one class of pose detector.
3. Lastly, we will test the script

[2021-04-14 11:15] Lakhankumawat opened #902 "🖼️ Image Operations"
### You can do the following set of operations on any image and can save it easily .
- Rotate
- Change Transform i.e Horizontal or Vertical
- Zoom in , Zoom Out
- Scale Size
- Make an Outline Image
- **Save the Image**
- Retaining Original Shape
<hr>

### This all can be done easily using simple few lines of code .
Libraries to be used :

- Pygame
- OS
- Sys
- Math

### How It May Look
<hr>

![rot

[2021-04-14 11:16] Lakhankumawat commented on #902
If you liked idea please assign me.

[2021-04-14 12:21] mehabhalodiya commented on #901
I would like to work on this under GSSoC'21.
Please assign.

[2021-04-14 14:30] kaustubhgupta commented on #898
Okay!

[2021-04-14 14:35] kaustubhgupta commented on #902
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Image%20editor%20python%20script

[2021-04-14 14:35] #902 closed

[2021-04-14 14:55] #840 closed

[2021-04-14 14:55] #727 closed

[2021-04-15 02:40] kaustubhgupta commented on #871
@Avishake007 updates?

[2021-04-15 02:41] kaustubhgupta commented on #893
@ayush-raj8 Can you do this?

[2021-04-15 02:41] kaustubhgupta commented on #901
@mehabhalodiya don't you think it is a standalone project?

[2021-04-15 03:36] Avishake007 commented on #871
@kaustubhgupta I will create a pull request by today

[2021-04-15 03:41] mehabhalodiya commented on #901
I will follow your opinion.
You can let me know whatever you think.

[2021-04-15 03:52] kaustubhgupta commented on #901
@santushtisharma10 @antrikshmisri your call?

[2021-04-15 04:04] Lakhankumawat opened #904 "Buttons Using Pygame🆕"
## Aim
- How to make buttons in python
- Why to use them
- To be able to design and animate buttons in python .
- Make buttons use in any GUI based applications . ( It will be preety handy )
- To Redirect user to any other module using buttons .

## Details
- Libraries to be used [Pygame]

[2021-04-15 05:08] kaustubhgupta commented on #904
@Lakhankumawat Make sure to cover variety of buttons

[2021-04-15 06:48] antrikshmisri commented on #901
@kaustubhgupta I agree this is a standalone project. We can see the implementation first then we can decide which scopes can be removed from the project.

[2021-04-15 07:10] dsrao711 opened #905 "Bulk Email Sender using Python"
# Aim

- As an email sender is already implemented, a bulk email sender can be implemented to send emails to larger number of reciepients

# Details

- The emails can be read from a csv file using pandas and accordingly emails can be sent to all the entries in the file.

[2021-04-15 07:10] dsrao711 commented on #905
Please assign this issue to me as a GSSOC participant

[2021-04-15 08:42] #806 closed

[2021-04-15 08:43] #843 closed

[2021-04-15 08:43] #828 closed

[2021-04-15 08:43] #868 closed

[2021-04-15 08:44] #867 closed

[2021-04-15 08:44] #719 closed

[2021-04-15 10:56] mehabhalodiya commented on #901
You can assign this to someone else if anyone wants to implement this.
I will not able to do this as I will be busy in some important work.
Sorry for the inconvenience!

[2021-04-15 12:16] ayush-raj8 commented on #893
Yes , I can do this.

[2021-04-15 12:22] kaustubhgupta commented on #905
This is already implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Custom-Bulk-Email-Sender

[2021-04-15 12:22] #905 closed

[2021-04-15 12:22] kaustubhgupta commented on #901
@mehabhalodiya okay no issues

[2021-04-15 12:22] #901 closed

[2021-04-15 14:21] shantamsultania opened #908 "Twitter Sentimental analysis Script"
# Aim
Create a Twitter Sentimental analysis Script

# Details

- What features will your script have
1. will get a set of tweets from Twitter itself
2. perform sentimental analysis on the same
3. result will be including a set of tweets that are based on the user choice example positive tweets or Negative Tweets.
4. this can later be used to create a product-based analysis on the same.

[2021-04-15 14:27] shantamsultania opened #909 "Text sentimental Analysis script"
# Aim

- create a script for text sentimental analysis
# Details

- in this a person could enter a text / paragraph as an input and in return he/she will get a idea about the impact of the text is it a positive impact text or negative impact

[2021-04-15 14:39] shantamsultania opened #910 "Firebase Management Script"
# Aim

- To create a sample Firebase script for beginners to try on and learn
- the main aim is to create a demo script/program so that all can learn about the firebase database and how to use it more effectively

# Details

To create a script with which a person can
- get all the data from his/her firebase database
- add data to firebase real-time database as well as storage
- also perform variou

[2021-04-15 14:44] shantamsultania opened #911 "Firebase notification script for android"
# Aim

- Firebase notification script for android
- basically, push notification script for using firebase

# Details

Firebase database is one of the most used databases for any android developers these days.
but many developers are still using the traditional way of accessing the script my idea is to create a script for notification purpose that could be later integrated with android application

[2021-04-15 14:51] shantamsultania opened #912 "AWS Cloud formation script"
# Aim

- AWS Cloud Formation script
- AWS Cloud formation is a service provided by Amazon in which one person can create a MultiTasking endorsement

# Details

- Idea is to create an AWS Cloud Formation script in which a person has to just share his/her Template and any paraments is required and a new Cloud formation Stack will be created in a click
read more about AWS Cloud formation (PS it's not

[2021-04-15 18:06] iamakkkhil opened #913 "Codeforces Scraper"
**Describe the solution you'd like**
is a useful website for beginners to practice DSA problems with varying difficulty. This python script will cover the extraction of required problem statements and their related info and storing them in a PDF file.

I am GSSOC21 participant @kaustubhgupta @avinashkranjan

[2021-04-16 00:29] XZANATOL commented on #831
@kaustubhgupta Hi there, I've finsihed most of the JSON file, here is a small part of how it is structured.

![image](https://user-images.githubusercontent.com/64689436/114954559-2979e900-9e5b-11eb-8bad-f7cfa7028bcf.png)

The JSON file follows this structure: `` {category: {name: [path, entry, arguments, requirments_path, contributor, description]}} ``
Tell me what you think about it, and whether

[2021-04-16 03:05] kaustubhgupta commented on #686
@amrzaki2000 Today is the last date for this. I have given this day as per your contributions in the past.

[2021-04-16 03:10] kaustubhgupta commented on #831
Perfect, 💯

I am working on the Pull request automation locally and maybe I will create the pull request for that. Let's see how this works and then we can move towards making the demo script!

[2021-04-16 03:11] kaustubhgupta commented on #831
Yes @Ajay-Singh-Rana. If you want, you can work on the pull request automation.

[2021-04-16 03:17] kaustubhgupta commented on #909
This issue is already in progress: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/211

[2021-04-16 03:17] #909 closed

[2021-04-16 03:18] kaustubhgupta commented on #908
@shantamsultania assigned to you, Use snscrape library to avoid any authentication tokens

[2021-04-16 03:20] kaustubhgupta commented on #910
I don't have knowledge of how firebase works. @santushtisharma10 @antrikshmisri @Kushal997-das if you have any idea about this then you can assign this or close the issue

[2021-04-16 03:24] kaustubhgupta commented on #911
@shantamsultania this is a Python-based repo and we can't accept/review any android based code. Also, as you have raised the previous issue for firebase, if any other mentor has tech stack aligned to that, that issue will be assigned to you

[2021-04-16 03:24] #911 closed

[2021-04-16 03:26] kaustubhgupta commented on #912
@shantamsultania none of us have any idea about AWS. The last PR of yours was understandable as I have some prior knowledge about that but this issue, no idea.

[2021-04-16 03:26] #912 closed

[2021-04-16 03:30] kaustubhgupta commented on #913
@iamakkkhil assigned to you. Make sure to implement your findings in the same way as https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Codechef%20Scrapper but don't copy-paste the whole code like https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/833.

[2021-04-16 06:29] Ayushjain2205 commented on #831
@kaustubhgupta I would like to work the 2nd task -  Creating the demo Script for testing
Just have a small question regarding how to deal with scripts that require arguments, should the user first be prompted what argument is required and then take the argument from the user as a command line argument?

[2021-04-16 08:15] avinashkranjan commented on #910
Sure @shantamsultania Go Ahead..Assigned to you..

[2021-04-16 13:53] Ayush7614 opened #914 "Third Umpire Decision Review System DRS Gully Cricket"
# Aim

- Third Umpire Decision Review System DRS Gully Cricket

# Details

- We have to make DRS system with python and python modules that you can see in IPL World Cup or cricket matches

[2021-04-16 13:54] Ayush7614 commented on #914
@avinashkranjan plss assign me this issue  under Gssoc

[2021-04-16 13:58] Ayush7614 opened #915 "Flappy Bird Game"
# Aim

- Flappy Bird Game

# Details

- We have to add Flappy Bird Game in python using python modules

[2021-04-16 13:58] Ayush7614 commented on #915
@avinashkranjan plss assign me this issue under gssoc

[2021-04-16 14:10] archanagandhi opened #916 "Pig Latin Translater"
# Details
What the features will your script have

- This Python script converts a English sentence to a pig latin secret message

Please assign this to me as a part of gssoc'21

[2021-04-16 15:03] santushtisharma10 commented on #914
@Ayush7614 go ahead, assigned to you

[2021-04-16 15:04] santushtisharma10 commented on #914
you will be using opencv module for this program, right?

[2021-04-16 15:10] santushtisharma10 commented on #915
@Ayush7614 for future reference mention the python module name you will be using in your program, instead of writing python module

[2021-04-16 15:34] dsrao711 opened #917 "Data Visualization"
# Aim

- More types of visualizations like Financial Charts and Scientific Charts can be added

# Details

-  Scientific Charts like Contour Plots , Ternary Plots
-  Financial Charts like Waterfall Chart , Funnel Chart

Contour Plot :
<img width="240" alt="dv" src="https://user-images.githubusercontent.com/59830064/115048103-d81f3780-9ef6-11eb-9763-8a607947fb4d.png">
Ternary Plot :
<img width="278

[2021-04-16 15:34] dsrao711 commented on #917
Please assign me this issue as a GSSOC Participant

[2021-04-16 19:17] iamakkkhil opened #920 "Multiplayer TicTacToe GUI using Pygame"
**Describe the solution you'd like**
The script will use Pygame in order to make a user friendly GUI Multiplayer TictacToe game.
Could you please assign this issue to me. I am a gssoc'21 participant.

[2021-04-17 03:52] kaustubhgupta commented on #831
Hi @Ayushjain2205, Let @XZANATOL update the database and then I can explain you better about actual implementation

[2021-04-17 03:59] kaustubhgupta commented on #917
Hi @dsrao711,
Will you create these plots using Plotly? As we already have a directory for data visualizations: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Data-Visualization. It has all the basic charts and adding your charts will enhance it. Let me know the library/module to be used.

[2021-04-17 04:01] kaustubhgupta commented on #920
Hi @iamakkkhil,
We already have this issue assigned https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/768 and PR under review https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/851

[2021-04-17 04:01] #920 closed

[2021-04-17 04:03] dsrao711 commented on #917
Yes. I will be doing this using Plotly and it would be an add on to the already existing Data visualization project@kaustubhgupta

[2021-04-17 04:07] kaustubhgupta commented on #917
@dsrao711 Okay then, assigned to you. Just have a look at the implementation of the current graph. You need to structure the code in the same way. That means you will create 4 folders, one for each type, and updated the readme with each graph output and your name at the end in the author section. Let me know any other doubts.

[2021-04-17 04:56] dsrao711 commented on #917
Ya, Will do that. Thank you!

[2021-04-17 12:51] XZANATOL commented on #831
@kaustubhgupta I've a doubt, There are some scripts that needs a `` requirments.txt `` file but it does not exist, however the pip commands present in the `` Readme.md `` file. Shall I make a seperate  `` requirments.txt `` file and add the needed or shall I give the path to the `` Readme.md `` file instead? tho doing the second option will prevent adding a step to prepare the script libraries usi

[2021-04-17 16:09] JanhaviSoni opened #922 "Parkinson Disease Prediction Model"
# Aim

- Parkinson Disease Prediction Model

# Details

- It will predict if the the person has the disease or not . It will be trained using xgboost classifier

[2021-04-17 17:30] santushtisharma10 commented on #922
@JanhaviSoni go ahead, assigned to you

[2021-04-17 17:35] Priyadarshan2000 opened #923 "AI Trainer using OpenCV"
# Aim

- To make an AI Trainer using OpenCV

# Details
In this Project on building an AI Trainer using OpenCV and Python. We will use the pose estimation running on the CPU to find the correct points and using these points we will get the desired angles. Then based on these angles we find many gestures including the number of biceps curls. I will write the code in a way that you will be able to fi

[2021-04-17 17:40] santushtisharma10 commented on #922
@JanhaviSoni you have to structure your files in the similar manner as done in this [folder](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Salary%20Predictor)

[2021-04-18 03:04] kaustubhgupta commented on #893
@ayush-raj8 updates on this?

[2021-04-18 03:04] kaustubhgupta commented on #894
@nidhivanjare updates on this?

[2021-04-18 04:38] ayush-raj8 commented on #893
Yes , I'll make PR soon in the format given with few days. I'll add image datasets link instead of really uploading bcoz the dataset size is of the order of GBs.

[2021-04-18 04:58] devRawnie commented on #831
Hi. I created a menu-driven script for another Repo containing scripts related to penetration and Hacking. Would also like to work on this one.

[2021-04-18 05:00] devRawnie commented on #831
I'll set-up a draft PR in some time, and will continue pushing changes into it

[2021-04-18 05:02] kaustubhgupta commented on #831
@devRawnie don't make the draft PR now. Read this comment https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/831#issuecomment-817241049 and let me know in which part you're interested.

[2021-04-18 05:05] kaustubhgupta commented on #831
No, don't make requirements for those scripts. I create another issue for fixing these. Just include those requirements which are already pushed by contributors

[2021-04-18 05:33] devRawnie commented on #831
Hi @kaustubhgupta. I would like to work on the second task. The code that I wrote earlier for the menu-driven program loosely followed the methodology as you mentioned here. So I would like to work on the demo script part where we are taking input from the user based on the arguments required. After that, I would also like to learn about github actions and automate JSON updation

[2021-04-18 05:55] kaustubhgupta commented on #831
Okay, for now wait for Json file to be updated.

[2021-04-18 14:38] Priyadarshan2000 commented on #923
/assign

[2021-04-18 18:50] iamakkkhil opened #928 "Smart Tic Tac Toe GUI Game"
**Describe the solution you'd like**
This script will let the user choose to play single player (with AI) or Multiplayer game built by using Pygame library of Python

[2021-04-18 18:52] #928 closed

[2021-04-18 18:54] iamakkkhil opened #929 "Spaceship Game using Pygame"
**Describe the solution you'd like**
This script will let the user play a multiplayer spaceship game built by using Pygame library of Python

I am GSSoC 21 paricipant .
Kindly assign @avinashkranjan

[2021-04-18 19:00] RohiniRG opened #930 "Wikipedia Infobox Scrapper"
**Describe the solution you'd like**
This script will scrape the Wikipedia Infobox which gives the essential factoid of any topic.

[2021-04-18 19:03] RohiniRG opened #931 "Pawned or not?"
**Describe the solution you'd like**
This script will let you check whether your password has been hacked or not by using https://haveibeenpwned.com/ database

I am a GSSOC21 Participant @avinashkranjan kindly assign me the same

[2021-04-19 02:18] kaustubhgupta commented on #753
@AshuKV will you make the new code PR?

[2021-04-19 02:19] kaustubhgupta commented on #900
@Ayushjain2205 updates on this?

[2021-04-19 02:20] kaustubhgupta commented on #904
@Lakhankumawat updates on this?

[2021-04-19 02:21] kaustubhgupta commented on #923
@Priyadarshan2000 This is a standalone project and out of the scope of this repo.

[2021-04-19 02:22] kaustubhgupta commented on #929
@iamakkkhil assigned to you

[2021-04-19 02:24] kaustubhgupta commented on #930
@RohiniRG will you make the GUI for the same or it will be a terminal based script?

[2021-04-19 02:25] kaustubhgupta commented on #931
@RohiniRG same question: WIth or without GUI and secondly, name this script as "Pawned or not?"

[2021-04-19 03:44] Amit366 commented on #790
@kaustubhgupta please assign it to me

[2021-04-19 03:44] Amit366 commented on #809
@kaustubhgupta can I work??

[2021-04-19 03:46] kaustubhgupta commented on #790
@Amit366 Assigned

[2021-04-19 03:49] Lakhankumawat commented on #904
I will create a PR today

[2021-04-19 03:52] kaustubhgupta commented on #809
@Amit366 I have already assigned you audio Steganography. In total, you have 3 active issues out of which one 'Expense tracker' will be approved by other mentors and the other two are: Sentiment and Audio. Complete those two and then I will assign this issue.

[2021-04-19 03:57] kaustubhgupta commented on #809
That is wrong implementation, check the commet

[2021-04-19 04:10] RohiniRG commented on #931
@kaustubhgupta Yes, I can make a GUI for this.

[2021-04-19 04:11] RohiniRG commented on #930
I can make GUI for this

[2021-04-19 04:13] kaustubhgupta commented on #931
@RohiniRG okay assigned to you

[2021-04-19 04:14] kaustubhgupta commented on #930
@RohiniRG okay assigned to you

[2021-04-19 04:59] AshuKV commented on #753
Yes, I would be making the new code PR by today EOD.

[2021-04-19 05:05] soha28 opened #932 "Restaurant Management System"
# Aim

To build a restaurant management system using Tkinter library of python.

# Details

This app can be used by restaurants to calculate the bill of their customers effortlessly.
Then, the Python program behind the software will do all the calculations and will show you the total amount, along with the service charge, state tax, etc.
It also contains a separate calculator that the restaurant o

[2021-04-19 05:06] soha28 commented on #932
I want to work on this project under GSSOC'21. Can u please assign this to me ? @kaustubhgupta

[2021-04-19 05:12] kaustubhgupta commented on #932
@soha28 can you add the database to store the information entered by the user?

[2021-04-19 05:17] soha28 commented on #932
yes

[2021-04-19 05:22] kaustubhgupta commented on #932
okay then assigned to you

[2021-04-19 05:42] tanvi355 opened #933 "Linear search visualizer"
# Aim

To create a GUI for linear search visualization.

[2021-04-19 05:42] tanvi355 commented on #933
Please assign this to me under GSSoC'21

[2021-04-19 07:18] #862 closed

[2021-04-19 07:21] #853 closed

[2021-04-19 07:22] #842 closed

[2021-04-19 07:23] #856 closed

[2021-04-19 07:23] #726 closed

[2021-04-19 07:23] #704 closed

[2021-04-19 07:24] #768 closed

[2021-04-19 07:24] #887 closed

[2021-04-19 07:25] #823 closed

[2021-04-19 11:33] codebuzzer01 opened #937 "Cryptography"
# Aim

 The objective of this project is to encode and decode messages using a common key.

# Details

 In this project,
-Users have to enter the message to encode or decode.
-Users have to select the mode to choose the encoding and decoding process.
-The same key will be used to process the encoding and decoding for the same message.

[2021-04-19 11:36] codebuzzer01 commented on #937
I would like to work for this . Please assign it to me.

[2021-04-19 11:41] #923 closed

[2021-04-19 12:24] Ayushjain2205 commented on #900
Will make a PR by tommorow, sorry for the delay had exams

[2021-04-19 15:19] sayantani11 opened #938 "COVID-19 outbreak notification"
# Aim

- With Covid-19 cases being at its peak, it is useful that we keep ourselves updated with the number of cases for our safety.

# Details

- This is an notification system that will keep notifying us about the number of cases in a state and the country after a particular interval of time set by the user.

[2021-04-19 15:54] nidhivanjare commented on #894
Working on it.. Some small bug.

[2021-04-20 03:53] rafa1309 commented on #894
Hello , My user its rafaelarevalosoficial , help me please

[2021-04-20 04:20] avinashkranjan commented on #894
Hey @rafa1309 What do you need help with??

[2021-04-20 04:33] rafa1309 commented on #894
Hy friend , i need followers.

[2021-04-20 04:37] avinashkranjan commented on #894
Hey @rafa1309 this is not the place for you to asking for followers, Kindly keep that in mind. Keep this as a warning, If it happens again you'll be restricted from this repo.

[2021-04-20 06:47] kaustubhgupta commented on #831
@XZANATOL updates on this?

[2021-04-20 06:48] kaustubhgupta commented on #908
@shantamsultania updates on this?

[2021-04-20 06:49] kaustubhgupta commented on #914
@Ayush7614 updates on this?

[2021-04-20 06:49] kaustubhgupta commented on #915
@Ayush7614 updates on this?

[2021-04-20 06:52] kaustubhgupta commented on #937
@codebuzzer01 assigned to you

[2021-04-20 06:53] kaustubhgupta commented on #938
@sayantani11 assigned to you

[2021-04-20 07:09] shantamsultania commented on #908
hey i am doing the Firebase Management script first will be done with that by today then will create a PR for this one after its mergered

[2021-04-20 08:47] XZANATOL commented on #831
Already finished 3 categories, about 4 left. By the way where should I place the JSON file? In the root directory of the repo or shall I make a `` lazy script `` folder?

[2021-04-20 12:24] Ayush7614 commented on #914
Complete by today

[2021-04-20 14:40] Ayush7614 commented on #915
#942 is the pull for this issue plss review it

[2021-04-20 20:02] albertzeap opened #944 "Beat Board"
# Aim

- Allows users to create music through a sound board

# Details

- GUI showing a grid of the different sounds that can be produced
- Users can either click the pads or press keys on their keyboard to produce the sound

[2021-04-21 03:28] kaustubhgupta commented on #831
Umm, yes create a folder for this, "Master Script"

[2021-04-21 03:29] kaustubhgupta commented on #894
@nidhivanjare you got tomorrow's last day to complete this issue

[2021-04-21 03:31] kaustubhgupta commented on #908
@shantamsultania you should create a separate branch for this issue and then start with the code after you're done with firebase. The PR merge can take time

[2021-04-21 03:33] kaustubhgupta commented on #944
@albertzeap Hi, are you part of GSSOC or a casual contributor?

[2021-04-21 09:36] kaustubhgupta opened #947 "Trending GitHub Users Fetcher (GUI)"
# Aim

To scrap details of users who are trending.

# Details

Scrapping can be done using any library of your choice. Various filters you need to provide:
- Based on location (India, Egypt...)
- Based on language (Python, Java...)
- Based on the date (Today, Week, or Month)

The data needs to be stored as an SQLite database and then displayed in the GUI application. You can opt for any GUI librar

[2021-04-21 13:32] nidhivanjare commented on #894
Done

[2021-04-21 16:44] albertzeap commented on #944
Im just a casual contributor. I was browsing for projects I can contribute to and came across yours.

[2021-04-21 18:30] Nathandloria commented on #947
Hello, would you be able to assign me ( @Nathandloria ) and my team ( @noorbuchi, @cklima616, @munzekm )? We would love to work on this issue!

[2021-04-22 01:54] albertzeap commented on #944
I would love to be assigned to this task and work on it if it sounds like a good idea to you

[2021-04-22 04:37] kaustubhgupta commented on #914
@Ayush7614?

[2021-04-22 04:38] kaustubhgupta commented on #944
@albertzeap No problem, you can start working on this issue irrespective of the fact that whether you are associated with GSSOC or not.

[2021-04-22 04:50] kaustubhgupta commented on #947
@Nathandloria are you part of GSSOC? Because this issue is specifically for GSSOC. Also, team assignment is not possible.

[2021-04-22 04:58] Nathandloria commented on #947
Ah, I did not give much thought to the GSSOC tag -- my apologies. Also, I was speaking of doing individual assignments for each member, not as a GitHub team, I should have clarified further. Thanks for your response!

[2021-04-22 05:43] Amit366 opened #949 "Sentiment Detector GUI"
**Is your feature request related to a problem? Please describe.**
I would like to add a  Sentiment Detector GUI

**Describe the solution you'd like**
I will use vaderSentiment and tkinter libraries

[2021-04-22 06:18] RJ535315 opened #950 "Balanced SubStrings"
# Aim

- To identify the unique balanced substrings that can be formed using the given input string and print the substrings as output

# Details

- Balanced substrings are those in which count of occurrunces of each character within the substring formed, are equal.
- Ex: acca, abbbaa, etc
- print -1, if no balanced substrings are found / can't be formed

[2021-04-22 06:21] RJ535315 commented on #950
@avinashkranjan
please assign me the issue, I love to contribute the code related to this problem.
FYI : I'm a gssoc participant

[2021-04-22 08:40] shantamsultania commented on #211
hey @kaustubhgupta can I can take this ?

[2021-04-22 09:19] shantamsultania commented on #908
ok will do the same just wanted to ask can I can also include a webapp of the same ?

[2021-04-22 10:59] Ayushjain2205 opened #951 "Image Colour picker"
# Aim

To enable a user to pick colors by clicking on any part of a picture

# Details

This project will be done using OpenCV

[2021-04-22 13:42] Ayush7614 commented on #914
Done plss review it @kaustubhgupta

[2021-04-23 03:19] kaustubhgupta commented on #908
Umm, web app is not preferred as this is a script based repository

[2021-04-23 03:21] kaustubhgupta commented on #211
You already have one pending issue. After completing that I will assign this issue to you, then you can start working on this. We don't need flask app, you can create GUI using Tkinter, Pygame or Kivymd, any library of your choice in case of GUI

[2021-04-23 03:22] kaustubhgupta commented on #922
@JanhaviSoni updates on this?

[2021-04-23 03:22] kaustubhgupta commented on #929
@iamakkkhil updates on this?

[2021-04-23 03:22] kaustubhgupta commented on #930
@RohiniRG updates on this?

[2021-04-23 03:23] kaustubhgupta commented on #931
@RohiniRG updates on this?

[2021-04-23 03:23] kaustubhgupta commented on #932
@soha28 updates on this?

[2021-04-23 03:23] kaustubhgupta commented on #933
@tanvi355 updates on this?

[2021-04-23 03:23] kaustubhgupta commented on #938
@sayantani11 updates on this?

[2021-04-23 03:26] kaustubhgupta commented on #950
@RJ535315 This repository is not for DSA questions but rather implementations of different libraries and unique ideas. If you can make this script interactive, GUI-based or anything presentable then let me know. Also, Neo-Algo repository is better for these kind of scripts.

[2021-04-23 03:27] kaustubhgupta commented on #951
@Ayushjain2205 is your idea similar to this implementation? https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Color_detection

Let me know

[2021-04-23 03:41] tanvi355 commented on #933
Working on it. Please give me 2 more days and I will submit a PR.

[2021-04-23 03:44] kaustubhgupta commented on #933
@tanvi355 sure work at your pace.

[2021-04-23 04:00] iamakkkhil commented on #929
Almost done with the game will put the PR today itself

[2021-04-23 04:02] RJ535315 commented on #950
Ok. Thank you. I'll check those repos.

[2021-04-23 04:25] #950 closed

[2021-04-23 04:50] Ayushjain2205 commented on #951
@kaustubhgupta Yes it is somewhat similar sorry for the duplicate issue

[2021-04-23 05:04] RohiniRG commented on #930
Will be done within 2 days

[2021-04-23 05:05] RohiniRG commented on #931
Working on the GUI. Will be uploaded by today.

[2021-04-23 05:14] #951 closed

[2021-04-23 05:24] Ayushjain2205 commented on #947
@kaustubhgupta  I would like to work on this issue if this is still up for grab

[2021-04-23 05:52] kaustubhgupta commented on #947
@Ayushjain2205 assigned to you!

[2021-04-23 06:25] soha28 commented on #932
Yes I'm working on the database @kaustubhgupta

[2021-04-23 07:25] #917 closed

[2021-04-23 07:26] #916 closed

[2021-04-23 07:26] #898 closed

[2021-04-23 07:27] #871 closed

[2021-04-23 07:27] #869 closed

[2021-04-23 07:27] #859 closed

[2021-04-23 07:28] #779 closed

[2021-04-23 08:31] shantamsultania commented on #908
ok cool man

[2021-04-23 08:33] shantamsultania commented on #211
cool man thanks for the update I am done with my other PR mostly will share the code for review and then start working on this one then

[2021-04-23 12:46] smriti26raina opened #955 "Scraping Covid-19 resources from twitter."
# Aim

- A Twitter scraper script that will scrape all the important covid-19 resources (plasma, beds, etc).

# Details

- A script that will find and scrape all the important COVID-19 resources  (like plasma, Remdesivir injection, etc) posted by the various users on Twitter along with their contact details. It will then, saved into a CSV file for the needy persons.

[2021-04-23 14:27] ayush-raj8 opened #956 "Image Stiching"
### **Image Stiching**
This be able to stitch two images together, creating a panorama of stitched images.
Sometimes , we click more than image if the object is close and large and then desire it to be in one frame.

Left view
![left](https://user-images.githubusercontent.com/52033949/115885882-027c7200-a46e-11eb-8ac5-ddb0191ab4f2.jpg)
Right view
![right](https://user-images.githubusercontent.com/

[2021-04-23 15:14] sayantani11 commented on #938
@kaustubhgupta Was a bit busy this week, I am kind of done, will push the code within monday

[2021-04-23 18:12] JanhaviSoni commented on #922
@kaustubhgupta I have made the model but I had confusion about python script . Can you please give some info how should this python script be prepared, I have never made it before

[2021-04-23 19:39] XZANATOL commented on #831
@kaustubhgupta Hi there, sorry for that delay, There is a hidden mess behind each folder in the repo it caused me a headache trying to filter each. xd

The Databse is ready and I'm ready to make a PR (made a `` git pull `` from a couple of minutes to make sure that everything is up-to-date), but one last doubt before submitting everything, there are 5 projects which idk how to implement. (gonna me

[2021-04-23 21:28] XZANATOL opened #957 "Base-N Calculator"
# Aim

- A Python calculator that can convert numbers from base-X to base-Y. Example: `` Decimal to Binary ``, `` Binary to Octal ``, `` Base 3 to Base 6 ``, ..etc.

# Details

- The script will not be limited to the known bases of Binary, Octal, Decimal, and Hexadecimal. The user will be able to enter/ convert-to the desired base number.
- The Script will be able to also deal with decimal numbers

[2021-04-24 03:27] kaustubhgupta commented on #831
Good to see the progress till now 😄!

You can skip these projects for now (just mention them in the PR description to create a separate issue for this).
Include the python script too, if your script works well then I will guide you about GitHub action and if everything works good, I will assign both tasks (automation PR too) to you (will make separate PR for this, can be discussed later)

[2021-04-24 03:31] kaustubhgupta commented on #922
@JanhaviSoni as @santushtisharma10 mentioned in this comment, look at this file structure or try to run this script on your local system. Basically we need two scripts: `model.py` which will contain all the model training code and this file should save the model at the end. `prediction/main.py` this script will load the saved model and then ask the user to input the features required by the model

[2021-04-24 03:33] kaustubhgupta commented on #955
@smriti26raina good initiative, assigned to you!

[2021-04-24 03:35] kaustubhgupta commented on #957
Hi, @XZANATOL

Can you make it a GUI application?

[2021-04-24 06:41] #913 closed

[2021-04-24 06:41] #949 closed

[2021-04-24 13:25] codebuzzer01 opened #959 "Keyboard Jumper Game"
# Aim
Keyboard jump game is a speed typing game that helps in improving the typing speed of players.
The objective  is to build a keyboard jump game that helps players to increase their typing speed.
In this project, the player has to press the same keys to the letters displayed on the game screen. If the player made an error while typing then the game gets over.

# Details
I will use pygame, rand

[2021-04-24 13:26] codebuzzer01 commented on #959
@kaustubhgupta  shall I work on it?

[2021-04-24 13:52] kaustubhgupta commented on #959
@codebuzzer01 this is same as this: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Typing-Speed-Test

[2021-04-24 14:39] codebuzzer01 commented on #959
ok cool !!

[2021-04-24 14:39] #959 closed

[2021-04-24 14:45] codebuzzer01 opened #960 "Gender-Age Detection"
# Aim

This project is  a gender and age detector that will automatically guess the gender and age of the person present in an image.

# Details

It uses OpenCV.

[2021-04-24 14:46] codebuzzer01 commented on #960
@kaustubhgupta  should I work on this?

[2021-04-24 15:18] robin025 opened #961 "Flappy Bird Game"
# Aim

- Flappy Bird Game

# Details

- Flappy Bird game  in Python using PyGame Module

Assign me this issue under GSSoC 21

[2021-04-24 15:22] robin025 opened #962 "Addition of DRS Script"
# Aim

- DRS(Decision Review System) Application with GUI

# Details

- Decision Review System application using Tkinter
- This application can be used to see videos in slow mode

Assign me this issue under GSSoC 21

[2021-04-24 15:44] XZANATOL commented on #957
Didn't try to build a GUI application before, but I think I can overcome the challenge. :D

[2021-04-24 15:55] kaustubhgupta commented on #957
@XZANATOL okay give it a try!

[2021-04-26 04:12] geekymeeky opened #968 "LinkedIn Certifications Manager"
# Aim

- To add your Coursera certifications to your LinkedIn profile.

# Details

- This script will be automated and add your Coursera certificate to your LinkedIn profile.

[2021-04-26 04:13] geekymeeky commented on #968
@avinashkranjan Please assign this to me under GSSoC'21.

[2021-04-26 04:15] santushtisharma10 commented on #960
@codebuzzer01 assigned to you

[2021-04-26 04:24] santushtisharma10 commented on #960
@codebuzzer01 which modules you will be using ?

[2021-04-26 05:31] kaustubhgupta commented on #961
@robin025 assigned to you. Make sure that the code is unique and you're not copy-pasting it from somewhere else.

[2021-04-26 05:32] kaustubhgupta commented on #962
Issue already in progress: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/914

[2021-04-26 05:32] #962 closed

[2021-04-26 05:33] kaustubhgupta commented on #968
@geekymeeky only Coursera certification and no other certificates?

[2021-04-26 05:46] geekymeeky commented on #968
@kaustubhgupta This will be the basis for this script.  I'll add more after I finish this one.

[2021-04-26 05:57] kaustubhgupta commented on #968
You need to clearly specify this because adding only one type of certification is not useful.

[2021-04-26 06:03] codebuzzer01 commented on #960
@santushtisharma10  Yes I will be  using deep learning modules.

[2021-04-26 06:35] subhangi2731 commented on #900
please assign me this

[2021-04-26 06:40] subhangi2731 commented on #933
please assign me this

[2021-04-26 06:46] kaustubhgupta commented on #933
@subhangi2731 assigned to you

[2021-04-26 07:41] kaustubhgupta commented on #922
@JanhaviSoni Today is last date for this

[2021-04-26 07:42] dsrao711 opened #970 "PDF to Word converter"
# Aim

- Implementation of a pdf to word converter using Python

# Details

- The code will be taking a pdf as input and convert it into a  word file

[2021-04-26 07:42] kaustubhgupta commented on #932
@soha28 you need to make the PR today itself

[2021-04-26 07:42] dsrao711 commented on #970
Please assign me this issue as GSSOC21 participant

[2021-04-26 09:13] #894 closed

[2021-04-26 09:13] #900 closed

[2021-04-26 09:13] #937 closed

[2021-04-26 09:13] #753 closed

[2021-04-26 09:13] #893 closed

[2021-04-26 09:49] geekymeeky commented on #968
It will also include certifications from Udemy. These two are some of the major e-learning platforms I'm familiar with, I hope the script will be useful.

[2021-04-26 10:23] santushtisharma10 commented on #961
@kaustubhgupta issue #915 is also flappy bird game

[2021-04-26 10:27] soha28 commented on #932
@kaustubhgupta my exams were going on.. Please give me 2 more days

[2021-04-26 10:33] kaustubhgupta commented on #961
The person hasn't updated why he closed the PR 5 days ago and he was assigned this issue for 10 days. I am closing that issue to avoid any confusion

[2021-04-26 10:34] #915 closed

[2021-04-26 10:34] kaustubhgupta commented on #932
okay then, take 2 more days

[2021-04-26 12:14] dsrao711 commented on #970
Completed . Please check the PR

[2021-04-26 16:46] soumik2012 opened #974 "Certificate Generator"
# Aim

- Generate thousands of certificates at just one click

# Details

- We need a list of names in CSV  we want to print it simple draw name in the image here
![certificate](https://user-images.githubusercontent.com/66599363/116120177-e3374c00-a6dc-11eb-8d9f-7bb0fd2b16df.jpg)

[2021-04-26 16:52] soumik2012 commented on #974
@kaustubhgupta  please assign me this issue

[2021-04-27 02:01] kaustubhgupta commented on #922
@JanhaviSoni Can you make the PR today?

[2021-04-27 02:01] kaustubhgupta commented on #930
@RohiniRG updates?

[2021-04-27 02:02] kaustubhgupta commented on #944
@albertzeap are you working on this issue?

[2021-04-27 02:04] kaustubhgupta commented on #974
Can you provide the functionalities to add our own custom certificate and then generate others?

[2021-04-27 02:19] #820 closed

[2021-04-27 03:52] soumik2012 commented on #974
@kaustubhgupta No sir I can't  custom certificate user need add own certificate.

[2021-04-27 04:25] RohiniRG commented on #930
I'm sorry, I got caught up with a personal problem. I am working on the GUI part, the logic is complete. PR will be up in a few hours.

[2021-04-27 04:38] kaustubhgupta commented on #930
Sure, take your time. You can submit the PR anytime today

[2021-04-27 04:44] Arnab11917676 opened #975 "Sinchan Drawing Using Python"
# Aim

Drawing Sinchan Using Python Turtle

# Details

In this project, I will be using the Python Turtle Module to draw the portrait of the famous cartoon character Sinchan. @kaustubhgupta  please have a look into this issue because I think this is a unique project and its something new.

[2021-04-27 06:56] Amit366 opened #976 "GST Claculator"
# Aim

GST calculator GUI

# Details

By entering the original price and net price the script will calculate the GST percentage.

[2021-04-27 06:56] Amit366 commented on #976
@kaustubhgupta please assign this issue to me

[2021-04-27 07:05] kaustubhgupta commented on #976
@Amit366 Two questions:
- Will you make the GUI for this?
- Are you aware of different Slabs of taxes? Not all entities are entitled to 18% GST.

[2021-04-27 07:06] kaustubhgupta commented on #975
@Arnab11917676 assigned to you

[2021-04-27 07:07] kaustubhgupta commented on #974
@soumik2012 hmm, okay then give it a try,

[2021-04-27 07:09] kaustubhgupta commented on #974
@soumik2012 Sorry for the confusion, this implementation already exist: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Automatic%20Certificate%20Generator

[2021-04-27 07:09] #974 closed

[2021-04-27 07:10] Amit366 commented on #976
@kaustubhgupta I will make a Gui where the user enters the original price and net price.
To calculate the gst I will be using the formula:

((Net price - original price)*100)/original price

[2021-04-27 07:11] Arnab11917676 commented on #975
@kaustubhgupta  sir in this project there is a lot of geometry is used . I believe this is more than Level 1 project. I think after you will see the project code you will also agree with me.

[2021-04-27 07:13] kaustubhgupta commented on #975
We can increase the level after reviewing the code, no worries about that 👍

[2021-04-27 07:20] kaustubhgupta commented on #976
Assigned to you,

[2021-04-27 07:29] albertzeap commented on #944
Yes I am currently working on it. I can submit a pull request Friday the latest if that is fine with you

[2021-04-27 07:55] soumik2012 opened #977 "English Theasauras"
# Aim

- A simple and smart command-line dictionary that displays the definition of the words entered by the user.

# Details

- This helps the user English word definition

[2021-04-27 07:56] soumik2012 commented on #977
@kaustubhgupta  please assign me in GSSoC'21

[2021-04-27 08:31] kaustubhgupta commented on #977
https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Dictionary-GUI

We already have this

[2021-04-27 08:31] #977 closed

[2021-04-27 09:53] Arnab11917676 commented on #975
Okey

[2021-04-27 10:02] srishtij2000 commented on #812
Can I work on this issue?

[2021-04-27 11:28] soumik2012 opened #980 "Speak-Like-Yoda"
# Aim

- A python script that translates an input English sentence into Yoda-speak.

# Details

- In this project, The script only uses Python's standard modules random and string, so no additional installation is needed
- @kaustubhgupta please have a look into this issue because I think this is a unique project and its something new.

[2021-04-27 12:49] saaalik opened #981 "Turtle Race"
# Aim

A Race of turtles running through random number of blocks based on a random choice

# Details
A script written using turtle module in python, which makes 5 turtle race and move based on a random number drawn using random module.

[2021-04-27 14:47] JanhaviSoni commented on #922
@kaustubhgupta I will make the PR within few days as there was some issue . I need some time.

[2021-04-27 16:58] Trisanu-007 commented on #790
@kaustubhgupta can I take a shot at this if this is unassigned ?

[2021-04-28 00:20] soumik2012 commented on #980
@kaustubhgupta please assign me the issue

[2021-04-28 04:12] kaustubhgupta commented on #790
@Trisanu-007 sure assigned to you

[2021-04-28 04:14] kaustubhgupta commented on #922
@JanhaviSoni okay last 2 days for this, after that I will be forced to close this issue

[2021-04-28 04:15] kaustubhgupta commented on #944
Sure, take your time

[2021-04-28 04:16] kaustubhgupta commented on #947
@Ayushjain2205 updates on this?

[2021-04-28 04:19] kaustubhgupta commented on #981
@saaalik are you planning to submit this code? https://github.com/techwithtim/Turtle-Racing-V2

[2021-04-28 04:25] #914 closed

[2021-04-28 05:03] #961 closed

[2021-04-28 05:39] Priyadarshan2000 opened #983 "Pikachu Drawing Using Python"
# Aim

- Drawing Pikachu Using Python Turtle

# Details

In this project, I will deploy a Pikachu Drawing with the help of theTurtle module.

@avinashkranjan I am a GSSoC'21 participant and I think this is an interesting python script of the GUI domain. Kindly allow me to work on this issue and contribute to this project!

[2021-04-28 05:48] santushtisharma10 commented on #983
@Priyadarshan2000 go ahead, assigned to you

[2021-04-28 12:12] #981 closed

[2021-04-28 12:13] saaalik commented on #981
yes, it had a similar structure

[2021-04-28 15:38] Ayushjain2205 commented on #947
Working on it PR by tomorrow end of day

[2021-04-29 04:54] kaustubhgupta commented on #932
@soha28 Today is last day for this. No more extension after this

[2021-04-29 04:55] kaustubhgupta commented on #955
@smriti26raina updates on this?

[2021-04-29 04:56] kaustubhgupta commented on #956
@ayush-raj8 updates on this?

[2021-04-29 04:56] kaustubhgupta commented on #957
@XZANATOL updates on this?

[2021-04-29 05:27] #960 closed

[2021-04-29 05:40] #983 closed

[2021-04-29 06:46] #975 closed

[2021-04-29 08:12] #932 closed

[2021-04-29 11:17] XZANATOL commented on #957
Still working on it

[2021-04-29 12:08] ayush-raj8 commented on #956
@kaustubhgupta  I'll make pr within few days.

[2021-04-29 13:14] Arnab11917676 opened #992 "GUI Email Sender Application"
# Aim
This is an e-mail sending GUI application.
# Details
In this application, I will be building a python based GUI application that will be able to send E-mail.

[2021-04-29 15:24] Shubhrima opened #993 "Rain Alert Mail Sender"
**Is your feature request related to a problem? Please describe.**
Rain Alert Mail Sender

**Describe the solution you'd like**
An application that checks the weather condition of the given location between 7 am and 7 pm and sends a message early in the morning to the registered mail address as to whether one should carry a sunglass or an umbrella.

**Additional context**
![image](https://user-ima

[2021-04-29 16:59] Trisanu-007 commented on #809
@kaustubhgupta  can I try this?

[2021-04-29 17:04] JanhaviSoni commented on #922
@kaustubhgupta Please don't close the issue . There is covid related situation so I will be able to make PR within few days , in May

[2021-04-29 17:07] Ayushjain2205 opened #995 "Stack overflow Question Scraper GUI"
# Aim

Scrape top stack overflow questions and store in SQL database

# Details

The user can choose what category they want to scrape questions from, the scraped questions will be stored in a db.
These questions can be displayed in the GUI from the DB

[2021-04-29 17:11] U-c0de opened #996 "Remove Duplication Function"
# Aim

- This scripts removes duplicates from the list

# Details

- Example of how python automating function may be

Assign this to me @santushtisharma10 @avinashkranjan @kaustubhgupta @kaustubhgupta @antrikshmisri

[2021-04-29 18:05] santushtisharma10 commented on #992
@Arnab11917676 go ahead assigned to you

[2021-04-29 18:06] santushtisharma10 commented on #993
@Shubhrima go ahead assigned to you

[2021-04-30 02:39] kaustubhgupta commented on #922
Ohkay that's the case, you should have informed me earlier. Sorry for hurrying things for you😶. You can submit it at your own pace, don't take this as burden and focus more on the current situation right now. May that person recovers soon🙏

[2021-04-30 03:44] kaustubhgupta commented on #809
@Trisanu-007 sure, be aware that the previous two PRs were marked plagiarised. So make sure to contribute original code only

[2021-04-30 06:31] smriti26raina commented on #955
@kaustubhgupta, Working on this but I need little guidance on the approach. Please check the discord.

[2021-04-30 09:44] Sukriti-sood opened #998 "New Github Action Bot"
Features of Github Action Bot:-

-  This GitHub bot will comment on Every New Issue Created.
-  This GitHub bot will comment on Every New PR Created.
-  This Github bot will comment on Every PR got merged.
-  And Will also tag user  with its username

[2021-05-01 03:21] kaustubhgupta commented on #933
@subhangi2731 updates on this?

[2021-05-01 03:26] kaustubhgupta commented on #955
![image](https://user-images.githubusercontent.com/43691873/116769535-8cbe6a80-aa5a-11eb-8664-f1fce8579bbc.png)

@smriti26raina As per the issue description, you are only supposed to scrap the tweets and then save them as CSV. If you wish to make the GUI and clean these tweets then it would require you to have some NLP skills (text cleaning) which require quite a lot of effort. This would mean tha

[2021-05-01 03:28] kaustubhgupta commented on #996
@U-c0de can you describe what you want to achieve with this script? The issue description is not very helpful

[2021-05-01 03:30] kaustubhgupta commented on #998
@Sukriti-sood we already have this bot and you can see the reply above too. What else/new feature you want to implement?

[2021-05-01 03:39] Sukriti-sood commented on #998
Yes sir ,you are correct but current bot only comments on the new issues and new PR for first time contributors as this is my first issue in this Repo.

[2021-05-01 03:40] kaustubhgupta commented on #998
that's the only thing we need. We don't want to spam issues and PR with bot comments.

[2021-05-01 03:45] Sukriti-sood commented on #998
@kaustubhgupta Ook Sir ,If this issue not need you can or I will close this.

[2021-05-01 03:49] #998 closed

[2021-05-01 05:11] U-c0de commented on #996
@kaustubhgupta  if their is duplication of data in a list and user don't want duplicates so he/she can easily remove it.

[2021-05-01 07:47] kaustubhgupta commented on #831
@XZANATOL#1411, I might be busy for some days (due to overloaded work) so I would suggest starting the modification of the script you pushed in the above PR. For using Github API, you can refer my this [project file](https://github.com/kaustubhgupta/PortfolioFy/blob/main/generate_index.py).

Secondly, for accessing the PR information refer to this object in PyGitHub library: https://pygithub.readt

[2021-05-01 07:48] kaustubhgupta commented on #831
@devRawnie as the database is now pushed, are you interested to create the demo script?

[2021-05-01 08:30] devRawnie commented on #831
Yeah sure. Any pre-requisite that I need to take care of?

[2021-05-01 08:36] kaustubhgupta commented on #831
@devRawnie as of now, I think as you have already made a menu-driven script earlier, you are already aware of the workflow. Create a draft PR after you're done with an initial model and we will see if that matches our requirements. You can refer to this comment again for any confusion: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/831#issuecomment-817241049

[2021-05-01 08:42] devRawnie commented on #831
Sure. I am on it

[2021-05-01 14:17] Himanshi2997 opened #1001 "Corona Chatbot"
# Aim

-To make a tkinter based gui for answering user queries related to coronavirus

# Details

- Make normal conversation
- Use machine learning to enhance chat experience
- Use tensorflow and keras libraries for building neural network model

I would like to work on this issue under GSSoC'21,please assign it to me.

[2021-05-01 14:39] XZANATOL commented on #831
@kaustubhgupta, I was thinking about another approach for this. PR has some defined environment variables which we can make use of. some of them are:
* `` github.event.pull_request.number `` gets the PR number.
* `` github.event.pull_request.body `` gets the body content of the PR.

So, I don't think that we need to establish any kind of external connections since what we want already exists in th

[2021-05-01 14:45] kaustubhgupta commented on #831
That's perfect, this is what I was expecting. Modify the script for the same and let me know the desired template for the PR. Like what type of format should we adopt so that Regex part is easy.

[2021-05-01 14:49] kaustubhgupta commented on #831
Also, as the PR merging is now halted, I want you to verify that the database is up to this point, no project is left until your database PR. If they are not covered, add them to the database

[2021-05-01 14:53] XZANATOL commented on #831
ok, I will begin working on it.
* The script will be modified to the needed GitHub Action.
* Updated PR template will be submitted in a seperate ``.md`` file.
* Database will be updated too when I make the PR.

[2021-05-01 19:48] Himanshi2997 opened #1003 "Real Estate Property Data"
# Aim

- To make a program to extract required information from web pages and put the data in well structured format using beautiful soup library in python.

# Details
-Take data from real estate websites and chart them in tabular form.

I would like to work on this issue under GSSoC'21, please assign it to me.

[2021-05-02 04:12] kaustubhgupta commented on #968
@geekymeeky updates on this?

[2021-05-02 04:13] kaustubhgupta commented on #996
@U-c0de this is not an appropriate script for this repo. Consider contributing to Neo Algo (if they don't have this script already)

[2021-05-02 04:13] #996 closed

[2021-05-02 04:16] kaustubhgupta commented on #1001
`Use tensorflow and keras libraries for building neural network model`

How you will use this model in the script? We are not looking for notebook-based files but actual ones .py files which can be run by user in the terminal or a suitable GUI.

[2021-05-02 04:18] kaustubhgupta commented on #1003
@Himanshi2997 you need to clearly specify which type of data, websites to be scrapped, and how you will store the data

[2021-05-02 16:37] geekymeeky commented on #968
@kaustubhgupta my bad. I didn't give any updates. I'm working on this. Fortunately, I'm able to able to add the certifications when data is provided.
Initially, my plan was to create a full-fledged automation script which would scrape as well as add the certifications based on user provided credentials. Sadly, these e-learning platforms are protected by captcha which prohibits automation scripts a

[2021-05-02 16:55] Himanshi2997 commented on #1001
I will use tkinter for the interface and the libraries will be used to create a sequential model. This project will take more one files to execute to completion.
-A .py file where the training of chatbot will be done
-A .py file for cleaning sentences and creating chat interface
-A .txt file for keeping intents
-Two .pkl files to store lemmatized sentences(will be created on executing the training

[2021-05-02 18:44] Himanshi2997 commented on #1003
I will take real estate property data from websites like http://pyclass.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/
Then the data will be stored in form of csv file, then it can be opened in Microsoft Excel.

[2021-05-02 20:38] Mrinal81 opened #1005 "MAD LIBS GAME IN PYTHON"
I am a GSSOC'21 participant. I would like to make Mad Libs game in python....

@kaustubhgupta  @santushtisharma10  Please assign me this issue........

[2021-05-03 04:49] santushtisharma10 commented on #1005
@Mrinal81 go ahead, assigned to you

[2021-05-03 05:20] soumik2012 opened #1006 "Gesture Volume Control"
**Is your feature request related to a problem? Please describe.**
Control the volume up and down using the hand gesture with the OpenCV

**Describe the solution you'd like**
Using our hand control the volume in pc Using the OpenCV and Mediapipe library I would like to make this program.

**Additional context**
![ ](https://i.imgur.com/8fl6zqU.gif)

[2021-05-03 05:21] soumik2012 commented on #1006
@kaustubhgupta please  assign me issue

[2021-05-03 06:38] kaustubhgupta commented on #1006
@soumik2012 I would suggest this is a full-fledged good project and you should not undermine this by contributing here.

[2021-05-03 06:46] soumik2012 commented on #1006
so can I continued work on this project or should close this issue

[2021-05-03 06:47] soumik2012 commented on #1006
@kaustubhgupta so can I continued work on this project or should close this issue

[2021-05-03 07:18] kaustubhgupta commented on #1006
you can close this issue

[2021-05-03 07:22] #1006 closed

[2021-05-04 05:02] kaustubhgupta commented on #933
@subhangi2731 are you working on this issue?

[2021-05-04 05:03] kaustubhgupta commented on #955
@smriti26raina when you are making the PR?

[2021-05-04 05:04] kaustubhgupta commented on #968
@geekymeeky implement the way that works best.

[2021-05-04 05:05] kaustubhgupta commented on #1003
Name your script as "Real Estate Property Data" scrapper

[2021-05-04 05:52] soumik2012 opened #1007 "Fidget spinner Game"
# Aim

- Make an advanced level fidget spinner game

# Details
- Controls: Left and Right arrows to rotate the Spinner in direction, spacebar to change the color of Spinner
- the Longer you press arrow key the more speed it reaches!
- should look like this
![Screenshot 2021-05-04 085335](https://user-images.githubusercontent.com/66599363/116965175-d01f1000-acca-11eb-96e3-8ffee2ecc1d8.png)

[2021-05-04 05:53] soumik2012 commented on #1007
@kaustubhgupta please assign me this issue under GSSOC'21

[2021-05-04 06:33] subhangi2731 commented on #933
yes @kaustubhgupta I will make a pr by tomorrow surely

[2021-05-04 06:51] kaustubhgupta commented on #1007
@soumik2012 are you planning to submit this code?

https://github.com/jatinmandav/Animation-and-Simulations/blob/master/Fidget_Spinner/Fidget%20Spinner.py

[2021-05-04 07:13] soumik2012 commented on #1007
@kaustubhgupta Yes but if change the code i can change it

[2021-05-04 08:20] kaustubhgupta commented on #1007
I don't think there can be a change of code in this particular case and you will end up getting a plag strike from one of the mentors. So it's better we drop this idea.

[2021-05-04 08:25] soumik2012 commented on #1007
@kaustubhgupta let me try me if i can't make the program  i will close the issue

[2021-05-04 13:29] #1007 closed

[2021-05-04 13:37] soumik2012 opened #1009 "Toonify a Given Image"
# Aim

- This is a python application which takes a image as input and toonify it (make a cartoonist image of it)

# Details

- using https://deepai.org/machine-learning-model/toonify api.

[2021-05-04 13:37] soumik2012 commented on #1009
@kaustubhgupta  please check this issue

[2021-05-04 15:57] devRawnie commented on #831
@kaustubhgupta So I was thinking of creating a main.py file in the root directory of the repository. Running the main.py file would show the options for running different scripts using the datastore.json file as a reference.

[2021-05-04 16:10] Arnab11917676 opened #1010 "Information Finder"
# Aim
I will build a GUI Information Finder desktop application.
# Details
In this application, the window will open and in the search option you can search for the query and a short summary will be provided to you by the application. In, that case if you want to read more about the query you can download from the download button and read more information about it.

[2021-05-04 17:05] Amit366 commented on #992
@kaustubhgupta can I work??

[2021-05-04 18:36] smriti26raina commented on #955
I'm sorry, the script isn't functioning properly and showing some bugs.

[2021-05-04 18:36] #955 closed

[2021-05-05 02:54] kaustubhgupta commented on #955
No issues

[2021-05-05 06:01] devRawnie commented on #831
The issue with the current format of the datastore.json is that it only has value "argv" for some cases. Here there is no way to determine the name and purpose of the argument passed. So we would need a format where we have a dictionary object for arguments containing their names, purpose and type (positional, optional) etc.

[2021-05-05 08:11] devRawnie commented on #831
@kaustubhgupta, how should we take care of the requirements of different scripts. Should I run a pip install command for requirements.txt file of a particular script everytime before running that script?

[2021-05-05 13:44] XZANATOL commented on #831
@devRawnie umm actually it doesn't, if you looked at the script, there is a structure that the data base follows xd.

For every project it is:
``{Name: [path, entry, arguments, requirments_path, contributor, description], Name2...}``

* Name: Script title
* Path: is the name of the folder containing the script.
* entry: The name of the .py/.ipbyn that runs the project
* arguments: any known argume

[2021-05-05 13:48] kaustubhgupta commented on #1009
We already have this script
https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Cartooning%20Image

[2021-05-05 13:49] kaustubhgupta commented on #1009
Secondly, I agree that your approach is different from the implemented one but a simple API call is not what we want

[2021-05-05 13:50] #1009 closed

[2021-05-05 13:51] kaustubhgupta commented on #1010
@Arnab11917676 what kind of information this application provides? What modules will you use for this script?

[2021-05-05 13:56] XZANATOL commented on #831
@kaustubhgupta I have a small doubt, Many contributors have their own style of writing, and many do make typos. What I am pointing here that, suppose I made a custom PR template, and provided the available Categories to put in their script, They made a typo (letter case, or missing letter) this will cause the creation of totally another category, and following on this to be happened acouple of tim

[2021-05-05 13:57] devRawnie commented on #831
@XZANATOL I did see the format of the datastore.json file. And only some 10-11 scripts required command line arguments. What I am having a problem with is that, how to determine the name of the argument and the number of arguments. Because the datastore.json file either stores "argv" or the '-' separated names of the arguments. But it does not give any information about 1. Whether the argument is

[2021-05-05 13:57] Arnab11917676 commented on #1010
Basic information basically a one-liner...I will be using Wikipedia for the information

[2021-05-05 13:59] kaustubhgupta commented on #1010
https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Wikipedia-Summary-GUI we already have this script

[2021-05-05 14:00] devRawnie commented on #831
@XZANATOL Additionally, I did not understand what you meant by "Either prepare using requirements.txt or run it", Because in either case, we would have to install the packages required for that particular script?

[2021-05-05 14:03] devRawnie commented on #831
@XZANATOL , @kaustubhgupta I made the format of each script like this earlier. Can we merge the argument section with the structure that @XZANATOL  made?

![sample structure](https://user-images.githubusercontent.com/43227329/117153538-b2d86780-add8-11eb-844c-8cc472bc3e0e.png)

[2021-05-05 14:08] kaustubhgupta opened #1013 "Updating Scripts contributors in Website, implementation of search bar and releasing the first draft!"
## Problem
The website is almost ready to be showcased. One thing we still need to implement is script updation in the website. The current implementation is hard-coded HTML. The file [scripts.html](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/gh-pages/website/scripts.html) contains the scripts information but all has been done manually. Also, we need to implement a search bar whe

[2021-05-05 14:10] kaustubhgupta commented on #831
Let me clarify the doubts one by one

[2021-05-05 14:10] XZANATOL commented on #831
Hmmm, okay.. let's begin with the '-' seperated arguments. You can let the user print the help menu first.. like `` python3 script.py --help `` to know what the required and optional arguments are. Then you implement 2 things.
1) a basic run of the script.. like passing only one argument
2) allow the user to write a custom command to run the script. You get a string input from the user and pass it

[2021-05-05 14:11] XZANATOL commented on #831
I think yea, if this will help make the script easier. 🤔
@kaustubhgupta what do you think?

[2021-05-05 14:13] kaustubhgupta commented on #831
Just asking, Do you think you can take these inputs from a user via a PR template?

[2021-05-05 14:14] kaustubhgupta commented on #831
I am typing a long message, kindly wait for my response and then add to it

[2021-05-05 14:14] XZANATOL commented on #831
Didn't think about that.. but I think yea 🤔

[2021-05-05 14:41] kaustubhgupta commented on #831
We need to simplify the process for contributors to add their script data to JSON plus we also want our master script to run for all use-cases. The above discussion is about 3 problems you both are facing.

1. Arguments of CLI script
2. Requirements.txt file
3. Contributor PR error

**First Problem**
@devRawnie You are suggesting that we add an arguments key to these scripts and the additional inf

[2021-05-05 15:10] #1010 closed

[2021-05-05 15:18] Arnab11917676 opened #1014 "Voice Calculator"
# Aim
Build a calculator using voice command

# Details
I am building a calculator in which you can use voice commands for doing the calculation. The calculator is able to perform both Arithmetic as well as Scientific calculations. I might add a GUI but that's not promised.

[2021-05-05 15:29] devRawnie commented on #831
@kaustubhgupta Some of the scripts, need a specific package but do not have corresponding requirements.txt file. Should I add the same manually? For example in the Age-Calculator-GUI, it requires **tkinter** package, which is not available in Linux system by default. But it has no requirements.txt file for the same.

[2021-05-05 15:57] devRawnie commented on #831
@kaustubhgupta Additionally, the requirements.txt file is not correct for some of the scripts. For ex. the script is using **tkinter**, but the requirements.txt file has **tk** package in it, which throws ModuleNotFoundError. I was thinking of catching this error and installing the module which is missing, but it can lead to multiple pip3 install statements each for a single mis-spelled/missing mo

[2021-05-05 16:06] devRawnie commented on #831
@kaustubhgupta For projects which run on a webserver like Django/Flask needs to be run as follows **python3 manage.py runserver**, But since they do not take any argument, the Argument field is none, and the script has no clue about the additional "runserver" argument which is required.