[2020-09-04 07:57] avinashkranjan opened #1 "Add a CODE_OF_CONDUCT.md"
# AIM
-  Create a Code of Conduct which all Project Administrators, Mentors and Participants must abide by.

# Details
- Mention the Standards which everyone should abide by on welcoming and inclusive language including constructive criticism.
- Add the required responsibilities for Project Maintainers.
- Mention the Scope of this Code of Conduct.

[2020-09-05 07:31] jeffugo commented on #1
I'd love to help out with this.

[2020-09-05 07:33] avinashkranjan commented on #1
@jeffugo Go ahead..assigned to you..

[2020-09-05 14:23] jeffugo commented on #1
Hi @avinashkranjan, I'm a bit confused about which branch name to use where it says git remote <branch-name> on the Contributing Guidelines. Could you point me in the right direction? Thank you.

[2020-09-05 14:27] avinashkranjan commented on #1
You can create any branch on your side...
`git checkout -b branch_name`
change branch_name to whatever you want..then you can start working on it

[2020-09-07 09:19] avinashkranjan commented on #1
@jeffugo When can I expect the PR for the issue

[2020-09-07 09:42] jeffugo commented on #1
I already sent a pull request this morning. Maybe I didn't do it right. I was having trouble using the process described in How to Contribute, so I was directed by a friend to upload the Code of Conduct through the browser, open a branch and send a pull request. I'm sorry, this is all still new to me.

[2020-09-07 09:50] avinashkranjan commented on #1
@jeffugo It's okay...I haven't received any PR..Check once..

[2020-09-07 09:58] jeffugo commented on #1
@avinashkranjan Alright. I'll check again.

[2020-09-07 10:19] #1 closed

[2020-09-11 15:11] avinashkranjan opened #9 "Documentation: Adding Readme to the all the Scripts"
# AIM

- Adding a Readme to all the scripts.

# Details

- There's no Instructions for the Scripts to explain how to works.
- So add a Readme for the Scripts which would help to overcome this problem.
- So, Add a Readme with SS to help understand how the script works.

[2020-09-11 15:24] avinashkranjan opened #10 "Script to Find Your Wifi Password"
# Aim

- Script to find all the saved WiFi password in your system

# Details

- Functionality to Search for the Saved Passwords in the system and Print it out/Save it in text file.
- Will Help in looking for the Password, if you have forgotten

[2020-09-11 15:28] avinashkranjan opened #11 "Script to convert all HTML Files to Markdown Format"
# Aim

- Create a script which can convert all HTML Files to Markdown Format.

[2020-09-11 15:30] avinashkranjan opened #12 "Documentation: Optimize/Modify the SCRIPTS.md for the Project"
# Aim

- Optimize/Modify the `Scripts.md` for the Project.

# Details [The end results I am looking for]

- An Attractive Header with good Markdown Badges
- Name and Functions of the Scripts Available
- Adding Name and Linking it to the profile of the Contributor.

### You can find [`Scripts.md`](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/SCRIPTS.md) Here

[2020-09-11 15:33] avinashkranjan opened #13 "Script to develop a Keylogger"
# Aim

- Create a Script to implement a Keylogger.

# Details

- A Script that can log all your KeyPress.
- Should save all the keys logs in a file.
- If Send a emails that'd be great too.

[2020-09-11 15:36] avinashkranjan opened #14 "Script to convert folders to Zip file"
# Aim

- Create a Script using Python to convert folders or a directory to Zip file.

[2020-09-11 15:37] avinashkranjan opened #15 "Build an Amazon Price Tracker"
# Aim

- Create a Script that can track the price of a specific product for me.

[2020-09-11 15:39] avinashkranjan opened #16 "Script to track Data Usage"
# Aim

- Create a Script to track Data Usage.

# Details

- Create a Python Script to keep a track of network usage and notify you if it exceeds a specified limit.

[2020-09-11 15:42] avinashkranjan opened #17 "Script for adding water mark to PDF's"
# Aim

- This script is for adding water mark to any PDF's which has single page to multiple pages.

[2020-09-11 15:44] avinashkranjan opened #18 "Facebook messenger bot to get COVID statistics"
# Aim

- Build a Facebook messenger bot, that will display the current statistics of COVID-19 given a county or any Indian state or district

[2020-09-11 15:46] avinashkranjan opened #19 "Making Graphical Calculator using Tkinter (GUI)"
# Aim

- Script in python to build User Interactive Calculator using Tkinter which is a GUI toolkit.

# Details

- The user have a choice to do any operation.
- Define all the functions and the user interactive buttons and more..

[2020-09-11 16:04] avinashkranjan opened #20 "Welcome to Synthax"
## 👋 Hello,

### Thanks for showing your interest in [Synthax](https://synthax.live/).
Super glad to know that you're interested in contributing to [Amazing-Python-Scripts](https://github.com/avinashkranjan/Amazing-Python-Scripts).

### Introducing mentor below:

| Name 🎖️       | Social Media 👋 | GitHub :octocat: |
|----------------|-----------------|------------------|
| Avinash Ranjan | 🐦 [Twit

[2020-09-12 05:41] geekymeeky opened #21 "Making Graphical URL Shortener using Tkinter (GUI)"
### Aim:

- Script in python to build User Interactive URL shortener using Tkinter which is a GUI toolkit.

[2020-09-12 05:57] avinashkranjan commented on #21
Assigned to you..

[2020-09-12 08:55] madiha123-design commented on #17
I would like to work on this issue.

[2020-09-12 08:57] avinashkranjan commented on #17
Assigned to you..

[2020-09-12 09:52] abirbhattacharya82 commented on #19
i want to work on this issue:
Making Graphical Calculator using Tkinter (GUI) #19
Assign it to me

[2020-09-12 09:53] avinashkranjan commented on #19
Assigned to you..

[2020-09-12 11:14] madihamallick commented on #20
I am Madiha Mallick, a second year student of CIEM belonging to the CSE stream.

[2020-09-12 12:23] abirbhattacharya82 commented on #20
Hi I am Abir Bhattacharya. I am from Calcutta Institute of Engineering and Management, IT department

[2020-09-12 16:05] geekymeeky commented on #20
Hi I'm Srijan Kumar Gupta, sophomore at Calcutta Institute Of Engineering and Management pursuing BTech in CSE

[2020-09-12 16:10] #21 closed

[2020-09-13 03:09] #19 closed

[2020-09-13 04:53] abirbhattacharya82 opened #27 "Binary Calculator (GUI)"
# Aim

- A Calculator to perform Binary Calculations.
# Details

- A Binary calculator should be create using Tkinter and GUI Toolkit in python which does the following operations
1) Addition
2) Subtraction
3) Multiplication
4) Division

[2020-09-13 04:54] abirbhattacharya82 commented on #27
I can work on this Issue. Can you kindly assign it to me?

[2020-09-13 04:56] avinashkranjan commented on #27
Assigned to you..You can go ahead and work on it..

[2020-09-13 06:11] #27 closed

[2020-09-13 06:47] geekymeeky commented on #14
I would like to work on this issue

[2020-09-13 11:02] abirbhattacharya82 opened #32 "Geo-Co-ordinate Finder"
# Aim

- To find the Latitude and Longitude of a given Address.

# Details

- A GUI which will ask the user to enter their address and in return will give them the Latitude and Longitude of that Address

[2020-09-13 11:02] abirbhattacharya82 commented on #32
I can work on this issue.
Can you assign it to me?

[2020-09-13 11:15] avinashkranjan commented on #32
You can work on it

[2020-09-13 14:45] #17 closed

[2020-09-14 02:34] abirbhattacharya82 commented on #32
I have made the asked changes. Look into it

[2020-09-14 03:10] #32 closed

[2020-09-14 17:43] avinashkranjan commented on #14
Go Ahead..Assigned to you..

[2020-09-15 16:38] madihamallick commented on #13
I would like to work on this issue.

[2020-09-15 16:38] avinashkranjan commented on #13
Go Ahead...Assigned to you..

[2020-09-16 01:25] yashasvimisra2798 opened #35 "Add drawing app script"
**Drawing App using OpenCV**

   **Aim**
   Create a basic Python script used for making a drawing app using OpenCV

   **Detail**
    On calling the file on the command line a window opens where you can draw anything.

[2020-09-16 01:29] yashasvimisra2798 commented on #35
Hello, I am a CSE prefinal year student, I would like to work on this issue.

[2020-09-16 01:36] yashasvimisra2798 opened #36 "Web scraping script"
**Aim**
 Create a python script used for web scraping

 **Details**
  To collect data from a website, it requires to web scrape it. Taking a webpage as an example write a python script to scrape it.

[2020-09-16 01:38] yashasvimisra2798 commented on #36
Hello, I would like to work on this issue, please assign this to me.

[2020-09-16 04:13] avinashkranjan commented on #35
Assigned to you..Go ahead..

[2020-09-16 04:14] avinashkranjan commented on #36
Assigned this to you as well..Go ahead

[2020-09-16 04:32] yashasvimisra2798 commented on #35
thank you

[2020-09-16 04:33] yashasvimisra2798 commented on #36
thanks

[2020-09-16 12:39] garinm90 commented on #18
Hey, I'm interested in working on this. Could you please assign it to me?

[2020-09-16 12:52] avinashkranjan commented on #18
@garinm90 Sure..Go ahead..

[2020-09-17 15:04] #13 closed

[2020-09-20 03:28] abirbhattacharya82 opened #38 "Restoring Divider"
# Aim

- To create a Python script that will do the restoring division

# Details

- A Command Line Interface that will do the step by step restoring division when the dividend and divisor is provided by user in Decimal.

[2020-09-20 03:28] abirbhattacharya82 commented on #38
I want to work on this issue. Kindly assign it to me.

[2020-09-20 06:03] #38 closed

[2020-09-25 07:37] avinashkranjan commented on #18
@garinm90 When I expect the PR?

[2020-09-25 07:38] avinashkranjan commented on #35
@yashasvimisra2798 When I can expect the PR?

[2020-09-25 08:40] yashasvimisra2798 commented on #36
I'll create the PR by tomorrow.

[2020-09-25 08:44] madihamallick commented on #15
I would like to work on this issue.

[2020-09-25 08:52] avinashkranjan commented on #15
Sure @madihamallick Assigned to you..

[2020-09-25 13:19] garinm90 commented on #18
@avinashkranjan Unfortunately a public API for WhatsApp doesn't seem to exist. You can use a third party for sending and receiving messages via WhatsApp though.

I originally used Twilio for this service and it was working. However, it required you to create an account setup a sandbox get API keys etc, then only you could send your bot messages. Twilio just updated their WhatsApp service and now t

[2020-09-25 16:45] #14 closed

[2020-09-25 16:47] avinashkranjan commented on #18
@garinm90 Sure go ahead for the Facebook messenger bot...

[2020-09-27 14:24] avinashkranjan opened #44 "Create a Github Action to Add Hacktoberfest Tag to all the Issues"
# Aim

- Creating a Github Action to Add Hacktoberfest Tag to all the Issues

# Details

- Action which is Invoked on October 1st and Removes all the tags in October 31st

[2020-09-27 19:51] #15 closed

[2020-09-29 08:50] mdb571 commented on #44
Is this issue up for Hacktoberfest? If so I can create a PR on October 1

[2020-09-30 07:40] avinashkranjan commented on #44
@mdb571 Ya, Sure...

[2020-09-30 16:04] avinashkranjan commented on #20
Event Completed.... Great Work guys @madihamallick @geekymeeky @abirbhattacharya82

[2020-09-30 16:04] #20 closed

[2020-10-01 03:28] mdb571 commented on #44
Should I add source code for my action as folder or just add the action workflow to the repo?

[2020-10-01 06:02] avinashkranjan commented on #44
Just Add Action to the workflow

[2020-10-01 09:20] #44 closed

[2020-10-01 09:29] avinashkranjan opened #47 "Script to automate Google Classroom"
# Aim

- Script to automate Google Classroom

# Details

 Add a bot which automatically joins online meetings/classes (Google meet) on time using
- Google classroom schedule in a CSV file
- Account credentials

[2020-10-01 11:56] shivamsh555 opened #49 "bmi-calculator-added"
# Aim

-added a bmi-calculator script

# Details

- i recently added a bmi calculator script pls add that to your code and support me in open source contribution. thank you

[2020-10-01 12:01] #49 closed

[2020-10-01 13:48] geekymeeky commented on #10
I would like to work on this issue

[2020-10-01 13:55] avinashkranjan commented on #10
@geekymeeky Sure, Go ahead

[2020-10-01 18:23] mdb571 opened #51 "Add Github Token to workflow"
**Describe the bug**
My PR #45 has a an error in the [hacktoberfest.yml](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/.github/workflows/hacktoberfest.yml).I forgot to add the Github token as an environment variable.Thus the action build fails

**Solution**
add the following line to the [hacktoberfest.yml](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/

[2020-10-01 18:48] avinashkranjan commented on #51
@mdb571 Kindly create a PR for the Same..

[2020-10-02 04:32] sooryaprakash31 commented on #47
@avinashkranjan I would like to work on this. Please assign this to me!

[2020-10-02 05:24] avinashkranjan commented on #47
@sooryaprakash31 Sure...Go ahead..

[2020-10-02 08:42] #47 closed

[2020-10-02 17:39] avinashkranjan commented on #51
@mdb571 Build is still failing, kindly look into that.

[2020-10-03 08:27] shivamsh555 opened #54 "add label hacktoberfest-accepted to my contribution"
pls add label hacktoberfest-accepted in my contribution to help me in hacktoberfest. thank you

[2020-10-03 09:22] avinashkranjan commented on #54
@shivamsh555 without label also it would be accepted in Hacktoberfest ..Don't worry about it.

[2020-10-03 09:22] #54 closed

[2020-10-03 09:27] shivamsh555 commented on #54
Thank you 👍👍

[2020-10-03 16:14] #51 closed

[2020-10-03 16:26] avinashkranjan opened #55 "Discord Bot"
# Aim

- Code a Discord Bot

# Details

- Discord bot with moderation and information commands which is very easy to setup

[2020-10-03 16:29] avinashkranjan opened #56 "Script to scrap LinkedIn Connections details"
# Aim

- Create a Script to scrap LinkedIn Connections.

# Details

- The Script should scrap the following and store them in a CSV File:

[2020-10-03 16:34] avinashkranjan opened #57 "Script to scrape live cricket score from Cricbuzz"
# Aim

- Script to scrape live cricket score from Cricbuzz

# Details

- Add python script to scrape the live cricket score from Cricbuzz.com and send a toast notification in a given time interval

[2020-10-03 16:36] avinashkranjan opened #58 "Script to auto-attend Zoom Classes"
# Aim

- Create a Script to auto-attend Zoom Classes.

# Details

- The basic features that should be present include:

[2020-10-03 16:37] avinashkranjan opened #59 "Script to Add Water Mark in Video"
# Aim

- A script that should watermark the entire video at a particular location on the Video Screen.

[2020-10-03 16:38] avinashkranjan opened #60 "Instagram Profile Pic Downloader"
# Aim

- Script to download Instagram Profile Pic when given a username

# Details

- Develop a script in Python to download Instagram profile photos when given a username

[2020-10-03 16:38] SethWalkeroo commented on #58
Hello, I would like to do this.

[2020-10-03 16:39] avinashkranjan commented on #58
@SethWalkeroo, Sure go ahead.. Assigned to you..

[2020-10-03 16:45] hardikkhurana commented on #60
Hii @avinashkranjan, I am new to hacktober fest and this is my first time working on a project. Can you assign me this project I can do this with python3.
Thanks in advance..

[2020-10-03 16:47] avinashkranjan commented on #60
@hardikkhurana .. Sure.. Happy Coding... 😊

[2020-10-03 17:02] bislara commented on #59
Hey I would like to work on this. Can you assign it to me?

[2020-10-03 17:03] avinashkranjan commented on #59
@bislara Sure.. Go ahead.

[2020-10-03 17:03] bislara commented on #57
Hey i would like to work on this. Can you assign it to me?

[2020-10-03 17:03] avinashkranjan commented on #57
Sure @bislara ... Go ahead..

[2020-10-03 17:03] DevLokCodes opened #61 "Temporary Registrations and Sign-Up Tool"
# Aim

- Objective of the Script : To generate a Python script to help with temporary details for signups and registrations and to avoid spams if real details are given.

# Details

- Features of the Script : A python script that generate a new temporary profile that can be used for annoying logins, sign ups, registrations etc.

[2020-10-03 17:04] avinashkranjan commented on #61
@DevLokCodes Do you want to work on this script?

[2020-10-03 17:05] DevLokCodes commented on #61
yeaa i would like to work on it

[2020-10-03 17:05] avinashkranjan commented on #61
@DevLokCodes Go ahead then...

[2020-10-03 17:06] DevLokCodes commented on #61
thankyou for accepting my issue 👍🙌

[2020-10-03 17:07] avinashkranjan commented on #61
@DevLokCodes It was great idea for a script..🚀

[2020-10-03 17:09] lara-sahoo commented on #56
hey I would like to work on this. Can you assign it to me?

[2020-10-03 17:09] avinashkranjan commented on #56
@lara-sahoo ..Sure.. Go ahead.

[2020-10-03 17:13] hardikkhurana commented on #60
I have completed the task.
Thank you for giving me this chance I hope you like my work.

[2020-10-03 17:18] avinashkranjan commented on #60
@hardikkhurana Kindly make the asked changes..

[2020-10-03 18:03] Tanujcbe commented on #60
Can I work on the task?

[2020-10-03 18:06] avinashkranjan commented on #60
@Tanujcbe .. @hardikkhurana is already working on it.. and has pushed a script ..You can work on some order scripts... Or Create an Issue and add a script for the same..

[2020-10-03 18:11] Tanujcbe commented on #60
@avinashkranjan Can I work on amazon prize tracker?

[2020-10-03 18:19] avinashkranjan commented on #60
@Tanujcbe We already have a script for the same... you can create a Price tracker for some other shopping site...

[2020-10-03 19:13] vivax3794 commented on #55
I can write a bot, for "information commands", is that info about the bot?

[2020-10-03 19:16] avinashkranjan commented on #55
@vivax3794 we are looking a dummy bot...which can be configured as per needs.... a basic bot..

[2020-10-03 19:21] vivax3794 commented on #55
sure a simple bot, should be well simple 🙃
so I am thinking just having a `config.py`, that should be the easiest way to have somebody setup a bot?

just with the simple contents of:
[code]

[2020-10-03 19:21] vivax3794 commented on #55
or maybe just have that in the main file when I think about it xD

[2020-10-03 19:25] avinashkranjan commented on #55
@vivax3794 Ok vivax...go ahead.... we can work on things along the PR.. Assigning it to you..

[2020-10-04 02:36] Tanujcbe commented on #60
@avinashkranjan Can I create an IPL score automater?

[2020-10-04 06:32] avinashkranjan commented on #60
@Tanujcbe Sure.... Go ahead Create a Issue of Script Addition for the Same...

[2020-10-04 07:30] #60 closed

[2020-10-04 17:02] #55 closed

[2020-10-04 17:04] #58 closed

[2020-10-04 17:06] Tanujcbe opened #69 "A script for playing a simple stone paper scissors game using python"
# AIM

- A script for playing a simple stone paper scissors game using python

[2020-10-04 17:11] sarthak1905 opened #70 "Amazon web-scraper"
# Aim

Recieve an email when the price of an Amazon product drops below your budget

# Details

This script inputs three things- the link of the Amazon product, your budget for it and how frequently you wish to monitor its price. That's it- keep the script running in background and you will receive an email alerting you when the price is within your budget!

PS- The exact instructions to do so wil

[2020-10-04 17:12] sarthak1905 commented on #70
Hey, I would like to contribute to this issue. Could I please be assigned the same?

Thanks and Regards
Sarthak Saxena

[2020-10-04 17:14] avinashkranjan commented on #70
@sarthak1905 Assigned to you.. Happy Coding..😊

[2020-10-05 06:20] #70 closed

[2020-10-05 06:40] sarthak1905 opened #73 "A script that finds people who don't follow you back on instagram"
# Aim

Receive a list of all accounts who you follow but who don't follow you back on instagram.

# Details

This script will input your instagram username and password. None of the details are stored(as can be seen in the code of the program as well). The script then uses the selenium module to do the rest and return the required list of account names.

PS- The exact instructions, infromation and

[2020-10-05 06:40] #69 closed

[2020-10-05 06:40] sarthak1905 commented on #73
Hey, I would like to contribute towards this issue. Please assign me the same.

Thanks and Regards
Sarthak Saxena

[2020-10-05 06:45] avinashkranjan commented on #73
Go ahead.. @sarthak1905

[2020-10-05 06:45] avinashkranjan commented on #18
@garinm90 Any updates?

[2020-10-05 07:27] #73 closed

[2020-10-05 10:17] #10 closed

[2020-10-05 10:18] geekymeeky commented on #10
Closed via #76

[2020-10-05 11:37] hardikkhurana commented on #56
Hi, I would Like to contribute more to this.
Can I have a go on this if the person before has not delivered?
Thank You

[2020-10-05 15:16] avinashkranjan commented on #56
@hardikkhurana It's already assigned.. You can work on a reddit scraper if you want to..

[2020-10-05 17:08] hardikkhurana commented on #56
@avinashkranjan I cannot find an issue or a readme file for that scraper.
can you pls send some link for that or explain what u have to scrap
Thank You

[2020-10-05 17:15] avinashkranjan commented on #56
@hardikkhurana  You can write script to scrape subreddits top 10 or 20 posts and if you want it user friendly I can add an option that will enable user to choose the type of the posts he/she want. Create a Issue for the Same..!

[2020-10-05 17:17] avinashkranjan opened #78 "Create a Script to hunt for Usernames across Social Channels"
# Aim

- Creating a Script to hunt for Usernames across Social Channels

# Details

- Create a Script to hunt for Usernames across Social Channels. You can take in a Username though CLI and find whether the particular Username exists on the given Social Media Channels or not. You can take in popular Social Channels (GitHub, Reddit, Instagram and more) and see if the User exists on any of these Soc

[2020-10-05 17:18] avinashkranjan opened #79 "Scrape memes from reddit"
# Aim

- Write a Script to Scrape memes from reddit !!

# Details

- Create a Script that can download all pictures of memes from any of these subreddits r/deepfriedmemes, r/surrealmemes, r/nukedmemes, r/bigbangedmemes, r/wackytictacs, r/bonehurtingjuice using Web Scrapping and store them in your Local System.
Languages

[2020-10-05 17:21] #59 closed

[2020-10-05 17:23] #57 closed

[2020-10-05 17:30] avinashkranjan opened #82 "Script to auto fill Google Forms"
# Aim

- Write a script to auto fill Google Forms.

# Details

- Create a dummy form for reference.
- Write a script to auto fill the forms reading from a CSV file for given data.
- Which Users can change as per their requirement.

[2020-10-05 17:48] ragreenburg commented on #11
Can I do this?

[2020-10-05 17:49] avinashkranjan commented on #11
Sure @ragreenburg go ahead..

[2020-10-05 18:03] ragreenburg commented on #11
Sweet, finished!

[2020-10-05 18:20] hemantsirsat commented on #79
I can do this!

[2020-10-05 18:53] Kreateer commented on #79
I can do this using [praw](https://praw.readthedocs.io/en/latest/), [pandas ](https://pandas.pydata.org/)and [urllib](https://docs.python.org/3/library/urllib.html). ^^

[2020-10-05 19:16] avinashkranjan commented on #79
@Kreateer Sure.... Go ahead

[2020-10-06 03:36] TheBlckCat commented on #82
Hello! ✌️,
Maybe I can do this, although I'm not sure, but I will try.
Question: don't you have any problems if I use selenium?

[2020-10-06 05:07] avinashkranjan commented on #82
@TheBlckCat No, I don't have any problem...Sure Go ahead..

[2020-10-07 02:02] TheBlckCat commented on #82
Hi @avinashkranjan ✌️,
The code is almost done, but I have a few questions before I make the pull request.
* Does the csv file have to have data to fill the form once or can it have data to fill the form multiple times?
* Sorry, but I don't know what you mean by "Which users can change based on your requirements", can you tell me more?
* Should the program work for any form or just the example for

[2020-10-07 05:48] avinashkranjan commented on #82
@TheBlckCat Here goes answers to all your doubts.

- It should have data to fill forms multiple times cause if you want to fill the form once, you can directly hard code it in python script.

- You make a dummy google form and prepare a dummy csv file to fill the form, So, if someone wishes to use the script they can changes the link of google form and data of csv to fill the form.

- For now just

[2020-10-07 17:27] #79 closed

[2020-10-07 17:30] #61 closed

[2020-10-07 18:46] DevLokCodes commented on #78
Hey I would like to work on this,
I had something similar in mind regarding a bot that recommends you usernames based on your taste

[2020-10-07 18:58] avinashkranjan commented on #78
@DevLokCodes Sure Go ahead..

[2020-10-08 16:15] xayke opened #92 "Script for display currency exchange rates table"
# Aim

- Write a script for display currency exchange rates.

# Details

- User needs to choose a currency and amount of it.
- Script uses a scrapping library to get info about currencies.

[2020-10-08 16:16] avinashkranjan opened #93 "Script to Organize Files in Your System."
# Aim

- This script should automatically organizes your complete system making. You can use modules such as os and shutil for this purpose.

# Details

- Movies files of certain extension to specified location
- Segregate files according to their types.

[2020-10-08 16:17] avinashkranjan commented on #92
Go ahead @xayke ..Assigned to you

[2020-10-08 16:22] avinashkranjan opened #94 "FLAMES Game"
# Aim

- Implementation of the FLAMES game where two names are given as input(string) and the number of unique letters is calculated. The correct letter corresponding to the names is found. It is named after the acronym: Friends, Lovers, Affectionate, Marriage, Enemies, Sibling
- **Optional** : If you could create a GUI for the Same.. That would be great

# Example

- Input: Player1 = AJAY, Player

[2020-10-08 16:27] avinashkranjan opened #95 "Python-Telegram bot"
# Aim

- A telegram bot that can send memes, jokes, riddles and much more. A python-telegram wrapper can be used.

[2020-10-08 16:51] Kreateer commented on #93
@avinashkranjan Can you assign this to me? I already have a script that functions similarly to what you specified. 😄

[2020-10-08 16:53] avinashkranjan commented on #93
Sure go ahead.. @Kreateer

[2020-10-08 17:38] jayaganeshkumar commented on #94
@avinashkranjan  can you assign me this?

[2020-10-08 17:42] avinashkranjan commented on #94
Sure @jayaganeshkumar .. Will you be working on GUI part too??

[2020-10-08 17:47] jayaganeshkumar commented on #94
@avinashkranjan  yeah its done almost

[2020-10-09 02:40] abhishekjoshi2612 opened #100 "Convert2Jpg"
The Script converts a photo into jpg format .

[2020-10-09 06:08] #100 closed

[2020-10-09 08:46] #94 closed

[2020-10-09 10:15] #92 closed

[2020-10-09 23:01] adarshkushwah commented on #16
Hi, i would like to contribute on this, please assign this issue to me.

[2020-10-10 03:32] TheBlckCat commented on #82
Hello! I have bad news :( , I can not do the program, it is very difficult for me. The script automatically fills in all the fields of the form with the data from the csv file, the problem is that I don't know how to make a generic program that can work with any form (which automatically detects the elements). Thanks for giving me the opportunity but I don't think I can do it.

[2020-10-10 05:56] avinashkranjan commented on #16
@adarshkushwah Sure.... Go ahead..

[2020-10-11 11:28] geekymeeky commented on #82
I would like to work on this issue

[2020-10-11 11:39] geekymeeky opened #107 "Script to Convert PDF book into Audiobook."
# Aim

- Convert PDF book into Audiobooks to disseminate knowledge among learners who find difficulty reading.

# Details

- Write a python script where user can enter the path of the pdf file they would like to read. The Script will convert the text of the file specified to speech and render it in real time. You can also add a feature to save it as a mp3 file.

[2020-10-11 11:57] quentin-vigne commented on #107
Hi ! I would like to work on this 😄

[2020-10-11 12:34] avinashkranjan commented on #107
Sure @quentin-vigne go ahead..

[2020-10-11 12:35] avinashkranjan commented on #82
@geekymeeky Sure go ahead..

[2020-10-11 15:46] argha-dot commented on #107
Hi, can you also assign me?

[2020-10-11 17:42] avinashkranjan commented on #107
@argha-dot It is already assigned. you can work on other issues or create one of your own

[2020-10-12 14:47] Kreateer commented on #93
@avinashkranjan Still working on this. I have most of the script done, but I'm just stuck at getting the program to sort files by date. 😅
I got a function that loops through files in the destination directory and stores their 'last modified' dates in a dictionary, which then needs to be sorted and return something that would sort the files by the last time they were edited, but for the life of me

[2020-10-13 16:27] #107 closed

[2020-10-13 16:32] #16 closed

[2020-10-13 16:44] #11 closed

[2020-10-13 16:49] avinashkranjan commented on #78
@DevLokCodes Any Updates?

[2020-10-13 16:51] #36 closed

[2020-10-13 16:51] #35 closed

[2020-10-13 16:52] souravmondal13 commented on #95
I would like to take it can you assign this to me.

[2020-10-13 16:54] avinashkranjan commented on #95
Sure @sooryaprakash31 go ahead.

[2020-10-13 19:59] #93 closed

[2020-10-14 05:33] DevLokCodes commented on #78
Hey sorry for the late update,
Already created a script for Reddit, GitHub, Instagram
trying to figure out for twitter
will send a PR as soon as I figure that out

[2020-10-14 08:10] avinashkranjan commented on #18
@garinm90 Are you still working on this..Or should I assign it to someone else

[2020-10-16 17:48] avinashkranjan opened #113 "Python voice assistant to fetch and read news from NewsAPI"
# Aim

- A python script which will fetch news from newsapi.com and will speak that news with headlines and description.

# Details

- A python script which will fetch news from newsapi.com and will speak that news with headlines and description. Reading news and articles sometimes may too time consuming and boring .With the help of this python news reader you listen to top news while working on y

[2020-10-16 17:49] avinashkranjan opened #114 "Script to get a Football Player's Club History from Wikipedia"
# Aim

- A Script to get the Club History (with noteworthy years, if any are specified in Wikipedia) of a Football Player by scraping that footballer's Wikipedia Page.

[2020-10-16 17:54] avinashkranjan opened #115 "Scrap E-Mail Links from a LinkedIn Post"
# Aim

- Scrap E-Mail Links from a LinkedIn Post.

# Details

- The basic features I am looking at from this Script include:

[2020-10-16 19:12] shahidshakil commented on #114
This sounds interesting to me, Can you please assign it to me?

[2020-10-16 19:15] avinashkranjan commented on #114
Sure Go ahead... @shahidshakil

[2020-10-16 19:25] Yagueteiro commented on #113
Hi, it looks interesting, can I work on this?

[2020-10-16 19:38] avinashkranjan commented on #113
Sure @Yagueteiro ..Go Ahead,..

[2020-10-16 20:37] KGene1901 commented on #115
Hi, this look interesting - may I have a go at it?

[2020-10-16 22:13] ealvarez968 commented on #115
Hi, look interesting can I help?

[2020-10-17 03:48] avinashkranjan commented on #115
Sure @ealvarez968 , @KGene1901 Go ahead..!

[2020-10-17 08:14] avinashkranjan opened #116 "Whatsapp bot to get COVID statistics"
# Aim

- Build a WhatsApp bot, that will display the current statistics of COVID-19 given a county or any Indian state or district

[2020-10-17 10:49] Muskan33 commented on #116
Hey can you please assign this issue to me? It looks interesting.

[2020-10-17 13:20] avinashkranjan commented on #116
Sure @Muskan33 ...Assigned to you..

[2020-10-17 17:17] jatinsaini137 opened #119 "instagarm profile pic downloader"
Hey buddy I had gone through your code "instagarm profile pic downloader" but there is a problem that iit does not download profile pic in hd so iI am suggestin my code please check it out and add it if you liked that.
Thank you

[2020-10-17 17:26] jatinsaini137 commented on #119
yes I had followed the guideline please review my code "Instagram Profile Pic Downloader.py"

[2020-10-17 17:44] #119 closed

[2020-10-19 08:55] #115 closed

[2020-10-20 08:49] #113 closed

[2020-10-24 17:47] avinashkranjan opened #126 "Script to find size of Github Repository + List of Contributors"
# Aim

- Create a Script to find the size of Github Repository + List of Contributors

[2020-10-25 02:19] HyperTHD commented on #126
I'd like to take this one if no one is assigned to this one yet

[2020-10-25 03:18] HyperTHD commented on #126
I finished the issue as per specifications. I'm awaiting to be assigned so that I can make the PR as per your contribution guide.
Let me know when you're ready for my PR

[2020-10-25 06:53] avinashkranjan commented on #126
Sure..Go ahead..

[2020-10-25 07:59] funbeedev opened #128 "Perform a Google news search and email results using Python"
# Aim
- Perform a google news search of a topic
- Extract the news heading and link and send an email with results

# Details
- Reading user configuration from file
- Web scraping of Google using Selenium
- Sending Emails with Python
- Scheduling when script will run using Linux Crontab

[2020-10-25 08:01] funbeedev commented on #128
@avinashkranjan Please assign to me.

[2020-10-25 08:03] avinashkranjan commented on #128
Sure @funbeedev go ahead

[2020-10-25 16:10] #128 closed

[2020-10-26 15:38] avinashkranjan opened #131 "Make a Banner Image for the Repository"
# Aim

- Make a Banner Image for the Repository. The Banner Image can be simply the title of this Project with an awe-striking background. This Issue can be assigned to any number of participants but only one would be accepted as the Main Banner.

# Details

- You need to submit:

# Tools which can be Used

-  Adobe XD
- Figma
- Photoshop
- Illustrator

[2020-10-26 16:55] avinashkranjan opened #132 "Website for this Project"
----------------------
Updates: All task done
----------------------

# AIM

The minimum features I am looking for is:

- 1. Static Landing Page which mentions the Core Objective of the Project
- 2. A-List of Scripts in mentioned along with their description
- 3.  Contributors List

 Issue is simply too large to be assigned to one person. It would be further broken up into multiple issues. People

[2020-10-27 04:27] #126 closed

[2020-10-27 19:50] vaibhav1865 commented on #132
Hello there ,
Please assign this to me

[2020-10-28 04:10] avinashkranjan commented on #132
Sure @vaibhav1865 .. Before going in could you giv a gist of things you'll working on..and Make a PR to the `gh-pages` branch instead of master.

[2020-10-28 04:13] avinashkranjan commented on #114
@shahidshakil any updates?

[2020-10-28 04:13] avinashkranjan commented on #116
@Muskan33 Any Updates?

[2020-10-28 05:48] shahidshakil commented on #114
@avinashkranjan I should be done in the next couple of days.

[2020-10-28 05:49] avinashkranjan commented on #114
@shahidshakil Okay..

[2020-10-31 07:03] shahidshakil commented on #114
Raising a Pull Request

[2020-10-31 07:24] shahidshakil commented on #114
@@avinashkranjan  can you please validate of the logic is fine,So that I can start with refactoring the code further.

[2020-10-31 13:00] shahidshakil commented on #9
@avinashkranjan  Can you please assign this to me ?

[2020-11-03 17:09] avinashkranjan opened #136 "PDF tables to CSV files"
# Aim

-  Script to convert the tables in the PDF file into CSV files.

# Details

- Each CSV file has one table from the PDF and the number of CSV should be equal to the number of tables in the PDF.

[2020-11-05 05:53] avinashkranjan opened #139 "Cryptocurrency Converter"
# Aim

- A simple script of a cryptocurrency converter implemented in Python

[2020-11-06 07:23] Siddhant-K-code commented on #139
can i create a GUI Version ?

[2020-11-06 07:24] avinashkranjan commented on #139
Sure @Siddhant-K-code

[2020-11-06 09:44] Siddhant-K-code commented on #136
Can we use this [API](https://pdftables.com/pdf-to-excel-api) to complete this task?

[2020-11-06 09:53] avinashkranjan commented on #136
Sure.. @Siddhant-K-code

[2020-11-06 09:57] #139 closed

[2020-11-06 09:57] avinashkranjan commented on #136
@Siddhant-K-code Should I assign this to you?

[2020-11-06 10:02] avinashkranjan commented on #132
@vaibhav1865 Are you working on this?

[2020-11-06 10:04] avinashkranjan commented on #56
@hardikkhurana Do You Still want to work on this?

[2020-11-06 10:04] avinashkranjan commented on #95
@souravmondal13 Any Updates??

[2020-11-06 10:48] Siddhant-K-code commented on #136
yes, please.

[2020-11-06 12:13] avinashkranjan commented on #136
[sample1.pdf](https://github.com/avinashkranjan/Amazing-Python-Scripts/files/5501176/sample1.pdf)
Here You go... Assigned to you.. @Siddhant-K-code

[2020-11-06 13:59] #136 closed

[2020-11-08 17:24] avinashkranjan opened #143 "Create a Script to summarize Text"
# Aim

- Create a Script to summarize Text. You can take a look at some SOTA Techniques to achieve this along with wrappers that make it really easy to summarize the Text. You can also try out your own algorithm for Text Summarization and to make it lightweight and-efficient at the same time.

[2020-11-09 08:57] kazuyoshi-tech commented on #143
Hey, I would like to contribute towards this issue. Please assign me.

Thanks

[2020-11-09 09:11] avinashkranjan commented on #143
Sure @kazuyoshi-tech Go ahead

[2020-11-10 17:56] #143 closed

[2020-11-10 17:59] avinashkranjan commented on #82
Any Updates @geekymeeky

[2020-11-21 16:49] #114 closed

[2020-12-02 16:49] avinashkranjan opened #151 "Script to scrap Social Media Pages of Websites"
# Objective

- Create a Script that can analyze the Social Media Links on a Website and generate results. You can check for popular Social Media Links and generate them as a result. Integrate an option to also pick a CSV file of Websites to scrap their data together and store in a CSV.

[2020-12-02 16:50] avinashkranjan opened #152 "Script to generate Pagespeed Results for the Website"
# Aim

- Create a Script that can generate the Pagespeed Results for the Website using the Pagespeed API.

[2020-12-02 16:51] avinashkranjan opened #153 "A script to list out all the songs by an Artist."
# Aim

- A Python Script to list out all the songs of an artist. Sorted according to their popularity.

# Details

- Use Google Search API for this purpose, not the most time-efficient method.
- Everyone has a favorite band/artist. But sometimes, we miss out on an old gem by that artist just because we had no clue about it.

[2020-12-27 16:54] gargnityansh commented on #153
hello @avinashkranjan I would like to work for this issue. Can you please assign it to me?

[2020-12-27 16:57] avinashkranjan commented on #153
Sure @gargnityansh Go ahead..

[2020-12-27 17:07] gargnityansh commented on #153
Is this issue will be included for the swoc? As I am a participant of swoc and when do I need to complete this issue?

[2020-12-27 17:10] avinashkranjan commented on #153
Yes, It's included..All PRs after 4th Jan would be considered as Valid PR for SWoC..So for now..you have plenty of time..

[2020-12-27 17:15] gargnityansh commented on #153
Okay. Thanks for the help.

[2020-12-27 17:18] gargnityansh commented on #153
Can I use spotify api for searching the songs?

[2020-12-28 05:50] nitya123-github opened #157 "Tic -Tac-Toe game"
create a user interface for tic tac toe game using random number

[2020-12-28 14:37] Sharanya2019 commented on #95
Can I work on this issue and does it come under swoc2021?

[2020-12-28 17:17] avinashkranjan commented on #95
Sure @Sharanya2019 Go ahead

[2020-12-29 08:37] twilight-warlock commented on #151
I would like to take up this issue. Can you assign it to me?

[2020-12-29 09:02] avinashkranjan commented on #151
Sure @twilight-warlock Go ahead..

[2020-12-29 09:34] amandp13 commented on #157
@avinashkranjan Can you please assign this issue to me as a part of the SWOC 2021?

[2020-12-29 09:44] avinashkranjan commented on #157
@amandp13 It's already assigned to @nitya123-github .. Look for some other issues to work on

[2020-12-29 10:10] avinashkranjan opened #158 "Welcome to Script Winter of Code '2021"
## Hello, Everyone <img src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif" width="25px">
Thanks for showing your interest in being a part of the [Script Winter of Code '2021](https://swoc.tech/) 🎆

We are super delighted to have you on board for your Contributions on [Amazing Python Scripts](https://github.com/avinashkranjan/Amazing-Python-Scripts) 🙌

Please join our [S

[2020-12-29 10:12] avinashkranjan commented on #153
Yes You can use it Spotify Api @gargnityansh

[2020-12-29 10:32] twilight-warlock commented on #151
Hey, I am a participant in SWOC and this is my first time contributing to open source. I am done with the code so do I create a PR today or after 5th for it to be considered under SWOC

[2020-12-29 10:43] avinashkranjan commented on #151
You can create a PR now or else wait till 5th as I'll be accepting the PRs after 5th.

[2020-12-29 11:02] antrikshmisri opened #159 "Facebook-AutoLogin"
# Aim

- This script allows user to automate facebook login process.

# Details

- This script will automatically open a new browser window , open facebook.com , add the user credentials and finally login.

[2020-12-29 11:04] antrikshmisri commented on #159
@avinashkranjan I would like to work on this feature

[2020-12-29 11:05] keshavbansal015 commented on #152
Hi @avinashkranjan, I would like to work on this issue; could you assign it to me?

[2020-12-29 11:05] avinashkranjan commented on #159
Sure @antrikshmisri Go ahead

[2020-12-29 11:06] avinashkranjan commented on #152
Sure @keshavbansal015 go ahead

[2020-12-29 11:11] antrikshmisri commented on #159
@avinashkranjan created the [PR](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/160) , can you review it ?

[2020-12-29 12:42] shubhigupta991 opened #161 "Scraping and flare detection"
# Aim

- Scraping r/india website for collecting data
- Using ml for flare detection

[2020-12-29 12:42] shubhigupta991 commented on #161
please assign this issue to me.

[2020-12-29 12:46] shubhigupta991 commented on #56
i want to work on this issue please assign it to me.

[2020-12-29 13:29] LakshitF opened #162 "PDF-Tools"
# Aim

-  Create a script with a menu interface providing the user with multiple functionalities related to PDF's.

# Details

-  Merge/Split multiple PDFs
-  Encrypt PDF
-  Watermarking PDF
-  Rotate PDF's ( For eg: from landscape to portrait mode )

[2020-12-29 13:30] LakshitF commented on #162
@avinashkranjan Please assign this feature to me.

[2020-12-29 15:01] avinashkranjan commented on #161
Sure @shubhigupta991 Go ahead

[2020-12-29 15:03] avinashkranjan commented on #162
Sure @LakshitF Go Ahead..

[2020-12-30 06:00] fatmab2809 commented on #132
Hi, I would like to work on this. I know HTML, CSS and JS. Will it be enough to work on this issue?

[2020-12-30 06:04] vaishnavirshah commented on #132
Hi, I have basic knowledge of HTML, CSS and JS, so I think I will be able to work on the frontend of the webpage. So how will this issue be further divided? What part should I work on?
And I would like to contribute to this issue - as part of SWOC-21

[2020-12-30 08:59] hackedak opened #165 "Anime tracker"
# Aim

- A script which checks for new episode release of a particular anime automatically

# Details

- It will accept a link to the anime from any anime website.
- Give alert if a new episode is released

[2020-12-30 08:59] hackedak commented on #165
Please assign this to me

[2020-12-30 09:10] avinashkranjan commented on #165
Sure @hackedak Go ahead..

[2020-12-30 16:47] ami-harry commented on #158
I want to work with you
Want to contribute to this project

[2020-12-30 17:59] saiharsha-22 opened #166 "A Python Script to Unzip folders"
# Aim

- To Unzip files

# Details

- The system wil first fetch the path of the .zip files and it will directly unzip the file in to different folders.

This script will be an useful to so many people who don't .zip file extractor in thier system they can run this script and unzip the file easily.

[2020-12-30 18:01] saiharsha-22 commented on #166
@avinashkranjan I am parciacpant of Swoc 2021. I have seen your scripts this would be helpful for others also if  you add this script, so that people can easily run the PYTHON script and download the files rather than using file extractors. Can you assign this issue to me

[2020-12-30 18:12] avinashkranjan commented on #166
Sure @saiharsha-22 go ahead

[2020-12-30 18:13] saiharsha-22 commented on #166
@avinashkranjan thank you, for assigning the issue. I will make PR on Jan 5

[2020-12-31 07:00] sejalsksagar opened #167 "Python Script to download Audio of YouTube Video"
# Aim

- To download audio of a YouTube video

# Details

- It will download audio of the YouTube video whose url is specified.
- It will also display video title, rating, view count, author and video length.

[2020-12-31 07:01] sejalsksagar commented on #167
I am SWOC '21 participant. I found this Script interesting and would like to work on it.

[2020-12-31 12:17] avinashkranjan commented on #167
Sure @sejalsksagar Go ahead,...

[2020-12-31 12:57] ami-harry commented on #9
I want to contribute

[2020-12-31 13:43] sejalsksagar commented on #167
Thank you for assigning! I will make PR on 5th Jan.

[2020-12-31 17:55] amandp13 commented on #56
@avinashkranjan Can you please assign this issue to me as a SWOC 2021 participant?

[2020-12-31 20:24] avinashkranjan commented on #9
Sure @ami-harry Go ahead..

[2020-12-31 20:26] avinashkranjan commented on #56
Issues are First Come First Serve.. So It's assigned to @shubhigupta991 she commented first..
Assigned to you @shubhigupta991

[2021-01-01 16:31] ami-harry commented on #18
I will try to do that
please assign me

[2021-01-01 18:14] avinashkranjan commented on #18
Sure @ami-harry Go ahead

[2021-01-02 08:46] vybhav72954 opened #168 "Additional Functionalities in Text Extraction from Images"
# Aim

- Python script for text extraction from images, using Tessaract.

# Details

- Using important OCR tools, we can extract Text from Images, which would be a great script here. I know there is a script present here already, but it is as minimalistic as possible, it can't deal with multiple images, neither have the option to save the text file, also can be made more interactive, like
- User I

[2021-01-02 08:47] vybhav72954 commented on #168
Can this be assigned to me?

P.S. Is `SWoC 21` label regarding Script WInter Of Code? If yes kindly add the label, I am a participant

[2021-01-02 08:54] vybhav72954 commented on #78
Ok, this is intriguing, I can make a script for this but honestly would prefer using [Sherlock](https://sherlock-project.github.io/).

If you want functionality that is not present in Sherlock, kindly tell me and I will add it.

[2021-01-02 08:58] vybhav72954 opened #169 "Missing .gitignore?"
**Is your feature request related to a problem? Please describe.**
So apparently we are missing a `.gitignore`.
That  is not a major problem obviously, but I do believe that if say I was a newcomer, I would have a hard time pushing my code without including the say `.idea` or `.vs` or `jupyter-checkpoints`

**Describe the solution you'd like**
A `.gitignore`

**Describe alternatives you've conside

[2021-01-02 08:59] vybhav72954 commented on #169
It is a small `.gitignore`, the owner can push one. Or I can in case it is fine.

[2021-01-02 14:23] avinashkranjan commented on #78
@vybhav72954 So, Basically Sherlock looks up and looks up all the available website I'm looking to a script to search a specific username on a specific social network.

[2021-01-02 14:25] avinashkranjan commented on #169
Sure @vybhav72954 Go ahead.. I was thinking of adding it.. But was caught up with other things

[2021-01-02 14:25] vybhav72954 commented on #78
As in, suppose I want to search `vybhav` but only on `reddit` and `github`?

[2021-01-02 14:27] avinashkranjan commented on #168
@vybhav72954 we already hav a script for the same.. [Here](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/OCR-Image-To-Text).. If you want to add more features to it, you can go ahead I'll assign it to you..else you can work on some other issues.

[2021-01-02 14:27] vybhav72954 commented on #169
I shall issue the PR after 5th right?

[2021-01-02 14:29] avinashkranjan commented on #169
Yup.. Since Contribution Period starts from 5th.

[2021-01-02 14:29] vybhav72954 commented on #168
@avinashkranjan As explained, I know the script exists, but it is minimalistic, I was thinking about adding a few functionalities, like aforementioned.

For example

- Bulk Extraction
- Bulk Extraction to Single file and so on

[2021-01-02 14:30] avinashkranjan commented on #78
Exactly.... That's what I'm looking for

[2021-01-02 14:32] vybhav72954 commented on #78
Yup, that's definitely possible, am pretty sure I can make that

[2021-01-02 14:33] avinashkranjan commented on #168
@vybhav72954 Sure Go ahead then.. Assigning it to you

[2021-01-02 14:34] avinashkranjan commented on #78
So, I'm Assigning it to you. You can go ahead and start working on the script

[2021-01-02 14:55] adviksinghania opened #170 "Subtraction not working in Calculator[GUI]"
**The bug**
In Calculator[GUI] script, the subtraction operations are not working with any value and always returns 0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Amazing-Python-Scripts/Calculator[GUI]
2. Run the script.py
3. Click on any number e.g.: 5
4. Click on ' - ' operator
5. Click again on a number (e.g.: 3)
6. Click on ' = '
7. See error (Output: 0.0)

**Expected behavior

[2021-01-02 15:38] avinashkranjan commented on #170
Sure @adviksinghania go ahead and fix the bug.. looking forward to your script.. Assigning it to you

[2021-01-03 05:33] AnandD007 commented on #12
I am SWOC Participant.I want to work on this issue

[2021-01-03 05:34] avinashkranjan commented on #12
Sure @AnandD007 ..Go ahead Assigned to you..

[2021-01-03 06:15] saiharsha-22 commented on #82
@avinashkranjan I am a participant of SWOC 2021, I would like to work on this issue. Can you assign this is issue to me.

[2021-01-03 06:50] avinashkranjan commented on #82
Sure @saiharsha-22 Go ahead .. If you need any help you can always ask me or the mentors.. go ahead with scripting..Assigned to you..

[2021-01-03 07:13] saiharsha-22 commented on #82
@avinashkranjan Thank you for assigning the issue. I will try my best to solve the issue

[2021-01-03 18:01] GmGniap opened #171 "OCR Feature for Table Format"
# Aim
- I would like to upgrade the current OCR simple code into the updated version that works in Table format text.
- First implementation - English language-focused.

# Details
- I want to use image processing(OpenCV) to detect lines and tables, then extract words from the table, pass them through pyTesseract.
- Later, I hope to work on my local language(Burmese - especially for tesseract train

[2021-01-03 18:04] dhwanishingala commented on #132
Hello, I would like to work on this!

[2021-01-03 18:27] PrajjwalDatir opened #172 "HTTP server using Python3 Socket Programming"
# Aim
Implemented RFC of HTTP using SOCKET programming in python3

- Functions as a HTTP server.

# Details

- GET,
- POST,
- PUT,
- HEAD,
- DELETE,
- Cookies,
- Headers,
- non-persistent connections,
- Multiple clients at the same time,
- logging with levels of logging,
- handling file permissions;
- Server configuration
- config file with DocumentRoot,
- log file name, max simulateneous connecti

[2021-01-03 18:28] PrajjwalDatir commented on #172
Please Assign it to me :)

[2021-01-04 06:49] avinashkranjan commented on #171
Sounds Great.. Assigned to you @GmGniap

[2021-01-04 06:50] avinashkranjan commented on #172
Assigned to you.. Go ahead @PrajjwalDatir

[2021-01-04 10:54] GmGniap commented on #171
Thanks, @avinashkranjan  , I start working on it. May I know if I got any trouble while implementing, I just need to ask in the related slack channel or is there any mentors assigned to specific tasks?

[2021-01-04 11:04] avinashkranjan commented on #171
You can ask me or ask in slack channel mentors or I'll help you..

[2021-01-04 11:11] #166 closed

[2021-01-04 11:27] M-PRERNA commented on #9
Hey !! I wanted to contribute to this!

[2021-01-04 16:01] avinashkranjan commented on #9
Go ahead @M-PRERNA co-ordinate with @ami-harry and work together on the issue Assigning it to you too

[2021-01-04 16:01] avinashkranjan commented on #166
@saiharsha-22 Why did you close this issue ??

[2021-01-04 16:45] saiharsha-22 commented on #166
@avinashkranjan I am working on the issue of #82 and
. This is issue already there in another project. So it is not acceptable according to the rules. I have seen that very late. So I have closed this issue.

[2021-01-04 16:47] pritamp17 commented on #165
@avinashkranjan please could you assign this to me?

[2021-01-04 16:48] avinashkranjan commented on #165
Sure Go ahead @pritamp17 Assigned it to you

[2021-01-04 16:49] avinashkranjan commented on #166
Okay No Issues Go ahead with #82

[2021-01-04 17:08] M-PRERNA commented on #9
Okay Sure will start soon!!!

[2021-01-05 05:06] pritamp17 commented on #165
@avinashkranjan script will give anime information and the number of anime episodes released will this be okay??

[2021-01-05 05:08] avinashkranjan commented on #165
Ya It'll be more than enough @pritamp17

[2021-01-05 06:47] mahi0601 opened #175 "The Resizeable button is not working"
**Describe the bug**
A clear and concise description of what the bug is.
The maximizing button is not working if we want a big screen of calculator.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the calculator[GUI] and run the file  we can see it.'
2. Click on 'maximize button it is not responding'
3. Scroll down to 'the GUI screen is also not proper'
4. See error

**Expected behavio

[2021-01-05 07:06] mahi0601 commented on #175
I want to contribute in this issue

[2021-01-05 07:18] avinashkranjan commented on #175
Sure Go ahead @mahi0601

[2021-01-05 08:21] antrikshmisri opened #177 "Python script to monitor file changes in a directory"
# Aim

- A python script to monitor changes made in a directory

# Details

- This is a script that monitors changes made in a working directory. This includes newly created files , changes made in an existing files. Changes are logged to the terminal.

[2021-01-05 08:21] antrikshmisri commented on #177
@avinashkranjan I would like to work on this issue.

[2021-01-05 08:55] avinashkranjan commented on #177
Go ahead with Script @antrikshmisri Assigned to you..

[2021-01-05 08:56] mahi0601 commented on #175
I have done a few changes in the sizes and colors of the button also.

[2021-01-05 13:47] gpriya32 commented on #116
@avinashkranjan can u assign this to me...?

[2021-01-05 13:47] gpriya32 commented on #116
as a swoc participant?

[2021-01-05 15:28] pritamp17 commented on #165
![anime_tracker](https://user-images.githubusercontent.com/65030567/103664788-a95d0100-4f98-11eb-9231-b0d52bf55b16.png)

[2021-01-05 15:30] pritamp17 commented on #165
@avinashkranjan this is the final result of my script..will this be okay?

[2021-01-05 15:48] amandp13 opened #181 "Movie Recommendation system in Python."
# Aim

- A content-based recommender system works on the data generated from a user.

# Details

- Recommender System is a system that seeks to predict or filter preferences according to the user’s choices.
-  A statistical algorithm that seeks to predict users' ratings for a particular entity, based on the similarity between the entities or similarity between the users that previously rated those

[2021-01-05 16:04] avinashkranjan commented on #116
Ya Sure go ahead @gpriya32

[2021-01-05 16:06] avinashkranjan commented on #181
@amandp13 Check out [Here](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Movie%20Recommendation) This Script.. You can improve this one or Go ahead and tell me how's your script different than this..

[2021-01-05 16:06] avinashkranjan commented on #165
@pritamp17 Ya it's okay You can push you PR..

[2021-01-05 16:48] amandp13 commented on #181
@avinashkranjan Oh, I didn't notice this script, but this script classify based on the user emotion as an input but I am saying to take the movie ratings from the user and then predicting the recommendation to the user.
Should I close this as this is already present in this repo?

[2021-01-05 16:51] avinashkranjan commented on #181
@amandp13 No, If yours one is different from this one. Go ahead with the _Script.. Assigning_ it to you

[2021-01-06 03:56] Ayush7614 opened #182 "Creating-Emoji-Using-Python"
# Aim

- Creating different-different emojis using python module

# Details

Fortunately ,python have multiple way using which we can print emojis :
Unicode
CLDR names
emoji module
Unicodes:
To use Unicodes , we need to replace “+” with “000” from the list of unicodes .
For example :
“U+1F600” will become “U0001F600” and prefix the unicode with “\” and print it.
CLDR names:
Emojis have CLDR short

[2021-01-06 03:58] Ayush7614 commented on #182
@avinashkranjan plss review it

[2021-01-06 04:35] pritamp17 commented on #165
@avinashkranjan I have sent PR, please review when you can.

[2021-01-06 08:46] saiharsha-22 commented on #82
@avinashkranjan  I have solved this issue, can you check the working video I have attached the video

https://user-images.githubusercontent.com/61947484/103747705-1029fb00-5029-11eb-8307-fcef2c8a3048.mp4

[2021-01-06 10:20] saiharsha-22 commented on #82
@avinashkranjan I have created pull request #184. can you please check it once.

[2021-01-06 10:39] vaishnavijha commented on #182
Can you assign me this issue ?

[2021-01-06 13:41] avinashkranjan commented on #182
@vaishnavijha Issue is already assigned to @Ayush7614

[2021-01-06 13:57] Ayush7614 commented on #182
#179 @avinashkranjan  sir this is pull request

[2021-01-07 04:54] #12 closed

[2021-01-07 05:14] vaishnavirshah opened #188 "Whatsapp Automation with Python"
# Aim

Send whatsapp messages to a user.

# Details

In this script the user will be asked to :
- Mention the name of the user they want to send the message to
- Write the message they want to send
- And scan for whatsapp web.
And then the message will be automatically sent to that user.

[2021-01-07 05:18] avinashkranjan commented on #188
Go ahead with the script @vaishnavirshah Assigned to you..

[2021-01-07 11:32] #161 closed

[2021-01-07 11:36] #162 closed

[2021-01-07 11:39] #159 closed

[2021-01-07 11:46] #169 closed

[2021-01-07 11:50] #165 closed

[2021-01-07 12:06] pritamp17 opened #196 "Network scanner in python."
# Aim

Building a network scanner

# Details

- It will give IP and MAC-ADDRESS of devices connected to the same network as yours.

[2021-01-07 12:06] pritamp17 commented on #196
please assign me this issue under SWOC

[2021-01-07 12:07] avinashkranjan commented on #196
Go ahead @pritamp17

[2021-01-07 13:29] vaishnavijha opened #197 "scripts using ZIP in python"
# Aim

ZIP function in python makes a lot of process easy and reduces several lines of code into one liner

# Details

- The zip function makes our python code very elegant. However, uses of the zip function are not very intuitive for beginners and sometimes they are error-prone.So i want to demonstrate how zip function can efficiently used to our purpose.

[2021-01-07 13:30] vaishnavijha commented on #197
Can i be assigned this issue to work on.Please review this issue.

[2021-01-07 14:37] avinashkranjan commented on #197
Sure Go ahead @vaishnavijha

[2021-01-08 05:36] #170 closed

[2021-01-08 05:54] vaishnavijha commented on #197
Created pull request

[2021-01-08 06:07] #182 closed

[2021-01-08 06:08] avinashkranjan commented on #182
@all-contributors please add @Ayush7614  for code

[2021-01-08 06:10] #167 closed

[2021-01-08 06:16] #82 closed

[2021-01-08 10:04] dhanrajdc7 opened #204 "Script to Send Professional HTML Bulk Emails using Python"
# Aim
- Send Bulk HTML Emails using Python Automation

# Details
- Send Bulk HTML Emails
- Responsive Email Design
- SMTP Server Cooldown
- Option to attach files to Template

# Demo
![Screenshot 2021-01-08 at 15 19 05](https://user-images.githubusercontent.com/39642060/104002162-ad6e6600-51c6-11eb-9662-7adccff6a292.png)

[2021-01-08 12:23] Ayush7614 opened #205 "Spelling Checker in python"
# Aim

- Build a spell-checker using python packages

# Details

- This  is going to talk about three different packages for coding a spell checker in Python – `pyspellchecker`, `TextBlob`, and `autocorrect`.

[2021-01-08 12:25] Ayush7614 commented on #205
Plss assign me this issue @avinashkranjan sir

[2021-01-08 12:57] avinashkranjan commented on #204
Sure go ahead @dhanrajdc7 Assigned to you

[2021-01-08 12:58] avinashkranjan commented on #205
Assigned it you @Ayush7614

[2021-01-08 14:21] Ayush7614 commented on #205
#206 sir this is pull request

[2021-01-08 14:21] Ayush7614 commented on #205
plss review it @avinashkranjan sir

[2021-01-08 15:22] antrikshmisri commented on #177
@avinashkranjan Created the [PR](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/207) , please review when you can.

[2021-01-08 21:34] Rahul555-droid opened #210 "A script to organise files in a folder as per their extensions"
# Aim

On running this script the files in an input folder(command line) will be put into a folder as per their extension

# Details
Say I have a folder or a directory named "my_files"
In my_files I have files of all sorts of extensions like .txt , .pdf , .epub, etc.
Their numbers are in 100s
Going through each file and moving it to a directory will be cumbersome so will let python do it.

This sc

[2021-01-08 21:39] Rahul555-droid commented on #210
Hi please assign me this issue for SWOC.
Thanks :)

[2021-01-08 21:52] Rahul555-droid opened #211 "A script that will check sentiment for an input text without any external lib [GUI]"
# Aim

- A script that will check sentiment for an input text using tkinter.
This can be helpful for people who use Social media a lot and would want to get how positive or negative their tweet,post,etc. is.
Usually positive text has more reach so it can be a "sentiment checker"

# Details

- I will implement a script that will take a text as an input via GUI and give the user how positive or nega

[2021-01-08 21:52] Rahul555-droid commented on #211
Please assign this to me for SWOC.

[2021-01-09 05:33] avinashkranjan commented on #211
Sure Go ahead @Rahul555-droid

[2021-01-09 05:33] avinashkranjan commented on #210
Assigned to you @Rahul555-droid

[2021-01-09 05:36] avinashkranjan commented on #132
Hello @fatmab2809 @vaishnavirshah @dhwanishingala Can we discuss about the website and what you'll be doing?
You guys can decide among yourselves and divide the work or if not then I can assign you different parts of website to work on? which one would you guys be more comfortable in?

[2021-01-09 05:42] Rahul555-droid commented on #211
Ok thanks will do it.

[2021-01-09 05:43] Rahul555-droid commented on #210
Thanks will do it.

[2021-01-09 06:27] fatmab2809 commented on #132
Yes, we can discuss about the website on Slack to get a clear picture. And I am comfortable with both ways.

[2021-01-09 06:30] vaishnavirshah commented on #132
Could we discuss about what is expected before we divide the work?

[2021-01-09 06:38] pritamp17 commented on #196
@avinashkranjan sir I have sent PR please review it when you can.

[2021-01-09 12:55] yonMaor commented on #210
@Rahul555-droid @avinashkranjan
Please let me know if I can help :)

[2021-01-09 14:34] Ayush7614 commented on #205
@avinashkranjan  Sir plss review it

[2021-01-09 17:33] Priyanshu-official commented on #132
@avinashkranjan I also want to Work on this Project
SWOC-21- Participant

[2021-01-09 17:35] Priyanshu-official commented on #132
If we are going to divide this so we can use React and Make component for the website...

[2021-01-10 05:16] Ayush7614 commented on #205
@avinashkranjan sir plss review it

[2021-01-10 05:51] #188 closed

[2021-01-10 05:54] #205 closed

[2021-01-10 05:59] #197 closed

[2021-01-10 06:07] #177 closed

[2021-01-10 06:17] #172 closed

[2021-01-10 06:26] Ayush7614 opened #220 "Creating a spiral star using Python"
# Aim

- Creating a spiral star using Python

# Details

- Spiral star made of python using python turtle module

[2021-01-10 06:26] Ayush7614 commented on #220
@avinashkranjan sir plss assign me this issue

[2021-01-10 06:30] avinashkranjan commented on #220
Sure Go ahead But Try creating Multiple Shapes @Ayush7614

[2021-01-10 06:32] #196 closed

[2021-01-10 07:33] antrikshmisri opened #223 "Github Automation"
# Aim

- A script that allows user to automate github workflow

# Details

- This script allows user to completely automate github workflow. This script keeps track of changed files and generates a diff, then auto adds and commits(asks for a commit message) the changed files.

[2021-01-10 07:36] antrikshmisri commented on #223
@avinashkranjan  Please assign me this issue

[2021-01-10 08:09] avinashkranjan commented on #223
Sure Go ahead @antrikshmisri

[2021-01-10 11:02] SHITIZ-AGGARWAL commented on #131
I would like to work on this if available

[2021-01-10 11:09] SHITIZ-AGGARWAL commented on #132
@avinashkranjan  I can work on the ui designing part ,this will ease the work since you will have a basic layout about how the site will look

[2021-01-10 12:56] avinashkranjan commented on #131
Sure Go ahead @SHITIZ-AGGARWAL

[2021-01-10 12:58] avinashkranjan commented on #132
I was looking for a UI/UX Designer.. To Get Started with the Designing Part Sure go ahead.. @SHITIZ-AGGARWAL

[2021-01-10 13:37] Ayush7614 commented on #220
@avinashkranjan sir plss review it #225 this is PR for the issue

[2021-01-10 14:23] SHITIZ-AGGARWAL commented on #131
Can you tell more about what texts or tags you need on the banner or anything else you need specifically

[2021-01-10 16:12] avinashkranjan commented on #131
@SHITIZ-AGGARWAL Sure, Create a Logo and Then Amazing Python Scripts Add a Little description `Curated collection of Amazing Python scripts from Basics to Advance with automation task scripts.`.. and a GitHub Link `avinashkranjan/Amazing-Python-Scripts`.. Rest I leave to you and your Creative Imagination.

[2021-01-10 17:03] vaishnavijha opened #226 "Add text on image using python script"
# Aim

Usually, when we work in frontend web development we have a requirement sometimes of having text on the image and it is done by CSS. But we can easily do the same in python with few lines of code.So the aim is to have an image with text of the desired font on it

# Details

- Script will make use of a python library called pillow which is Python Imaging Library (Fork). The Python Imaging Li

[2021-01-10 17:03] vaishnavijha commented on #226
Can i be assigned this issue if it seems a good addition to the repository?

[2021-01-10 17:19] avinashkranjan commented on #226
Sure @vaishnavijha .. Go ahead

[2021-01-10 17:47] Rahul555-droid commented on #210
Hi abhinav I have opened the PR please review it.

Also I have used the stdin input instead of commandline arguments that I mentioned here.

[2021-01-10 17:48] Rahul555-droid commented on #210
Hi @yonMaor .
I am almost done here.

Maybe you can make a shell script similar to this if allowed here.

[2021-01-10 18:00] vaishnavijha commented on #226
Pull request to resolve this issue is added

[2021-01-11 12:47] Ayush7614 commented on #220
@avinashkranjan plss sir review it

[2021-01-11 14:50] SHITIZ-AGGARWAL commented on #131
![banner](https://user-images.githubusercontent.com/53532851/104196174-7bb90180-5449-11eb-9433-3486adff44f5.gif)
![banner](https://user-images.githubusercontent.com/53532851/104196620-013cb180-544a-11eb-9a86-336946cf0a46.png)

@avinashkranjan

[2021-01-11 18:22] Rahul555-droid opened #230 "A script to delete selected pages from PDF"
# Aim

-  A script that will delete input pages from a PDF file

# Details

- It will be a simple script using pdfrw or some other small python library and will remove the pages that the user enters as arguments from stdin.

[2021-01-11 18:23] Rahul555-droid commented on #230
I would want to work on this issue for SWOC.
Please assign this to me :)

[2021-01-12 04:45] Ayush7614 commented on #220
@avinashkranjan plss review it sir

[2021-01-12 05:09] Rahul555-droid opened #231 "Script to organise out-of-order pages in a PDF File."
# Aim
- At times we get a pdf that is not ordered properly but we know the pages which have are out of order and it is tough to reorder it with an Android PDF app or windows app.
This script will make it easy to reorder your pages in a PDF with just one click.

# Details

- A python script that will take an input of pages which are unordered and where these unordered pages should go Example input:

[2021-01-12 05:09] Rahul555-droid commented on #231
I would want to work on this issue for SWOC in python please assign it to me!

[2021-01-12 09:50] #151 closed

[2021-01-12 09:56] #223 closed

[2021-01-12 09:58] #220 closed

[2021-01-12 10:00] #210 closed

[2021-01-12 10:02] avinashkranjan commented on #230
Sure Go ahead @Rahul555-droid

[2021-01-12 10:02] avinashkranjan commented on #231
Sure Go ahead @Rahul555-droid

[2021-01-12 10:05] #226 closed

[2021-01-12 10:17] #152 closed

[2021-01-12 14:14] Ayush7614 opened #237 "Dice Roll Simulator"
# Aim

- Dice Roll Simulator

# Details

- The goal is to create a program that will simulate the roll of dice.

[2021-01-12 14:14] Ayush7614 commented on #237
@avinashkranjan plsss assign me this issue

[2021-01-12 14:25] Ayush7614 opened #238 "Rock, Paper & Scissors Game"
# Aim

- Rock, Paper & Scissors Game

# Details

- The Goal is to create a command-line game where a user is given a chance to choose between rock, paper, and scissors and if the user wins the score is added, and at the end when the user finishes the game the score is shown to the user.

[2021-01-12 14:25] Ayush7614 commented on #238
plss assign me this issue @avinashkranjan sir

[2021-01-12 14:28] Ayush7614 opened #239 "Guess The Number Game"
# Aim

- Guess The Number Game

# Details

- In this game, the task is to create a script that generates a random number between a range if the user guesses the number right in three chance then user wins otherwise user loss.

[2021-01-12 16:14] #153 closed

[2021-01-12 16:17] avinashkranjan commented on #239
Assigned to you  @Ayush7614

[2021-01-12 16:17] avinashkranjan commented on #238
Assigned to you  @Ayush7614

[2021-01-12 16:18] avinashkranjan commented on #237
Assigned to you  @Ayush7614

[2021-01-12 16:35] Rahul555-droid opened #242 "bug in readme file of script-to-organise-files-according-to-their-extensions"
**Describe the bug**
The readme file in the

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/script-to-organise-files-according-to-their-extensions'
2. Scroll down to the readme file
3. See error

**Expected behavior**
The images should show but they don't.

**Screenshots**

![Screenshot (120)](https://user-images.git

[2021-01-12 16:42] Rahul555-droid commented on #242
Hi @avinashkranjan

I Can send a PR right away or if someone else can edit it then that is good too.

[2021-01-12 16:43] avinashkranjan commented on #242
I have fixed it don't worry.. @Rahul555-droid

[2021-01-12 16:44] avinashkranjan commented on #242
Fixed it in 12f1eda

[2021-01-12 16:44] #242 closed

[2021-01-12 16:53] #238 closed

[2021-01-12 16:59] avinashkranjan commented on #132
Kindly, Share your Ideas and what are you looking forward to work in the website in this discussion thread [here.](https://github.com/avinashkranjan/Amazing-Python-Scripts/discussions/155)
@fatmab2809 @vaishnavirshah @Priyanshu-official @dhwanishingala

[2021-01-12 17:21] Rahul555-droid commented on #242
Ok cool :)

[2021-01-13 03:56] Ayush7614 commented on #238
Okk No Problem sir @avinashkranjan

[2021-01-13 05:49] Ayush7614 commented on #237
@avinashkranjan sir #244 this is pull for this issue

[2021-01-13 06:19] Ayush7614 opened #245 "Hangman Game"
# Aim

- The task is to create a simple command-line hangman game.

# Details

- From Python Modules Create a hangman game

[2021-01-13 06:20] Ayush7614 commented on #245
@avinashkranjan plss review it

[2021-01-13 06:30] pritamp17 opened #246 "script that can sniff data from HTTP pages"
# Aim

to build a packet sniffer

# Details

-script that will capture data from the HTTP page when you are the man in the middle in the connection.

[2021-01-13 06:31] pritamp17 commented on #246
@avinashkranjan please assign this to me under SWOC.

[2021-01-13 06:52] avinashkranjan commented on #246
Sure Go ahead @pritamp17

[2021-01-13 06:53] avinashkranjan commented on #245
Sure Go ahead @Ayush7614

[2021-01-13 09:15] SHITIZ-AGGARWAL commented on #131
Do you want any changes or shall i make a pr

[2021-01-13 15:36] Ayush7614 commented on #237
sir pkss review it

[2021-01-14 07:43] hritik5102 opened #247 "Word Detection using OpenCV python"
# Aim

- What is the objective of the Script
   To detect the words present in the document (page)

# Details

- What features will your script have
  - [x] contour ( bounding box ) over each word detected

[2021-01-14 07:47] hritik5102 opened #248 "Tic Tac Toe using Min Max Algorithm"
# Aim

- What is the objective of the Script
   An agent (robot) will play a tic tac toe game with human

# Details

- What the features will your script have
   - [x] Interactive UI
   - [x] User friendly

[2021-01-14 07:49] hritik5102 commented on #248
Please assign this issue to me, for SWOC21 @avinashkranjan
Thank you

[2021-01-14 07:50] hritik5102 commented on #247
Please assign this issue to me, for SWOC21 @avinashkranjan
Thank you

[2021-01-14 07:54] avinashkranjan commented on #247
Sure Go ahead @hritik5102

[2021-01-14 07:54] avinashkranjan commented on #248
Sure Go Ahead @hritik5102

[2021-01-14 09:27] sakshikhachane opened #249 "Certificate Generator"
# Aim

- What is the objective of the Script
To generate certificate

# Details

- What features will your script have
The certificate will be generated automatically and will get downloaded in the directory after generation.

Please assign me this issue under SWOC.

[2021-01-14 10:32] avinashkranjan commented on #249
Sure Go ahead @sakshikhachane

[2021-01-14 12:27] Ayush7614 commented on #132
@avinashkranjan i also want to work on this issue

[2021-01-14 15:16] vaishnavijha opened #251 "Schedule a python code to run"
# Aim

- this script will help in scheduling the python script to run at the desired time as decided by the user. Usually this will be effective if a certain action has to be performed at a given time, for example, we have to display lunch hour on screen at 1 pm so if we schedule to run that script at 1 pm it will be automatically handled at that particular time.

# Details

- With the help of a l

[2021-01-14 15:17] vaishnavijha commented on #251
Can I be assigned this issue if it seems a good addition to the repo.

[2021-01-14 16:33] avinashkranjan commented on #251
Sure Go ahead @vaishnavijha

[2021-01-14 16:44] #231 closed

[2021-01-14 16:46] #237 closed

[2021-01-14 16:48] #247 closed

[2021-01-14 18:13] Ayush7614 opened #255 "Check Internet Speed Using Python"
# Aim

- Check Internet Speed Using Python

# Details

- Script is for Check Internet Speed Using Python module

[2021-01-14 18:17] avinashkranjan commented on #255
We already have a script for that @Ayush7614, Kindly look at the existing scripts before Creating an issue

[2021-01-14 18:17] #255 closed

[2021-01-14 18:39] avinashkranjan commented on #131
@SHITIZ-AGGARWAL I don't find it appealing. Do you more iterations to show??

[2021-01-14 18:40] avinashkranjan commented on #9
Any updates @M-PRERNA and @ami-harry

[2021-01-14 18:41] SHITIZ-AGGARWAL commented on #131
Sure I will make some more designs

[2021-01-14 18:42] avinashkranjan commented on #56
Any updates @shubhigupta991

[2021-01-14 18:42] avinashkranjan commented on #95
Any Updates @Sharanya2019

[2021-01-14 18:43] avinashkranjan commented on #116
Any Updates @gpriya32

[2021-01-14 18:46] avinashkranjan opened #256 "GitHub Action to automatically call all-contributors bot"
# Aim

- GitHub Action to automatically call all-contributors bot after a PR is Merged

# Details

- This is help in automating the workflow for this project.

[2021-01-14 21:08] gpriya32 commented on #116
I was working on it but now as I have exams it will take time...so if you want to assign it to someone.... go ahead.

[2021-01-15 03:53] Sharanya2019 commented on #95
I am working on it @avinashkranjan
Any deadline?

[2021-01-15 05:15] sammy8825 commented on #239
Can i work on this issue @avinashkranjan ?

[2021-01-15 05:19] Ayush7614 commented on #239
bro i am already working on the issue

[2021-01-15 05:33] sammy8825 commented on #239
Ok👍

[2021-01-15 06:04] Ayush7614 commented on #239
@avinashkranjan #257 this is pull for the this issue plss review it

[2021-01-15 06:14] Ayush7614 opened #258 "Get any website IP Address Using Python"
# Aim

Get any website IP Address Using Python

# Details

Get any website IP Address Using Python Module

[2021-01-15 06:18] Ayush7614 opened #259 "Data Visualization Using Python"
# Aim

Data Visualization Using Python

# Details

Data visualization in very easy in python as python uses Matlab to make a matplotlib So the script is for Data Visualization Using Python module

[2021-01-15 06:22] Ayush7614 opened #260 "Use Python To Know Famous Personality"
# Aim

Use Python To Know Famous Personality

# Details

- The script is for knowing all the details of all things  famous personality like Jeff Bezos, Elon Musk, Sundar Pichai and many more it was really amazing one

[2021-01-15 06:22] vybhav72954 commented on #78
I was out os station @avinashkri will start working from today only, just give me this weekend and I will close all my issues

[2021-01-15 07:43] avinashkranjan commented on #95
No @Sharanya2019 But the Earlier the Better

[2021-01-15 07:52] avinashkranjan commented on #260
I don't think this Script would be of any use..

[2021-01-15 07:52] #260 closed

[2021-01-15 07:52] avinashkranjan commented on #259
Go ahead..

[2021-01-15 07:54] avinashkranjan commented on #258
Go ahead..

[2021-01-15 07:55] avinashkranjan commented on #116
Sure @gpriya32

[2021-01-15 14:25] vybhav72954 commented on #256
Can you assign this to me

[2021-01-15 15:21] avinashkranjan commented on #256
Sure.... Assigned to you @vybhav72954

[2021-01-15 20:07] NChechulin commented on #258
This can be done in literally two lines of code:
[code]

Other scripts seem a little bit more complex for me, therefore, they might be more useful,
Don't want to be toxic in any sense, but I think that if the solution can be googled within a few seconds then there's no need to include it in the repo.

[2021-01-15 20:17] NChechulin opened #263 "Add code quality Actions"
**Is your feature request related to a problem? Please describe.**
Code in the projects could be better,

**Describe the solution you'd like**
Add flake8 Github Action which will help new contributors to achieve better code.
Also, we could start gradually improving the quality of older projects.
The first step could be formatting with `black`.

[2021-01-15 20:19] NChechulin opened #264 "Unify project naming"
**Is your feature request related to a problem? Please describe.**
Projects are named in different styles: `some_project`, `some-project`, `some project`, and `SomeProject`.
I believe it would be better if we unified the naming scheme.

**Describe the solution you'd like**
Manually rename all of the projects using `This style`.

[2021-01-16 14:34] a-k-r-a-k-r opened #266 "Checklist GUI"
# Aim

- Simple to use Checklist using python tkinter

# Details

- GUI
- simple to use
- user friedly

[2021-01-16 20:05] avinashkranjan commented on #266
Make it a To-Do List Assigning it to you @a-k-r-a-k-r

[2021-01-16 20:07] avinashkranjan commented on #263
Would You like to work on it @NChechulin

[2021-01-16 20:07] avinashkranjan commented on #264
Would You like to work on it @NChechulin ?

[2021-01-16 20:16] #157 closed

[2021-01-16 20:19] #239 closed

[2021-01-16 20:19] #258 closed

[2021-01-16 20:22] #168 closed

[2021-01-16 20:25] #248 closed

[2021-01-16 21:00] NChechulin commented on #264
@avinashkranjan  Yes, sure. Should I stick to `This style` or to some other?

[2021-01-16 21:06] avinashkranjan commented on #264
Change it to `This-Style` cause some terminals has issue changing directories when there's some between the names i.e `This Style` So, `This-Style` would be a better alternative.

[2021-01-16 21:09] vybhav72954 commented on #263
@avinashkranjan If no one is up for this, consider assigning me

[2021-01-16 21:50] NChechulin commented on #264
Just sent a pull request (#267)

[2021-01-17 06:28] avinashkranjan commented on #263
Sure @vybhav72954 Go ahead

[2021-01-17 06:31] #264 closed

[2021-01-17 07:13] vybhav72954 commented on #263
@avinashkranjan Just a small question, I have worked a lot on actions for code quality, I can make 4 actions

- pylnint
- black
- issort
- flake8

All 4 together might be an overkill, but we can have that as well.

As OP said, `black` is a good tool for basic styling.

According to me `pyLint` is the best bet as it is very friendly and customizable.

[2021-01-17 12:58] avinashkranjan commented on #263
Then Go ahead with `pyLint`

[2021-01-17 13:06] vaishnavirshah opened #270 "Creating the static landing page for the website."
I will try to create the layout for this website and try to make it look good and responsive.
I will be using HTML, CSS and JS.

Contribution under SWOC'21

[2021-01-17 13:07] avinashkranjan commented on #270
Go Ahead @vaishnavirshah

[2021-01-17 19:14] Ayush7614 commented on #245
#273 this is pull for this issue

[2021-01-17 19:14] Ayush7614 commented on #245
@avinashkranjan plss review it

[2021-01-17 20:04] aryangulati opened #274 "Dominant Color Detection From Image"
# Aim
**Analysing of Dominant Colour in Image**

- What is the objective of the Script
Finding Dominant Colour: Finding Colour with K-means and giving appropriate colours to the pixel/data points of the image.

# Details
- Good Segmentation(Colour Extraction): Given an image in generic viewpoint, we wish to produce the best possible segmentation, by this we mean that most people would choose this

[2021-01-18 08:59] #251 closed

[2021-01-18 08:59] avinashkranjan commented on #274
Go ahead @aryangulati

[2021-01-19 10:48] fatmab2809 opened #277 "Adding scripts to the website"
Once the website has been made, to that, I will add the scripts in the form of cards using HTML and CSS.

[2021-01-19 13:50] Ayush7614 commented on #245
#278 this is pull for this issue plss review it

[2021-01-19 16:15] slashharsh opened #279 "SMS Automation"
# Aim

- The Aim is to send SMS (Short message service) to multiple people using python.

# Details

- It will be able to send message to multiple people by one script
- Scheduler will be there to send messages (greetings etc.) to send SMS at a particular time.

[2021-01-19 16:19] avinashkranjan commented on #279
Sure Go Ahead @slashharsh

[2021-01-19 16:20] slashharsh commented on #279
Thanks!

[2021-01-20 09:00] Ayush7614 commented on #245
@avinashkranjan plss review it

[2021-01-21 06:04] vybhav72954 opened #283 "The stale GitHub action is not working properly"
**Describe the bug**
While i was testing my NewGithub action in #282 I noticed that `stale` action is not working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Actions` Dashboard
2. Click on `stale` action
3. See error

**Expected behavior**
There should not be any error, while the action should mark PRs as stale.

**Desktop (please complete the following information):**

[2021-01-21 06:05] vybhav72954 commented on #283
Mentors, it would be great if you can assign me. Kindly go through the _Additional Context_ and share your views as well

[2021-01-21 07:30] antrikshmisri opened #284 "Improvement in Github-Automation"
**Is your feature request related to a problem? Please describe.**
These improvement are for [Github-Automation](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Github-Automation)
Following are the improvements needed:-

- installed scripts should be contained in a folder
- the folder should be added to gitignore if it exists. If not then create one.
- improve the diff calcula

[2021-01-21 07:37] antrikshmisri commented on #284
@avinashkranjan added these improvements in the [Github-Automation](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Github-Automation) script. Here's the [PR](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/285).

[2021-01-21 07:43] avinashkranjan commented on #283
I don't see any errors, But if you have any better suggestions. Go ahead..

[2021-01-21 07:52] vybhav72954 commented on #283
@avinashkranjan If thtas the case, i will recheck the action from my side. If its working properly, I will close this issue

[2021-01-21 07:53] #284 closed

[2021-01-21 07:58] #263 closed

[2021-01-21 08:00] #204 closed

[2021-01-21 08:04] #246 closed

[2021-01-21 08:06] #266 closed

[2021-01-21 08:18] avinashkranjan commented on #277
Now that Landing Page is ready go ahead @fatmab2809

[2021-01-21 08:20] avinashkranjan opened #290 "Adding Contributors List to the Website"
# Aim

- Since the Landing Page of the Website is Ready, Add the Contributors Sections and People who have contributed to the Repo

[2021-01-21 08:31] #270 closed

[2021-01-21 14:54] pritamp17 commented on #279
@avinashkranjan sir I would like to work on this script using Nodejs, could you please assign me this?

[2021-01-21 15:50] avinashkranjan commented on #279
No, Script is supposed to be in Python only..and it's already assigned to someone else..

[2021-01-21 16:19] pritamp17 commented on #279
ok

[2021-01-21 18:09] ShristiJalan opened #295 "Snake Game in Python"
# AIM

- Create a Snake Game using Python

# Details

- Game Over when Snake hits the boundaries.
- Adding the Food.
- Increasing the Length of the Snake as Snake Eats the food
- Display the Score.

[2021-01-21 21:41] NChechulin commented on #290
There's a Github bot for updating the list of contributors.
In bot's [config](https://allcontributors.org/docs/en/bot/configuration) one may specify a list of files where the bot will place HTML with contributors.

I believe we could use the bot to generate HTML and then just it on a website.
I think that we can't avoid "reading" this repo if we want the projects list to be generated automatically

[2021-01-22 06:38] #230 closed

[2021-01-22 09:27] Rahul555-droid opened #297 "Email validation script using SMTP library and dnspython"
# Aim

- A script that will validate whether an email is valid or not.

# Details

- It will use dnspython and smtp(part of standard library) libraries of python.
- It will first check the syntax of the Email id.
- if it passes the first check Then check for the MX records of the domain of the email id (like gmail.com) and see whether it is able to send mails or not.
- if it passes the second chec

[2021-01-22 09:27] Rahul555-droid commented on #297
Please assign this to me for SWOC.

thank you.

[2021-01-23 14:46] Ayush7614 commented on #245
@avinashkranjan sir plss review it

[2021-01-24 11:36] pritamp17 commented on #56
@avinashkranjan I would like to work on this issue please assign this issue to me.

[2021-01-24 12:04] avinashkranjan commented on #56
Sure Go ahead @pritamp17

[2021-01-25 04:45] CharvyJain commented on #295
@avinashkranjan I want to work on this. Can I?

[2021-01-25 04:46] avinashkranjan commented on #295
Sure go ahead

[2021-01-25 06:27] avinashkranjan commented on #297
Sure Go Ahead @Rahul555-droid

[2021-01-25 18:53] #274 closed

[2021-01-26 06:55] vybhav72954 commented on #256
@avinashkranjan I tried making this action from scratch using TS and even tried a different approach using GitHub API, but I failed both times. We need to call this bot whenever the PR is successfully merged in the master, there is no active GitHub flag for this, and also thee HEAD-refs don't change so I cant hard code it (maybe someone else can), for now, you can put `up-for-grabs` label back, un

[2021-01-26 06:57] vybhav72954 commented on #256
The best workaround I found was using GitHub API to automate the contribution list, which in turn means, we won't be using `aa-contributors`, which is not a good idea because the bot is clearly a very good project from the get-go compared to the native option GItHub provides.

[2021-01-26 14:45] #245 closed

[2021-01-27 05:44] Ayush7614 commented on #259
#301 this is pull for this issue @avinashkranjan sir plss review it

[2021-01-27 13:20] Bug-007 opened #302 "Simple Notepad"
# Aim

To provide a very simple GUI based notepad

# Details

It will have saving text file and opening and basic editing features.

[2021-01-27 13:23] Bug-007 commented on #302
assign this to me I am from SWOC.

[2021-01-27 15:47] avinashkranjan commented on #302
Sure Go Ahead.. @Bug-007

[2021-01-27 20:13] AnandD007 commented on #9
I would like to work on this issue

[2021-01-27 20:17] avinashkranjan commented on #9
Go Ahead @AnandD007

[2021-01-28 07:15] dhanrajdc7 opened #304 "PyScript to Send SMS using Twilio"
# Aim

- To send SMS with Twilio using Python

# Details

- Send SMS Programmatically with Python & Twilio
- Quick Start README
- Easy to implement in any Python Project

# Working
![working-pic](https://twilio-cms-prod.s3.amazonaws.com/images/outgoing-sms.width-800.png)

[2021-01-28 12:40] CharvyJain commented on #295
@avinashkranjan Please check PR #306

[2021-01-28 17:49] avinashkranjan commented on #304
Sure Go Ahead.. @dhanrajdc7

[2021-01-29 08:41] #302 closed

[2021-01-29 14:17] Ayush7614 opened #310 "Internshala Scraper"
**Is your feature request related to a problem? Please describe.**

Internshala Scraper

**Describe the solution you'd like**

Select field, select number of pages and the script saves internships to a csv.

[2021-01-29 14:17] Ayush7614 commented on #310
Assign me this issue

[2021-01-29 14:21] Ayush7614 opened #311 "IMDB_scrapper"
**Is your feature request related to a problem? Please describe.**

IMDB_scrapper

**Describe the solution you'd like**

This script takes a movie name as input and returns the information about that movie.

[2021-01-29 17:01] avinashkranjan commented on #310
Sure Go Ahead... @Ayush7614

[2021-01-29 17:13] avinashkranjan commented on #311
Sure Go ahead..

[2021-01-31 11:52] #295 closed

[2021-01-31 11:56] #259 closed

[2021-01-31 11:58] #304 closed

[2021-01-31 11:59] #277 closed

[2021-01-31 11:59] #283 closed

[2021-02-02 11:18] AnandD007 opened #316 "Send and schedule a message in WhatsApp by only seven lines of Python Script."
Send and schedule a message in WhatsApp by only seven lines of Python Script.

# Description

Added New Script (WhatsApp-Auto-Messenger)

## Fixes [#312](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/312)

## Have you read the [Contributing Guidelines on Pull Requests](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/CONTRIBUTING.md)?

- [x] Yes
- [ ] No

## Typ

[2021-02-03 12:34] pankaj892 opened #317 "Random Email Name Generator"
I would like to add a script which generates a random email name for the user @avinashkranjan Please assign me on this issue

[2021-02-04 13:46] Ayush7614 commented on #310
For this issue pull is #315

[2021-02-04 13:47] Ayush7614 commented on #310
Now plss review it @avinashkranjan sir

[2021-02-04 17:00] #310 closed

[2021-02-04 17:07] #316 closed

[2021-02-04 17:09] avinashkranjan commented on #317
Sure Go ahead @pankaj892

[2021-02-04 18:56] AnandD007 opened #319 "Updated Script.md file"
# Description

Added new script information with contributor name

## Fixes #318

Replace #318 with the issue number which is fixed in this PR

## Have you read the [Contributing Guidelines on Pull Requests](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/CONTRIBUTING.md)?

- [x] Yes
- [ ] No

## Type of change

_Please delete options that are not relevant._

- [x] Bug fix (no

[2021-02-04 19:42] #319 closed

[2021-02-04 22:56] hpnightowl opened #320 "website_status_checker script"
# Details

- Added a script that takes a web address as an input and returns the status code of the web address

can you assign me this issue?  @avinashkranjan

[2021-02-05 08:14] avinashkranjan commented on #320
Go Ahead @hpnightowl

[2021-02-05 08:31] Ayush7614 opened #321 "Video to Audio Converter GUI"
# Aim

- Video to Audio Converter GUI

# Details

-  Converts any type of video file into an audio file.
- It supports the various audio and video formats for the conversion.
- Provides a GUI [Graphical User Interface] for convenience

[2021-02-05 08:32] Ayush7614 commented on #321
This issue under swoc plss assign me

[2021-02-05 08:39] avinashkranjan commented on #321
Sure Go Ahead.. @Ayush7614

[2021-02-05 09:26] Ayush7614 opened #322 "Google News Scrapper"
# Aim

- Google News Scrapper

# Desciption

- A python Automation script that helps to scrape the google news articles. The key feature of this script is that user can able to scrape the as many number of articles by giving the number of articles count. This script will generate the excel file of all the scraped articles with links with their respective titles.

[2021-02-05 09:26] Ayush7614 commented on #322
This issue is under Swoc plss assign me

[2021-02-05 21:00] #78 closed

[2021-02-05 22:11] avinashkranjan commented on #322
Sure Go ahead @Ayush7614

[2021-02-06 08:16] Ayush7614 commented on #311
#325 this is pull for this issue plss review it @avinashkranjan sir

[2021-02-06 08:31] saiharsha-22 opened #326 "Covid19 Dectection using chest X-Ray"
@avinashkranjan I would work on this issue. I am a participant in SWOC 2021

# Aim

- The system will detect whether the person is having a covid 19 or not.

# Details

- I will train the model first with the machine learning algorithms by collected data sets.
- After that, I will test how much accuracy is being there.
- And I will include this whole system using Tkinter GUI. so that if a user jus

[2021-02-06 08:39] saiharsha-22 opened #327 "Message Spam detection"
@avinashkranjan I would like to work on this issue, I am a participant in SWOC 2021.

# Aim

- Detecting whether the obtained message is spam or not spam.

# Details

- I will be using naive-Baye's machine learning algorithm. To build this model.
- I will first collect the data set, then train the model and test the model
- Then I will just import a simple text or a message and check whether the m

[2021-02-06 08:42] avinashkranjan commented on #327
Sure Go ahead @saiharsha-22

[2021-02-06 08:44] avinashkranjan commented on #326
Go Ahead @saiharsha-22

[2021-02-06 09:43] saiharsha-22 commented on #327
@avinashkranjan thank you for assising the issue I will start working on it

[2021-02-06 09:43] saiharsha-22 commented on #326
@avinashkranjan thank you for assising the issue I will start working on it.

[2021-02-06 13:00] vybhav72954 opened #329 "A script for Auto Backup of files"
# Aim

- A python script that can automatically backup files. Using `BackuPy` the solution can be achieved, but I have a further suggestion, as explained in detail.

# Details

- Python modules provide a means of backing up files according to the size (which files are backed up are dependent on size), this is a must-have feature, *BUT* what we actually lack is multithreading, SO a automatic backup

[2021-02-06 17:56] vybhav72954 opened #331 "A pretrained model for autonomous traffic sign detection"
# Aim

- With the growing popularity in DL/ML, I believe having some Deep Learning projects would be a good idea.

# Details

- I propose a pre-trained model, of traffic sign detection, simple enough so that even a beginner can understand, but flexible enough so that a hobbyist can easily optimize the hyperplanes for a more structured prediction and detection

[2021-02-06 17:57] vybhav72954 commented on #331
@avinashkranjan Can you assign this and #329  to me

[2021-02-06 19:15] avinashkranjan commented on #329
Sure Go ahead.. @vybhav72954 ..

[2021-02-06 19:16] avinashkranjan commented on #331
Sounds Great..
Assigned to you.. @vybhav72954

[2021-02-06 19:26] #317 closed

[2021-02-07 07:00] Ayush7614 commented on #322
#333 this is pull for this issue plss review it @avinashkranjan sir

[2021-02-07 15:53] #322 closed

[2021-02-07 15:56] AmeyaJain-25 opened #339 "PDF Encryption"
# Aim

- A Python script for encrypting a PDF by some password using PyPDF2.

# Details

- The main feature would be encrypting the PDF with a password. Another feature is that it can have an admin password and a company or organization password for people working in company's to access private documents.

- Please assign me this issue. I would like to work on this.

[2021-02-07 15:56] #320 closed

[2021-02-07 15:57] avinashkranjan commented on #339
Sure Go Ahead @AmeyaJain-25

[2021-02-07 15:58] AmeyaJain-25 commented on #339
Thanks

[2021-02-07 16:02] #95 closed

[2021-02-07 19:53] AmeyaJain-25 commented on #339
I have made the PR #343
Please review it.

[2021-02-08 06:47] saiharsha-22 opened #345 "Voice Assistant Script"
# Aim

- Voice Assistant

# Details

- It is a beginner-friendly script in python, where they can learn about the if-else conditions in python and different libraries.
- Libraries:
   -  speech_recognition
   - playsound
   - gTTS
   - pyttsx3

- First, we will keep few words in if-else and the system will see the cases accordingly and respond
- Example:  Hey bot can you share my ppts,
- or small

[2021-02-08 06:48] saiharsha-22 commented on #345
@avinashkranjan I would like to work on this issue, can you assign this issue to me.

[2021-02-08 09:38] achalesh27022003 commented on #249
It has been 25 days guys. I can do this in 1 day or 2. Pls assign me this issue. @avinashkranjan sir.

[2021-02-08 09:39] achalesh27022003 commented on #249
Under SWoC

[2021-02-08 10:07] achalesh27022003 opened #346 "Generate AudioBook from PDF file using Python"
# Aim
To make a audio book of any pdf using python.
- What is the objective of the Script
 The objective of script is to teach how one can generate text to speech using Python and its libraries.
# Details
- What the features will your script have
Will use pyttsx3 , PyPDF2 and tkinter libraries' modules and methods in the script.

[2021-02-08 10:08] achalesh27022003 commented on #346
@avinashkranjan  sir pls assign me this issue. I am under SWoC participant.

[2021-02-08 11:37] avinashkranjan commented on #249
Sure Go Ahead @achalesh27022003

[2021-02-08 11:38] avinashkranjan commented on #346
We already have a Script the Same [HERE](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/PDF-To-Audio). How's this one different?

[2021-02-08 11:38] avinashkranjan commented on #345
Sure Go Ahead @saiharsha-22

[2021-02-08 11:40] saiharsha-22 commented on #345
@avinashkranjan I will start working on it. Thanks for assigning the issue.

[2021-02-08 13:26] #346 closed

[2021-02-08 15:54] vaishnavijha opened #348 "Script doing away with the complexities of string matching and regex matching in urls"
# Aim

This python script will help in regex matching that can be used by compilers or string matching .

# Details

Many times we want to have a search feature in our program.When one has a list of strings and one wants to search a term or a regex against all of them ,this script will help us to extract the most relevant ones with similarities.

[2021-02-08 15:54] vaishnavijha commented on #348
Can I be assigned this issue to work on if it seems a good addition to the repo?

[2021-02-08 17:35] #329 closed

[2021-02-08 18:42] vybhav72954 opened #349 "Reduce Repo SIze, by removing Images from the Codebase"
**Is your feature request related to a problem? Please describe.**
The `README` have Images, like screenshots, test cases n stuff. Seems like a good Idea, but well the Repo Size cause of them are increasing like crazy. Which am sure no one can deny, is a problem in itself.

**Describe the solution you'd like**
Using a platform like Imgur for hosting images, and pasting the links in place of images

[2021-02-09 07:57] AmeyaJain-25 opened #350 "Auto Wi-Fi connector"
# Aim

- The script would be connecting to the Wi-Fi automatically.

# Details

- When the user will run the script, the user will be shown the available network out of the saved networks. User can choose the network they want to connect and then the script will automatically connect to the network provided by the user.

I would like to do this task under SWoC
Please assign this to me.

[2021-02-09 09:09] pritamp17 opened #351 "Distance calculating app."
Is your feature request related to a problem? Please describe.
An app that can show the distance between your current position(located using user's current IP) and user searched position on Map.

Additional context.
This app will have a frontend too, to show searched position on the map.

[2021-02-09 09:09] pritamp17 commented on #351
please assign this to me under swoc.

[2021-02-09 12:03] CharvyJain opened #352 "QR Code Generator"
# AIM
This Script will help us to convert Convert weight in **Kgs** to **Gram, Pounds and Ounce.**

## Details
It will be implemented using tkinter.

[2021-02-09 12:04] CharvyJain commented on #352
Can you assign me this under SWOC ?

[2021-02-09 15:23] mafiaguy opened #353 "Port Scanning"
# Aim

- A simple python scripting that help you perform port scanning

# Details

- This script tells you which port in a particular IP is open or not

[2021-02-09 17:28] avinashkranjan commented on #353
Hey, @mafiaguy We already have a script of that kind [Here](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Network-Scanner). How's your Script different from this?

[2021-02-09 17:28] avinashkranjan commented on #348
Sure @vaishnavijha Go ahead

[2021-02-09 17:31] #339 closed

[2021-02-09 17:33] mafiaguy commented on #353
Hey @avinashkranjan the script you have listed showcases the list of ip address in a network( as mentioned in the readme of the script) . Whereas the issue I hve create is for a port scanner. This is a script which scans a particular ip address and checks for open port.

[2021-02-09 17:35] avinashkranjan commented on #353
Okaey Then, Go ahead @mafiaguy Assigned to you..

[2021-02-09 17:37] avinashkranjan commented on #352
You can Easily find them in any Calculator or Google it..It won't be of any use..Do you suggest something else? Do tell

[2021-02-09 17:38] avinashkranjan commented on #351
Sure Go ahead @pritamp17

[2021-02-09 17:40] avinashkranjan commented on #350
Hey @AmeyaJain-25 How will this be helpful, what you're suggesting can be easily done for Taskbar in windows.. But If you're purposing else...Please elaborate ..

[2021-02-09 17:44] avinashkranjan commented on #349
I was thinking for the Same...If anyone would like to work on that it would be great..

And About the website... It's Work in Progress [Static] But I'm thinking to use static generator like [Hugo](https://gohugo.io/) The building process could be automated with GH Actions and the website could be hosted on GH Pages. I believe the only piece of effort would be writing a python/bash script that take

[2021-02-09 18:21] vybhav72954 commented on #349
@avinashkranjan I think i can help with the Photos

I am not good with Static pages, Dynamic websites are something which I can help with, but right now I have too much on my plate.

I can sort the images though. Kindly assign me

[2021-02-09 20:29] avinashkranjan commented on #349
Sure Go Ahead @vybhav72954

[2021-02-10 03:26] Bug-007 opened #356 "Last Access"
# Aim

-list files in a directory and print when was the last time file was accessed.

# Details

- it will use os and time module.

[2021-02-10 03:27] Bug-007 commented on #356
I am from SWOC please assign this issue to me.

[2021-02-10 10:15] CharvyJain commented on #352
How about QR Code Generator using python ?

[2021-02-10 14:00] avinashkranjan commented on #352
That Sounds Goods..Change the Issue Title and I'll Assign it to you..

[2021-02-11 08:03] avinashkranjan commented on #352
Go Ahead @CharvyJain

[2021-02-11 08:03] avinashkranjan commented on #356
Sure Go ahead @Bug-007

[2021-02-11 08:04] avinashkranjan commented on #350
I'll Close the issue If I don't hear back from you in next 24hrs.

[2021-02-11 08:05] avinashkranjan commented on #131
@SHITIZ-AGGARWAL Any Updates??

[2021-02-11 08:06] avinashkranjan commented on #171
Hey @GmGniap Any Updates? Are you having any issues?

[2021-02-11 08:07] #175 closed

[2021-02-11 08:08] #181 closed

[2021-02-11 08:09] avinashkranjan commented on #211
Any Updates @Rahul555-droid

[2021-02-11 08:10] avinashkranjan commented on #56
Any Updates @pritamp17

[2021-02-11 08:40] Rahul555-droid commented on #211
Hi @avinashkranjan will get this done by sunday along with others I have pending here.
I had exams that's why forgot about these

[2021-02-11 10:05] Sloth-Panda opened #360 "Creation of website blocker"
# Aim

- What is the objective of the Script
The scripts will block websites that the user wants. Basically there will be some files that will be running in the background of the system and preventing these sites to work.
# Details

- What the features will your script have
I will be implementing it in python using datetime library

[2021-02-11 10:06] Sloth-Panda commented on #360
@avinashkranjan will like to work on this as part of swoc

[2021-02-11 14:23] Bug-007 commented on #356
Please review it.

[2021-02-11 17:18] avinashkranjan commented on #360
Sure go Ahead @Sloth-Panda

[2021-02-11 17:19] #350 closed

[2021-02-12 05:45] vaishnavijha commented on #348
Created pull request for this issue

[2021-02-12 12:01] CharvyJain commented on #352
Made PR. #365 365

[2021-02-12 14:31] mafiaguy commented on #353
Made Pr #357

[2021-02-13 09:13] #331 closed

[2021-02-13 09:17] #326 closed

[2021-02-13 09:19] #345 closed

[2021-02-13 09:21] #348 closed

[2021-02-13 09:35] vybhav72954 commented on #116
@avinashkranjan Is this open?
Can you assign this?

[2021-02-13 09:36] avinashkranjan commented on #116
Yes @vybhav72954 It's Open, Go Ahead..

[2021-02-13 09:39] vybhav72954 opened #367 "A Lyrics Generator, using an API"
# Aim

- While working on a music recommendation system, I encountered a basic problem, how to generate lyrics for NLP 😞

# Details

- A script which can generate lyric, using Genius API

[2021-02-13 09:41] vybhav72954 commented on #18
@avinashkranjan Lol I can do this too along with the WhatsApp bot, but it would be better than I first deal with WhatsApp bot only.

If in the meantime it's not solved, I will take this

That won't be a problem, right?

[2021-02-13 10:28] mafiaguy commented on #353
#368

[2021-02-13 22:02] Sloth-Panda opened #371 "creation of web browser"
# Aim

- What is the objective of the Script
- The objective of the script is to build a low functionality web browser

# Details
- What the features will your script have
- By this script we will be having some basic functionality of the web browser like searching the web

[2021-02-13 22:02] Sloth-Panda commented on #371
@avinashkranjan would like to make this as part of swoc

[2021-02-14 10:58] avinashkranjan commented on #371
Sure @Sloth-Panda Go ahead...

[2021-02-14 10:59] avinashkranjan commented on #367
Do you want to work on this? @vybhav72954

[2021-02-14 11:00] avinashkranjan commented on #18
It won't be a problem @vybhav72954

[2021-02-14 11:02] vybhav72954 commented on #367
Yes please, but am out of station for a few days, so i would solve this by Wednesday at best.

[2021-02-14 14:46] #360 closed

[2021-02-14 16:46] YashIndane opened #374 "Classic Matrix Rain Code"
# Aim
The script will generate the katakana code shown in movie Matrix!

[2021-02-15 14:28] #249 closed

[2021-02-15 14:31] #374 closed

[2021-02-15 14:36] #356 closed

[2021-02-15 14:38] #352 closed

[2021-02-15 17:00] achalesh27022003 commented on #249
@avinashkranjan  sir this PR has been counted under SwoC na?

[2021-02-15 17:08] avinashkranjan commented on #249
Yes

[2021-02-17 20:46] #351 closed

[2021-02-20 20:46] Rahul555-droid commented on #297
sorry @avinashkranjan for the delay had some stuff. Will write it in a day or so!

[2021-02-21 06:51] Sloth-Panda opened #383 "Instagram video/image downloader"
# Aim

- What is the objective of the Script

The aim of this script is to download instagram images/videos from public accounts

# Details

- What the features will your script have

It wont be requiring any access token to download those images/videos

[2021-02-21 06:52] Sloth-Panda commented on #383
can I work on this @avinashkranjan

[2021-02-21 14:39] avinashkranjan commented on #383
Sure Go Ahead @Sloth-Panda

[2021-02-22 13:26] antrikshmisri opened #386 "Improvement in Github Automation Script"
**Is your feature request related to a problem? Please describe.**
These are some features for my script [Github Automation](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Github-Automation):-

1. Log changed file along with its respec. diff in form of an object into a json file
2. Remove respective object of the changed file from json that has been committed
3. Auto perform

[2021-02-23 06:31] anirudhsai20 commented on #290
Hi @avinashkranjan. Can you please assign me this issue to me under SWOC?

[2021-02-23 09:03] avinashkranjan commented on #290
Sure Go Ahead @anirudhsai20

[2021-02-23 09:04] avinashkranjan commented on #386
Looking forward to the PR

[2021-02-23 09:04] avinashkranjan commented on #9
@AnandD007 Any Updates??

[2021-02-23 09:05] AnandD007 commented on #9
Working On it. Tomorrow I will submit the PR

[2021-02-23 09:06] avinashkranjan commented on #9
Okaey, Great

[2021-02-23 15:52] AnandD007 opened #390 "Added New Scripts details with contributors in SCRIPTS.md"
## Added New Scripts details with contributors

# Description

Added new script details with contributors in the SCRIPTS.md file.

## Fixes #389

## Have you read the [Contributing Guidelines on Pull Requests](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/CONTRIBUTING.md)?

- [x] Yes
- [ ] No

## Type of change

_Please delete options that are not relevant._

- [x] Bug fix (

[2021-02-24 08:11] Aayush-hub opened #391 "Distance Calculating GUI"
# Aim

- GUI app which can calculate distance between two geolocations in kilometers.

# Details

- It will have a a TK GUI which will ask user to enter starting and ending locations and will show distance between them in result.

[2021-02-24 08:11] Aayush-hub commented on #391
@avinashkranjan Can I work on this script?

[2021-02-24 10:34] #390 closed

[2021-02-24 10:46] #386 closed

[2021-02-24 10:51] #353 closed

[2021-02-24 10:55] #371 closed

[2021-02-24 10:58] avinashkranjan commented on #391
Hey @Aayush-hub We already have a Script for the Same [Here](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/380), If there's some changes kindly mention else close the issue

[2021-02-24 11:05] Aayush-hub commented on #391
@avinashkranjan I can make a GUI app for distance calculation.

[2021-02-24 19:57] avinashkranjan commented on #391
Sure, Go Ahead Then...

[2021-02-25 17:28] vybhav72954 commented on #349
@avinashkranjan I was a bit busy with some stuff, so sorry for the delay, i will get all my issues sorted asap now

[2021-02-25 19:49] avinashkranjan commented on #349
No Issues @vybhav72954

[2021-02-25 21:33] Ayush7614 opened #396 "Countdown_clock_and_Timer"
# Aim

- Countdown_clock_and_Timer

# Details

- A simple timer that can be used to track runtime. The purpose of this is to provide a simple, and standard, way of tracking runtime.

[2021-02-25 21:33] Ayush7614 commented on #396
@avinashkranjan sir plss assign me this issue under crosswoc

[2021-02-25 21:38] avinashkranjan commented on #396
@Ayush7614 I don't think this Project is part of Cross WoC

[2021-02-25 21:42] Ayush7614 commented on #396
Sorry sir by mistake I write crosswoc plss assign me under Swoc

[2021-02-25 21:42] avinashkranjan commented on #396
Sure Go Ahead @Ayush7614

[2021-02-26 04:28] pritamp17 opened #397 "BITCOIN price tracker"
# Aim
Track Bitcoin Price In Real-Time Using Python

[2021-02-26 04:29] pritamp17 commented on #397
@avinashkranjan Please assign me this under SWOC.

[2021-02-26 07:41] Aayush-hub opened #398 "Insta-Auto Login"
# Aim

- Loging in to instagram automation.

# Details

- Automation script using selenium to auto-login to instagram.

[2021-02-26 07:44] Aayush-hub commented on #398
@avinashkranjan as the repo contains script for auto login to facebook, I can add script to auto login to instagram. Can you please assign me this?

[2021-02-26 16:55] avinashkranjan commented on #398
Sure Go Ahead.. @Aayush-hub

[2021-02-26 16:56] avinashkranjan commented on #397
Sure Go Ahead.. @pritamp17

[2021-02-26 21:09] #367 closed

[2021-02-26 21:12] #391 closed

[2021-02-26 21:43] Ayush7614 commented on #396
#400 this is pull for this issue

[2021-02-27 05:12] pritamp17 opened #403 "Get WIFI Passwords"
# Aim
A Python Script which when Executed on the target machine will send all the WIFI names and their respective passwords stored in it, through Given Email.

[2021-02-27 08:48] Ayush7614 opened #405 "Github Bomb Issues"
# Aim

- Github Bomb Issues

# Details

- This python script bombs specified number of issues on a Github Repository.

[2021-02-27 08:49] Ayush7614 commented on #405
@avinashkranjan sir plss assign me this issue under swoc

[2021-02-27 09:26] Sloth-Panda opened #406 "Get Phone Number Information using Python"
# Aim

- What is the objective of the Script

using this python script the phone number's country of origin and the service provider can be known

# Details

- What the features will your script have

using phonenumbers python library, this script will be able to get the country of origin and the  service provider of a phonenumber.

like - India, JIO

[2021-02-27 09:28] Sloth-Panda commented on #406
@avinashkranjan Can I work on this issue?

[2021-02-27 09:39] Sloth-Panda opened #407 "unzip file"
# Aim

- What is the objective of the Script

Unzipping a file

# Details

- What the features will your script have

this python script will be having zipfile module that will help in unzipping filles

[2021-02-27 09:39] Sloth-Panda commented on #407
@avinashkranjan can I work on this?

[2021-02-27 14:17] vybhav72954 commented on #116
@avinashkranjan
I will open a PR within an hour or so, can you assign me #18  as well meanwhile so that I can open a PR for the same.

[2021-02-27 14:17] vybhav72954 commented on #18
@avinashkranjan Can you assign this to me, I will close this by tonight

[2021-02-27 16:45] AnandD007 opened #410 "Updated The SCRIPT.md file"
# Description

Fixing the Bug fixes in the SCRIPT.md file

## Fixes #409

## Have you read the [Contributing Guidelines on Pull Requests](https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/CONTRIBUTING.md)?

- [x] Yes
- [ ] No

## Type of change

_Please delete options that are not relevant._

- [x] Bug fix (non-breaking change which fixes an issue)
- [ ] New feature (non-breakin

[2021-02-27 19:13] AnandD007 commented on #316
Kindly Add me as  coder to the all contributors list because now it is showing only documenter.

[2021-02-27 20:16] avinashkranjan commented on #403
Go Ahead @pritamp17

[2021-02-27 20:17] avinashkranjan commented on #405
Go ahead @Ayush7614

[2021-02-27 20:17] avinashkranjan commented on #406
Sure Go ahead @Sloth-Panda

[2021-02-27 20:19] avinashkranjan commented on #407
Go Ahead @Sloth-Panda

[2021-02-27 20:21] #410 closed

[2021-02-27 20:32] #9 closed

[2021-02-27 20:33] #116 closed

[2021-02-27 20:34] #398 closed

[2021-02-27 20:35] #397 closed

[2021-02-27 20:37] #396 closed

[2021-02-27 20:38] avinashkranjan commented on #116
Done @vybhav72954

[2021-02-27 21:00] vybhav72954 opened #413 "Duplicate Files finder using Hashing."
# Aim

- A script that can find duplicates of a file using its hash value. Then can identify if the files are actually duplicates or not by going through the contents, and then additionally provides a means to delete the duplicate file while keeping the original intact.

# Details

- Find the hash value.
- Find duplicates of files.
- Check the content.
- Delete the Duplicates.

[2021-02-27 21:05] vybhav72954 opened #414 "A TextRank document summarizer."
# Aim

- While we have a LexRank document summarized in the Repo [here]. Lex Rank can be an overkill for small documents, where TextRank Algorithms using `stopwords` is a more optimized method.

# Details

- The script we have is a Lex Approach.
- Lex Approach is the most used algorithm for summarization.
- While the Text Rank approach is more complex to understand compared to Lex, it is way faste

[2021-02-27 21:05] vybhav72954 commented on #414
Kindly assign both #413 and this to me.

[2021-02-27 21:26] Ayush7614 commented on #405
#415 this is pull for this issue

[2021-02-27 21:28] avinashkranjan commented on #413
Go Ahead @vybhav72954

[2021-02-27 21:29] avinashkranjan commented on #414
Go Ahead @vybhav72954

[2021-02-27 21:31] #405 closed

[2021-02-28 08:00] vybhav72954 opened #418 "Redundant .gitignores and other files which should be in the root"
**Is your feature request related to a problem? Please describe.**
Multiple scrips have redundant `.gitginores` which I found when I was dealing with the whole codebase in #417
These files are not required at all.

**Describe the solution you'd like**
Delete all the redundant .gitignore but also ensure that all the ignored files are present in the parent `.gitignore`, similar is applicable to othe

[2021-02-28 08:03] vybhav72954 commented on #418
@avinashkranjan Please assign this to me.

[2021-02-28 08:59] avinashkranjan commented on #418
Sure Go ahead @vybhav72954

[2021-02-28 09:45] #403 closed

[2021-02-28 09:47] #349 closed

[2021-02-28 13:05] vybhav72954 opened #425 "Enforce basic pep-8 guidelines on the whole codebase"
As one of my last contributions to this wonderful list, I suggest enforcing basic pep-8 guidelines across the whole project.

Though this will take some time, so am going to start already. @avinashkranjan Assign this to under SWOC

[2021-02-28 13:27] avinashkranjan commented on #425
I was going to do the Same..Glad found someone to work on it...Go ahead @vybhav72954

[2021-02-28 13:29] vybhav72954 commented on #425
@avinashkranjan As you can see this is a big task, will take me a few hours at best, my PR might come at around 10 pm or something

[2021-02-28 13:30] #406 closed

[2021-02-28 13:31] #414 closed

[2021-02-28 13:33] #413 closed

[2021-02-28 13:36] #418 closed

[2021-02-28 13:37] avinashkranjan commented on #425
It won't be an issue.. Go ahead I'll send the updated scoresheet by midnight.

[2021-02-28 13:46] hritik5102 opened #426 "Movie Genre prediction - Chatbot"
# Aim

- What is the objective of the Script
 Chatbot predicting the movie genre based on the text provided

# Details

- What features will your script have
  Interactive UI

Contribution for **SWOC21**

[2021-02-28 13:52] Sloth-Panda opened #427 "cpu temperature"
# Aim

- What is the objective of the Script

 this script can be  used for retrieving information on different running processes and system utilization (CPU, memory, disks, network, sensors) and will be implemented in python.
# Details

- What the features will your script have
will be using psutil library which is a process and system utilities library.

[2021-02-28 13:54] avinashkranjan commented on #427
Sure Go Ahead. @Sloth-Panda

[2021-02-28 13:55] avinashkranjan commented on #426
Go Ahead @hritik5102

[2021-02-28 13:55] Sloth-Panda opened #428 "password strength checker"
# Aim

- What is the objective of the Script

The objective of this script is to check the strength of password

# Details

- What the features will your script have

re library will be used to do the same.

[2021-02-28 13:56] avinashkranjan commented on #428
We Already have similar kind of Script

[2021-02-28 13:56] #428 closed

[2021-02-28 14:04] smriti1313 opened #429 "Video to Audio converter"
# Aim

- A simple automation script to convert any type of video to audio.

#GSSOC'21

[2021-02-28 14:09] avinashkranjan commented on #429
Hello Smriti, Appreciate your enthusiasm, But Since the contribution period starts from 4th You would have to wait till then..I'll assign you this issue then..

[2021-02-28 14:43] Sloth-Panda opened #432 "script for making ddos attack"
# Aim

The aim of this script is used to make ddos on the provided ip adress/ website

# Details

- What the features will your script have

[2021-02-28 16:54] hritik5102 commented on #426
@avinashkranjan modified check now, thank you :)

[2021-02-28 17:54] #432 closed

[2021-02-28 19:45] rmoyano opened #436 "Add README file for Covid-19-Updater script."
Hello Avinash,

I can add a README.md file for this script.

[2021-02-28 22:03] #427 closed

[2021-02-28 22:04] #407 closed

[2021-02-28 22:05] #426 closed

[2021-02-28 22:06] #425 closed

[2021-02-28 22:09] #383 closed

[2021-02-28 22:10] avinashkranjan commented on #436
Sure Go Ahead @rmoyano

[2021-03-01 17:27] mehabhalodiya opened #439 "Dice Rolling Simulator"
**Describe the bug**
I can implement dice rolling simulator using tkinter in a efficient way.
You can replace [this](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Dice-Roll-Simulator) or can add additional one using tkinter in your directory.

**Screenshots**
After executing it will look like this:
![drs](https://user-images.githubusercontent.com/73488906/109534446-5c516300-

[2021-03-01 17:47] mehabhalodiya opened #440 "Text to Speech"
**Describe the bug**
I can improve [this](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Text-To-Speech) directory of "Text to Speech" in a better way using tkinter.

**Screenshots**
It will look like this:
![tts](https://user-images.githubusercontent.com/73488906/109536673-05995880-7ae4-11eb-8546-a8f68453111a.png)

[2021-03-02 12:33] XZANATOL opened #441 "Youtube Video/Playlist Downloader"
* A script that allows the download of videos or playlist.

I would like to work on this script under the mentorship of GSSOC21.

## Details
* Addition of arguments that can:
    - Allows the user to download the video with any quality.
    - Allows the user to download the audio source only.
    - Download full playlists.

## Features
* Code will be commented so it can be easy to read the code fl

[2021-03-02 19:34] PritKalariya opened #442 "ATM Program using Python"
# Aim

- The main aim of this script is to get a clear understanding of conditionals. It also helps in logic building, while writing the code.

# Details

- Clean and easily understandable code.
- A Simple program but helps greatly in understanding conditionals.
- Helps to get a proper understanding on how to logically organize your program while dealing with multiple if/elif statements.
- It acts

[2021-03-02 19:53] PritKalariya commented on #442
Created this issue. Will fork the repo and upload the files once assigned.

[2021-03-03 03:11] divyanshu887 commented on #442
Hello, I want to try this. could you please assign me @PritKalariya

[2021-03-03 10:29] #158 closed

[2021-03-04 04:24] ChetasShree commented on #439
Hi, I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 ,using python language.
Looking forward to contribute here...

[2021-03-04 16:37] avinashkranjan opened #443 "Welcome to GirlScript Summer of Code '2021"
## Hello, Everyone <img src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif" width="25px">
Thanks for showing your interest in being a part of the [GirlScript Summer of Code '2021](https://gssoc.girlscript.tech/) 🎆

We are super delighted to have you on board for your Contributions on [Amazing Python Scripts](https://github.com/avinashkranjan/Amazing-Python-Scripts) 🙌

Pl

[2021-03-04 16:41] #436 closed

[2021-03-04 16:43] avinashkranjan commented on #429
Sure Go Ahead @smriti1313 Assigned to You Send the PR after 8th March

[2021-03-04 16:44] avinashkranjan commented on #439
Sure Go Ahead @mehabhalodiya Assigned to You Send the PR after 8th March

[2021-03-04 16:44] avinashkranjan commented on #440
Sure Go Ahead @mehabhalodiya  Assigned to You Send the PR after 8th March

[2021-03-04 16:45] avinashkranjan commented on #441
Sure Go Ahead @XZANATOL

[2021-03-04 16:46] avinashkranjan commented on #442
Sure Go Ahead @PritKalariya

[2021-03-04 16:46] mehabhalodiya commented on #439
Okay, I will send a PR after 8th.

[2021-03-04 16:47] XZANATOL commented on #443
So excited to begin contributing. Where can I find the join links for Discord and Slack?

[2021-03-04 16:49] avinashkranjan commented on #443
We are yet to receive that since contributing period starts from 8th March..Will Update it as soon as i get it...
Looking forward to amazing contributions..Happy Coding 👨🏻‍💻

[2021-03-04 17:18] divya-gh opened #444 "Error while substracting a smaller number from a bigger number."
**Describe the bug**
An Error was thrown when the result of the substation was a -ve number.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Calculator - calcy.py'
2. Open in Visual studio.
3. Run the script and When prompted to 'Enter Equation, type '2-3'(without quotes) and Enter
4. Result is displayed in nextline
5. Enter
6.  Error was thrown
![equation_empty_string](https://user-i

[2021-03-04 17:34] avinashkranjan commented on #444
Go ahead with the fix @divya-gh Assigned to you

[2021-03-05 03:51] divya-gh commented on #444
Thank you! will work on it!

[2021-03-07 10:47] muthuannamalai12 opened #450 "Insta Bot"
# Aim
- What is the objective of the Script
Insta Bot
# Details

- What the features will your script have
The Script will do the below tasks
To automatically follow a group of people.
To automatically unfollow a group of people.

[2021-03-07 10:50] muthuannamalai12 commented on #450
I would love to work on this issue as a part of GSSOC'21. Kindly assign me this issue

[2021-03-07 10:52] muthuannamalai12 opened #451 "Whatsapp Bot"
# Aim

- What is the objective of the Script
Whatsapp Bot
# Details
- What the features will your script have
The scripts will do the Following Tasks
To automatically send a message to a group of people individually.
To schedule your message
Voice Controlled Bot

[2021-03-07 10:52] muthuannamalai12 commented on #451
I would love to work on this issue as a part of GSSOC'21. Kindly assign me this issue

[2021-03-07 14:06] avinashkranjan commented on #451
Go Ahead @muthuannamalai12

[2021-03-07 14:07] avinashkranjan commented on #450
Go Ahead @muthuannamalai12

[2021-03-07 16:45] satyampgt4 opened #452 "Invisibility cloak using python"
# Aim

- Invisibility cloak using python

# Details

- First we store the background
- then set the cloak colour
- find that particular colour in the frame
- replace the cloak with stored backgroung

[2021-03-07 16:47] satyampgt4 commented on #452
I would love to work on this issue as a part of GSSOC'21. Kindly assign me this issue @avinashkranjan

[2021-03-08 06:20] deephunt3r opened #455 "like to update scripts.md"
some of the links in the file scripts.md are not redirecting to scripts. They are not updated with the new links to scripts.
As a participant of Gssoc21, I would like to update all the script links in the scripts.md file.

![github](https://user-images.githubusercontent.com/60481830/110282415-710f8880-8004-11eb-8406-87fc351a082a.png)

@avinashkranjan  could you please assign it to me

[2021-03-08 13:53] aakriti1318 opened #456 "Face Detection with OpenCV's built-in recognizer"
Aim: This script recognizes the face in an image using OpenCV's built-in recognizer.
Feature: Easy and understandable code

I would like to work on this. Kindly assign me.

[2021-03-08 14:03] geekymeeky opened #457 "Script to reset the IP configuration in case of an issue"
# Aim

- To troubleshoot network errors in Windows when one is not able to browse, even though the computer can ping other Ip addresses

# Details

- This script will reset the TCP/IP configuration to default.
- This script will also recover the computer from any socket errors which arise due to some malicious script on the computer.

[2021-03-08 14:04] geekymeeky commented on #457
As a participant of Gssoc21, I would like to work on this issue.

[2021-03-08 15:04] kshittijagrawal commented on #452
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 15:06] kshittijagrawal commented on #321
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 15:07] kshittijagrawal commented on #56
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 15:16] avinashkranjan commented on #321
Go Ahead @kshittijagrawal Assigned to you

[2021-03-08 15:17] avinashkranjan commented on #56
Go Ahead @kshittijagrawal

[2021-03-08 15:18] avinashkranjan commented on #452
Hey @kshittijagrawal Since Issues are First Come First Serve..This Issue is Assigned to @satyampgt4

[2021-03-08 15:19] avinashkranjan commented on #455
Go Ahead @deephunt3r Assigned to you

[2021-03-08 15:21] avinashkranjan commented on #456
We already have a Script for the Same [Here](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Face-Detection) How is your different..Please elaborate

[2021-03-08 15:22] avinashkranjan commented on #457
Assigned to you @geekymeeky

[2021-03-08 15:24] robin025 opened #458 "Python Music Player App"
Hey I am a GSSoC 21 participant and would like to contribute to this repo

# Aim

- Python GUI based music player using Pygame

# Details

- A Python GUI Based Music Player Which Uses Mutagen, Pygame, and Tkinter Themes where a user can add music to play-list

I would like to work on this issue

[2021-03-08 15:25] avinashkranjan commented on #458
Go Ahead @robin025

[2021-03-08 15:30] aakriti1318 commented on #456
My script would be face detection with a different method that is with OpenCV's built-in recognizer.

[2021-03-08 15:35] avinashkranjan commented on #456
What would be the purpose of the script? To detect face this script already does that..

[2021-03-08 15:40] aakriti1318 commented on #456
Okay. I have proposed this idea so that we can detect the faces using multiple method that is OpenCV's built-in recognizer or KNN.

[2021-03-08 15:47] avinashkranjan commented on #456
Go Ahead Then...Assigned to you @aakriti1318

[2021-03-08 15:48] aakriti1318 commented on #456
Thank you, surely will work on it.

[2021-03-08 16:32] kshittijagrawal commented on #452
Oh it's totally fine @avinashkranjan !

[2021-03-08 17:08] TanviDeore commented on #279
I would like to work on this issue as a GSSoC'21 participant.

[2021-03-08 17:33] pi-squared-4 commented on #439
I would love to work on this, can you assign this to me. <3

[2021-03-08 17:45] kshittijagrawal commented on #321
hey @avinashkranjan !
I'm not able to open this issue although been assigned to it. Can you help me out here?

[2021-03-08 18:42] priyanshu20 commented on #311
Hey @avinashkranjan can I take this up as a GSSOC '21 participant?

[2021-03-08 18:52] kshittijagrawal commented on #18
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 19:33] avinashkranjan commented on #279
Assigned to you @TanviDeore

[2021-03-08 19:34] avinashkranjan commented on #439
It's already assigned @pi-squared-4

[2021-03-08 19:35] avinashkranjan commented on #18
Assigned to you @kshittijagrawal

[2021-03-08 19:35] avinashkranjan commented on #311
Sure Assigned to you @priyanshu20

[2021-03-08 19:36] avinashkranjan commented on #321
Can you explain more clearly?

[2021-03-08 19:54] Nkap23 commented on #327
Hello, I would love to work on this.

My approach would be:
- Find a relevant dataset.
- Examining, analyzing, and visualizing the data.
- Data Cleaning & Feature Extraction.
- Data Preprocessing (lemmentizing, bag of words/tdidf)
- Model training using sklearn algorithms
- Model selection based on test results.

[2021-03-08 20:27] jainstuti commented on #132
I want to contribute to it.Please assign this to me as a part of gssoc21.

[2021-03-09 02:24] pranjalparmar commented on #458
### **Aim**
Hey I am Pranjal, A GSSOC 2021 participant. I would like to work on this repo and build a GUI-based music player app.

### **Libraries**
Pickle
Tkinter
Pygame

### **Features**
Load a folder as a playlist in the app
Controls such as play, pause, next, previous
Volume control

I would like to work on this issue and contribute to this repo.

[2021-03-09 06:58] subhangi2731 commented on #290
can you assign this to me?

[2021-03-09 06:59] subhangi2731 commented on #131
can you assign this to me please?

[2021-03-09 07:00] subhangi2731 commented on #171
can you assign this to me?

[2021-03-09 07:43] aish2002 opened #459 "Telegram Bot"
# Aim

- What is the objective of the Script
Telegram Bot using Python  (As part of GSSOC'21)
# Details

- What the features will your script have
Bot provides Genre , IMDb rating and IMDb website link of a movie
Can add a feature to get a list of movies belonging to a particular genre

[2021-03-09 08:57] SurbhiRathi23 commented on #290
Can I make the contributors list page for this website. I will use HTML,bootstrap,CSS, js. Please assign this to me.

[2021-03-09 09:11] robin025 commented on #458
@pranjalparmar  I have already Been assigned this app and started working on this too

[2021-03-09 11:04] soumyavemuri opened #460 "Quiz Application GUI"
Hello, I am a GSSoC '21 participant, I would like to contribute to this repository.

## Aim ##
Quiz Application GUI with Tkinter

## Description ##
The user will be allowed to choose between multiple categories, as well as difficulty levels. The score is calculated and displayed at the end.

[2021-03-09 12:03] manastole03 commented on #131
Assign this work to me !

[2021-03-09 13:43] SavneetKaur01 commented on #460
I would love to work on this issue. I am a GSSOC'21 participant and I would provide you with the best possible code in Python Language. I will use Tkinter Library for the same. Looking forward to contribute here.

[2021-03-09 15:18] madihamallick opened #462 "Modifying the Hangman-Game script"
I would like to change the interface of Hangman game which will make it look better. Here is a preview attached.
![2](https://user-images.githubusercontent.com/70858557/110493713-e3718d00-8118-11eb-962d-c33e316bd6cf.PNG)

As a participant of Gssoc21, I would like to work on this.

[2021-03-09 16:08] AmeyaJain-25 opened #464 "Merging two PDF's"
# Aim

- I would like to add another script to Merge PDF's.

# Details

- I would let user help to merge two PDF's by running just one script. I will be using PyPDF2 for this.

Please assign me this under GSSoC 21'

[2021-03-09 16:38] avinashkranjan commented on #459
Assigned to you @aish2002

[2021-03-09 16:41] avinashkranjan commented on #290
@subhangi2731 Go Ahead..
@SurbhiRathi23 Issues are First Come First Serve So, It is already assigned..

[2021-03-09 16:42] avinashkranjan commented on #321
Script will be fine..But If you want to push GUI you can do that too..That's your call.. @kshittijagrawal

[2021-03-09 16:42] Ayushisood commented on #443
Hii @avinashkranjan
I would love to contribute to this task
Kindly assign this task to me so as I can also experience open source learning.

[2021-03-09 16:42] avinashkranjan commented on #327
Go Ahead.. Assigned to you @Nkap23 Looking forward to your script..

[2021-03-09 16:45] avinashkranjan commented on #458
Hey @pranjalparmar Issues are First Come First Serve..So It's already assigned to robin. Look for other open Issues

[2021-03-09 16:46] avinashkranjan commented on #460
Go Ahead @soumyavemuri Assigned to you..

@srisatya1197 @SavneetKaur01 Issues are First Come First Serve..Look for other open Issues or Create your own issues if you want to add any scripts

[2021-03-09 16:47] avinashkranjan commented on #462
Go Ahead @madihamallick Assigned to you

[2021-03-09 16:49] avinashkranjan commented on #464
Hey @AmeyaJain-25 We already have the script for the same [here](https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/PDF-Tools). If you want to add anything more to that kindly elaborate your details

[2021-03-09 16:52] avinashkranjan commented on #171
Assigned to you @subhangi2731

[2021-03-09 16:56] AmeyaJain-25 commented on #464
No, it was the same.
Sorry.
I'll try with a new one

[2021-03-09 16:56] #464 closed

[2021-03-09 18:06] SurbhiRathi23 opened #465 "Modification in Amazing-Python-Scripts-gh-pages Website"
@avinashkranjan There are some issues in Amazing-Python-Scripts Website

-  navbar is not clearly visible its color could be changed
-  search bar have no use in home page, we should only keep search bar in "scripts page"
-  also contributors list doesn't show correct names

I want to work on these issues, you can assign this part to me as a part of gssoc21.

[2021-03-09 19:57] sudipg4112001 opened #468 "WhatsApp Profile Picture Downloading Script"
I would like to add a project which would help us in downloading the profile pictures of all in our contact list. I would like to do in python.
I am a GSSOC'21 participant.

[2021-03-10 06:09] Amit366 opened #469 "Spreadsheet Automation"
# Aim

The python script will automate the spreadsheet

# Details

This will compare the data of two spreadsheets and give a pie chart.

[2021-03-10 08:58] pi-squared-4 commented on #439
Did she already send the PR?

[2021-03-10 11:09] Dhanush2612 opened #471 "Face Recognition"
I would like to add Face Recognition into this project.
It will detect and recognize a particular face with help of python.
So, can you please approve this and assign this to me?

[2021-03-10 11:31] #471 closed

[2021-03-10 11:54] Dhanush2612 opened #473 "Snake Game"
Simple Snake Game designed by using python

[2021-03-10 12:02] #473 closed

[2021-03-10 12:12] Dhanush2612 opened #475 "Invisibility Cloak"
Python Program to perform Invisibility Cloak

[2021-03-10 12:55] ChetasShree commented on #439
if not please assign it to me because I asked after mehabhalodiya

[2021-03-10 15:08] avinashkranjan commented on #465
Assigned to you Go ahead @SurbhiRathi23

[2021-03-10 15:09] avinashkranjan commented on #468
Go Ahead @sudipg4112001

[2021-03-10 15:10] avinashkranjan commented on #469
Go Ahead With the Implementation @Amit366

[2021-03-10 15:12] avinashkranjan commented on #475
We already have an Issue open for the Same #452

[2021-03-10 15:12] #475 closed

[2021-03-10 18:33] Dhanush2612 opened #478 "Face Recognition"
Detect and recognize only the specified face using python and opencv. Kindly assign me this issue.

[2021-03-10 18:35] Dhanush2612 opened #479 "Spam Message Detector"
Program to specify spam messages.

[2021-03-10 18:40] Dhanush2612 opened #480 "Digital Clock"
Program to design digital clock.
Kindly assign me this issue.

[2021-03-10 20:04] Kirtan17 opened #482 "Attachment Downloader"
# Aim

- Aim of this script is to automatically download long list of attachments from the mail in no time!

# Details

- Script aims to have a search feature. The search feature will help us find the right emails (i.e emails with specific subject)

# Example
This script will be extremely helpful when xyz person wants to download all of his bank statements.

# Tech Stack
Python

I'm participant at

[2021-03-11 03:33] kaustubhgupta commented on #479
@Dhanush2612 can you provide more information on this? Is your script different from this one: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Message-Spam

[2021-03-11 03:41] kaustubhgupta commented on #482
@Kirtan17 assigned to you

[2021-03-11 04:16] kaustubhgupta opened #483 "GitHub Action to Add Projects Information to the Scripts.md"
# Aim

Currently the Scripts.md file requires manual addition of script names with titles. Create a GitHub action that does this job automatically.

# Details

I am not aware of any existing GitHub action but a simple Python script will do the job combined with actions. The implementation goes like this:

- fetch the repository details about all the folders.
- add the folder name and link to the s

[2021-03-11 04:29] Tushar1337 commented on #483
can you assign this to me? I'm a gssoc'21 participant..

[2021-03-11 04:39] vivek-2000 commented on #450
I want to add new features-:
Send messages to the particular user
@avinashkranjan
I would love to work on this part of GSSOC'21. Kindly assign me this issue

[2021-03-11 05:51] NEERAJAP2001 opened #484 "Translator Script in Python"
# Aim
This Script helps to translate from one language to another

# Details
It uses Google Trans Library and is efficient in translating.
Requires : ```pip install googletrans==3.1.0a0```

I would Like to work on this issue,
Please assign this issue to me as part of GSSOC-21.
Thanks

[2021-03-11 06:03] NEERAJAP2001 opened #485 "Script for Bitcoin Mining in Python"
# Aim

The objective of this script is to mine Bitcoin.

# Details

It's a script to mine bitcoin but It actually won't reward any bitcoin as the difficulty level is 20 which requires huge processors for rewarding.
So, It's a fun project to understand how hashing, etc works.
I will give complete details in a pdf file to understand everything from scratch.
I would Like to work on this issue as well

[2021-03-11 06:53] smriti1313 opened #488 "Caesar Cipher"
# Aim

- Creating a script for caesar cipher

# Details

- Caesar's cipher, the shift cipher, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet.

[2021-03-11 07:06] kaustubhgupta commented on #484
assigned to you @NEERAJAP2001

[2021-03-11 07:09] kaustubhgupta commented on #485
Sounds interesting, assigned to you @NEERAJAP2001

[2021-03-11 07:16] kaustubhgupta commented on #488
@smriti1313 assigned to you

[2021-03-11 08:14] Dhanush2612 commented on #478
I have completed Pull Request #489 for this issue.

[2021-03-11 08:14] Dhanush2612 commented on #479
I have completed Pull Request #491 regarding this issue.

[2021-03-11 08:16] Dhanush2612 commented on #480
I have completed pull request #492 regarding this issue.

[2021-03-11 08:48] Dhanush2612 opened #493 "CGPA Calculator"
Python program to calculate CGPA.

[2021-03-11 08:52] Dhanush2612 opened #494 "Grade Points Calculator"
Python Program to calculate grade points.

[2021-03-11 08:54] Dhanush2612 commented on #494
Please assign me this issue if its valid.

[2021-03-11 08:54] Dhanush2612 commented on #493
Please assign me this issue if its valid.

[2021-03-11 09:00] honeybhardwaj opened #495 "News Scrapper (India Today)"
# Aim

- The Script will scrap the news details from times of india as per user and store it in a form of csv file.

# Details

- it will be working on modules like selenium, csv etc
- the scrapping will be based on the user.
- the scraped data will be in proper format and would be stored in csv file.

[2021-03-11 09:01] honeybhardwaj commented on #495
i would like to contribute to this script please assign it to me
regards
Honey Bhardwaj

[2021-03-11 09:54] SpecTEviL opened #496 "Shortest Path Finder."
# Aim

- A shortest pathfinder between two points.

# Details

- The user can add a path manually.
- The user can add the start point and endpoint manually.
- The shortest path is displayed in the GUI with a color.
- The area tracked can also be seen in the GUI.

[2021-03-11 09:56] SpecTEviL commented on #496
Hey, @avinashkranjan, Vishal Patil here and would like to work on this issue under GSSoC'21. You can review the issue and assign it to me.
Thanks!

[2021-03-11 10:45] ShubhamGupta577 opened #497 "Extracting the text from a real-time captured image.(GSSOC '21)"
# Aim

### Extracting the text from a real-time captured image.

# Details
By using Open CV we read a real-time image and by applying various filters we try to reduce the noise after that with the use of pytesseract we extract the text written in the image
Libraries used-
* cv2
* pytesseract

[2021-03-11 10:45] ShubhamGupta577 commented on #497
I want to work on this under GSSOC '21. Please assign me this issue.

[2021-03-11 10:54] vikashkumar2020 opened #498 "Slideshare Downloader"
# Aim

- Download slides from slideshare website in PDF format from the URL.

# Details

- It will be written in python 3 and using
docopt
img2pdf
requests
beautifulsoup4

[2021-03-11 10:59] vikashkumar2020 commented on #498
@avinashkranjan I am participant of gssoc 21 please assign this one to me

[2021-03-11 11:09] kaustubhgupta commented on #479
Did you read my message above before making this PR?

[2021-03-11 12:35] kaustubhgupta commented on #495
@honeybhardwaj Assigned to you

[2021-03-11 12:36] kaustubhgupta commented on #496
@SpecTEviL this will be a GUI application?

[2021-03-11 12:38] kaustubhgupta commented on #497
We already have a script for this: https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/OCR-Image-To-Text/ocr-img-to-txt.py

[2021-03-11 12:39] kaustubhgupta commented on #497
If you want to improve upon this then kindly mention

[2021-03-11 12:40] Dhanush2612 commented on #479
My script isn't different. I saw it now, I am sorry.

On Thu, Mar 11, 2021, 4:39 PM Kaustubh Gupta ***@***.***>
wrote:

[2021-03-11 12:43] kaustubhgupta commented on #479
Closing this Issue now

[2021-03-11 12:43] #479 closed

[2021-03-11 12:45] kaustubhgupta commented on #498
Interesting, @vikashkumar2020 assigned to you!

[2021-03-11 12:48] SpecTEviL commented on #496
Yes @kaustubhgupta.

[2021-03-11 12:49] kaustubhgupta commented on #496
okay!

[2021-03-11 12:51] SpecTEviL commented on #496
Thanks, @kaustubhgupta! Will work on it and make a PR ASAP.

[2021-03-11 13:16] ambivert-sam commented on #442
I would want to work on this issue, can you please assign it to me?

[2021-03-11 13:16] ambivert-sam commented on #444
I would want to work on this issue,@smaranjitghose can you please assign it to me?

[2021-03-11 13:17] ambivert-sam commented on #444
I would want to work on this issue , can you please assign it to me?

[2021-03-11 13:21] honeybhardwaj commented on #495
@kaustubhgupta  Thanks!

[2021-03-11 13:31] ShubhamGupta577 commented on #497
@kaustubhgupta , I had already checked the above scripts but in that scripts, they are using an image that is already stored in the machine.
And I want to read a real-time image using a web cam or any other camera and extract the text from that image by removing noise from it. I want to use OpenCV for this purpose which is different from the previous scripts.

[2021-03-11 13:40] kaustubhgupta commented on #497
Okay that ways, yes go ahead with this issue 👍🏼

[2021-03-11 13:45] kaustubhgupta commented on #493
@avinashkranjan Should this be included in the repo?

[2021-03-11 13:45] kaustubhgupta commented on #494
@avinashkranjan Should this be included in the repo?

[2021-03-11 13:54] SpecTEviL commented on #496
Hey, @kaustubhgupta I've finished the task and have made a PR. Please review it. In case of any discrepancies do let me know.
Thanks!

[2021-03-11 14:21] deepshikha007 opened #500 "Colour Detection"
# Aim

Colour Detection using Pandas & OpenCV

# Details

To build an application through which we can automatically get the name of the color by clicking on them.  By using 3 primary colors: red, green and blue. This, will be done with data file that contains the color name and its values. Then we will calculate the distance from each color and find the shortest one.

[2021-03-11 14:31] Debashish-hub opened #501 "Facial Expression recognition"
# Aim

- Recognition of facial expression of a person

# Details

- As I have seen there is face detection script present in the repository, so facial expression recognition is something similar to that which should also be there.

[2021-03-11 14:56] Dhanush2612 commented on #494
I saw distance calculator in repo, so I thought of adding this.

[2021-03-11 14:58] Dhanush2612 commented on #493
I saw distance calculator in repo, so I thought of this.
What if I include python programs to calculate gpa and cgpa both together as one issue and name it as grades calculator?

[2021-03-11 15:17] Ayushjain2205 opened #503 "Translator with gui"
# Aim

To build a language translator using python

# Details

This script will allow users to translate between languages of their choice. This will be achieved using the help of the googletrans python package

[2021-03-11 15:18] Ayushjain2205 commented on #503
@avinashkranjan I am participant of gssoc 21 please assign this one to me

[2021-03-11 15:49] Dhanush2612 opened #505 "Grades Calculator"
Python programs to calculate your cgpa and grade points.

[2021-03-11 16:17] Dhanush2612 opened #506 "Cancer Prediction"
ML model for cancer prediction

[2021-03-11 16:17] Dhanush2612 commented on #506
Kindly assign me this issue

[2021-03-11 16:38] shreyasZ10 opened #507 "Salary Predictor"
# Aim
I am a participant of GSSOC'21.
- What is the objective of the Script
- Objective of this project is to build a web-app such that given the skills of a person, in which sector he/she wish to work, what is the job location and which position he/she is applying for, This web-app can predict what could be his/her average annual salary

# Details

- What the features will your script have
- Rand

[2021-03-11 16:52] PritKalariya commented on #442
Why isn't the PR being merged yet ? Is there any issue, or needed improvement ?

[2021-03-11 17:06] avinashkranjan commented on #321
Hey @kshittijagrawal Looks Like there was already an issue for the Same..Kindly Push GUI for your Issue...Since we already received an PR for CLI....

[2021-03-11 17:17] avinashkranjan commented on #442
@PritKalariya It would be merged if there's no Issue..Kindly work on other issues in the Meantime..Mentors are reviewing your PRs, if any change would be needed you will be informed.

[2021-03-11 17:18] Pranjal-2001 opened #508 "Air Pollution Prediction"
The aim behind this project is to predict air pollution index.
The code will be tested under Python and Tensorflow.
I am a participant of GSSOC'21.
Can i please work on it?

[2021-03-11 17:20] PritKalariya commented on #442
Sure! Thank you.

[2021-03-11 17:23] Pranjal-2001 commented on #508
Yes!  Could you assign  it to me?

[2021-03-11 17:25] Dhanush2612 opened #509 "Titanic Survival Model"
ML model to predict Titanic Survival by making use of decision tree.

[2021-03-11 17:38] XZANATOL commented on #441
Hi @avinashkranjan, I've submited my pull request for this issue early this morning. When will I get your review about it?

[2021-03-11 17:39] kaustubhgupta commented on #500
@deepshikha007 sounds interesting, but it will be a GUI application or a CLI script?

[2021-03-11 17:40] avinashkranjan commented on #441
Mentors will review will soon and let you know

[2021-03-11 17:48] #478 closed

[2021-03-11 17:51] kaustubhgupta commented on #501
@Debashish-hub assigned to you,

[2021-03-11 18:03] sudipg4112001 opened #510 "Mask or not"
I would like to add a project for face mask detection using CNN. Here, I would use dataset which contains real life images of human faces.

[2021-03-11 20:27] vivek-2000 opened #512 "Facebook Bot for Automatic Media Posting"
What features will my script have
Posting the media Automatically

[2021-03-11 20:28] vivek-2000 commented on #512
@avinashkranjan
I would love to work on this issue as a part of GSSOC'21. Kindly assign me this issue

[2021-03-12 02:36] deepshikha007 commented on #500
GUI application

[2021-03-12 03:56] kaustubhgupta commented on #500
Assigned to you @deepshikha007

[2021-03-12 04:01] kaustubhgupta commented on #503
@Ayushjain2205 you have been assigned this issue for the GUI version. @NEERAJAP2001 will be making the CLI version. Make sure you both name your folders accordingly

[2021-03-12 04:03] kaustubhgupta commented on #494
okay, we are assigning you issue #505

[2021-03-12 04:03] #494 closed

[2021-03-12 04:03] kaustubhgupta commented on #493
shifted to #505

[2021-03-12 04:03] #493 closed

[2021-03-12 04:04] kaustubhgupta commented on #505
@Dhanush2612 Make it a GUI application

[2021-03-12 04:10] kaustubhgupta commented on #512
@vivek-2000 assigned to you

[2021-03-12 04:11] kaustubhgupta commented on #18
@kshittijagrawal Updates on this?

[2021-03-12 04:12] kaustubhgupta commented on #56
@kshittijagrawal Updates on this?

[2021-03-12 04:12] kaustubhgupta commented on #131
@subhangi2731 Updates on this?

[2021-03-12 04:13] kaustubhgupta commented on #171
@subhangi2731 Updates on this?

[2021-03-12 04:13] kaustubhgupta commented on #279
@TanviDeore Updates on this?

[2021-03-12 04:15] kaustubhgupta commented on #327
@Nkap23 Updates on this?

[2021-03-12 04:18] kaustubhgupta commented on #439
@mehabhalodiya can you make the PR of this today? If not then it will be assigned to @ChetasShree

[2021-03-12 04:20] Nkap23 commented on #327
Yes sir, I am working on it. 60% done. Will finish it by today or tomorrow.

[2021-03-12 04:20] kaustubhgupta commented on #442
@PritKalariya you didn't link the PR to the issue, that's why I wasn't sure if that PR had a valid issue. Now I have linked it and any changes in the code will be communicated

[2021-03-12 04:24] kaustubhgupta commented on #450
@vivek-2000 after we merge @muthuannamalai12 code, you can raise the issue to add your features to that existing code

[2021-03-12 04:27] kaustubhgupta commented on #452
@satyampgt4 Updates on this?

[2021-03-12 04:27] kaustubhgupta commented on #458
@robin025 Updates on this?

[2021-03-12 04:28] kaustubhgupta commented on #460
@soumyavemuri Updates on this?

[2021-03-12 04:28] ELITA04 opened #515 "Enhancing Data Visualization Scripts"
Hello, I am a participant of GSSOC'21 and I want to work on the enhancement and refactoring of  Data Visualizations scripts.

I want to use Plotly to create more visually appealing and interactive charts. This would  even provide  better images of the output for the visualization on the README.md

Please assign this issue to me. Thank you

_Updates_: The script which will be updated is: https://gi

[2021-03-12 04:30] soumyavemuri commented on #460
Working on this right now. Will make a PR by tomorrow for sure.

[2021-03-12 04:31] robin025 commented on #458
will make PR by 12 AM, Sorry for the inconvenience

[2021-03-12 05:26] kshittijagrawal commented on #56
@kaustubhgupta
will make a PR by tomorrow :)

[2021-03-12 05:59] PritKalariya commented on #442
Ohh! I see. I actually don't have much experience with making PR's.

[2021-03-12 09:00] mehabhalodiya commented on #439
Yes

[2021-03-12 10:00] Dhanush2612 commented on #505
Is GUI enough or is web.app required?

[2021-03-12 12:50] kaustubhgupta commented on #505
No, GUI will work

[2021-03-12 13:00] Dhanush2612 commented on #505
Reply

On Fri, Mar 12, 2021, 6:20 PM Kaustubh Gupta ***@***.***>
wrote:

[2021-03-12 15:39] mehabhalodiya opened #519 "Virtual Paint"
# Aim

- Detecting Color and using colored marker to draw virtually

# Details

- It is an OpenCV application that can track an object’s movement, using which a user can draw on the screen by moving the object around — I call it Webcam Paint.
- I will implement it with :
Step 1: Initialize some stuff (import the necessary libraries)
Step 2: Start reading the video (frame by frame)
Step 3: Find the

[2021-03-12 15:41] mehabhalodiya commented on #519
I would like to work on this as a GSSOC'21 participant.

[2021-03-12 15:56] mehabhalodiya commented on #452
Assign me, if anyone is not working on this!
@kaustubhgupta I will implement it by today itself!

[2021-03-12 16:00] satyampgt4 commented on #452
Sorry for delay It is done I will make pr by tomorrow

[2021-03-12 16:24] #480 closed

[2021-03-12 16:26] #441 closed

[2021-03-12 16:27] kaustubhgupta commented on #452
@satyampgt4 Please make PR before 1 pm tomorrow, after that, I will ask @kshittijagrawal and if he also refuses, then it will be assigned to @mehabhalodiya

[2021-03-12 16:29] #455 closed

[2021-03-12 16:35] avinashkranjan commented on #519
Go Ahead @mehabhalodiya

[2021-03-12 16:53] saaalik commented on #483
I would love to automate this task as my first project in this repo, I am interested in this project. Can you assign it to me @kaustubhgupta ?

[2021-03-12 16:55] kaustubhgupta commented on #483
Sure, try out this issue and let me know if you get stuck somewhere (P.S: I have good knowledge about GitHub actions :-) )

[2021-03-12 16:57] saaalik commented on #297
I am interested in this project, would love to work on it. Can you assign it to me?
(gssoc participant)

[2021-03-12 16:58] kaustubhgupta commented on #508
Hi @Pranjal-2001, issue assigned to you. Make sure to make it more script specific and not an end-to-end application!

[2021-03-12 17:00] kaustubhgupta commented on #515
@ELITA04 what visualization would you fix in this issue? If there are more, then we can split this among multiple people.

[2021-03-12 17:01] kaustubhgupta commented on #510
@sudipg4112001 Are you sure you want to add this big project into this repo? Because it's a standalone project

[2021-03-12 17:02] kaustubhgupta commented on #509
@Dhanush2612 assigned to you. Make sure to make it more script-specific and not an end-to-end application!

[2021-03-12 17:05] kaustubhgupta commented on #507
Hi @shreyasZ10, I can assign this issue to you but we can only accept script/CLI/GUI (not web app) version of this. So can you do that?

[2021-03-12 17:05] sudipg4112001 commented on #510
Yes, I am sure. I feel this project will give this repo a unique feature.

[2021-03-12 17:07] sudipg4112001 commented on #510
Assign me ASAP. So that I can start working

[2021-03-12 17:08] kaustubhgupta commented on #510
Okay @sudipg4112001, make sure to make it more script/CLI specific and not an end-to-end application!

[2021-03-12 17:09] kaustubhgupta commented on #506
Same comments as mentioned in an earlier issue (more script specific and not an end-to-end application!)

[2021-03-12 17:11] avinashkranjan commented on #297
Go Ahead @saaalik

[2021-03-12 17:13] Dhanush2612 commented on #509
Can you please explain script specific?

[2021-03-12 17:15] kaustubhgupta commented on #509
Maybe take the inputs as this for predicting on unknown values :
[code]
or you can create a print statement for every parameter

[2021-03-12 17:18] Hamza3226 commented on #510
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:18] Hamza3226 commented on #508
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:19] Hamza3226 commented on #505
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:19] sudipg4112001 commented on #510
This is already assigned.

[2021-03-12 17:22] kaustubhgupta commented on #510
Hello @Hamza3226,
You can contribute to this project by looking at issues with up-for-grab tags. If you didn't find any interesting issue then you can create your own issues just make sure to check if that doesn't exist before in this repo. If it's already there then you can check if you can improve that existing code and then create an issue for that too!

You have ample of choices to contribute!

[2021-03-12 18:44] saaalik commented on #297
I have completed the script, documenting what I did, along with requirements and test cases

[2021-03-12 18:47] ankurg132 opened #523 "A python script to fetch all emails from a website"
# Aim

- What is the objective of the Script
- This script fetches the content of a website and returns all the email ids provided in the website through printing them and storing them in a seperate text file of desired name.

# Details

- What the features will your script have
This is a CLI tool where you need to enter the target website and then you can type the name of the output text file and

[2021-03-12 20:11] amrzaki2000 opened #528 "[GSSoC '21] Bubble sort simulation with GUI"
# Aim

- Show how bubble sort algorithm works.

# Details

- The script will provide a simulation of bubble sort algorithm to show the user how it works.

[2021-03-13 02:59] vikashkumar2020 opened #530 "Directory Tree Generator"
# Aim

Directory Tree Generator program will be useful for visualizing the relationship between files and directories and making their positioning easy.

# Details

It will use Docopt and Argparse for the project

I am gssoc participant and please assign me the issue

[2021-03-13 04:33] aliya-rahmani commented on #507
@kaustubhgupta  Wanted to ask if we can work on some already assigned issues?

[2021-03-13 04:36] kaustubhgupta commented on #507
@aliya-rahmani actually no, until the user makes the PR, we can't assign other person. If the person fails to make the PR, then the issue is tagged as up-for-grab. Issues with this label are available for everyone.

[2021-03-13 04:44] AparnaJuhi opened #531 "Emotion Prediction by Text through LSTM"
It will be a deep learning model, which will be used to predict the emotion of the text that the user will input. The model used will be LSTM

[2021-03-13 04:44] AparnaJuhi commented on #531
I want to work on this issue. So, please assign it to me @avinashkranjan

[2021-03-13 05:00] ELITA04 commented on #515
Hi, I want to use Plotly to create much more interactive charts.
An example of Plotly's graphs
![issue1](https://user-images.githubusercontent.com/46682884/111019676-e7d2ca00-83e6-11eb-8ed5-e972d56cb93a.jpg)

I also wanted to add other visualizations like bubble charts, heat maps, dot plots, and horizontal bar charts

[2021-03-13 05:03] kaustubhgupta commented on #515
@ELITA04 I am aware of Plotly and have been using it for a year. I want to where you want to apply these plots? In which script?

[2021-03-13 05:03] Avishake007 opened #533 "Body Detection"
I want to work on this project named Body Detection.
@avinashkranjan  please assign me for this project.
I am a participant of GSSOC'21 and want to contribute on this project

[2021-03-13 05:11] ELITA04 commented on #515
Here, https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Data-Visualization

I am sorry I misunderstood your question

[2021-03-13 05:22] kaustubhgupta commented on #515
@ELITA04 No worries, Now I understood your point. Sur go ahead! As I saw the scripts now, the data for which plots were made is hardcoded. I would request you to use numpy to generate random data (with seed so that you can save the best visualization) and play with important attributes of the plot to make it clean and appealing. Use theme="plotly_dark" for all the plots!

I have renamed the issue

[2021-03-13 05:28] Lakhankumawat opened #536 "Organise Some Files"
**Is your feature request related to a problem? Please describe.**
**YES**
When i first discovered this Repo i found it amazing source of learning new things but at the same time i was bit confused in so many files and folders and find it difficult to reach my piece of information or basically what i want to learn . So i was thinking if not all but some of the files and folders can be organised th

[2021-03-13 05:45] kaustubhgupta commented on #531
@avinashkranjan Isn't this issue beyond the scope of this Repo?

[2021-03-13 05:47] kaustubhgupta commented on #533
@avinashkranjan your call on this

[2021-03-13 05:54] kaustubhgupta commented on #536
@Lakhankumawat this can make several issues as if the file structure is changed, the past PRs will run into merge conflict and as most of them are beginners, it would be difficult for them to update the new changes. @avinashkranjan what do you think?

[2021-03-13 06:01] kaustubhgupta commented on #131
@manastole03 you want to work on this?

[2021-03-13 06:02] manastole03 commented on #131
Yes @kaustubhgupta

[2021-03-13 06:03] kaustubhgupta commented on #131
@manastole03 assigned to you! as it's an urgent issue, can you make the PR by tomorrow?

[2021-03-13 06:04] manastole03 commented on #131
Yeah sure @kaustubhgupta

[2021-03-13 06:09] kaustubhgupta commented on #290
@SurbhiRathi23 you want to work on this issue?

[2021-03-13 06:10] kaustubhgupta commented on #465
@SurbhiRathi23 updates on this?

[2021-03-13 06:13] shreyasZ10 commented on #507
There is indeed a python script for all the operations involved. Also it has jupyter Notebook for data visualization and various data preprocessing. The only thing is, as it is a machine learning model it takes a lot of parameters as input basis on which it predicts salary of a person. Such an input is very difficult to obtain using a CLI/GUI so it is better to use a webapp for dynamic input from

[2021-03-13 06:23] kaustubhgupta commented on #507
@shreyasZ10 as you create a flask web app, take the inputs from the form and then pass it to the model, implement the same by taking inputs from the terminal. You can create several print statements for each parameter or use arg parser module to get them at one go

[2021-03-13 06:26] saaalik opened #539 "Path Finding script"
# Aim

- What is the objective of the Script
Find the shortest possible path between two predefined points using `a star pathfinding algorithm`

# Details
The script will use different data structures to find the most efficent node, and visualize both the finding process and the final output path using pygame module

- What the features will your script have
Find shortest path

[2021-03-13 06:49] Lakhankumawat commented on #536
Yeah i think you are right , let's postpone it further when most of the things are included in repo ( i mean if there is  not much active contribution , probably after gsooc ) . It will will be good to do then , otherwise keep it as it is.👍

[2021-03-13 06:49] #536 closed

[2021-03-13 06:50] shreyasZ10 commented on #507
I will try it as you said and then make a  pr of the same. Kindly assign me this issue.

[2021-03-13 06:51] SurbhiRathi23 commented on #465
@kaustubhgupta yes I am doing it. I will complete in 2-3 days.

[2021-03-13 07:21] mohammedjameel24 opened #540 "Meme uploading web app"
Meme upload using image url caption and name
Build on top of python flask
HTML /css / bootstrap

[2021-03-13 07:45] manastole03 commented on #131
@kaustubhgupta  work is done.
In which folder I have upload that file or I have to change the readme.md file.
Please guide me.

[2021-03-13 07:46] kaustubhgupta commented on #131
@avinashkranjan

[2021-03-13 08:06] amrzaki2000 commented on #18
Hello,
Can I work on this with issue: [#528](https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/528) ?

[2021-03-13 08:13] #506 closed

[2021-03-13 09:53] SurbhiRathi23 commented on #290
@kaustubhgupta I am already working on #465 issue .

[2021-03-13 10:08] Jade9ja opened #541 "Flipkart Price Alert"
# Aim
I am a participant in GSSOC'21.
As the title says , the script checks for the price of a desired product periodically. If the price drops below the desired amount, notifies the user via email.

# Details
Will be using BeautifulSoup to scrape webpages.

[2021-03-13 12:07] sayantani11 opened #544 "Instagram Liker Bot"
**AIM**
Instagram Liker Bot

**WHAT IT WILL DO**
Search for a particular user and if the account is public or the images are accessible will like all the posts on behalf.

[2021-03-13 12:08] sayantani11 commented on #544
I would like to work on this, please assign this to me

[2021-03-13 13:05] aashishah opened #545 "Price Comparision and Checker"
# Aim

- The aim of this python script would be to automatically search for an item across Amazon.com, Flipkart and other online shopping websites to find the cheapest price available.

# Details

- User can enter the item to be searched for.
- The script displays all possible matches in ascending order of prices, in the form of Site - Link - Cost
- It also displays the best/cheapest price that is

[2021-03-13 13:06] aashishah commented on #545
If you approve of this script idea, I would like to work on it under GSSOC'21, thank you!

[2021-03-13 14:24] kagritu commented on #290
I would like to work on this, as a part of GSSOC'21, so please assign that to me.

[2021-03-13 14:27] kaustubhgupta commented on #290
@kagritu assigned to you

[2021-03-13 15:06] kagritu commented on #290
Thank you

On Sat, Mar 13, 2021 at 6:27 AM Kaustubh Gupta ***@***.***>
wrote:

[2021-03-13 15:13] SurbhiRathi23 commented on #465
@avinashkranjan @kaustubhgupta  I have changed the navbar of script page and home page.
Also, I have updated the names of the contributors list on home page, but there are 78 contributors. So, should I include all the 78 contributors In home page??

![2](https://user-images.githubusercontent.com/55491101/111034397-707b5580-843b-11eb-94f4-14890d4ffea4.JPG)

![3](https://user-images.githubuserconten

[2021-03-13 15:21] kaustubhgupta commented on #539
@saaalik how this will be a script? This is a predefined algorithm

[2021-03-13 15:22] kaustubhgupta commented on #540
Hi @mohammedjameel24,
Can you provide more information on this?
We are not looking for an end to end applications but scripts that can be run from a terminal or some type of GUI all restricted to scrips only

[2021-03-13 15:23] kaustubhgupta commented on #541
@Jade9ja assigned to you

[2021-03-13 15:27] kaustubhgupta commented on #544
@sayantani11 assigned to you. Make sure to name the directory as Instagram-Liker-Bot as another participant will be adding follow/unfollow insta bot

[2021-03-13 15:29] kaustubhgupta commented on #545
@aashishah assigned to you

[2021-03-13 16:23] smriti1313 commented on #488
Update: I will send a PR by tomorrow. I am sorry for the delay caused.

[2021-03-13 16:28] aishwaryachand opened #546 "Watermark on Image"
AIM
 Watermark on the image using text

WHAT IT WILL DO
Given an image and text as an input to display a watermark on the given image.

[2021-03-13 16:33] saaalik commented on #539
The script would only contain the implementation part and visualizing the algorithm. Is the project appropriate enough for Amazing-Python-Scripts?

[2021-03-13 16:33] aishwaryachand commented on #546
I am a GSSOC 21' participant.Pls, assign me this issue @avinashkranjan

[2021-03-13 17:10] prathimacode-hub commented on #279
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 18:15] mehabhalodiya opened #549 "Blackjack"
# Aim

- One will get proper understanding of OOPS (Object-Oriented Programming System) by implementing this type of script as it contains classes and functions from scratch.

# Details

- It will contain following piece of code:
1. import modules and define variables
2. make classes
3. make functions
4. game endings
5. game play

The output will look like this:

![bj1](https://user-images.githubu

[2021-03-13 20:18] undetectablevirus opened #550 "Counting Number of fingers using OpenCV"
# Aim

- This project will help us to count the number of fingers in a given image using OpenCV based on Convex Hull Method.

[2021-03-13 20:40] undetectablevirus opened #551 "Applying Bitwise Operations on two images using OpenCV"
Update: https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/551#issuecomment-798978506

[2021-03-13 23:59] aishwaryachand opened #552 "Calendar-GUI"
AIM-
Create a GUI-based Calendar that can show the calendar with respect to the given year, given by the user.
 I am A GGSOC participant .pls assign me this issue.

[2021-03-14 03:02] kaustubhgupta commented on #539
okay go ahead with this issue

[2021-03-14 03:03] kaustubhgupta commented on #279
@prathimacode-hub assigned to you

[2021-03-14 03:35] kaustubhgupta commented on #444
@ambivert-sam okay assigned to you!

[2021-03-14 03:42] mehabhalodiya commented on #549
I would like to work on this as a GSSOC'21 participant.

[2021-03-14 03:51] smaranjitghose commented on #444
@avinashkranjan  could you please lemme know if I am somehow involved with this project or this issue. I have been receiving notifications lately😅 even though I don't remember commenting on any issue or mentoring for it.

[2021-03-14 04:21] dsg1320 commented on #18
Can I work on this issue ? Do assign it to me

[2021-03-14 04:29] prathimacode-hub commented on #279
Thankyou for assigning it to me. What's the best medium to communicate? @kaustubhgupta @avinashkranjan

[2021-03-14 04:29] kaustubhgupta commented on #18
@amrzaki2000 if you had made the PR for the same before @dsg1320 commented, then I would have assigned you. Since you already have an issue assigned, this issue is now assigned to @dsg1320

[2021-03-14 04:34] kaustubhgupta commented on #279
This issues, discussions tab where you can create your own topic or discord project channel. (P.S: I am most active over GitHub)

[2021-03-14 04:57] prathimacode-hub commented on #279
I'm new to opensource and github. I have forked the repository. Can you help with any reference of how to successfully clone and merge PR? @kaustubhgupta

[2021-03-14 05:01] kaustubhgupta commented on #279
Read the contribution guide of this repo. It's actually well written. https://github.com/avinashkranjan/Amazing-Python-Scripts/blob/master/CONTRIBUTING.md

[2021-03-14 06:35] MayankkumarTank opened #554 "Currency convertor - GUI based"
# Aim
- What is the objective of the Script
--> Objective of the Script to convert the currency from one to another.

# Details

- What features will your script have
--> In this script you have to choose the from currency and to currency (units)  then, provide the amount in from currency and you will get the output that your amount is converted to to_currency amount.

Example :

Input (In GUI) :

[2021-03-14 08:34] viraldevpb commented on #443
Hii @avinashkranjan
I would love to contribute to this amazing Open Source Project by adding the Clean the Clutter and Drink Water Notification Script.
Kindly assign this task to me so as I can also experience open-source learning.

[2021-03-14 11:09] kaustubhgupta commented on #546
Assigned to you @aishwaryachand

[2021-03-14 12:04] MayankkumarTank commented on #554
I want to work with this issue as GSSOC21 participant. Looking forward to get assigned/approval.

[2021-03-14 12:07] kaustubhgupta commented on #550
@undetectablevirus assigned to you

[2021-03-14 12:08] kaustubhgupta commented on #551
@undetectablevirus no description?

[2021-03-14 12:09] kaustubhgupta commented on #552
@aishwaryachand assigned to you

[2021-03-14 12:11] kaustubhgupta commented on #554
@MayankkumarTank assigned to you

[2021-03-14 13:34] manastole03 commented on #131
I am not getting any response. @kaustubhgupta

[2021-03-14 15:31] aliya-rahmani opened #558 "A one click Automatic File Arranger Built with Python"
There are times when your downloads folder or any other directories have different types of files that you keep feeling too lazy to arrange them well into various folders like images, videos, audios, documents, compressed, programs, and folders for subfolders in that directory.

This python script or script does such manual work for you with just one click. You don't need to know programming befor

[2021-03-14 15:39] aliya-rahmani opened #559 "Cartooning an image with openCV"
Computer Vision as you know (or even if you don’t) is a very powerful tool with immense possibilities. So, when I set up to prepare a comic of one of my friend’s college life, I soon realized that I needed something that would reduce my efforts of actually painting it but will retain the quality and I came up with the following solution. So, in this project we will cartoonize an image with openCV.

[2021-03-14 16:14] XZANATOL commented on #256
Hello again @avinashkranjan :D

I'm interested in solving this issue, but I need some additional info considering on how you call the bot.
When my PR was approved you typed the following:

Are the keywords "code" & "documentation" are some kind of arguments that must be passed? or only calling the bot will do the work? (with providing the name of the PR author of course)

[2021-03-14 17:30] dhriti987 opened #560 "Raspberry pi scripts addition"
# Aim

- Raspberry pi Python scripts

# Details

- Scripts for Raspberry Pi for Blinking LEDs , Using different sensors etc

[2021-03-14 17:30] dhriti987 commented on #560
i Want to work on this.

[2021-03-14 19:48] Ayushbajpai19 commented on #546
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:50] Ayushbajpai19 commented on #132
I would really like to work on this project, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:53] avinashkranjan commented on #444
I don't think so, I don't even remember tagging you anywhere..Maybe Someone did or maybe GitHub glitch xD. You can Unsubscribe from notifications

[2021-03-14 20:07] kaustubhgupta commented on #546
@Ayushbajpai19 issues are assigned on first come first basis. In case the previous one fails to make the PR, then it can be assigned to you

[2021-03-14 20:57] undetectablevirus commented on #551
With Bitwise operations on two images, I meant applying bitwise AND and bitwise OR operation that will help in the masking of images. We can represent union and intersection of portions of two images with this.

[2021-03-14 21:52] avinashkranjan commented on #256
Hey @XZANATOL You can keep the arguments code and documentation true for all PRs unless stated otherwise..

[2021-03-14 21:58] avinashkranjan commented on #533
Go Ahead With the Script @Avishake007

[2021-03-14 22:01] avinashkranjan commented on #531
Hey @AparnaJuhi Your Issue is a whole different project in itself..Since, we deal here with only Python Scripts..Deep Learning Model Won't be needed here..But I'm Sure there are plenty of Project in GSSOC'21 for the Same.

[2021-03-14 22:01] #531 closed

[2021-03-14 22:07] #530 closed

[2021-03-14 22:07] XZANATOL commented on #256
Great, I will start from tomorrow and keep you updated.

[2021-03-14 22:11] #440 closed

[2021-03-14 22:16] #459 closed

[2021-03-14 22:16] avinashkranjan commented on #256
Great

[2021-03-14 22:25] #457 closed

[2021-03-14 22:26] #311 closed

[2021-03-14 22:31] #462 closed

[2021-03-14 22:33] #496 closed

[2021-03-14 22:42] #469 closed

[2021-03-14 22:44] #498 closed

[2021-03-14 22:45] #439 closed

[2021-03-14 22:46] #515 closed

[2021-03-14 22:48] #501 closed

[2021-03-14 22:50] #429 closed

[2021-03-14 22:52] #497 closed

[2021-03-14 22:55] #484 closed

[2021-03-14 22:57] #297 closed

[2021-03-14 22:58] #452 closed

[2021-03-14 23:00] #523 closed

[2021-03-14 23:02] #460 closed

[2021-03-14 23:21] vikashkumar2020 opened #581 "Desktop Daily Top News Notification App"
# Aim

- a simple application which produces a notification message in the form of a pop-up message on desktop. It runs on your system and will be utilized to send you notifications after some time. notification on desktop will be top news headlines of the day which will be fetched from news website

# Details

- libraries like request, notify2, etc will be used to make this application

[2021-03-15 00:01] vikashkumar2020 opened #582 "Sticky notes GUI"
# Aim

- A simple GUI based application in Python that helps you to create simple remember lists or sticky notes.

[2021-03-15 02:06] Lakhankumawat opened #583 "Adding Pygames🐍"
# Aim
- To add more pygames with GUI to the repo .
# Details
- I see RockPaperScissor and TicTacToe are still not added here .
- For more check out this Pull Request  #534  for which this issue was created.

[2021-03-15 02:09] Lakhankumawat commented on #583
I would like to work on this issue and have created a PR specific to that please check it out [`here`](https://github.com/avinashkranjan/Amazing-Python-Scripts/pull/534) .

[2021-03-15 02:45] SurbhiRathi23 commented on #465
@avinashkranjan . Sir reply please about the above comment.
Should I make Pull Request?

[2021-03-15 05:39] Nkap23 commented on #327
Sorry for the late PR. I have finally finished it (had some urgent clg work, so this got delayed). I will be making a PR soon :)

[2021-03-15 07:00] Amit366 opened #586 "Select Stocks by Volume Increases"
# Aim

- Script to determine and choose stocks whose volume increased over a given amount of time

# Details

-The user can provide the dataset, number of days for comparison and also how many times the volume must be increased. Then after taking the inputs the script will check and give the results of the stocks.

Updates: Made it real-time, inc points

[2021-03-15 08:37] sayantani11 opened #588 "Whatsapp Automated Messages"
# Aim

- Sending automated customized messages on whatsapp

# Details

- Will see the unread messages and then send a automatic customised message to the person

[2021-03-15 08:38] sayantani11 commented on #588
Can I please work on this?

[2021-03-15 09:12] #583 closed

[2021-03-15 09:36] ShubhamGupta577 opened #589 "Edge Detction of a image using OpenCV"
# Aim

In this Script, we going to detect the edges of an image using a python script.

# Details

In our script, the user has to just upload a picture and as an output, he/she will get an edge-detected picture. For this purpose, we are going to use OpenCV.
It is very useful because edges are the points in images where the color or brightness has great changes.

[2021-03-15 09:36] ShubhamGupta577 commented on #589
@kaustubhgupta I want to work on this under GSSOC'21. Please assign me this issue.

[2021-03-15 09:51] Lakhankumawat opened #590 "Python Image Processing🎬"
# Aim
- To add some projects/Examples depicting the use of Image Processing and Image Enhancing using Python

# Details
- To show how image are processed and can be used in python
- To show how the Python Image Libraries such as Pillow works and their uses.
- To show compressing , Resizing and Enhancing images through python script

[2021-03-15 09:52] Lakhankumawat commented on #590
I would like to work on this issue ...

[2021-03-15 10:14] kaustubhgupta commented on #588
@sayantani11 Your other PR has been reviewed and changes have been suggested. Kindly complete that PR and after that, you can work on this issue.

[2021-03-15 10:24] kaustubhgupta commented on #558
We already have this script: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/Organise-Files-According-To-Their-Extensions

Another version of this is also implemented: https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/master/File-Mover

[2021-03-15 10:26] kaustubhgupta commented on #559
@aliya-rahmani assigned to you

[2021-03-15 10:27] kaustubhgupta commented on #560
@dhriti987 these scripts are for real devices or for emulators?

[2021-03-15 10:28] kaustubhgupta commented on #581
@vikashkumar2020 What type of notifications will be script push?

[2021-03-15 10:33] kaustubhgupta commented on #582
@vikashkumar2020 assigned to you.

[2021-03-15 10:36] kaustubhgupta commented on #586
@Amit366 I didn't understand the issue. Can you explain in some other way?

[2021-03-15 10:37] kaustubhgupta commented on #589
@ShubhamGupta577 assigned to you

[2021-03-15 10:37] dhriti987 commented on #560
real device

[2021-03-15 10:38] Amit366 commented on #586
Like there will be a dataset of stocks . The script will compare the stock values and over a few days and return the stocks whose cost have increased.

[2021-03-15 10:39] kaustubhgupta commented on #560
@dhriti987 then how can we verify the working of the scripts because none of us has a raspberry device?

[2021-03-15 10:39] kaustubhgupta commented on #586
@Amit366 so that will be over an old dataset and not in real-time?

[2021-03-15 10:42] kaustubhgupta commented on #590
@Lakhankumawat assigned to you. Add only examples not any project.

[2021-03-15 10:42] Amit366 commented on #586
Not in real time

[2021-03-15 10:43] kaustubhgupta commented on #586
@antrikshmisri @santushtisharma10 what do you think of this?

[2021-03-15 10:45] kaustubhgupta commented on #131
@manastole03 check out the gh-pages branches. I think you need to upload the banner there. I will confirm this with the mentor. https://github.com/avinashkranjan/Amazing-Python-Scripts/tree/gh-pages

[2021-03-15 10:46] vikashkumar2020 commented on #581
notification on desktop will be top news headlines of the day which will be fetched from news website

[2021-03-15 10:48] kaustubhgupta commented on #581
@vikashkumar2020 okay then, rename the issue and description according to this "top news headlines of the day which will be fetched from news website".

[2021-03-15 10:50] kaustubhgupta commented on #551
@undetectablevirus okay, assigned to you

[2021-03-15 10:52] Amit366 commented on #586
@kaustubhgupta If you want then I can work on real-time too.

[2021-03-15 10:55] dhriti987 commented on #560
will this simulator work?
https://create.withcode.uk/python/A3

[2021-03-15 10:55] kaustubhgupta commented on #465
I have conveyed this message to him and he will review it soon

[2021-03-15 10:57] dhriti987 commented on #560
i never tried any simulator. I have raspberry pi 3 at my home

[2021-03-15 10:58] kaustubhgupta commented on #560
@dhriti987 I don't have much knowledge on this and therefore I can't say anything. @antrikshmisri @santushtisharma10 do you have any idea of this?

[2021-03-15 10:58] kaustubhgupta commented on #482
@Kirtan17 updates?

[2021-03-15 10:59] kaustubhgupta commented on #483
@saaalik updates?

[2021-03-15 10:59] kaustubhgupta commented on #495
@honeybhardwaj updates?

[2021-03-15 11:00] kaustubhgupta commented on #503
@Ayushjain2205 updates?

[2021-03-15 11:00] kaustubhgupta commented on #505
@Dhanush2612 updates?

[2021-03-15 11:01] kaustubhgupta commented on #508
@Pranjal-2001 updates?

[2021-03-15 11:01] kaustubhgupta commented on #510
@sudipg4112001 updates?

[2021-03-15 11:02] kaustubhgupta commented on #512
@vivek-2000 updates?

[2021-03-15 11:02] kaustubhgupta commented on #528
@amrzaki2000  updates?

[2021-03-15 11:05] kaustubhgupta commented on #540
@mohammedjameel24 ?

[2021-03-15 11:05] manastole03 commented on #131
sure @kaustubhgupta

[2021-03-15 11:07] amrzaki2000 commented on #528
I'll make a pull request by tomorrow morning .
Almost finished

[2021-03-15 11:08] Kirtan17 commented on #482
Hey Kaustubh,

I was out of town. Got back today. Can you please give me 2-3 days?

[2021-03-15 11:09] mohammedjameel24 commented on #540
@kaustubhgupta nope irrelevant to this repo
I was talking about a django web app

[2021-03-15 11:14] kaustubhgupta commented on #482
Okay, try to make the PR within 2 days

[2021-03-15 11:14] kaustubhgupta commented on #540
@mohammedjameel24 okay, closing this issue!

[2021-03-15 11:14] #540 closed

[2021-03-15 11:40] Dhanush2612 commented on #505
I am working on it

[2021-03-15 11:45] sudipg4112001 commented on #510
Tomorrow I will make the PR

[2021-03-15 11:50] Pranjal-2001 commented on #508
I am working on it sir..will be done by Wednesday

On Mon, 15 Mar 2021, 4:31 pm Kaustubh Gupta, ***@***.***>
wrote:

[2021-03-15 13:11] saaalik commented on #483
Sorry for not updating you, I have learnt basic git actions and some aspects of CI CD yaml scripts. The problem i am facing right now is how to append a newly pushed script info into the contributions.md file, I might be able to trigger a python script to append the same but that would cause multiple instances of the same "amazing-script" if the project was updated, I don't even know if we can mak

[2021-03-15 13:19] aliya-rahmani commented on #558
@kaustubhgupta  Okay, I will create another issue with a new project idea.

[2021-03-15 13:19] #558 closed

[2021-03-15 13:29] aliya-rahmani opened #594 "Crossword Solver in python"
The idea behind the Crossword Solver is you type a word with some letters missing, and the program works out all the possible words that would fit with the known letters and spaces.

@kaustubhgupta  Please assign me this task.

[2021-03-15 14:09] Lakhankumawat commented on #590
I got a doubt , i had earlier pull requests but due to some issues they weren't merged and the PR was closed and  if i commit to my fork after completing this issue . Does all those earlier commits will be a problem .
_Or do I_

a. Delete my fork and start commiting again from fresh .
b.  Create a branch of my fork and that than pull as request (Compare across fork like that ) .

Please Guide

[2021-03-15 14:19] kaustubhgupta commented on #590
@Lakhankumawat option B: create a branch of your fork and then a new pull request. Further, you can also delete the local branch via this command: git branch -d nameofbranch or git branch -D nameofbranch.

This will delete your local branch. To further explore on how to delete remote branch, you can refer this article: https://www.git-tower.com/learn/git/faq/delete-remote-branch/

[2021-03-15 14:36] kaustubhgupta commented on #594
@aliya-rahmani interesting, assigned to you!

[2021-03-15 14:51] antrikshmisri commented on #586
@kaustubhgupta Let's give it a try ,@Amit366 can add real-time support later on.

[2021-03-15 14:53] kaustubhgupta commented on #483
@saaalik I understand your situation. I have created a GitHub Action in Python scripts. Here is the link to that project: https://github.com/kaustubhgupta/PortfolioFy

Although this has a different approach, I have used python to update a file. You can refer to my article where I have explained how you can achieve this: https://towardsdatascience.com/github-action-that-automates-portfolio-generati

[2021-03-15 14:54] kaustubhgupta commented on #483
You can take your time as this is a totally different issue and level3 too

[2021-03-15 14:55] kaustubhgupta commented on #586
@antrikshmisri okay! @Amit366 assigned to you

[2021-03-15 15:10] antrikshmisri commented on #560
@kaustubhgupta Same here and I don't know of any raspberry pi emulators. @santushtisharma10 What about you?

[2021-03-15 15:11] XZANATOL commented on #256
Hi @avinashkranjan , I've been testing for a while and came up with a solution. Using gh-actions to make a comment on a PR with mentioning the both the bot and author of the PR.. It did trigger the mention mechanism and I got a notification of the mention on my Phone and got mailed of the mention. You can check out the actions on this repo.

https://github.com/XZANATOL/Github-actions-test/actions

[2021-03-15 15:19] dhriti987 opened #599 "Steganography"
# Aim

- Python Script for Steganography

# Details

- Hiding text inside an Image and retrieving The text from an Image

[2021-03-15 15:20] dhriti987 commented on #599
I would like to work on this.

[2021-03-15 15:36] Anupreetadas opened #600 "Alarm clock with GUI in python"
# Aim

- The objective is to implement an alarm clock using python. Basically the aim is to build the project using the current date and time as well as to provide a user interface to set the alarm according to the requirement in 24-hour format.

# Details

- Tkinter module in python will help to create a dialog box with any information that we want to provide or get from the users.
-Datetime and

[2021-03-15 16:32] #442 closed

[2021-03-15 16:40] honeybhardwaj commented on #495
@kaustubhgupta  yeah am working on it the code have some issue so i m trying to figure them out.

Regards
Honey bhardwaj

[2021-03-15 16:46] avinashkranjan commented on #131
Hello @manastole03 Kindly, Post the Banner Image here, Once Approved your can push it to `gh-pages`

[2021-03-15 16:47] avinashkranjan commented on #465
Hello @SurbhiRathi23 Why is their a Login/SignUp Option? What is Purpose of that?

[2021-03-15 17:02] #560 closed

[2021-03-15 17:21] mehabhalodiya opened #602 "YouTube Video Downloader with GUI"
# Aim

- **YouTube Video Downloader** is an application to download videos from YouTube. This provides users to download videos they need in their devices and watch them offline.
- The objective of this script is to download any type of video in a fast and easy way from YouTube in your device.

# Details

- In this python script, user has to copy the YouTube video URL that they want to download an

[2021-03-15 17:22] mehabhalodiya commented on #602
I would like to work on this under GSSOC'21.

[2021-03-15 17:46] manastole03 commented on #131
![Banner Image](https://user-images.githubusercontent.com/55608869/111196946-e02c4480-85e3-11eb-95b9-1609d4ec96c8.png)

This is the banner image for python-scripts.
If the design is good and if any changes required then I am able to do that.

@kaustubhgupta @subhangi2731 @avinashkranjan

[2021-03-15 17:59] amritakesh commented on #468
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:59] amritakesh commented on #211
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 19:18] SamarpanCoder2002 opened #604 "AI Integrated Ludo Game Made In Python Tkinter"
# Aim

Play Game With Artifical Intelligence at the time of loniliness

# Details

I make AI-Integrated Ludo Game in Python Tkinter...... In this, You can play with computer as well as your friends

I am also a gssoc'21 participant....please assign me to here @avinashkranjan

[2021-03-16 01:34] #468 closed

[2021-03-16 02:45] SurbhiRathi23 commented on #465
@avinashkranjan i thought that the scripts should be accessible to authentic user only, but i will remove them if you will say.
Any other changes you want me to do??

[2021-03-16 04:22] muthuannamalai12 opened #607 "Spotify Downloader"
# Aim
- What is the objective of the Script
- To download songs from Spotify

# Details
My script does the following
- Downloads music from Spotify as an MP3 file.
- Applies basic on metadata like track name, track number, album, genre and more.

[2021-03-16 04:23] muthuannamalai12 commented on #607
Kindly assign me this issue as a part of gssoc'21 @avinashkranjan

[2021-03-16 04:25] muthuannamalai12 opened #608 "PDF2text"
# Aim

- What is the objective of the Script
To convert PDF to Text
# Details

- What the features will your script have
My script converts PDF to Text

[2021-03-16 04:25] muthuannamalai12 commented on #608
Kindly assign me this issue as a part of gssoc'21 @avinashkranjan

[2021-03-16 06:23] mehabhalodiya opened #611 "Contour/Shape Detection"
# Aim

- How to detect shapes of objects by finding their contours.

# Details

- Contours are basically outline that bound the shape or form of an object. So we will be detecting multiple shapes and how many corners points each shape has along with its area .

[2021-03-16 06:25] mehabhalodiya commented on #611
I would like to work on this under GSSOC'21.

[2021-03-16 07:05] Amit366 commented on #554
@kaustubhgupta can I work on this issue??

[2021-03-16 07:07] MayankkumarTank commented on #554
It is assigned to me and I already made a pull request for this issue.

[2021-03-16 07:13] Dhanush2612 commented on #509
I have made new PR regarding this issue. I hope it satisfies your requirements.

[2021-03-16 07:17] Amit366 commented on #545
@kaustubhgupta can I work on this issue??

[2021-03-16 07:19] #505 closed

[2021-03-16 07:34] aashishah commented on #545
This issue was assigned to me, I am currently working on it but have to balance university exams parallely that's why it is taking time. Please do not remove my assignment, thank you.

[2021-03-16 07:42] syamala27 opened #614 "Connect 4 game"
**I have created a `connect-4`  game using `Python`.**

### **_Game rules:_**

1. Get ready :)
2. 4 consecutive  balls should match of same colour `horizontally`   `vertically` `diagonally ( either of both)`
3. That's it now u r ready to play the game :)
@santushtisharma10 @tamanna-verma @antrikshmisri @kaustubhgupta please assign me the project.

I am sharing a glimpse of it.

![image](https://us

[2021-03-16 08:30] antrikshmisri commented on #614
@syamala27 Assigned to you

[2021-03-16 09:09] mehabhalodiya commented on #602
@antrikshmisri @kaustubhgupta Kindly assign this to me.

[2021-03-16 09:11] kaustubhgupta commented on #554
@MayankkumarTank I think @Amit366 had confusion because you didn't link the issue to the PR. @Amit366 For future reference, issues with the "assigned" label are already being claimed by someone else. You need to look for "up-for-grab" labels or create your own issues

[2021-03-16 09:14] Amit366 commented on #554
@kaustubhgupta I understand that but there r some issues which are assigned for more than 5 days. But according to the rule maximum 3 to 4 days are given.

[2021-03-16 09:16] kaustubhgupta commented on #554
@Amit366 That's our work to coordinate with participants and get the work done in time. I usually ask after 3 days if the person has some updates or not and if the participant is not active, I assign it as "up-for-grab"

[2021-03-16 09:18] kaustubhgupta commented on #602
@mehabhalodiya assigned to you

[2021-03-16 09:18] Amit366 commented on #554
Ok

[2021-03-16 09:19] kaustubhgupta commented on #600
@Anupreetadas interesting, assigned to you!

[2021-03-16 09:20] kaustubhgupta commented on #599
@dhriti987 assigned to you

[2021-03-16 09:22] kaustubhgupta commented on #604
@SamarpanCoder2002 assigned to you

[2021-03-16 09:28] kaustubhgupta commented on #607
@muthuannamalai12 you already have two 2 active PRs with bugs.

[2021-03-16 09:31] kaustubhgupta commented on #608
@muthuannamalai12 same reason as given in last issue

[2021-03-16 09:37] kaustubhgupta commented on #611
@mehabhalodiya Your one PR is under review and I just assigned you one issue. So this issue will be assigned to you after that PR is approved by all mentors and ready to merge. Until then if anyone else claims this issue, then I can't say no to them.

[2021-03-16 09:59] kaustubhgupta commented on #545
@aashishah don't worry, you have 2 more days to work on. No one is taking your assignment

[2021-03-16 10:06] aaadddiii opened #617 "script to retrieve stored network passwords in computer"
# Aim

- Script to retrieve stored network passwords in computer

# Details

- Network passwords are stored inside the computer , once connected . This python script retrieves all these stored passwords

[2021-03-16 10:14] kaustubhgupta commented on #56
@kshittijagrawal Should I make it "up-for-grab" or you are still trying this out?

[2021-03-16 10:15] kaustubhgupta commented on #131
I would suggest some more appealing font, stylish font. What say @avinashkranjan, @antrikshmisri & @santushtisharma10?

[2021-03-16 10:16] kaustubhgupta commented on #256
Okay I will review this today itself

[2021-03-16 10:18] manastole03 commented on #131
Yeah sure I will do that but what about the total design ?
Is it appealing @kaustubhgupta